[2020-10-27 08:54] CooperCGN opened #46 "Support Press Mode"
Any chance we can see support for Press Mode, so that the HomeKit switch automatically turns off again.

[2020-10-28 02:09] SwitchBot-Wonderlabs commented on #46
There is no suitable service in homekit to support press mode.
Myabe we can support press mode in this way, click ON but no state switching occurs.

[2020-11-04 12:28] SwitchBot-Wonderlabs commented on #46
The current plug-in supports Press mode.
Even if the Bot is in Press mode, ON/OFF will trigger press, because the Bot's firmware handles this.
You can distinguish Bots of different modes by their names.

[2020-11-25 16:25] benjaminbogdanovic commented on #46
Could we have this feature?

[2021-01-11 22:08] stich86 opened #16 "Add Battery Status"
**Is your feature request related to a problem? Please describe.**

Add the battery status to check it from HK

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-11 22:13] donavanbecker commented on #16
@stich86 until this is added to the API, I am not able to get that

See: [SwitchBotAPI OpenWonderLabs/homebridge-switchbot-openapi#11](https://github.com/OpenWonderLabs/SwitchBotAPI/issues/11)

[2021-01-19 18:11] chrisschlitt opened #15 "Add Water Level to Humidifier"
**Is your feature request related to a problem? Please describe.**

I want to be able to trigger Siri Shortcuts based on the water level

**Describe the solution you'd like**

Expose the water level as a sensor, so that a change to a certain percentage (or empty) can be used as a trigger in Siri Shortcuts. This way I can add a reminder notification for when the tank is low

**Describe alternatives

[2021-01-19 18:49] donavanbecker commented on #15
@chrisschlitt, Once this is available through the API, I will add it.

See: [#2](https://github.com/OpenWonderLabs/SwitchBotAPI/issues/2)

[2021-03-27 21:13] jerzytraczynski commented on #46
I think best option is to implement time duration after which the HomeKit switch will turn itself off, such as 5 seconds without sending any commands to SwitchBot. This way I can, or an automation can, always switch ON something. There is no situation when automation doesn't happen because HomeKit thinks the switch is in the wanted position.

[2021-06-05 14:20] saphierr opened #14 "Curtains do not open or close, but its state is reported correctly"
**Describe The Bug:**
Curtains no longer respond to open/close commands from homebridge UI or home app on iOS. Closing from the SwitchBot app works fine, and the status change is accurately reflected (i.e. homebridge will successfully receive the status as "Closed" after the curtains have closed using the app)

Tried reinstalling the plugin/purging cache, and regenerating API key but doesn't seem

[2021-06-07 10:50] saphierr commented on #14
Issue resolved itself :) No configuration changes.

[2021-08-14 16:15] jimmyfisher opened #13 "SwitchBots being triggered multiple times when using Home automation"
**Describe The Bug:**

Started noticing that the SwitchBots were running multiple times when triggered by a Home automation.

I have my house set up with an AppleTV as the main hub. Each evening, I have an automation where the SwitchBots turn on the outdoor lights and then in the morning, they turn them off.

This has been working totally normally until a few days ago (we did have a power outage,

[2021-08-23 12:17] smartmatic opened #12 "Feature Request: Add Support for Switchbot Camera"
**Describe the solution you'd like**

Hello,

i have a the new released SwitchBot camera at home and it would be really nice if the camera can be added in order to work with the plugin. The device discovery text is added in the related section.

Is that possible?

**Additional context**

[23/08/2021, 12:13:47] [SwitchBot] {"deviceId":"xxxxxxx","deviceName":"GarageCam","enableCloudService":true,"hu

[2021-08-24 13:36] donavanbecker commented on #13
I believe this is a home app bug. Especially if this is only happening with automations.

[2021-08-24 14:46] jimmyfisher commented on #13
I thought that too, but technically, isn’t the only way that the Home app is talking to SwitchBot is via the homebridge plugin?

That’s why I thought that maybe there was something in the code for the plugin that was looping the command being sent. Not sure if there’s something that tells it to send the command until some condition is met? Like a handshake response.

I wrote in another thread too

[2021-08-24 14:48] donavanbecker commented on #13
it looks to see if it is on or off before sending so that isn't it. the unknown Error is a bug in the SwitchBot app, if you read that whole tread you will see what SwitchBot told them to do.

[2021-08-24 14:53] jimmyfisher commented on #13
Ok re: the error.

I know the info mentions that the API doesn’t allow for the plugin to ensure the on/off matches and to make sure it’s synced up manually (which I’ve done once or twice, but usually smooth sailing)

Is it possible though that it’s not seeing it change quick enough? So like the automation is saying ‘turn on the bot’, SwitchBot gets pinged and since it was off, it triggers the swit

[2021-08-24 15:27] donavanbecker commented on #13
@jimmyfisher It potential, but I have no control over that, and if it is only happening with automations then it's a home app issue.

[2021-08-25 17:10] jimmyfisher commented on #13
Was trying to look through the source code but can't see where any notice from Home would be interpreted (I'm nowhere near as well-versed as you in the code landscape, but figured I'd see if I could be creative)

It does seem odd that the automation is doing this. Prior to setting up this plugin, I was using SwitchBot's built-in Siri shortcuts. Those were also set up as an automation, albeit in th

[2021-08-27 20:07] smartmatic commented on #14
Facing the same issue but can't find a solution. Please tell your solution, Probably a simple thing i guess...

[2021-09-02 01:55] donavanbecker commented on #12
@smartmatic This isn't not integrated into the api yet, but it does look like it is a Tuya camera. But none of the Tuya plugins work with cameras yet.

[2021-09-02 04:15] smartmatic commented on #12
yes, it is a tuya based camera. I was able to add and connect the camera with the Smart Live App.

[2021-09-04 06:51] deflao opened #11 "Speaker volume up/down in remote app issue"
**Describe The Bug:**

So I was using the IR remote function to adjust volume up/down for my soundbar. so every time i open remote on my iPhone to adjust the volume, it adjusts but then turn off the soundbar right after. i went to the logs to check, and turn out that everytime you open the remote on iphone and adjust the volume for the 1st time, it will automatically send a 'turn on' request also

[2021-09-11 09:03] DJay-X opened #7 "Add Contact and Motion Sensor Support"
@donavanbecker Regarding https://github.com/OpenWonderLabs/homebridge-switchbot-openapi/issues/225

**Is your feature request related to a problem? Please describe.**

"deprecated" homebridge-switchbot-openapi uninstalled with Homebridge UI, the config kept like it was, install this new plugin homebridge-switchbot v0.1.0 and no changes to the config. Restart. It kept all my existing devices (bots/

[2021-09-11 12:14] donavanbecker commented on #7
@DJay-X v0.1.1 should fix this, but you will have to remove the contact sensor from cache. Also remember this is all based off your refreshRate so until I add the BLE Function this will not work as well since it is relying on the API refresh.

[2021-09-11 13:34] DJay-X commented on #7
Thanks. v0.1.1 fixed the contact sensor typ. However there is no status change at all. Not from the motion sensor, nor contact sensor. Not even after endless seconds and one minute.
Both sensors are connected to the hub and showing the status instantly in the SwitchBot App.
In Home/Eve App there is no status change at all.

[2021-09-11 14:12] DJay-X commented on #7
I just noticed in the log.. for example Contact Sensor
"openState":"open"} but in Home/Eve App it is and was always closed.
With Motion Sensor the was no last movement logged in Eve App.

[code]

[code]

[2021-09-11 16:14] saphierr commented on #14
I'm reopening this issue as it has appeared again. Not sure what's up. Any ideas how to debug?

[2021-09-15 01:38] donavanbecker commented on #15
@chrisschlitt this has been added to the @switchbot/homebridge-switchbot plugin. You will need to move over to the new plugin to gain this feature.

[2021-09-15 01:38] #15 closed, assigned to donavanbecker

[2021-09-15 01:51] deanpribetic opened #17 "Support Request: IR Fan"
### Describe Your Problem

Accessing Dyson Fan via Homebridge

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot Hub Mini v1.7-1.9

### Node.js Version

v14.17.5

### NPM Version

v6.14.14

### Homebridge Version

v1.3.4

### Homebridge SwitchBot Plugin Version

v0.1.1

### Homebridge Config UI X Plugin Versi

[2021-09-15 01:57] donavanbecker commented on #17
@deanpribetic Do you have screens of logs or errors from the SwitchBot app

[2021-09-15 02:27] deanpribetic commented on #17
Hey Donavan - it appears the On Command is not set?

[2021-09-15 02:40] donavanbecker commented on #17
I need logs and screenshots.

[2021-09-15 02:58] deanpribetic commented on #17
Fair enough. I think I've worked it out. Re-programmed the Switchbot with a DIY Fan and it seems to be working now. Sorry for wasting your time!

[2021-09-15 03:04] #17 closed, assigned to donavanbecker

[2021-09-15 18:12] yjeanrenaud opened #20 "Feature Request: disable adding device type to device name"
### Problem

when you install the plugin, all devices get their device descriptor added to their name, e.g. Bedroom Curtain Curtain or Contact Sensor Contact Sensor. This is especially annoying if you are lazy enough to keep the default names

### Solution

a checkbox to toggle in the advanced options of the plugin

### Alternatives

you can rename all the devices manually on the accessories tab o

[2021-09-15 18:24] yjeanrenaud opened #21 "Feature Request: Add support for contact sensor pushbutton"
### Problem

the button is exposed in the API but not used in the plugin. Would be neat to have the button configureable for home automatisation

### Solution

expose the push button to the homebridge instance

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-15 18:27] yjeanrenaud opened #22 "Feature Request: add support for motion detection of the contact sensor"
### Problem

even though considered to be beta, it would be cool to use the motion detection feature of the contact sensor in homebdrige. The API already exposes it

### Solution

add support for the motion detector as an additional accessory in homebdrige, maybe optional via advances settings

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-16 05:50] yjeanrenaud commented on #7
same here for the Contact Sensor. The Motion Sensor eventually gets triggered when I set the polling interval down to 120

[2021-09-17 18:51] DJay-X commented on #7
@donavanbecker Any News? Anything I/we can help?

[2021-09-17 18:58] donavanbecker commented on #7
Time to work on it... ha

[2021-09-18 12:27] donavanbecker commented on #20
@yjeanrenaud No plans on changing this.

[2021-09-18 12:33] donavanbecker commented on #21
@yjeanrenaud Not possible unless added to API.

[2021-09-18 12:33] #21 closed, assigned to donavanbecker

[2021-09-18 12:43] donavanbecker commented on #22
@yjeanrenaud This has been implemented into the latest beta.

[2021-09-18 12:44] #22 closed, assigned to donavanbecker

[2021-09-28 08:10] barabba9174 opened #34 "Support Request: old curtain still visible"
### Describe Your Problem

Disconnected curtain still visible (I've returned it to Amazon)

### Relevant log output

_No response_

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/7170222/135047869-8e8d2b07-039f-44bc-8f9d-dd6a6bac90a0.png)
![image](https://user-images.githubusercontent.com/7170222/135048203-7d8cdd88-668a-46e8-8ded-db

[2021-09-28 08:38] barabba9174 opened #35 "Bug: old curtain still visible"
### Describe The Bug

Disconnected curtain still visible (I've returned it to Amazon) and unresponsive

### To Reproduce

Connect a curtain to the hub, than move it in another location

### Expected behavior

Curtain not visible

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/7170222/135052924-ef3c08

[2021-09-28 10:05] donavanbecker commented on #35
@barabba9174 You will have to use homebridge settings to remove curtains that are no longer on your account.

[2021-09-28 10:06] donavanbecker commented on #34
Duplicate of #35

[2021-09-28 10:06] #34 closed, assigned to donavanbecker

[2021-09-30 14:07] jimmyfisher commented on #13
Quick update because GitHub marked as closed.

Sept 23 was the last day that this issue showed in my logs. Starting the 24th, it seemingly went away. Not sure if a SwitchBot app update or my tvOS getting updated to iOS 15.

[2021-09-30 14:17] donavanbecker commented on #13
@jimmyfisher Has closed yet, but was marked as stale.

Glad it is working now. I will close now since it is working. Comment if you start seeing issues again.

[2021-09-30 14:17] #13 closed, assigned to donavanbecker

[2021-10-02 16:40] DJay-X commented on #7
Hey @donavanbecker I hope you are well.
Because of the situation we want to write an article about the new SwitchBot sensor on [SmartApfel.de](https://smartapfel.de) an 📸[@SmartApfel.de](https://www.instagram.com/smartapfel.de/) but only when they support HomeKit via Homebridge, can you estimate on when this will work or if it's even possible in the near future. We would make the publication of th

[2021-10-02 17:23] donavanbecker commented on #7
@DJay-X Hoping to work on it this coming week

[2021-10-03 01:23] donavanbecker commented on #7
@DJay-X can you try the latest beta?

[2021-10-03 06:57] DJay-X commented on #7
Thanks @donavanbecker
Unfortunately with homebridge-switchbot@0.1.2-beta.12 no success.
The contact and motion sensor are showing up but no status change at all.
I also removed them from the cash and restarted Homebridge but no change.
Also in Eve App the two sensors are permanently marked as not reachable.

-D Log attached

[homebridge.log-2.txt](https://github.com/OpenWonderLabs/homebridge-switc

[2021-10-03 09:21] bastiengrignon opened #40 "Support Request: Can't install new version of new repo"
### Describe Your Problem

I was using the old repo, I remove the old one to install this new version but I have some errors during installation ! I can't control my switch anymore...

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

AORUS 5KB

### Node.js Version

v14.17.5

### NPM Version

v7.24.1

### Homebridge Ve

[2021-10-03 11:46] donavanbecker commented on #7
@DJay-X You haven't even let the plugin refresh status of the motion or contact sensor. And looking at the logs the API says `moveDetected: false` so it will not change HomeKit either then.
You can up your refreshRate since SwitchBot have updated the daily refresh amount, and give it like 5 mins and as long as there is motion or contact sensor is open at that time you will have an update.

[2021-10-03 14:40] DJay-X commented on #7
I didn't use the Config UI. So now it's added
[code]

However, the contact sensor it not changing any status after 3 Min. open.
The Motion sensor  is detecting motion and showing it after 3 Minutes in Home App.

As I understand with the Motion sensor, this is all what you get out of the API. Never instant reaction, right?

[2021-10-03 14:44] donavanbecker commented on #7
@DJay-X Yeah I have to look at the contact sensor again.

[2021-10-03 15:15] donavanbecker commented on #7
@DJay-X, just pushed an update for contact sensors, can you try the next beta?

[2021-10-03 15:44] DJay-X commented on #7
homebridge-switchbot@0.1.2-beta.13 and beta.14

Contact Sensor still not changing any status.

[2021-10-03 15:54] jakubprogramming commented on #46
The current implementation makes it impossible to include switches that use press mode to any automation or scene.
It would be great if the switches would always turn themselves back "off" after a predefined time.

Is there any known workaround?

UPDATE:
I found a workaround. Simply use the [Homebridge-Delay-Switch](https://github.com/nitaybz/homebridge-delay-switch#readme) to automatically turn o

[2021-10-05 06:18] DJay-X commented on #7
@donavanbecker
Unfortunately even with homebridge-switchbot@0.1.2-beta.16 the contact sensor is still not showing any status change at all in Home. SwitchBot App is showing the change instantly via Hub/Cloud.

Motion Sensor seems to work okay and is changing status in the range of refreshRate 300.
However there is a info in the log.
`[5.10.2021, 08:11:23] [@switchbot/homebridge-switchbot] This plu

[2021-10-05 20:26] DJay-X commented on #7
With beta.18 contact sensor is now showing closed all the time. Before it was always open.
Motion sensor on the contact sensor IS detecting motion.

[2021-10-06 07:58] ilhuafbds opened #43 "Bug: Air conditioner temperature not able to change"
### Describe The Bug

Whenever I use the apple's native home app to change the temperature of my air conditioner, it doesn't change the temperature at all. And also, I always select the cooling mode when I turn on, but instead does heating. The number of the temperature i set using a remote controller and the temperature displayed on the apple home app doesn't sync. As you can see from the log, pr

[2021-10-06 13:44] ilhuafbds commented on #43
![IMG_1388](https://user-images.githubusercontent.com/78691566/136214452-769c2851-0b06-4647-9223-ba5b29d1ca2e.jpg)
This is how it looks on the switch bot app log whenever I try to change the temperature from the apple native home app.

[2021-10-07 20:23] donavanbecker commented on #43
@ilhuafbds can you try the latest beta?

[2021-10-08 04:49] ilhuafbds commented on #43
@donavanbecker I tried with the latest beta but it's still the same result

[2021-10-08 21:58] guiltyvictim opened #45 "Feature Request: Add Pin Support"
**Is your feature request related to a problem? Please describe.**

This plugin does not work if there's a pin set against the bot. I'd like to keep a pin on my bot since I live in an apartment block and I'd like to keep my switch secured

**Describe the solution you'd like**

Config to add pin to access bot

**Describe alternatives you've considered**

Turning off pin, which may compromise my sec

[2021-10-08 22:06] donavanbecker commented on #45
@guiltyvictim Pull requests are welcome

[2021-10-09 15:46] antoniogermano commented on #35
The same problem applies when you rename the device on the SwitchBot app: you will get a new device on HomeKit but the old one (which is now not functional) will still be there. It's probably even worse that way because when you rename it, the duplicate device will have the same ID as the new one so you can not use the "hide" functionality of the SwitchBot plugin: it would hide both.

I deleted th

[2021-10-09 16:09] donavanbecker commented on #35
I will look at fixing this with release of v1.0.0!

I will push a beta out soon, can someone test for me?

[2021-10-09 18:53] donavanbecker commented on #35
@antoniogermano and @barabba9174 I have pushed a new beta out that will remove the deviceName creating the unique id for the device. you will have to clear your cache, easiest way to do that is to use Homebridge UI and go into settings and clear cache on all switchbot devices, then update plugin to the latest beta and then it will restart Homebridge and you will get all new switchbot devices.

If

[2021-10-09 19:45] antoniogermano commented on #35
Thank you very much @donavanbecker ! I'm glad to test it but I don't know how to install the beta. It doesn't show up as an update on my home bridge.
<img width="210" alt="image" src="https://user-images.githubusercontent.com/816290/136671967-aa092b41-eb8a-483d-a1ef-1cadb62b1d23.png">
On the support tab there's this link to the beta version wiki, but the link is broken:
https://github.com/OpenWond

[2021-10-09 20:06] donavanbecker commented on #35
<a><img src="https://user-images.githubusercontent.com/9875439/136422974-56269916-4a84-4d98-bd82-3ea677fbc5b3.png" width="400px"></a>
<a><img src="https://user-images.githubusercontent.com/9875439/136422973-d6c2f62e-3f44-4df4-9d69-2f3f40f9299f.png" width="300px"></a>
<a><img src="https://user-images.githubusercontent.com/9875439/136422965-64f528c5-c386-4027-a12a-f5d65d47a816.png" width="300px"></a

[2021-10-09 20:08] donavanbecker commented on #35
@antoniogermano, sorry this is now corrected.

[2021-10-10 05:18] smartmatic commented on #35
Hi,

i am running Homebridge in a Docker Container. I'd like to support and test the beat release. If i try to clean the cache some seconds after i deleted the device it comes automatically back to the cache. Therefore i am not able to clean the cache before updating to Beta. Do you have an idea what causes this issue?

However i installed the beta release but instead v.1.2.1-beta docker shows v.0

[2021-10-10 11:29] donavanbecker commented on #35
@smartmatic The screenshot is just an example and a totally different plugin.

[2021-10-12 12:26] DJay-X commented on #7
@donavanbecker /homebridge-switchbot v0.1.2-beta.26
I had to remove all SwitchBot devices from cache.
Motion from Motion Sensor and Contact sensor is detected.
Contact Sensor open/close still not working for me an no status change at all. Contact sensor is set in SwitchBot App to Installation "Door". But it doesn't make any change when set to Window or Others.
Is there anything I can do to help go

[2021-10-12 12:40] donavanbecker commented on #7
@DJay-X From what I am aware of there is nothing in the api that cares about window/door/etc, but I will check again.

Yes to fix another issue I had to change the way the uuid is created, which requires removing accessories from cache.

[2021-10-12 12:42] DJay-X commented on #7
No worries. This is a beta so I expected to remove all my SwitchBot devices from HomeKit from time to time.
I take the hassle if it helps to bring the plugin to a final version and the contact sensor will show the status.
I guess others have the same problem with the contact sensor too, right?

[2021-10-12 23:54] ilhuafbds commented on #43
@donavanbecker Any updates?

[2021-10-13 04:00] donavanbecker commented on #43
the latest beta would not have the same logs so definitely can't be the same results. Can you post more logs from beta?

[2021-10-13 09:37] ilhuafbds commented on #43
[code]

[2021-10-13 09:38] ilhuafbds commented on #43
[code]

[2021-10-13 09:43] ilhuafbds commented on #43
@donavanbecker Thanks for the update! But I still can't change the temperature from my apple home app...

[2021-10-14 16:44] DJay-X commented on #7
@donavanbecker For whatever reason now with v0.1.2-beta.28 the curtains are not working open/close anymore. This was never a problem before.

[14.10.2021, 18:39:57] [SwitchBotAPI] Total SwitchBot Devices Found: 12
[14.10.2021, 18:39:57] [SwitchBotAPI] Total IR Devices Found: 0
[14.10.2021, 18:39:57] [SwitchBotAPI] Restoring existing accessory from cache: Vorhang links Curtain DeviceID: xxxx
[14.10

[2021-10-14 22:35] donavanbecker commented on #7
I will have to look over that. Sorry have been busy lately

[2021-10-14 22:36] donavanbecker commented on #43
@ilhuafbds When I get time I will look into this

[2021-10-15 18:03] DJay-X commented on #7
Thanks..
beta.30 Curtains seems to work again. No Idea what or if it really was a problem with previous beta.  I will have an eye on it.

Anyway, Contact sensor is still not sowing any changes.

[2021-10-15 21:45] donavanbecker commented on #43
@ilhuafbds, can you try Beta:

[![npm version](https://badgen.net/npm/v/@switchbot/homebridge-switchbot/beta)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2021-10-15 21:47] donavanbecker commented on #7
@DJay-X okay Beta:

[![npm version](https://badgen.net/npm/v/@switchbot/homebridge-switchbot/beta)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

should be working at least I can confirm for myself that it is working. when I opened my window, I have the sensor on, it said it was open and vis versa.

[2021-10-15 22:44] donavanbecker commented on #35
@smartmatic, @barabba9174, or @antoniogermano this should be fixed with Beta:

[![npm version](https://badgen.net/npm/v/@switchbot/homebridge-switchbot/beta)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

 can one of you test it out?

[2021-10-15 22:45] donavanbecker commented on #11
@deflao, this is actually not a bug. It looks at the default value, which is off and then when it sends the volume control it also sends the on control so that the speaker turns on.

I could potentially add an option in the config that would ignore on an off if you think that would help?

[2021-10-15 23:00] donavanbecker commented on #40
@bastiengrignon, look over install of [noble](https://github.com/homebridge/noble#windows) for Windows.

[2021-10-15 23:06] donavanbecker commented on #20
@yjeanrenaud  this should be fixed with Beta:

[![npm version](https://badgen.net/npm/v/@switchbot/homebridge-switchbot/beta)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

can one of you test it out?

[2021-10-15 23:07] #46 closed, assigned to nobody

[2021-10-16 07:13] DJay-X commented on #7
Great news and I can confirm this version also now works for me. Both motion and contact sensor are changing status after about three minutes.
I think this could be the final version. 😉

Regarding the practicality of the motion sensor only triggering after this long time there is no other way to show a status change faster, right? It's due to the refresh of the API, correct?

Thanks for your work

[2021-10-16 12:14] donavanbecker commented on #7
@DJay-X, once we get BLE support added into the plug. Then you would want to potentially set them to use BLE. Till then, I would update your refreshRate. They updated the daily refresh rate from 1000 to [10000](https://github.com/OpenWonderLabs/SwitchBotAPI#request-limit).

[2021-10-16 13:22] antoniogermano commented on #35
@donavanbecker Thank you very much for the patch. I have just installed it and tested it, here are the results:
- When I rename a device on the SwitchBot app, the name no longer updates on HomeKit (to be honest I don't mind that).
- When I rename a device on HomeKit, it also does not update on the SwitchBot app (I don't mind that), and it no longer duplicates the device. It's a lot better to not u

[2021-10-16 14:28] donavanbecker commented on #35
I only get bright or dim from the API so that is my only option. It will only have one or the other. I will request on the API that we actually get a `number` instead of `string`.

Good if I close this?

[2021-10-16 15:00] antoniogermano commented on #35
Great, thank you for the feedback.

It’s good for me, as far as I’m concerned you can close it :)

edit: oh, I didn’t try deleting it from the SwitchBot app so I can’t confirm the beta fixes that as well. But it does fix renaming them

[2021-10-16 15:25] donavanbecker commented on #35
This is a little harder to implement, but It is on my list.

[2021-10-16 15:25] #35 closed, assigned to donavanbecker

[2021-10-17 04:47] JB4Lyfe commented on #43
Can confirm the latest beta v0.1.2-bueta.39 does not work. Comes up with he same error.

[2021-10-17 05:09] donavanbecker commented on #43
@JB4Lyfe pleas post the error again

[2021-10-18 10:49] coneybeare opened #52 ""Bot Device Paramters not set for this Bot.""
### Describe Your Problem

Works in Switchbot app and Siri Shortcuts, but not in Homekit

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Mini Hub and Switchbot Bot

### Node.js Version

14.18.1

### NPM Version

v6.14.15

### Homebridge Version

v1.3.4

### Homebridge SwitchBot Plugin Version

v0.1.1

### Homebridge

[2021-10-18 12:05] JB4Lyfe commented on #43
Here!. Thanks
![IMG_0694](https://user-images.githubusercontent.com/40929699/137847534-0c5df826-5ebb-4e51-b66c-4b0b308343f1.PNG)
.

[2021-10-18 12:51] donavanbecker commented on #52
Take the colon's out, in the config for the device id.

So it looks like this:
[code]

[2021-10-18 13:03] donavanbecker commented on #43
Didn't finish uploading

[2021-10-18 13:54] coneybeare commented on #52
That worked. Perhaps some better config instructions are in order, or even better, automatic parsing/cleanup of that value in code.

[2021-10-18 16:37] donavanbecker commented on #52
Yeah I was thinking of doing that. I will keep this issue open and pinned so that if I get time, I can add that.

[2021-10-19 09:33] ilhuafbds commented on #43
[code]

[2021-10-19 09:34] ilhuafbds commented on #43
Sorry for the late reply. It's still not working on the latest bata...

[2021-10-19 11:51] donavanbecker commented on #43
@ilhuafbds Are those other commands from the SwitchBot app or the plugin?

[2021-10-19 12:26] ilhuafbds commented on #43
The log I posted is copied from the homebridge server log.

[2021-10-19 12:58] donavanbecker commented on #43
I'm talking about the screenshot

[2021-10-24 01:28] ilhuafbds commented on #43
@donavanbecker It's all the commands made when I tried to change the temperature from the apple home app.

[2021-10-24 01:29] ilhuafbds commented on #43
When I change the temperature from the Switchbot app it works just fine.

[2021-10-24 12:25] 618116 commented on #43
I have a same issue.

This log is from HomeBridge Plugin:

and on log of SwitchBot App, it is said "error (172)".

[2021-10-28 09:44] hiyakake opened #65 "Feature Request: Smaller minimum refresh rate."
### Problem

The current refresh rate is set to a minimum of 30 seconds. This results in a loss of agility when using motion sensors as triggers for Apple Home.

### Solution

Setting the minimum refresh rate to 9 seconds will make it a little better. According to the SwitchBot Open API specification, the maximum number of requests that can be made in a day is 10000, so this should not be a proble

[2021-10-28 09:47] hiyakake commented on #65
There are better ways to make the motion sensor respond more in real time, such as using Bluetooth, but lowering the refresh rate is an easy temporary solution.

[2021-10-28 11:56] ilhuafbds commented on #43
@donavanbecker Any updates?

[2021-10-28 12:43] donavanbecker commented on #43
@ilhuafbds, no. I have a life to attend to and only do this on my free time. Please have patients.

[2021-10-28 22:57] donavanbecker commented on #65
thanks for the PR. I will actually be closing it. There is another spot that needs to be changed. It will be in the next update.

[2021-10-28 23:06] hiyakake commented on #65
Thank you.
I'm looking forward to the day when it is completed.

[2021-11-01 22:56] bastiengrignon commented on #40
Actually the installation of noble is now deprecated, the repo has been archived, and they said that all tools can be found with the Node Installer !  [windows-build-tools](https://github.com/felixrieseberg/windows-build-tools).

Even when trying to run the command `npm install --global windows-build-tools`, the installation is stuck at some point.

[2021-11-02 02:52] donavanbecker commented on #40
@bastiengrignon Can you try upgrade node to 16.13.0? And then report back?

[2021-11-02 06:58] bastiengrignon commented on #40
@donavanbecker same error after **Homebridge** and **computer** restart after Node installation
[code]

[2021-11-02 08:10] bastiengrignon opened #67 "Feature Request: Ability to choose type of device"
### Problem

Wrong icon in HomeKit

### Solution

It could be nice to be able to choose the type of sensor for Switchbot device. I'm currently using a simple Switchbot Bot for my electric store and that could be nice to show it as a store in HomeKit, but it is currently showing as an outlet, and it can only be showed as :
- an outlet
- a fan
- a light

### Alternatives
Adding other type of sensor

[2021-11-02 08:47] bwp91 commented on #40
it seems the error points to this:

[code]

Maybe search this `common.gypi not found` in google and see if any of the results from stackoverflow help?

[2021-11-02 10:35] donavanbecker commented on #67
I could potentially do blinds but there are 3 required Characteristics and I can only send off and on with a Switch Bot

https://developers.homebridge.io/#/service/WindowCovering

Same thing with the garage door:

https://developers.homebridge.io/#/service/GarageDoorOpener

As for the other 3 you have listed, it wouldn't be practical to show them as those types since you can't interact with those

[2021-11-03 10:19] bastiengrignon commented on #40
I already tried but nothing conclusive.
But I manage to finally install it by completely removing homebridge and re-installing it, now it works

[2021-11-03 12:59] #40 closed, assigned to donavanbecker

[2021-11-06 12:17] #67 closed, assigned to donavanbecker

[2021-11-06 12:18] donavanbecker commented on #65
@hiyakake this is in the current beta, it will be pushed to new release as soon as I fix some issues in it.

[2021-11-06 12:18] #65 closed, assigned to donavanbecker

[2021-11-06 12:20] #52 closed, assigned to donavanbecker

[2021-11-06 12:23] donavanbecker commented on #43
@ilhuafbds and @JB4Lyfe, I just pushed a new beta out can you try it?

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/0.1.4-beta.3/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[2021-11-06 12:24] #20 closed, assigned to donavanbecker

[2021-11-06 12:26] donavanbecker commented on #7
@DJay-X, okay the latest beta should support BLE for motion sensors. this is a huge change, you will have to change your config. so if you have anything in the options portion of the config you will need to remove it and reset your config.

I have created a device config section where any custom configs that you would like to apply to a device you must set for each device.

[2021-11-06 12:42] donavanbecker commented on #11
@deflao I have added this into the latest beta if you could give it a test. This beta has major changes in it to the config.

there is now a device config setting that you must set specific configs for each device.

[2021-11-06 12:43] donavanbecker commented on #14
@saphierr I would need more logging so if you can get me logs in debug mode or screenshots from the SwitchBot app showing it erroring out.

[2021-11-06 12:44] donavanbecker commented on #16
@stich86 this is added in the latest beta when BLE is enabled.

[2021-11-06 13:49] 618116 commented on #43
It seems new beta version software cannot recognize my Hub mini. Every IR devices are not shown on HomeBridge.

[2021-11-06 13:56] 618116 commented on #43
Here is a Debug log from 0.1.4-beta3 .
`{"statusCode":100,"body":{"deviceList":[{"deviceId":"EDD7CB717E17","deviceName":"Cho's Hub Mini","deviceType":"Hub Mini","hubDeviceId":"000000000000"},{"deviceId":"F47BC970D7A5","deviceName":"カーテン","deviceType":"Curtain","enableCloudService":true,"hubDeviceId":"EDD7CB717E17","curtainDevicesIds":["F47BC970D7A5"],"calibrate":true,"group":false,"master":true,"o

[2021-11-06 23:26] DJay-X commented on #7
@donavanbecker Great news. Unfortunately I can't test this time. I hope someone else can help with BLE.
Are you going to make v0.1.2-beta.40 productive and the last final version? This is still 1.1.
Sorry again I can't help currently with BLE

[2021-11-07 00:29] donavanbecker commented on #7
@DJay-X No I won't release a new version till v1.0.0. Which I hope to have out soon.

[2021-11-07 09:47] ilhuafbds commented on #43
[code]

[2021-11-07 09:49] ilhuafbds commented on #43
@donavanbecker When I tried to install your latest beta, an error showed up and I couldn't install it.

[2021-11-07 11:47] donavanbecker commented on #43
@ilhuafbds Did you read the warning? You need to update your node version.

[2021-11-10 07:56] deflao commented on #11
So I tried to remove the current version, clean cached accessories and Unpair Bridges / Cameras / TVs / External Accessories in homebridge setting in order to clean install the beta version you suggested. For some reason, the soundbar and the fan (infrared controlled devices) weren’t showing up in HomeKit or even homebridge accessories.

[2021-11-13 06:28] donavanbecker commented on #11
@deflao, I have pushed this into v1.0.0. You can disable power in the config.

[2021-11-13 06:29] donavanbecker commented on #43
@ilhuafbds and @618116, sorry latest beta should work now.

[2021-11-13 14:32] 618116 commented on #43
Tested new beta, unfortunately it did not work.
Turn On and Off Air Conditioner works, however Set temperature does not works and there is Error(172) in SwitchBot app log.

This is log from HomeBridge plugin Debug mode when turn on Air Conditioner with setting "24℃, Heater" in iOS Home app:

And SwitchBot app had 2 logs:

[2021-11-13 15:07] donavanbecker commented on #7
v.1.0.0 has been released.

[2021-11-13 15:07] #7 closed, assigned to DJay-X

[2021-11-13 19:01] yjeanrenaud opened #77 "Bug: Bot not working anymore under 1.0.0"
### Describe The Bug

updateCharacteristic failed

### To Reproduce

I added the Bot's device ID to in order to configure it as Press or Switch. The bug crashes the whole homebridge instance. I can only get it working when I hide the Bot device

### Expected behavior

it should work

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### D

[2021-11-13 19:13] watakushi-info opened #78 "Bug: Only Temperature is not being retrieved from Switchbot Meter."
### Describe The Bug

Only Temperature is not being retrieved from Switchbot Meter.

### To Reproduce

At the Homebridge UI accessory view, You can see that the temperature is displayed as 0.1 C. If you wait a few seconds, the correct number will be displayed, but if you refresh the browser, it will display 0.1 C again.

### Expected behavior

At the Homebridge UI accessory view, the temperature i

[2021-11-13 20:02] donavanbecker commented on #77
You have `"hide_device": true,` if you want it to be displayed I. HomeKit you will need to uncheck or make that false.

[2021-11-13 21:29] BigKrisch commented on #77
I get the same error message with the bots even though hide_device is set to false.
However, the error only occurs with the bots. The curtains work perfectly.

[code]

[2021-11-13 21:54] nyjklein opened #79 "Bug: Switchbot plugin started crashing Homebridge today"
### Describe The Bug

Restarting Homebridge crashes when Switchbot plugin is configured

### To Reproduce

Just restart. No changes to any of my SwitchBot devices or configuration have been made

### Expected behavior

Shouldn't crash!

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

None

### Device & Model

N/A

### Node.js Version

v16.13.0

### NP

[2021-11-14 08:25] yjeanrenaud commented on #77
yes because otherwise hb crashes.

[2021-11-14 09:55] adamrzanek opened #80 "Bug: bot doesn’t show up in BLE mode"
### Describe The Bug

I think I’m doing everything right but bot doesn’t show up

### To Reproduce

Trying to config it

### Expected behavior

Bot should show up

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots
<a><img src="https://user-images.githubusercontent.com/65444919/141675880-0e4c256e-5e15-4456-9148-a736340a312e.png" width="250px"></a>
<a><img

[2021-11-14 10:11] dieugab opened #81 "Bug: Curtains no longer reporting correct state under 1.0.0"
### Describe The Bug

Open and close calls work, but no longer reporting state

### To Reproduce

Open a SwitchBot Curtain, check state

### Expected behavior

State is open, but it’s still reporting closed

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![42C2D58B-A2C2-4216-88A9-5243150B9B80](https://user-images.githubusercontent.com/61377476/141676

[2021-11-14 11:38] nfsilva999 commented on #79
Same error here.
I just update for the new version of the Switch bot plugin and crash my homebridge instance.
![Captura de ecrã 2021-11-14, às 11 37 55](https://user-images.githubusercontent.com/655453/141679225-1d31cec1-0b7e-49dd-9e95-9a06f2483e4c.png)

[2021-11-14 11:57] 618116 commented on #81
Same problem. Also note SwitchBot App log reports Error(190).

[2021-11-14 12:40] dieugab commented on #81
Seems to be fixed in the 1.0.1 beta, however it looks like "opening" and "closing" states no longer report properly

[2021-11-14 14:10] donavanbecker commented on #79
duplicate of #77

[2021-11-14 14:10] donavanbecker commented on #80
duplicate of #77

[2021-11-14 14:11] donavanbecker commented on #77
@yjeanrenaud @nyjklein @adamrzanek, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.0.1-beta.2/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-14 14:12] #80 closed, assigned to donavanbecker

[2021-11-14 14:16] donavanbecker commented on #81
I will look into this.

[2021-11-14 14:25] donavanbecker commented on #78
@watakushi-info, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.0.1-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2021-11-14 14:31] adamrzanek commented on #77
@donavanbecker nope still nothing

[2021-11-14 14:34] donavanbecker commented on #77
@adamrzanek you have beta2 or higher installed? because bots are working for me both bluetooth and openapi. do you have more logs?

[2021-11-14 14:37] adamrzanek commented on #77
Right now I have beta 3

[2021-11-14 14:38] adamrzanek commented on #77
![Uploading E9EA5E5E-5D77-472C-9A45-E166549A9F40.png…]()

[2021-11-14 14:39] adamrzanek commented on #77
![9455FAD9-720B-44D5-B02E-C1CCDE3529F1](https://user-images.githubusercontent.com/65444919/141685822-a9a494e6-1cef-466e-a30c-0d2921751024.png)

[2021-11-14 14:54] donavanbecker commented on #77
@adamrzanek from the logs it looks like there are no devices in your SwitchBot account (opentoken), also have you enabled Cloud Service?

[2021-11-14 14:59] adamrzanek commented on #77
@donavanbecker I was asking in other threat that I want to use my bot without the hub with rpi only - like I can with other plugin. Don’t know how to enable cloud service without the hub

[2021-11-14 15:04] watakushi-info commented on #78
Thank you very much for making the fix.
At the Homebridge UI accessory view, the temperature works well.
I believe the fix is probably complete for this issue. Thank you very much.

The error message still shows up, but it may be related to a different problem.
Looking at the messages before the error message, my guess is that the error message might be related to air conditioning.
(The only Switc

[2021-11-14 15:37] nyjklein commented on #77
With Beta 3 I have things working again. I'm not sure if it was purely beta 3 or the changes I made to my config adding this:

                "devices": [
                    {
                        "deviceId": "xxxxxxxxxxxx",
                        "hide_device": false,
                        "deviceType": "Bot",
                        "ble": false,
                        "bot": {

[2021-11-14 15:41] adamrzanek commented on #77
@donavanbecker I didn’t know that I had to add the bot to my “switchbot home”. But I can’t enable cloud service because I don’t have hub
![E3003F9B-F318-4012-ABE9-1FD5C0BD3EB6](https://user-images.githubusercontent.com/65444919/141687903-d57e9715-d856-4822-b862-aa8640e898ae.png)

[2021-11-14 17:06] ex725 commented on #77
how do i use bot without hub.
as in this plugin

https://github.com/ewebdev/homebridge-switchbot-ble#readme

[11/14/2021, 19:59:17] The plugin "homebridge-switchbot" requires Node.js version of ^14.18.1 || ^16.13.0 which does not satisfy the current Node.js version of v12.18.1. You may need to upgrade your installation of Node.js - see https://git.io/JTKEF
[11/14/2021, 19:59:17] ==================

[2021-11-14 17:07] ex725 commented on #77
how do i use bot without hub
as in this plugin

https://github.com/ewebdev/homebridge-switchbot-ble#readme

[2021-11-14 18:22] sshinnawy commented on #77
I am having the same issue. Did anyone find a fix?

[2021-11-14 21:05] donavanbecker commented on #77
@sshinnawy, Which issue are you referring too?

[2021-11-14 21:07] donavanbecker commented on #78
I will keep track of the air conditioner issue on #43.

[2021-11-14 21:07] #78 closed, assigned to donavanbecker

[2021-11-14 22:28] yjeanrenaud commented on #77
beta 3 does not crash my hb, but I get
`[14/11/2021, 23:26:32] [SwitchBot] Failed to Discover Devices. "Request failed with status code 401"`
even though the token is correct.

[2021-11-14 22:38] yjeanrenaud commented on #77
never mind. for some reason, the hub mini was removed from my profile in the Switchhub app and therefore no cloud connection was available anymore. weird

[2021-11-15 00:10] yjeanrenaud commented on #77
so to make this clear: the auth issue was not related to beta 3. beta 3 indeed solves the issue with the Bot crashing all the homebridge

[2021-11-15 00:15] donavanbecker commented on #77
@yjeanrenaud perfect! I have release v1.0.1

[2021-11-15 00:15] #77 closed, assigned to donavanbecker

[2021-11-15 00:15] donavanbecker commented on #77
Enable BLE for the device you want to use BLE on.

[2021-11-15 00:16] #11 closed, assigned to donavanbecker

[2021-11-15 04:07] deflao commented on #79
I'm still having the same issue even when updated to v1.0.1

[2021-11-15 04:17] donavanbecker commented on #79
@deflao Please open a new issue, and post logs because more then likely it is a different issue.

[2021-11-15 04:17] #79 closed, assigned to donavanbecker

[2021-11-15 05:13] deflao opened #84 "Bug: failed to discover devices. cannot read property 'touppercase' of undefined"
### Describe The Bug

All existing Switchbot devices disappeared in HomeKit

### To Reproduce

Install update (v1.0.1)

### Expected behavior

To still have all of my device and working normally

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry Pi 4 Model B

### Node.js Version

14.18.1

### NPM Version

8.1

[2021-11-15 05:27] donavanbecker commented on #84
@deflao You need to update your config. Remove:

[code]

And then reset up your device. I will make sure to fix this issue of old configs causing issues on start up though.

[2021-11-15 05:33] deflao commented on #84
I’ve tried to clean install it too but same problem. Like when I do clean install, those lines weren’t even in the config but the problem still exists. I don’t want to re-install it cause it will cause my devices to disappear and it will mess with my HomeKit automation

[2021-11-15 06:11] deflao commented on #84
Okay. It works now for some reason. But there’re other problems.
1st: Couldn’t hide IR device (DIY Fan). The hide device box is checked but it still appear in HomeKit.
2nd: hiding humidifier temperature option made it unresponsive in HomeKit. Here’s the log:
Humidifier Humidifier, Failed to update status. Error Message: "Cannot read property" updateCharacteristic of undefined"

[2021-11-15 07:12] ex725 commented on #77
i did that but it didn't work

[2021-11-15 11:10] dieugab opened #85 "Bug: Curtains alternate between open/close state in 1.0.0 & 1.0.1"
### Describe The Bug

The curtain state goes to open while closed or closed while open every few minutes even though they’re not being opened or closed

### To Reproduce

Nothing, it happens every few minutes regardless whether it’s open or closed

### Expected behavior

Should show the actual current state of either open or closed and stay at that

### Relevant log output

[code]

### Config for

[2021-11-15 12:25] donavanbecker commented on #77
You will have to open up an issue so I can get more info of your setup.

[2021-11-15 14:49] nyjklein commented on #85
I have something weird going on with my curtains too with V1.0.1. Similar to issues I was having months back. Even though I have minstep, min and max set like I always have, homebridge is now reporting "98% open" or "2% closed" and the iOS Home app is out of sync (reports open when closed or vice versa) or stuck on "closing" until I click on it. Please let me know if you would like more documentat

[2021-11-15 19:56] TheToLoveRuDarkness opened #86 "Support Request:"
### Describe Your Problem

IR devices cannot be connected

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![Bildschirmfoto 2021-11-15 um 20 55 38](https://user-images.githubusercontent.com/94400178/141845482-550b50dd-035d-483a-aecd-ab627a39dc31.png)

### Device & Model

SwitchBot Hub Mini v1.7-1.9

### Node.js Version

14.18.1

### NPM Version

don´t

[2021-11-15 20:10] donavanbecker commented on #86
@TheToLoveRuDarkness if you look further down in the logs it says to add the device manually, like you did with the bridge.

[2021-11-15 20:19] TheToLoveRuDarkness commented on #86
@donavanbecker Oh, okay thanks but where can I find my configuration code to integrate the device?

[2021-11-15 20:45] #86 closed, assigned to donavanbecker

[2021-11-15 20:55] donavanbecker commented on #86
@Configuration code?

[2021-11-16 02:31] donavanbecker commented on #85
I will look into this @gvssr.

[2021-11-16 02:50] donavanbecker commented on #84
this will be fixed in the next release, currently in beta.

[2021-11-16 03:00] deflao commented on #11
It works, but it also creates another problem. So I’m able to control the volume up/down in the remote app without the power command. But it also disable the ability to turn on and off the speaker in the Home app.

[2021-11-16 03:02] donavanbecker commented on #16
This is in v1.0.0, when connected through BLE

[2021-11-16 03:02] #16 closed, assigned to donavanbecker

[2021-11-16 03:04] donavanbecker commented on #11
@deflao, this is nothing that I can control, with it being IR, I never get info back from the devices. If you have another idea of how to implement this, let me know.

[2021-11-16 03:06] donavanbecker commented on #84
I have release v1.0.2 with this fix.

[2021-11-16 04:17] deflao commented on #84
These problems still occur with v1.0.2

[2021-11-16 04:37] donavanbecker commented on #84
do you have logs?

[2021-11-16 05:14] deflao commented on #84
![4181DD39-6A84-4A0C-8C28-90CCA7548643](https://user-images.githubusercontent.com/90084270/141924950-577dc4e8-a24e-4c26-a2be-b1e992e9dab8.jpeg)
Here you go

[2021-11-16 05:15] deflao commented on #84
Hiding IR devices doesn’t produce any logs. It simply just didn’t hide at all since it’s still appear in the Home app

[2021-11-16 05:21] donavanbecker commented on #84
looking at this log, it is a different issue. Please open new issue with more details and better logs. Screenshots don't give me much info to work off.

[2021-11-16 05:21] #84 closed, assigned to donavanbecker

[2021-11-16 05:22] donavanbecker commented on #84
I will need logs, please open a separate issue on this so that I can track each issue separately and fix this issues.

[2021-11-16 05:35] deflao opened #89 "Bug: Failed to update status. Error Message: "Cannot read property 'updateCharacteristic' of undefined""
### Describe The Bug

Unresponsive humidifier in Home app with "hide_temperature": true

### To Reproduce

Choose the option to hide humidifier in plugin settings

### Expected behavior

Normally Funtion

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry Pi 4 Model B

### Node.js Version

v14.18.1

### NPM Ve

[2021-11-16 05:44] deflao opened #90 "Bug: IR Fan won't be hidden in Home app"
### Describe The Bug

IR devices won't be hidden in Home app after option chosen in plugin settings

### To Reproduce

Choose hide device option in plugin settings

### Expected behavior

For devices to be hidden in Home app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry Pi 4 Model B

### Node.js Version

[2021-11-16 12:50] n0tkazz opened #91 "Add option to hide curtains light sensors from HomeKit"
### Describe Your Problem

1.0.0 added light sensors to curtains. But since I don't own any, there are new accessoires showing up in HomeKit that are reporting incorrect lux values (since I have Hue sensors already) and messing up with my setup. Is it possible to disable light sensors for curtains somewhere ? Thanks.

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No

[2021-11-16 13:41] donavanbecker commented on #91
@n0tkazz, All curtains have light sensors.

<a><img src="https://user-images.githubusercontent.com/9875439/141997077-88cd332e-2d55-481a-a045-13a26ef53c99.jpeg" width="250px"></a>

Would you like me to add an option to disable the light sensor?

[2021-11-16 13:56] n0tkazz commented on #91
Oh ! My bad, I was thinking of solar panels for battery charging 😅.

But yes, if you could add an option to disable them from HomeKit it would be perfect !

[2021-11-16 14:03] donavanbecker commented on #91
@n0tkazz Please change title of this issue and I will use this to track and add this feature.

[2021-11-16 17:03] nyjklein commented on #85
With V1.0.2, I'm still seeing this weirdness. Even though the curtains are fully open, the Home app shows closed with a spinning gear in accessories view. The "action view" at the top shows "curtain closing". If I click on the accessory in the Home App, it immediately changes to "open". But as soon as the homebridge pushes it out a status update, it reverts back to "closing".

[16/11/2021, 11:50:2

[2021-11-16 20:03] smartmatic opened #92 "Support Request: Devices not found via BLE on Raspberry PI 4"
### Describe Your Problem

I try to connect a Bot via BLE. I think i have installed the necessary requirements as described here.
https://github.com/homebridge/noble#prerequisites

If i use the native Bluetooth scan from my PI the Raspberry found BLE devices. But in the Homebridge no entry that a device is detected. I thought i dont need to add the API Token as in that case the Plugin uses my Swit

[2021-11-16 20:38] donavanbecker commented on #92
@smartmatic, you are missing your `openToken`. we still require that because it is used to find all devices you have on your SwitchBot Account, but allows you to set BLE connection. Then BLE connection will be used every time unless it fails then OpenAPI is used as a backup.

You do not need to install `@abandonware/noble`

[2021-11-16 21:22] smartmatic commented on #92
So the openToken is a pre-requisite and not optional? I guessed i can save to add the openToken.

If i remember it right i saw a video related to io-Broker and they completely waive on the openToken. But i understand the point with the fallback in case BLE is not available.

[2021-11-16 21:27] donavanbecker commented on #92
@smartmatic, I currently don't have a plan to waive the openToken since BLE doesn't always work.

[2021-11-16 22:52] donavanbecker commented on #85
@gvssr and @nyjklein, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.0.3-beta.4/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-16 22:56] donavanbecker commented on #91
@n0tkazz, I have added this feature, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.0.3-beta.4/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-16 23:27] nyjklein commented on #85
It's better. But not quite there yet. Now it's the accessory within Homebridge that gets "stuck" at "Opening" or "Closing" even though the Home app now shows Open or Closed. And now it's out of sync. Home bridge shows opening, home shows closed (physically fully open). Status in homebridge shows:

Window Covering
Current Position	0%
Position State	1
Target Position	0%

Is position state 1 the "mov

[2021-11-16 23:34] nyjklein commented on #85
And now Home app is showing "99% Open". So It looks like the "set_Min" and "set_Max" config settings may be ignored.

[2021-11-16 23:49] donavanbecker commented on #90
Fixed with Version 1.1.0 which was just released.

[2021-11-16 23:49] #90 closed, assigned to donavanbecker

[2021-11-16 23:49] donavanbecker commented on #91
Added option to Version 1.1.0 which was just released.

[2021-11-16 23:49] #91 closed, assigned to donavanbecker

[2021-11-16 23:50] donavanbecker commented on #89
Fixed with Version 1.1.0 which was just released.

[2021-11-16 23:50] #89 closed, assigned to donavanbecker

[2021-11-16 23:51] donavanbecker commented on #14
Just released 1.1.0 which fixes issues with curtains.

[2021-11-16 23:51] #14 closed, assigned to nobody

[2021-11-17 00:32] deflao commented on #90
It works now. Thank you for your help!

[2021-11-17 00:33] deflao commented on #89
It works now. Thank you for your help!

[2021-11-17 05:44] deflao commented on #11
So what I don’t understand is in the Switchbot app, when I control volume up/down it doesn’t produce on/off IR signal, just volume up/down IR signal is produced.
So why is it different when implemented into HomeKit? I would think that in the Home app, it would just simply be an on/off button. Then in the remote app, when adjusting volume up/down it would just simply be volume up/down.
I understand

[2021-11-17 11:23] steverae68 commented on #92
Following on from this conversation - i current still run the Switchbot.BLE plugin you created some time ago without any issues. based on this, i returned my switchbot mini hub as i didnt require it any more (i have broadlink for RF and IR).

Are you saying (according to the release notes) that i need the mini hub again now or will BLE still function without the Hub ?

[2021-11-17 12:38] nfsilva999 opened #95 "Support Request: After the new version the devices are not found"
### Describe Your Problem

After the new version the devices are not found

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![Captura de ecrã 2021-11-17, às 12 34 37](https://user-images.githubusercontent.com/655453/142201954-1938cb52-fd56-4d5b-85a5-a6c2d07861bc.png)

### Device & Model

RPI3

### Node.js Version

v16.13.0

### NPM Version

8.1.3

#

[2021-11-17 13:29] donavanbecker commented on #11
When you use the Control Center Remote, there isn't an on and off button, so how would you turn your soundbar on if you are are using the Control Center Remote?

This is where the HomeKi Implementation comes into play. It sends a power on every time because it is making sure that the device is on when it is sending the command, then it sends the command (in this case) volume up/down.

[2021-11-17 13:31] donavanbecker commented on #92
since I have a hub I haven't tested it without a hub and the openToken. If you can test that for me and give me the log outputs, I can look into this further.

[2021-11-17 13:37] donavanbecker commented on #95
@nfsilva999 I need logs from homebridge. I have nothing to go off of here.

Plus your device section looks completely off
[code]

Should look something like this:
[code]

Are you manually putting in your config?

[2021-11-17 13:56] nfsilva999 commented on #95
No, I'm not putting manually. This is the thing.

After install for the first time this version, I got the errors that you already solved.

So, I uninstalled the plugin and install again for a clean installation. And after that, no more have devices found.

I only configured the token in the plugin but nothing working. I'm missing something?

The only log that I get is this:

[17/11/2021, 12:29:50

[2021-11-17 14:19] donavanbecker commented on #95
@nfsilva999 Remove all of your config, and set your configs. You are missing the deviceType config section, that's why it isn't loading

[2021-11-17 14:33] nfsilva999 commented on #95
I'm sorry but i'm not understanding.

Ok, I understand that is missing the deviceType in the config section but the thing is: I already had this plugin working until this version and I don´t remember change manually the configuration.

I think that in past I only have to paste the token generated by App in the plugin wizard, then all the devices were loaded.

Why now I have to put the configuratio

[2021-11-17 14:40] nyjklein commented on #85
I'm on V1.1.0 now. But the Homebridge accessory for the curtain still shows "Opening" or "Closing" even though movement has completed.

Also, I was unclear about your last comment on the commit regarding the set_Min, set_Max settings. I'm still seeing the "99% Open" and "2% closed" in the Home App. Am I missing something?

Lastly, quite some time back I pushed refreshRate all the way up 600 to avo

[2021-11-17 16:34] smartmatic commented on #92
I have already done that. The outpot is in my first post. The log show a message "missing openToken". Thats all i have as nothing more was shown in the log.

Please guide me a bit how to test in order to provide you a good data basis.

[2021-11-17 17:02] donavanbecker commented on #92
I am saying input an openToken, and then give me the logs.

And enable debug logs: send output
Then enable device logs: send output

[2021-11-17 17:42] donavanbecker commented on #95
I would remove your `options` section for the config and start over with custom configs.

Then all your devices will load and you can get your deviceIDs from the devices tab.

I will work on updating the documentation.

[2021-11-17 18:53] donavanbecker commented on #85
Yes you can move it down.

[2021-11-17 18:55] deflao commented on #11
In that scenario, it would make sense. But let’s say, you have an automation where when you turn on your tv, the speaker turn on. Now the speaker is already on, you use control center remote in order to adjust the volume. Having it sending another power on/off signal will now turn off the speaker, and that’s inconvenient and doesn’t make sense in this scenario.
I think it would make sense to make

[2021-11-17 19:58] smartmatic opened #97 "Bug: Color Bulb can't change color and is not dimmable"
### Describe The Bug

Basically i cant siwtch on and off the bulb in Apple Home. But i cant change the color. The color wheel is not available. If i turn the displayed white wheel nothing happens. In addition the bulb does not dim up or down if i try to adjust it.

### To Reproduce

Add Bulb and try it

### Expected behavior

To be able to change the color with standard color wheel and to dim the

[2021-11-17 20:25] smartmatic commented on #92
Since i turned on the debug mode homebridge crashes. Here is the log:
[homebridge.log.txt](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7557806/homebridge.log.txt)

[2021-11-17 21:47] donavanbecker commented on #97
@smartmatic do it works, but doesn't do color or dimming?

can you enable device logs and post them? So I can see more details?

[2021-11-17 23:43] Myndmelt opened #98 "Support Request:"
### Describe Your Problem

Install of the plugin complains about not finding Python - please advise

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

[2021-11-17T23_16_49_424Z-debug.log](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7558675/2021-11-17T23_16_49_424Z-debug.log)

### Device & Model

Trying to install the plugin

###

[2021-11-17 23:44] nfsilva999 commented on #95
Hi @donavanbecker,

Same error. I use postman to get device list and use the response and add my configuration, here a simples example:

`{
            "name": "SwitchBot",
            "credentials": {
                "openToken": "SSSS",
                "notice": "Keep your token a secret!"
            },
            "options": {
                "devices": [
                    {

[2021-11-18 02:54] ydogandjiev opened #99 "Bug: After the latest update to v1.1.0 this plug took down my whole Homebridge service"
### Describe The Bug

After the latest update to v1.1.0 this plug took down my whole Homebridge service

### To Reproduce

Install v1.1.0, restart the Homebridge service

### Expected behavior

The plugin should not take down my service

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

I have multiple devices

### Nod

[2021-11-18 03:39] lgranger commented on #99
I also had my homebridge server crash when I upgraded to v1.1.0, but I'm not sure that they are causally linked, since I downgraded back through the versions to v 1.0.0 and was still unable to restore functionality.

At first I was getting the same `TypeError: Cannot read properties of undefined (reading 'deviceType')` error as @ydogandjiev, but after opening the settings for the switchbot plugin

[2021-11-18 04:14] donavanbecker commented on #99
@ydogandjiev Your hide_device section is no longer needed, remove it and remove and re-add

@lgranger i need to see your config.

[2021-11-18 04:17] donavanbecker commented on #95
@nfsilva999 Not sure why you are adding all of that to your config... it says remote which isn't a supported device.

Follow the UI.

[2021-11-18 07:04] ydogandjiev commented on #99
@donavanbecker, thanks for the quick reply but this didn't work. I removed the SwitchBot plugin completely (including the config) and re-installed it just adding my token in the config. Now at least Homebridge starts up but none of my SwitchBot devices show up. I see this error in the logs:
[code]

Seems like this latest version still has some serious bugs in it. I am rolling back to v1.0.2 to get

[2021-11-18 07:33] ydogandjiev commented on #99
Hmm, rolling back to v1.0.2 didn't fix the issue this time around. :( I had to delete the two SwitchBots from my account that appeared to be causing the issue. Thankfully I am not using them at the moment. Hopefully whatever caused this regression gets resolved soon.

[2021-11-18 09:37] nfsilva999 commented on #95
Hi @donavanbecker,
Thanks again for the reply.
Following the UI does not work anymore in my case. After this update I need just put the token in the UI window and everything's works like a charm, but not if I only put the token in the second tab "Devices" no device is found.
So, I did a get from postman and set the configs manually but always get the error:
TypeError: Cannot read properties of und

[2021-11-18 10:12] smartmatic commented on #97
I had some trouble with my Homebridge environment and set up a new one. These running now with Node v16.13.0 and NPM v8.1.0. The other settings are still the same as mentioned in my initial post.

Here is now the device Log for the Bulb.
[homebridge.log-3.txt](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7561905/homebridge.log-3.txt)

Although the log sends a success message neithe

[2021-11-18 12:11] donavanbecker commented on #92
@ smartmatic, I have enabled BLE only support, can you try Beta:

You must set the Device ID, Device Name, Device Type, Check BLE.

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.1.1-beta.7/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Ver

[2021-11-18 12:17] donavanbecker commented on #95
@nfsilva999, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=v1.1.1-beta.8/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-18 12:25] donavanbecker commented on #97
@smartmatic Thanks this helps. I will look into this.

[2021-11-18 12:30] nfsilva999 commented on #95
@donavanbecker yes, with beta the devices already show.
Thanks for the help!

[2021-11-18 12:41] donavanbecker commented on #99
@ydogandjiev, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.1.1-beta.8/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-18 13:52] krukje commented on #99
I'm having the same issue, also after installing 1.1.1b8. Log shows:
[code]

I've removed the switchbot (only keeping curtains and airco control), removed the plugin & reinstalled but still get the above error in 1.1.1b8. Reverting to 1.1.0 gives this error:
[code]

The 'Devices' tab in the switchbot plug settings says 'No Devices'.
and this is the config section:
[code]

When I remove the "bot":

[2021-11-18 21:35] nyjklein commented on #85
I'm really confused. Has the syntax of the config.json changed. I changed my my debug option from debug to device. Now I'm seeing this in the log:

[18/11/2021, 16:27:38] [SwitchBot] [DEVICE] Curtain: Living Room Curtain Config: (ble: undefined, disable_group: undefined, hide_lightsensor: undefined, set_minLux: undefined, set_maxLux: undefined, refreshRate: undefined, set_max: undefined, set_min:

[2021-11-18 21:52] nyjklein commented on #85
Nevermind! Figured out how to use the "Devices" directive and this fixed my issue !!!

                "devices": [
                    {
                        "deviceId": "DFC80D28CE14",
                        "hide_device": false,
                        "deviceType": "curtain",
                        "ble": false,
                        "curtain": {
                            "set_minStep

[2021-11-18 21:54] donavanbecker commented on #85
@nyjklein Yes.

[2021-11-18 22:11] nyjklein commented on #85
Is this new syntax defined somewhere? The "Configuration" link in this WiKi, still shows the old syntax.

Jeff

[2021-11-18 22:14] donavanbecker commented on #85
Haven’t had time to update.

[2021-11-19 03:14] donavanbecker commented on #97
@smartmatic , can you try Beta, and get me the log that will output in yellow when you make a change in HomeKit?:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.1.1-beta.9/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-19 04:04] lgranger commented on #99
Here's my config:
[code]

Here's also a gist with the switchbot portion of the home bridge logs: https://gist.github.com/lgranger/4a3f33bb3f694fd2150f34466fd9d06b

I've also tried the current beta and it's still not working. I've had to disable the plugin.

[2021-11-19 05:00] donavanbecker commented on #99
@lgranger, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.1.1-beta.10/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

I fixed the issue in beta.9 that was preventing the plugin from loading.

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-19 05:14] donavanbecker commented on #97
@smartmatic , can you try Beta, and get me the log that will output in yellow when you make a change in HomeKit?:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.1.1-beta.10/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-19 07:09] smartmatic commented on #97
Thank you! I think i can test it today and send you feedback as soon as possible.

[2021-11-19 14:01] donavanbecker commented on #97
sounds good! it will actually be `beta.11` now.

[2021-11-19 16:40] smartmatic commented on #97
I turned on Debug logging. Immediately after reboot of Homebridge i get the following error

`[19.11.2021, 17:38:09] [SwitchBot] Failed to Discover Devices. "Request failed with status code 401"
[19.11.2021, 17:38:09] [SwitchBot] [DEBUG] {"message":"Request failed with status code 401","name":"Error","stack":"Error: Request failed with status code 401\n    at createError (/usr/local/lib/node_modul

[2021-11-19 17:01] smartmatic commented on #92
Latest Beta is now installed. Added a Bot and Color Bulb and get this message after enabling Device Log

[code]

[2021-11-19 17:37] smartmatic commented on #92
I made an additional test and placed a Bot and a Meter close to the Raspberry in order to exclude any issues based on the distance. Here are some more logs.

[code]

[2021-11-19 18:03] smartmatic commented on #97
Is SwitchBot down?? I am not able to get my devices through token method.

[2021-11-19 18:25] donavanbecker commented on #97
@smartmatic, not that I am aware of. I just pushed another beta that actually may make everything work. `beta.13`

if you are still having issues, send me logs

[2021-11-19 22:51] smartmatic commented on #92
Hi, i've added  now a Bot, a Contact Sensor and a Color Bulb.

Here my log results. The Bulb is currently not visible in the device section.

[homebridge.log.txt](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7573304/homebridge.log.txt)

[2021-11-20 05:34] donavanbecker commented on #99
Version 1.2.0 has been released, Please update me on this, and if it has been resolved with this version.

[2021-11-20 05:34] donavanbecker commented on #98
Would recommend moving to another OS.

[2021-11-20 05:34] #98 closed, assigned to donavanbecker

[2021-11-20 05:34] donavanbecker commented on #97
Version 1.2.0 has been released, Please update me on this, and if it has been resolved with this version.

[2021-11-20 05:35] donavanbecker commented on #95
Version 1.2.0 has been released

[2021-11-20 05:35] #95 closed, assigned to donavanbecker

[2021-11-20 05:35] donavanbecker commented on #92
Version 1.2.0 has been released with support to do BLE Only connection

[2021-11-20 05:35] #92 closed, assigned to donavanbecker

[2021-11-20 05:37] donavanbecker commented on #85
Version 1.2.0 has been released, Please update me on this, and if it has been resolved with this version.

Also Configuration wiki link has a Work In Progress Config description and example

[2021-11-20 05:37] donavanbecker commented on #81
Version 1.2.0 has been released, Please update me on this, and if it has been resolved with this version.

Closing as same as #85

[2021-11-20 05:37] #81 closed, assigned to donavanbecker

[2021-11-20 05:37] donavanbecker commented on #81
Version 1.2.0 has been released, Please update me on this, and if it has been resolved with this version.

[2021-11-20 05:38] donavanbecker commented on #43
Version 1.2.0 has been released, Please update me on this, and if it has been resolved with this version.

[2021-11-20 05:56] 618116 commented on #43
Unfortunately, still not fixed. Below is log from Homebridge when trying to turn on with 29℃ setting.

[code]

[2021-11-20 11:30] dieugab commented on #81
@donavanbecker there is now a new issue in 1.2.0 where the curtain state never becomes “closed” or “opened” but stays on “opening” or “closing”. Do I need to open another issue? I’ll be downgrading to 0.1.1 again as that version works correctly.

[2021-11-20 11:35] jhy-dabeeo commented on #43
Hi i have Air conditioner temperature changing issue too

this is my log. i can't find issue related my error type so write here
i just updated plugin 1.2.0 but still got errors when change temperature while turn on/off is fine.

[code]

[2021-11-20 11:52] smartmatic commented on #97
I can see now the color picker in Home App but control the bulb does not work propperly. I could switch on the bulb but now the bulb stucks. The device does no longer react to any other commands.

![Bulb_01 - 1](https://user-images.githubusercontent.com/74932663/142725937-e0e48cd9-fa0e-4f43-94ab-1bc75e0085ea.jpeg)

![Bulb_02 - 1](https://user-images.githubusercontent.com/74932663/142725942-9110a82

[2021-11-20 12:18] smartmatic commented on #92
Thank you! Big progress, i can control the Bot! The other i device i tested is the contact sensor. If i open the sensor the state is not updated.

[homebridge.log.txt](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7574516/homebridge.log.txt)

[2021-11-20 14:22] nyjklein commented on #85
For the most part everything seems to be working accept the accessory icon within Homebridge. It's always suck at "opening" or "closing". I've posted some screen captures that show the "Debug=Device" output and the curtain accessory.

![image](https://user-images.githubusercontent.com/76184316/142729566-9299ace2-4fa3-49be-acb6-1e0f50b38591.png)

![image](https://user-images.githubusercontent.com/7

[2021-11-20 14:26] dieugab commented on #85
I'm having the same issue as @nyjklein. Curtain state hangs at opening or closing. Also shows up in HomeKit and Home Assistant as opening or closing after initializing a command, never as open or closed.

[2021-11-20 14:36] nyjklein commented on #85
And now my Homekit status has also gone wacky. Shows "90% Open" with a spinning clock/gear. Switchbot app shows "Fully open" with one side at 0% and the other at 1%.

P.S. This is API only.

Jeff

[2021-11-20 15:03] donavanbecker commented on #85
@gvssr And @nyjklein did you set your min and max In the config for your device?

[2021-11-20 15:04] donavanbecker commented on #81
@gvssr No we can track it on the others issue

[2021-11-20 15:15] dieugab commented on #85
@donavanbecker no, I've never touched the min/max settings.

[2021-11-20 15:16] nyjklein commented on #85
Yes:

[code]

[2021-11-20 15:37] donavanbecker commented on #85
@nyjklein What does the SwitchBot app say it's at?

[2021-11-20 15:40] nyjklein commented on #85
![Screenshot 2021-11-20 at 10 39 07 AM](https://user-images.githubusercontent.com/76184316/142732348-bd377649-698f-45aa-8e87-36cf5d972a63.png)

[2021-11-20 15:41] donavanbecker commented on #85
@gvssr, since the SwitchBot doesn't always fully close in some cases. I would recommend setting that for each curtian. I have it set at `max: 95` and `min: 5`

You will have to input each deviceid into the config, pick curtain then you should see the min and max, not the Lux ones.

[2021-11-20 15:43] nyjklein commented on #85
And the main SwitchBot app screen shows "Fully Closed".

P.S. This was all working fine with these settings before the recent V1.x.x updates.

[2021-11-20 15:56] dieugab commented on #85
@donavanbecker that does not fix the issue. Even with min/max set it stays on "opening" and "closing". Even when the SwitchBot app reports the state as fully closed or fully opened

[2021-11-20 19:46] lgranger commented on #99
Update fixed the issues. Thanks!

[2021-11-20 21:08] #99 closed, assigned to donavanbecker

[2021-11-20 21:16] donavanbecker commented on #92
@smartmatic I think there is an issue with contact sensors in the node-SwitchBot dependency. I will have to look. Would you open another issue. Specifically for that?

[2021-11-20 22:04] donavanbecker commented on #85
@gvssr & @nyjklein, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.2.1-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-20 22:17] dieugab commented on #85
@donavanbecker not resolved in the beta. Still stays on "closing" or "opening" indefinitely after issuing a command. And now also no longer displays closed correctly at all (edit: this could be related to the "closing" issue though). See screenshot
![image](https://user-images.githubusercontent.com/61377476/142742392-a91278b9-a5ca-4abe-b5a1-98e11bf5d481.jpeg)

Not sure if it helps, but fyi none of

[2021-11-20 22:19] donavanbecker commented on #85
I will look at 0.1.1

[2021-11-20 22:41] nyjklein commented on #85
No change here either. When opening, Home app initially goes to "Open" but HB accessory stays at "Opening". After the refresh interval, the Home App changes to 90% Open (seems to correspond to "set_minstep" value (100-10) with spinning clock.

[2021-11-21 15:25] smartmatic opened #104 "Bug: Contact Sensor, Motion Sensor and Meter does not update state"
### Describe The Bug

Thanks a lot for integrated BLE only function! It works so far with the Bot. In terms of Contact Sensor, Motion Sensor and Meter  i am able to add them to Homebridge but the state of the device does not change. For instance if a open the contact sensor the open state is not submitted to homebridge. Same for Motion sensor and Meter.

### To Reproduce

Add contact sensor per BL

[2021-11-22 01:17] tzwada opened #105 "Support Request: SwitchBot status changes to ON automatically"
### Describe Your Problem

When I off the switchbot, it works fine. But the status changes to on after 10 seconds. It should be off until somebody changes to off.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots
![スクリーンショット_2021-11-23_18_27_08](https://user-images.githubusercontent.com/7919609/142999864-44c47869-1e54-4cf1-93b9-d0a67f3425a1.png)
![スクリーン

[2021-11-22 05:25] tzwada commented on #105
My question will be:
- Are 2nd and 3rd line of plugin debug logs the reason why change the switchbot status from OFF to ON?
- If so, why does above action occur?

[2021-11-22 17:05] donavanbecker commented on #85
@gvssr and @nyjklein okay new beta is out. Can you try the new Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.2.1-beta.1/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-11-22 17:48] nyjklein commented on #85
Sorry. This is worse. Now accessory says "Opening", Homekit says "Closed" and curtains don't move when clicking on them in Home app. It briefly turns to "Open" and then right back to "Closed".

[homebridge.log.txt](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7583251/homebridge.log.txt)

[2021-11-22 17:51] nyjklein commented on #85
Another "anomoly". The detailed status shown in Homebridge does not match what the log says. Positionstate is different! Snapshot here. Log posted above.
![image](https://user-images.githubusercontent.com/76184316/142910687-f81df607-9e51-4210-9eac-8ea34635922b.png)

[2021-11-22 17:57] nyjklein commented on #85
And after I open the curtains with the switchbot app, now the accessory shows positionstate 1 even though the log shows 2.
![image](https://user-images.githubusercontent.com/76184316/142911576-f9db2e8f-ffe8-4cf9-a99d-ec59315cd8ca.png)

[2021-11-22 18:14] dieugab commented on #85
@donavanbecker sadly, no change for me. Still hangs on “opening…” and “closing…” even though SwitchBot app reports they’re both closed. Setting min/max (in this case 10 / 90) also doesn’t effect it.

![E4013653-400C-41ED-A8E6-6831E561D6FB](https://user-images.githubusercontent.com/61377476/142913643-0594d66f-0ac3-4417-8ab6-0644805b9e6f.jpeg)
![16081D7B-0CC2-4642-8137-EA201468A392](https://user-ima

[2021-11-22 18:34] dieugab commented on #85
@donavanbecker maybe this will help, you can see a direct comparison between the old version and new version:

V1.2.1 beta (stays stuck like this)
https://user-images.githubusercontent.com/61377476/142916171-018dfb15-7cf7-40ff-b3cb-88dcef660603.mov

V0.1.1 (works)
https://user-images.githubusercontent.com/61377476/142916333-32470bee-6158-41b4-bdc9-5cf6206cb19d.mov

[2021-11-22 20:14] donavanbecker commented on #85
going to be honest, I care about Home app, not homebridge accessories. so if it is working good in the home app, that's what we want. I didn't have any issues before I pushed the last beta. So if the home app is working fine then this issue can be closed.

[2021-11-22 21:04] nyjklein commented on #85
With the latest beta, the home app is NOT working at all. It won't initiate an open or close. In the previous non-beta build, it was partially working. It would initiate the action, change to "Open" or "Closed". But when the refresh interval hit, it would change to, e.g. 90% open. Then you would need to click once to trick it to think it was open in order to click to close.

[2021-11-23 17:07] hughfr4nc15 commented on #43
Having the same issue with a Mitsubishi AC. Tried 1.2.1 beta but still got the errors.
Also when I turn it OFF in the Home App it briefly shows as OFF but then ON again although it is turning OFF. Have to click it again to show OFF.

Log:
[code]
Let me know if I can provide anything more useful.

Thanks.

[2021-11-23 17:14] donavanbecker commented on #105
@tzwada, so you are using BLE only mode right? I was able to reproduce this so will have to see why this is occurring. do you have a hub? if so the OpenAPI connection is working, so I must have one little piece of code wrong.

[2021-11-23 20:04] donavanbecker commented on #105
@tzwada this is actually an issue with node-switchbot. What I am receiving back from the BLE API is a false which causes it to switch back to false after it goes through.

The OpenAPI connection shows the state correctly, so if you are able to use the OpenAPI for now.

[2021-11-23 23:56] donavanbecker commented on #104
I have fixed the issue with the connectionType with the latest beta. I will have to look into the states not updating for BLE though

[2021-11-24 00:35] nmcc1212 commented on #105
+1 am also having the same issue, although i didn't have this on the old plugin (just switched today)

[2021-11-24 03:45] donavanbecker commented on #85
I have reverted in latest beta if you can test.

[2021-11-24 06:08] jacobio opened #108 "Failed pushChanges with OpenAPI Connection"
### Describe Your Problem

API error occurs when Bot switch is turned on or off in the Home app

After configuring my SwitchBot hum in homebrige, I can't seem to use my one Bot accessory. While the accessory shows on the Home app, anytime I try to turn it on or off, I get the following error message in the log:

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Scre

[2021-11-24 10:13] tzwada commented on #105
@donavanbecker, thanks for reply. I use BLE only. I don't have a hub. I'd be happy to wait for fixing. If you need any additional information, please let me know.

[2021-11-24 14:46] nyjklein commented on #85
Testing with v1.2.1-beta4. The Homebridge app accessory still consistently shows "Opening" or "Closing". While the Home app device now shows the spinning clock after the refresh interval. v1.2.1-beta1 may actually have been better. After recycling homebridge (and updating to HB v1.3.8), at least the Home app device seemed to be working right.

[2021-11-24 17:11] donavanbecker commented on #85
@nyjklein So we are good?

[2021-11-24 19:25] tomasfreres commented on #108
I have the same problem :)

[2021-11-24 20:00] tomasfreres commented on #108
I solved it. You need to add the switch bot manually to the config json

In my case, it looks like this:

`{
    "name": "SwitchBot",
    "credentials": {
        "openToken": "xxxxxxxxxxxxxxxxxx",
        "notice": "Keep your token a secret!"
    },
    "options": {
        "devices": [
            {
                "deviceId": "xxxxxxxxxxxxxxx",
                "configDeviceName": "Bot",

[2021-11-24 21:07] robberburn commented on #108
Same here, no push changes with openapi. Devices (Motion and Cantact) all present in Homebridge. Automations not possible.
All devices working with Alexa in routines.

[2021-11-25 00:39] jacobio commented on #108
@tomasfreres, yeah, I tried that, too, but it is still throwing the same error.

[2021-11-25 01:02] SeanHama commented on #104
HI, I'm getting this error

[25/11/2021, 12:00:47] [SwitchBot] [DEVICE] Device: Meter 59 Neither OpenAPI and BLE Enabled
[25/11/2021, 12:00:47] [SwitchBot] [DEVICE] Unable to Register new device: Meter 59 Meter - F2D210301B59

Have you got a fix by anychance

[2021-11-25 01:23] donavanbecker commented on #104
@SeanHama Please open separate issue, as your issue is different then this issue.

[2021-11-25 01:24] donavanbecker commented on #104
@smartmatic This is an issue with node-SwitchBot, that will have to be fixed first before resolving it for this plugin.

[2021-11-25 01:28] donavanbecker commented on #108
@jacobio please update to v1.2.4 and then provide me with more logs please.

[2021-11-25 01:32] SeanHama opened #110 "Bug: Meter not working at all with new plugin via BLE"
### Describe The Bug

Meter Device not found - not working in HB

### To Reproduce

Enable BLE, add meter device, restart plugin in HB

### Expected behavior

It should work

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

[25/11/2021, 12:04:31] Registering platform '@switchbot/homebridge-switchbot.SwitchBot'
[25/11/2021, 12:04:31] [SwitchBot] Loaded

[2021-11-25 01:42] donavanbecker commented on #110
Do you have a hub? If so does this work without BLE enabled?

[2021-11-25 02:09] SeanHama commented on #110
No hub, direct BLE to HB via Rpi4

[2021-11-25 03:32] #85 closed, assigned to donavanbecker

[2021-11-25 03:32] #110 closed, assigned to donavanbecker

[2021-11-25 03:33] donavanbecker commented on #110
Just released v1.2.1 with a fix for this.

[2021-11-25 03:33] donavanbecker commented on #85
Just released v1.2.1. if you have any other issues please open a new issue. I believe this is fixed with this release. I am not having these issues with BLE.

[2021-11-25 03:36] SeanHama commented on #110
Awesome I'll test it now

[2021-11-25 03:46] SeanHama opened #112 "Bug: meter BLE not reading temp"
### Describe The Bug

Bug: meter BLE not reading temp

### To Reproduce

set it up

### Expected behavior

should be reading correct temp

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Meter

### Node.js Version

v14.18.1

### NPM Version

v6.14.15

### Homebridge Version

latest

### Homebridge Switchbot Plugin Ve

[2021-11-25 03:47] SeanHama commented on #112
BTW - re this line in debug - [25/11/2021, 14:43:48] [SwitchBot] [DEVICE] Meter: Meter 59 serviceData: {"model":"T","modelName":"WoSensorTH","temperature":{"c":30.2,"f":86.4},"fahrenheit":false,"humidity":79,"battery":100}

"c":30.2

FYI - my meter is actually 23.9 right now, so that line is not correct

[2021-11-25 03:48] donavanbecker commented on #112
@SeanHama that is what I am pulling from the device using node-switchbot

[2021-11-25 03:51] SeanHama commented on #112
Something isnt right, see image of my meter right now, a few mins after the ticket raised.
![IMG_8467](https://user-images.githubusercontent.com/57736130/143376833-dcf668f0-2c80-4d7f-ba31-c2c7f7571d4b.jpg)
t
There is a bug somewhere in getting the right temp, and the second one, no temp is showing in HB or HK.

[2021-11-25 04:41] donavanbecker commented on #112
try v1.2.2

[2021-11-25 04:44] SeanHama commented on #112
Let me try now

[2021-11-25 04:51] SeanHama commented on #112
Now the temp is coming thru, but the temp & humidity showing in HB is a completely different to the Temp showing on switchbot device (switchbot device is showing the correct temp)

[2021-11-25 06:45] smartmatic commented on #104
@donavanbecker What does that mean for my environment? Should i update to Node 16.x ?

[2021-11-25 07:00] donavanbecker commented on #104
@smartmatic That means [node-switchbot](https://github.com/OpenWonderLabs/node-switchbot) need to be updated for this to work.

[2021-11-25 07:56] smartmatic commented on #104
@donavanbecker Thank you, done.

I've done some new test after installation of node-switchbot. Here are my quick results:

Bot:

I can control the Bot. If i click the button the arm moves but the state remains On like shown in the below screenshot. Do i click the Button again the arm moves again and Homebridge shows the state as off.

Meter:
Meter shows now values for temperature and humidity. The

[2021-11-25 12:57] dieugab commented on #85
@donavanbecker still hangs on "closing" and "opening" for me unless I restart homebridge after each command. I guess I'll just stay on 0.1.1. It's your free time of course, but it's a little saddening to see functionality regressed like this.

[2021-11-25 13:02] donavanbecker commented on #85
@gvssr I am not having the issues you are having.

If you can figure out a fix for your issue, feel free to open a pull request and I will merge it. But as I said I don't have these issues.

[2021-11-25 13:46] dieugab commented on #85
@donavanbecker I don't have a programmer's background so would have no idea where to start. From comparing 0.1.1 and latest my guess it's due to this code change (for example 'closing'):

**0.1.1**
[code]

**Latest**
[code]

[2021-11-25 14:58] nyjklein commented on #85
I'm up on v1.2.5 now and have BLE enabled. I'm still consistently getting the Homebridge accessory stuck on "Opening" and "Closing". The HomeKit view is strange. It now consistently goes to a partial state (e.g. 60% open) but after a refresh interval it USUALLY goes to the fully opened or closed state. But not always.

[2021-11-25 15:03] nyjklein commented on #85
Also, I'm really confused about logging. First, I see different information when selecting Device or Debug as expected. But I think it would be much better if Debug included Device logging.

[2021-11-25 17:20] donavanbecker commented on #104
@smartmatic node-switchbot is what this plugin uses to connect to BLE Seitchbot devices. You don’t have to install it yourselves. But a fix in that library is needed to fix this plugin.

[2021-11-27 11:18] sonezu opened #123 "Bug: curtains not updating"
### Describe The Bug

updated from 0.1.1 to 1.2.5 on raspberry pi: curtain state seems to be constantly updating on the apple home app. Curtain states seem to be VERY unreliable on homebridge. 9 out of 10 the commands to open or close won't be received. Going back to v0.1.1 solved the problem.

### To Reproduce

Update from 0.1.1 to 1.2.5 and back

### Expected behavior

Showing the current state

[2021-11-29 13:23] dieugab commented on #123
Similar stuff to #85. v0.1.1 works perfectly, and everything from 1.0 forward seems unreliable.

[2021-11-29 22:15] SeanHama commented on #112
Hey, any updates. At the moment this plugin and Switchbot for Homekit is un-useable. Should I be going back to the old plugin?

[2021-11-29 23:41] donavanbecker commented on #112
This is definitely a node-SwitchBot issue, which plugin were you using?

[2021-11-30 00:43] SeanHama commented on #112
The SwitchBot-ble plugin

[2021-11-30 23:44] donavanbecker commented on #43
@hughfr4nc15 @618116 @jhy-dabeeo @ilhuafbds, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.2.6-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-01 00:36] Cesco117 opened #124 "Feature Request: Double Press"
### Problem

Double press option

### Solution

It's not particularly a problem, but I have a device that need 1 press to power on, but 2 presses to power off (Xiaomi projector).
It would be nice if, for the same SwitchBot, we could have 2 switches : 1st one for single press and 2nd one for double press.
It's the only thing missing for my HomeKit scene to be perfect :)
Thanks a lot !

### Alternat

[2021-12-01 16:02] hughfr4nc15 commented on #43
Hello @donavanbecker, I've returned the equipments a couple of days after... If in the near future all works well I might try them again because they seem a cheap alternative to control the AC.

I'll keep following the project.

Thanks.

[2021-12-02 00:06] jacobio commented on #108
After upgrading to the latest beta, it appears I'm still getting the same error. Here's what's being reporting in my log:

[code]

[2021-12-02 07:16] donavanbecker commented on #97
@smartmatic, finally got my hands on a lightbulb and I have the latest beta closer to a finished product. Still need to tweak some things but you shouldn't be receiving anymore errors.

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.2.6-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github

[2021-12-02 18:15] FranciRoosters opened #126 "Support Request: do you need the SwitchBot hub with this plugin?"
### Describe Your Problem

SwitchBot Hub necessarily requested?

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

N/A

### Node.js Version

14.16.0

### NPM Version

7.6.3

### Homebridge Version

4.41.3

### Homebridge SwitchBot Plugin Version

The latest

### Homebridge Config UI X Plugin Version

_No respons

[2021-12-02 22:36] donavanbecker commented on #126
@FranciRoosters You can use it without a hub, you just don't provide the OpenToken

[2021-12-02 22:46] donavanbecker commented on #97
@smartmatic this should actually be fixed with v1.3.0

[2021-12-03 07:27] smartmatic commented on #97
@donavanbecker I can confirm that the Bulb is now working as expected. I am able to change the color with Home App.
Only thing i observed is that the color should not change to fast. Then it looks like that the API is not able to handle the commands in the right time. Then sometimes the color don't change or it takes a while.

However thank you very much, great work! I really like that Plugin and

[2021-12-03 09:31] jw172 opened #129 "Feature Request: Hide Humidity Sensor from Humidifier"
### Problem

I would like to hide the humidity sensor from my humidifier as I have a more accuarate sensor I'd like to use instead

### Solution

Like the ability to hide the temperature sensor, I'd like to be able to add an entry to the homebridge config hide_humidity=true

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-03 12:26] donavanbecker commented on #97
@smartmatic You could try changing the push rate of the plugin and see if that helps.

[2021-12-03 12:32] #97 closed, assigned to donavanbecker

[2021-12-03 12:36] donavanbecker commented on #129
@jw172, the humidity sensor is a required characteristic needed for HomeKit humidifier accessories. It wouldn’t be possible to hide it.

[2021-12-03 14:41] FranciRoosters commented on #126
Thank you. I appreciate your answer. I’ve read other users saying that the plugin is somewhat unreliable over BLE. Would using the OpenAPI method make it more reliable? Thank you.

[2021-12-03 15:04] donavanbecker commented on #126
You could use both methods if you have a hub, it will try BLE first and if it fails then it will fallback on OpenAPI.

When using OpenAPI, a hub is required for some devices.

[2021-12-03 15:15] FranciRoosters commented on #126
Thanks for getting back to me. I’ll start the configuration of everything tomorrow when I’ll be able to install the SwitchBot curtains on my current rods. I’ve already installed the plugin, but upon installing it I’ve got this. Not really sure what it means as I can still interact with the plugin config page. Will it not work though? Thank you.

[2021-12-03 15:20] FranciRoosters commented on #126
Guess it didn’t paste the screenshot, did it? Here you go:

USER: pi
DIR: /usr/local
CMD: sudo
-E
-n pm install
-g @switchb
ot/homebridge-switchbot@latest
pm WARN EBADENGINE Unsupported engine
{
pm WARN EBADENGINE
package:
"@switchbot/homebridge-switchbot@1.3.0
pm WARN EBADENGINE
required:
{ homebridge: ^1.3.8', node: '^14.18.1^16. 13.0}
pm WARN EBADENGINE
current: { node: 'V14.16.0 npm: nom WARN

[2021-12-03 16:32] donavanbecker commented on #126
@FranciRoosters You just need to update your node version.

[2021-12-03 16:34] FranciRoosters commented on #126
What’s the right sudo command to run in the HB Terminal? Is it safe to execute? I’d rather not mess my setup up. Thank you.

[2021-12-03 16:49] bwp91 commented on #126
Follow these steps here!

https://github.com/homebridge/homebridge/issues/3002#issuecomment-955994607

[2021-12-03 16:51] donavanbecker commented on #126
Thanks @bwp91

[2021-12-03 17:07] FranciRoosters commented on #126
Thank you!

[2021-12-04 09:50] a1dxn opened #130 "Support Request: Platform recording opposite states of bot"
### Describe Your Problem

Platform recording opposite state of bot. Shows On:true when the bot is off, and On:false when the bot is on. Note that bots are switch mode and NOT using inverse direction.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot Bot Model H

### Node.js Version

v16.13.1

### NPM Versio

[2021-12-06 00:17] SeanHama commented on #112
Any suggestions on how to fix this "This is definitely a node-SwitchBot issue, which plugin were you using?"

[2021-12-06 12:49] jhy-dabeeo commented on #43
update 1.3.0 but still got errors

[06/12/2021, 21:48:04] [SwitchBot] Air Conditioner: Air conditioner pushChanges: {"statusCode":190,"body":{},"message":"Cannot read property 'toString' of null"}
[06/12/2021, 21:48:04] [SwitchBot] Air Conditioner: Air conditioner Device internal error due to device states not synchronized with server, Or command: {"statusCode":190,"body":{},"message":"Cannot read

[2021-12-07 05:32] yungsters opened #132 "Feature Request: Auto-Off “Press” SwitchBot"
### Problem

I want to automate a “Press” SwitchBot by turning the projected Light Switch to “On”. However, the automation only works once because after the SwitchBot is turned “On”, it stays “On” until turned off.

### Solution

When a SwitchBot is configured to be in “Press” mode, automatically turn the projected Light Switch back to “Off” immediately. This would enable automations that trigger

[2021-12-07 21:40] Maddin1684 commented on #108
Same issue.
yesterday everything works fine with v1.3.0

Today with 1.3.0 „failed to discover devices“

with latest beta:
`[SwitchBot] Light: RGB failed pushChanges with OpenAPI Connection `

[2021-12-07 21:54] att11 opened #138 "Support Request:"
### Describe Your Problem

Curtains are not visible among homebridge accessories

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

<img width="781" alt="Képernyőfotó 2021-12-07 - 22 37 25" src="https://user-images.githubusercontent.com/75098355/145110128-050e3f03-504a-463b-b61e-95d942af89fe.png">

### Device & Model

SwitchBot Curtain & Hub Mini

##

[2021-12-07 22:52] att11 commented on #138
... and to give it a try, removed the plugin, removed hub mini and reconnected everything again... did not help.

[2021-12-08 00:32] johnnygoodface opened #139 "Bug: failed pushChanges with OpenAPI Connection"
### Describe The Bug

Can't access to any SwitchBot Devices (bot, meter, etc.) from homekit

### To Reproduce

I've reset the hub and both Bot from the Switchbot app and reinstalled everything. Then I set the new token in Homebridge. Still errors below.

### Expected behavior

I should be able to access my switchbot devices

### Relevant log output

[code]

### Config for homebridge-switchbot

[co

[2021-12-08 02:19] johnnygoodface commented on #139
You can close the issue. I needed to configure the "options", like this:
"options": {
                "devices": [
                    {
                        "deviceId": "D00DB4DE8135",
                        "configDeviceType": "Bot",
                        "bot": {
                            "mode": "press",
                            "deviceType": "switch"
                        }

[2021-12-08 02:20] #139 closed, assigned to donavanbecker

[2021-12-08 07:37] anatwo2019 commented on #138
@att11 Please remove your openToken from GitHub as it is confidential

[2021-12-08 07:38] anatwo2019 commented on #138
I have the same issue. The Switchbot integration just stopped working. The error message is the same.

[2021-12-08 07:40] att11 commented on #138
thanks @anatwo2019, token is changed already. any idea where the problem might be? I even tried to use another plugin, did not help

[2021-12-08 07:44] anatwo2019 commented on #138
I have the same issue and no solution. I‘ve already updated everything on my system and reinstalled the plugin. Nothing helped.

[2021-12-08 12:41] komihb commented on #108
Same here. at 1.3.0

[2021-12-08 12:45] Maddin1684 commented on #108
There are server-problems!
 That seems to be the reason why any things don´t work...

`@SwitchBot
·
4 Std.
Connection to the AWS server is back online. However, there are still some delays on the server, or people may be expecting connection issues due to heavy traffic.`

[2021-12-08 16:55] FranciRoosters opened #140 "Feature Request: ability to select device icon within HomeKit if using OpenAPI connection"
### Problem

At present, this is only possible through BLE. With OpenAPI, curtains show as blinds, and not actual curtains.

### Solution

It would be nice to select a different device icon for Curtains if the connection was set up using OpenAPI.

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-08 18:26] donavanbecker commented on #140
@FranciRoosters you can change the icons in HomeKit, if you have light sensors enabled you will have to click on the device icon then click on the Accessories and then click on the curtain icon again and you can change them to one of the following.
![PNG image](https://user-images.githubusercontent.com/9875439/145263232-23a49b87-1613-4cc8-81ef-2a7b32fa8f49.png)

[2021-12-08 18:27] donavanbecker commented on #108
I need more logs the logs I am receiving will not help with looking into this. enable device logging from the config.

[2021-12-08 18:29] donavanbecker commented on #138
This is an issue with AWS. AWS was having issues yesterday.

[2021-12-08 18:29] #138 closed, assigned to donavanbecker

[2021-12-08 18:30] donavanbecker commented on #132
@yungsters, this must be a BLE issue, because this is how it is handled in OpenAPI. I will look into this.

[2021-12-08 18:32] donavanbecker commented on #112
@SeanHama, I will have to look at the old plugin, because I am pulling what the API is sending me and pushing to HomeKit.

[2021-12-08 18:33] yungsters commented on #132
Ah, I see.

Good to know… it sounds like I should get the hub and switch to OpenAPI, haha.

My guess is that OpenAPI automatically signals to turn off the switch, and that this needs to be manually emulated for the BLE integration.

[2021-12-08 18:34] FranciRoosters commented on #140
Hi, thank you for replying. I appreciate it.

Mmm… I’m afraid I didn’t explain myself well. I meant, how do you change the icon of your curtain device on the Home app once you’ve already added it through OpenAPI? I cannot edit my curtain devices in Homebridge since they’re not listed under Optional SwitchBot Device Settings. I’m afraid of touching them since it took me a while to get everything to

[2021-12-08 18:38] FranciRoosters commented on #140
I just realized that somehow the light sensor is enabled because I see the lux sensor in the Home app. Yet, I cannot change the icon.

[2021-12-08 18:56] jacobio commented on #108
I've tried changing the `debug` config option to either `device` or `debug` and it doesn't appear that it has any material effect on what's logged. Here's what the relevant portion of my `config.json` looks like:

[code]

[2021-12-08 22:17] donavanbecker commented on #108
@jacobio Are you using Homebridge UI?

[2021-12-08 22:18] donavanbecker commented on #108
For Bots you need to set the device config settings. I would recommend using Homebridge UI so that it is easier to setup.

[2021-12-09 00:00] jacobio commented on #108
Unfortunately, my system isn't configured to use the UI, and I would prefer to keep it that way. I'll play around with enabling debugging for the device. Thanks!

[2021-12-09 01:33] SeanHama commented on #112
Ok please fix, its making all my Temp sensors and home automation dead. Its a real show stopper.

[2021-12-09 02:15] jacobio commented on #108
I rebuilt my config and now my bots are working. I must have had a syntax error in the SwitchBot config portion.

[2021-12-09 05:36] donavanbecker commented on #132
No I should be able to emulate what I do for the OpenAPI with the BLE connection. Just have to look at what I have set wrong in the code.

[2021-12-10 06:31] tzwada commented on #105
@donavanbecker I switched back to switchbot-ble plugin to avoid this issue. It would be good if this issue will be fixed. Then I'd happy to back to use again.

[2021-12-10 10:03] nmcc1212 commented on #105
i'm using this plugin to avoid this issue

https://github.com/ewebdev/homebridge-switchbot-ble

[2021-12-12 04:01] donavanbecker commented on #108
Awesome!

[2021-12-12 04:01] #108 closed, assigned to donavanbecker

[2021-12-12 07:35] stigyule opened #141 "Bug: TypeError when running 1.3.1-beta.5"
### Describe The Bug

TypeErrors in log when trying to run 1.3.1-beta.5, these prevent the plug-in from running.

### To Reproduce

Use the UI to install 1.3.1-beta.5 as a ‘previous version’ then restart Homebridge

### Expected behavior

The plug-in to run without error.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Mod

[2021-12-12 10:08] donavanbecker commented on #141
Pushed out beta 7, should take care of this.

[2021-12-12 15:57] stigyule commented on #141
I installed beta 9 which was the one available and it is working properly
now.

Thank you for the updates.

Regards,

Graham Adams

On Sun, 12 Dec 2021 at 10:09, Donavan Becker ***@***.***>
wrote:

[2021-12-12 18:27] #141 closed, assigned to donavanbecker

[2021-12-13 04:40] donavanbecker commented on #112
@SeanHama please install the latest beta and let me know if it is fixed now?

[2021-12-13 04:51] SeanHama commented on #112
![Screen Shot 2021-12-13 at 3 49 54 pm](https://user-images.githubusercontent.com/57736130/145754244-51081bca-0f44-414c-8bb8-b44f682c2618.png)
hmmm, no its still "Not working" - the temp showing on the physical meter switch bot is 23.1 degrees celesius, this plugin is showing over 30degrees (which is incorrect)

[2021-12-13 04:52] donavanbecker commented on #112
I am seeing that exact results as I am with the SwitchBot app, so not experiencing the same thing.

@, can you try the newest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.3.1-beta.12/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-V

[2021-12-13 05:00] SeanHama commented on #112
No 1.3.1.-beta.12 still not working - Ive restart that plugin also after upgrading.

Does my switchbot meter firmware need upgrading (I'm on v2.6)?

This is my HB config.
[code]

[2021-12-13 05:02] SeanHama commented on #112
Could there be a caching issue with this plugin and HB?

[2021-12-13 05:08] SeanHama commented on #112
![Screen Shot 2021-12-13 at 4 05 43 pm](https://user-images.githubusercontent.com/57736130/145755548-5e35f9c9-7f0c-42ae-8e34-7e0abb345981.png)
 I installed beta13 and this is appearing.

Here is the log
![Screen Shot 2021-12-13 at 4 08 23 pm](https://user-images.githubusercontent.com/57736130/145755696-73a9815b-74b8-48ca-bfca-fc36098cb24d.png)

[2021-12-13 10:39] 618116 commented on #43
Tried 1.3.1-beta1 13. Not fixed.

Log from HomeBridge:
`[12/13/2021, 7:38:27 PM] [SwitchBot] [DEBUG] Air Conditioner: エアコン pushChanges: [object Object]
[12/13/2021, 7:38:27 PM] [SwitchBot] [DEBUG] Air Conditioner: エアコン Unknown statusCode.
[12/13/2021, 7:38:27 PM] [@switchbot/homebridge-switchbot] This plugin generated a warning from the characteristic 'Active': characteristic was supplied illegal

[2021-12-13 14:19] donavanbecker commented on #140
I guess I am not sure what you mean then by changing icon. You can change settings on devices, by going to the devices tab and finding the curtain from the drop down, then copy deviceID and Add it to the Optional SwitchBot Device settings.

[2021-12-13 14:36] donavanbecker commented on #112
Firmware is the newest, I wonder if you need to calibrate your meter. Because I am not experiencing this. I will try to emulate this by doing BLE only mode.

[2021-12-13 14:38] donavanbecker commented on #112
This happens when you don't receive a connection.

[2021-12-15 00:15] SeanHama commented on #112
Just incase - this is what is showing in Homekit for the switchbot meter.
Not responding.

On Tue, Dec 14, 2021 at 1:38 AM Donavan Becker ***@***.***>
wrote:

[2021-12-15 03:26] yokouchi86 opened #146 "Bug: Only 1 BLE could response at anytime using raspberry pi 4 BLE connection"
### Describe The Bug

If I created a group of curtains that using BLE connection, a single press of the icon will only trigger a single BLE connected device

### To Reproduce

as describe in bug

### Expected behavior

the group of curtains connected with BLE should be trigger tofether

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

##

[2021-12-15 11:02] donavanbecker commented on #146
@yokouchi86 Are these grouped together in the SwitchBot app?

[2021-12-15 11:15] yokouchi86 commented on #146
@donavanbecker nope, I need it to be independently open sometime, so the grouping is only done in home app

[2021-12-16 06:29] SeanHama commented on #112
How did you go testing the BLE version?

[2021-12-18 04:30] y-mamanaranu commented on #43
I have the same problem with 1.4.0 and get the logs below.
It seems this plugin push `[temperture, 1, 1, on]` regardless of `HeaterCoolerState`, which I set in the UI.
The second paramter indicate `HeaterCoolerState`: https://github.com/OpenWonderLabs/SwitchBotAPI.
All error logs shown in this thread also push the parameters with the same form above.

[code]

I also tested the native SwitchBot API

[2021-12-19 10:32] kylewhirl opened #150 "Bug:"
### Describe The Bug

Curtains say 1% open even though they are fully closed

### To Reproduce

Not sure, it’s never worked for me. My curtains always say 1% open when trying to close them

### Expected behavior

They should be closed instead of 1% open

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot Curta

[2021-12-19 11:10] 618116 commented on #150
Does SwitchBot app show same 1%? If so, it is not a bug and due to your curtains physical tension.

[2021-12-19 11:28] DerTiger1 opened #151 "Bug: npm ERR! code 1"
### Describe The Bug

Update or new installtion not possible see messages

### To Reproduce

update on RasbPi fails, same issue on new installation on synolog NAS

### Expected behavior

succesfull update

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

RasbPi 3 / Synology DS220+

### Node.js Version

v16.13.1

### N

[2021-12-19 12:05] donavanbecker commented on #150
@kylewhirl, @618116 is right, if your SwitchBot shows at all a little open, then that is what the API is showing. You can set the curtain min and max for each deviceid by inputting the deviceid of each of your curtains in the SwitchBot device settings and then putting like 10 and 90 and then the curtain will state that it is closed/open if it is 10 or lower or 90 or higher.

[2021-12-19 12:09] raphaelmsr commented on #105
So are we doomed into switching to homebridge-switchbot even if we only use BLE ?
My plugin keeps on asking the openToken but I don't need it ... Any ideas ?
How to reinstall homebridge-switchbot-ble?

[2021-12-19 12:15] donavanbecker commented on #105
First, This plugin works in BLE only mode, I haven't had time to look at this issue yet, but hopefully will soon. Second, the plugin shouldn't be asking for the openToken on the latest version, because of the BLE only mode.

[2021-12-19 12:20] raphaelmsr commented on #105
The documentation is a bit opaque tbh; how do I activate the BLE only mode ?

[2021-12-19 12:33] donavanbecker commented on #105
Input deviceid and device name into SwitchBot device setting

[2021-12-19 12:37] raphaelmsr commented on #105
I am not using the Homebridge UI I have Hoobs installed
somehow the settings for the device does not recognise the "add devices" entry

I am setting up manually in the Advanced tab

this is how it looks right now
`{
    "platform": "SwitchBot",
    "name": "SwitchBot",
    "credentials": {
        "notice": "Keep your token a secret!"
    },
    "options": {
        "devices": [
            {

[2021-12-19 15:45] donavanbecker commented on #105
@raphaelmsr That would be a HOOBs issue as I use Homebridge Plugin UI.

Either[ move to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

Or ask HOOBs to support the UI

[2021-12-19 16:24] raphaelmsr commented on #105
Cant you just tell me how to configure it JSON wise please? … there is very little documentation I am used to Homebridge UI, Hoobs, Homebridge without UI, theres always a way to configure it with the key value objects

[2021-12-19 16:41] donavanbecker commented on #105
@raphaelmsr, [Configuration Wiki](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Configuration)

[2021-12-19 19:15] kylewhirl commented on #150
No. The switchbot app shows them as fully closed

[2021-12-19 19:58] donavanbecker commented on #150
@kylewhirl Did you set the min and max?

[2021-12-19 20:09] kylewhirl commented on #150
Yeah I set them. I can set them again to potentially fix the issue

Kyle Worrall

[2021-12-19 22:18] raphaelmsr commented on #105
Thanks! Still no luck though, very weird

[2021-12-19 23:04] SeanHama commented on #112
I found a workaround for this (I think initial bug still needs fixing). I held onto the reset button on the meter on the back and repair it after restarting the plugin and it works.

[2021-12-19 23:04] #112 closed, assigned to donavanbecker

[2021-12-20 00:12] donavanbecker commented on #112
@SeanHama Awesome. If someone reports again, I will look further

[2021-12-20 13:28] #129 closed, assigned to donavanbecker

[2021-12-20 17:29] #126 closed, assigned to donavanbecker

[2021-12-21 21:03] shiienurm opened #156 "Bug: SwitchBot Bot failed pushChanges with OpenAPI Connection"
### Describe The Bug

SwitchBot Bot is not working via API. All other SwitchBot devices working correctly. The Bot is set to "Press Mode".

### To Reproduce

1. Opened Home app 2. Tapped on the switch 3. No response

### Expected behavior

The switch should toggle.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

htt

[2021-12-21 21:08] #156 closed, assigned to donavanbecker

[2021-12-22 00:12] donavanbecker commented on #156
Need to set device config for the bot

[2021-12-25 14:17] M-Whitaker opened #159 "Bug: BLE Connection Raspberry Pi4 Not working"
### Describe The Bug

Switch displays as "no response" in home app. Not actually triggering device

### To Reproduce

Setup as README BLE connection

### Expected behavior

Press in home app and switchbot presses

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

No screenshots, I assume this is just me reading the README wrong...

### Device & Model

S

[2021-12-25 14:30] M-Whitaker commented on #159
**Fixed**. For anyone seeing the same behaviour, I had to make my MAC address without the colon separators e.g:

F0:F0:0F:00:0F:0F -> F0F00F000F0F

[2021-12-25 14:30] #159 closed, assigned to donavanbecker

[2021-12-26 15:33] benjaminbogdanovic opened #160 "Bug: Curtains failing to open/close via BLE"
### Describe The Bug

Curtains report status correctly, but do not open or close when operated through home app. Perhaps Bluetooth does not initialise quickly enough before the request is sent?

### To Reproduce

Attempt to open/close curtains through Home app

### Expected behavior

Curtains to open/close

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screensho

[2021-12-27 05:53] donavanbecker commented on #43
Thanks @y-muen!!! I have implemented this into that last beta. This should fix mostly everything.

@ilhuafbds @618116 @hughfr4nc15 @jhy-dabeeo, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.4.1-beta.6/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWon

[2021-12-27 06:22] donavanbecker commented on #150
Duplicate of #123

Closing, follow that issue for updates.

[2021-12-27 06:22] #150 closed, assigned to donavanbecker

[2021-12-27 06:28] donavanbecker commented on #43
Thanks @y-muen!!! I have implemented this into that last beta. This should fix mostly everything.

Released v1.5.0, which fixes this issue, so closing issue. If other issues come up with Air Conditioner, please open new issue.

[2021-12-27 06:28] #43 closed, assigned to donavanbecker

[2021-12-27 15:05] PBXLthrMan opened #162 "Bug: HOOBS: Warning plugin site unavailable and the plugin installation fails"
### Describe The Bug

I'm trying to install the certified HOOBS Plugin SwitchBot and I keep getting Warning plugin site unavailable and the plugin installation fails.

### To Reproduce

Launch HOOBS. Go into Plugins. Search for SwitchBot. Click SwitchBot (Certified). Click install

### Expected behavior

A successful installation

### Relevant log output

[code]

### Config for homebridge-switchbo

[2021-12-27 15:09] donavanbecker commented on #162
This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-12-27 15:29] frimar75 opened #163 "Bug:"
### Describe The Bug

Doesn't update

### To Reproduce

sudo -E -n npm install -g @switchbot/homebridge-switchbot@latest

### Expected behavior

successful installation

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Rapsberry pi 3b+

### Node.js Version

v16.13.1

### NPM Version

v8.3.0

### Homebridge Version

v1

[2021-12-27 15:39] donavanbecker commented on #163
Did you follow the installation instructions?

[2021-12-27 15:45] zeroecho commented on #140
I didn't know you could change this, this is awesome! Working great for me and I'm using OpenAPI and have the lux sensor enabled still

[2021-12-27 15:49] #140 closed, assigned to donavanbecker

[2021-12-27 16:12] frimar75 commented on #163
Hi,

I already used the plugin in the first version, switched to your version and it always worked without issues, this ist the first time, it refuses to update.  ;)

[2021-12-27 16:12] zeroecho opened #164 "Bug: Contact Sensor talks about Curtain Light + Motion Sensor"
### Describe The Bug

When setting up a contact sensor it provides parameters for Curtain Light and Curtain Motion Sensor

### To Reproduce

Click Add device, pick Device Type "Contact Sensor"

### Expected behavior

Contact Sensor has Enter, Exit, Motion Sensor and Light Sensor, drop the word Curtain, add the Exit/Enter conditions as switches if possible?

### Relevant log output

[code]

### Con

[2021-12-28 05:38] donavanbecker commented on #164
this is fixed in the latest beta, and will be fixed in the next release.

[2021-12-28 05:38] #164 closed, assigned to donavanbecker

[2021-12-28 05:39] donavanbecker commented on #151
any update @DerTiger1?

[2021-12-28 05:39] donavanbecker commented on #163
Duplicate of #151

[2021-12-28 05:39] #163 closed, assigned to donavanbecker

[2021-12-28 06:01] donavanbecker commented on #124
I have add this option into the latest beta if you can give it a try. Currently it is for all push changes where it will push the change twice.

[2021-12-28 10:58] 618116 opened #165 "Feature Request: Show ON/OFF status of controlled device by "press" mode Switchbot"
### Problem

Currently ON/OFF status of Switchbot in Home app represents status of Switchbot itself. Therefore when I turn on Switchbot which is "press" mode, it goes to OFF status by itself. However controlled device remains turned On, because it is only pressed once.

### Solution

I hope there is an option to change On/Off status by one turning on/off cycle of Switchbot itself. It will represen

[2021-12-28 12:54] GcoGr opened #166 "Feature Request: Add support for Bot password"
### Problem

My Switchbot bots don't move. I guess it's because I've set a password for each bot

### Solution

In the plugin configuration you should be able to set up the password for each bot

### Alternatives

Maybe the plugin could manage just one bot, then I would install multiple instances of the plugin, one for each bot?

### Additional context

If you don't set a password for the bots, it

[2021-12-28 13:32] donavanbecker commented on #166
Would have to wait for OpenAPI or BLEAPI (node-switchbot) to support this.

[2021-12-28 14:35] DerTiger1 commented on #151
[2021-12-29T11_13_14_274Z-debug.log](https://github.com/OpenWonderLabs/homebridge-switchbot/files/7788562/2021-12-29T11_13_14_274Z-debug.log)
@donavanbecker, tested with 1.5 - still the same issue.
Edit 211229: It worked with an earlier npm version: npm 7.24.2
see: [https://forum.smartapfel.de/forum/thread/9091-npm-err-gyp-err-find-python-is-not-set-from-command-line-or-npm-configuration/](url)

[2021-12-28 16:04] yokouchi86 opened #170 "Bug: min/max status not working"
### Describe The Bug

Min max has no effect to the open/close status

### To Reproduce

Set a min of 10% to indicate closing status and set less than 10% opening, it will continue showing opening in homekit

### Expected behavior

It should show close if it is less than 10% opening

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

Not sure if my unders

[2021-12-30 15:57] wilLTes21 opened #172 "Bug: Reboot causes No Device Type Set Error"
### Describe The Bug

When rebooting the Homebridge UI on a RPI4, the 1st reboot appears to have an issue where the Device Type set is not seen by the plugin, once going into the Apple Home app, then coming back and doing a 2nd reboot, it corrects itself.

### To Reproduce

Reboot the RPI

### Expected behavior

Reboot does not cause error

### Relevant log output

[code]

### Config for homebridg

[2021-12-30 16:51] donavanbecker commented on #172
Should be fixed in latest beta

[2021-12-30 18:55] PBXLthrMan opened #173 "Bug: SwitchBots Not Triggering in Home App"
### Describe The Bug

I installed the Plug-In, Verified my Token, Verified My Accessories in Homebridge as well as in the Home app. They aren't triggering via the Home App. But still work via the SwitchBot app. Verified Cloud Services are active in app and devices are connected. Rebooted hub mini, same results - not triggering.

### To Reproduce

Install SwitchBot Plugin, Configure Token, Try to e

[2021-12-30 21:16] wilLTes21 commented on #172
This is working properly now with latest beta. Thank you.

[2021-12-30 21:16] #172 closed, assigned to donavanbecker

[2021-12-31 01:33] prophet42 opened #174 "Bug: Bot failed pushChanges with BLE Connection"
### Describe Your Problem

Hi. When I try and use Homebridge-Switchbot plugin I get a "Bot failed pushChanges with BLE Connection" error. The Bot button appears in my accessories but it does not do anything. I do not have a hub. Thanks in advance!

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot Bot

### No

[2021-12-31 01:59] donavanbecker commented on #174
Don't put the colons in your deviceID

[2021-12-31 02:04] prophet42 commented on #174
Thanks, but the same error without the colons.

[12/30/2021, 6:02:49 PM] [SwitchBot] Bot: Bot On: false
[12/30/2021, 6:03:03 PM] [SwitchBot] Bot: Bot On: true
[12/30/2021, 6:03:03 PM] [SwitchBot] Bot: Bot failed pushChanges with BLE Connection

[2021-12-31 02:06] donavanbecker commented on #174
Can you post updated config?

Also what version of macOS? And have you followed the prerequisites for noble?

[2021-12-31 02:10] prophet42 commented on #174
Sure. It's macOS 10.15.7. The prerequisites for macOS appear to be to install Xcode (bluetooth isn't in security on Catalina). Is that correct?

{
    "name": "SwitchBot",
    "credentials": {
        "notice": "Keep your token a secret!"
    },
    "options": {
        "devices": [
            {
                "deviceId": "XXXXXXXXXXXX",
                "configDeviceName": "Bot",

[2021-12-31 02:29] donavanbecker commented on #174
Can you update to the latest beta, then enable debug mode and send more logs

[2021-12-31 02:37] prophet42 commented on #174
Beta installed. Here are the debug logs. Thanks again!

[12/30/2021, 6:32:04 PM] [SwitchBot] [DEBUG] Bot: Bot On: false
[12/30/2021, 6:32:04 PM] [SwitchBot] [DEBUG] Bot: Bot BLE pushChanges
[12/30/2021, 6:32:04 PM] [SwitchBot] [DEBUG] Bot: Bot BLE Address: XX:XX:XX:XX:XX:XX
[12/30/2021, 6:32:04 PM] [SwitchBot] [DEBUG] Bot: Bot Press Mode: switch
[12/30/2021, 6:32:04 PM] [SwitchBot] Bot: Bot On: fa

[2021-12-31 02:44] donavanbecker commented on #174
Looking at these logs it looks like it connected.

[2021-12-31 02:50] prophet42 commented on #174
Yes, I was thinking that too. But I still can't control it. Logs from when I push the button:

[12/30/2021, 6:49:42 PM] [SwitchBot] Bot: Bot failed pushChanges with BLE Connection
[12/30/2021, 6:49:42 PM] [SwitchBot] Bot: Bot failed pushChanges with BLE Connection, Error Message: "Now connecting. Wait for a few seconds then try again."
[12/30/2021, 6:49:47 PM] [SwitchBot] [DEBUG] Bot: Bot BLE refr

[2021-12-31 02:58] prophet42 commented on #174
I notice the state it loads the switch in is incorrect. The accessory shows as "on" but the bot is in the off position. Also, when I hit the button in Homebridge the button switches to off, but after a few moments it turns itself back on. Here are the logs around when that happens:

[12/30/2021, 6:54:54 PM] [SwitchBot] [DEBUG] Bot: Bot updateCharacteristic On: true
[12/30/2021, 6:54:54 PM] [Switch

[2021-12-31 04:25] yokouchi86 commented on #173
[30/12/2021, 12:38:00] [SwitchBot] Bot: Exhaust Fan failed pushChanges with OpenAPI Connection

@PBXLthrMan Based on my experience, your switchbot hub is too far from your exhaust fan bot? As far as I understand, this plugin if using open API talked to your hub while your hub will BLE your bot. If you use switchbot app, are you standing beside your bot? as switchbot app directly connect using BLE

[2021-12-31 06:59] donavanbecker commented on #174
@prophet42, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.5.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-31 07:00] donavanbecker commented on #173
@yokouchi86, nope this plugin can work without a hub. just have to enable BLE connection.

[2021-12-31 07:01] donavanbecker commented on #173
@PBXLthrMan, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.5.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-31 07:02] donavanbecker commented on #165
@618116, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.5.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-31 07:02] donavanbecker commented on #132
@yungsters, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.5.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-31 07:03] donavanbecker commented on #130
@a1dxn, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.5.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-31 07:04] donavanbecker commented on #105
@tzwada and @raphaelmsr, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.5.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-31 07:07] donavanbecker commented on #170
Duplicate of #123

[2021-12-31 07:07] #170 closed, assigned to donavanbecker

[2021-12-31 07:23] yungsters commented on #132
Awesome! I am traveling and not able to test this out until next Wednesday, but I will definitely try the beta out as soon as I can.

[2021-12-31 11:51] 618116 commented on #165
Tried Beta, but it seems doesn't work. Am I missing an option?

[2021-12-31 12:26] donavanbecker commented on #165
Can you post your config?

Also take a look at the [Configuration](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Configuration) wiki page.

[2021-12-31 16:14] prophet42 commented on #174
Hi. I already updated to the beta. You asked me to previously. Cheers.

Matt
On Dec 30, 2021, 10:59 PM -0800, Donavan Becker ***@***.***>, wrote:

[2021-12-31 16:29] donavanbecker commented on #174
@prophet42 Yes, but I pushed a new beta out.

[2021-12-31 16:37] prophet42 commented on #174
Oh, sorry. I misread your message and thought it said "beta.3" not "5". I've updated now. The bot now loads as "off" in accessories but I still can't control it. Thanks for all your help!

[12/31/2021, 8:32:31 AM] [SwitchBot] [DEBUG] Bot: Bot On: true
[12/31/2021, 8:32:31 AM] [SwitchBot] [DEBUG] Bot: Bot BLE pushChanges
[12/31/2021, 8:32:31 AM] [SwitchBot] [DEBUG] Bot: Bot BLE Address: XX:XX:XX:XX

[2021-12-31 19:10] donavanbecker commented on #174
Try controlling more then once. Push fails when doing refresh at the same time.

[2021-12-31 19:22] prophet42 commented on #174
I am not sure what you mean by try controlling more than once. Press the virtual button in Homebridge more than once? I've pressed it repeatedly. Here are the logs:

12/31/2021, 11:21:18 AM] [SwitchBot] Bot: Bot On: false
[12/31/2021, 11:21:18 AM] [SwitchBot] Bot: Bot failed pushChanges with BLE Connection
[12/31/2021, 11:21:18 AM] [SwitchBot] Bot: Bot failed pushChanges with BLE Connection, Error

[2021-12-31 19:56] PBXLthrMan commented on #173
Doing that now. Thanks @donavanbecker !

[2021-12-31 20:58] PBXLthrMan commented on #173
No go @donavanbecker

[31/12/2021, 14:55:31] [Homebridge UI] Running Command: sudo -E -n npm install -g @switchbot/homebridge-switchbot@1.5.1-beta.5
[31/12/2021, 15:50:06] [Homebridge UI] Running Command: sudo -E -n npm install -g @switchbot/homebridge-switchbot@1.5.1-beta.5
[31/12/2021, 15:52:29] [Homebridge UI] [@switchbot/homebridge-switchbot] Terminating child process...
[31/12/2021, 15:52:29]

[2021-12-31 21:37] donavanbecker commented on #173
Is this still your current config? if so you need to set if your Bot is `switch` or `press` in the SwitchBot device settings

[2021-12-31 21:57] PBXLthrMan commented on #173
I believe it is @donavanbecker , I have one of each setting, both of them are not triggering (see attached).

<a><img src="https://user-images.githubusercontent.com/90646855/147839759-3f4674b5-ef47-4103-b145-2f182ac6de94.PNG" width="250px"></a>

[2021-12-31 22:22] donavanbecker commented on #173
@PBXLthrMan, you need to set the Bot Mode in the SwitchBot Device Settings.

I just release Version 1.6.0. This will now default the mode to switch mode, but you may experience issues. So your Exhaust Fan will default as a switch mode Bot till you set this in the SwitchBot Device Settings in the Plugin Settings.

[2021-12-31 22:24] PBXLthrMan commented on #173
@donavanbecker Installing now, and I will try setting the device setting.

[2021-12-31 22:59] PBXLthrMan commented on #173
@donavanbecker , sorry, not trying to be dense. But when I go into Device Settings in the Plugin, I am not seeing an option to change the variables?
<img width="500" alt="Screen Shot 2021-12-31 at 5 59 43 PM" src="https://user-images.githubusercontent.com/90646855/147840734-14d1b0a5-2eff-4220-8d6f-98133cc4b731.png">

[2021-12-31 23:11] PBXLthrMan commented on #173
Nevermind, I figured out what I BELIEVE what I need to do. Thanks @donavanbecker . I'll let you know how it goes.

[2021-12-31 23:12] donavanbecker commented on #173
That is not the device settings. That is just the devices the plugin has found.

Go to the Settings Tab, the SwitchBot Device Settings.

[2021-12-31 23:15] PBXLthrMan commented on #173
@donavanbecker

 "name": "SwitchBot",
            "credentials": {
                "openToken": "XXXX",
                "notice": "Keep your token a secret!"
            },
            "options": {
                "devices": [
                    {
                        "deviceId": "EEED2A29E119",
                        "configDeviceType": "Meter",
                        "ble": false

[2021-12-31 23:17] donavanbecker commented on #173
Looks good 👍

[2022-01-01 00:02] PBXLthrMan commented on #173
Something is clearly not well, I've rebooted the server as well as restarted the UI a few times @donavanbecker :

[31/12/2021, 18:58:28] Homebridge v1.3.9 (HAP v0.9.8) (Homebridge 48BA) is running on port 51875.
[31/12/2021, 18:58:37] [Homebridge UI] [npm] Failed to check registry.npmjs.org for updates: "timeout of 10000ms exceeded" - see https://git.io/JJSz6 for help.
[31/12/2021, 18:58:37] [Home

[2022-01-01 01:38] donavanbecker commented on #173
Looks like a router issue.

[2022-01-01 01:52] avinin1 opened #178 "Bug: TV function - ON/OFF, but no Volumes control"
### Describe The Bug

After adding the TV function, there is only option to turn on/off, with no options to increase or decrease the volume

### To Reproduce

Just add the TV IR controller into the plugin config and look for the Volume buttons

### Expected behavior

'Supported Devices' page says: "TV Allows for On/Off and Volume Controls"

### Relevant log output

[code]

### Config for homebridg

[2022-01-01 01:54] PBXLthrMan commented on #173
@donavanbecker Of course. Confirmed. Trying to get my network back now.

[2022-01-01 02:21] PBXLthrMan commented on #173
@donavanbecker Success!! Thank you!

[31/12/2021, 21:18:00] [SwitchBot] Bot: Carport Sending request to SwitchBot API. command: turnOff, parameter: default, commandType: command
[31/12/2021, 21:18:16] [SwitchBot] Bot: Carport Sending request to SwitchBot API. command: turnOn, parameter: default, commandType: command

[2022-01-01 03:41] donavanbecker commented on #178
@avinin1 volume control is only available in the Control Center Remote, using your iOS devices volume button when control the TV from the CC Remote.

[2022-01-01 03:42] donavanbecker commented on #173
Carport is working, is Exhaust Fan working as well?

[2022-01-01 03:52] PBXLthrMan commented on #173
Yes. It is. Lightning fast too! @donavanbecker

[2022-01-01 04:17] #173 closed, assigned to donavanbecker

[2022-01-01 04:17] donavanbecker commented on #173
Awesome, Good to Hear!

[2022-01-01 12:57] 618116 commented on #165
I'm not sure it is expected behavior, when I set to "Switch mode" in the HomeBridge plugin, It works as I want: doing a On/Off cycle by one touch in Home app, and Home app status changes only once by one touch.
By the way, in SwitchBot app the Bot is still set as "Press mode".

[2022-01-01 17:59] FranciRoosters opened #179 "Bot showing as door opener?"
### Describe Your Problem

Planning to buy a SwitchBot bot to automate my building’s main door. Can I set the bot to show as a door so Siri understands me when I say “unlock main door”? Thank you!

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

N/A

### Node.js Version

N/A

### NPM Version

N/A

### H

[2022-01-01 18:18] donavanbecker commented on #179
I could try, but there are some characteristics that are required that make this hard.

[2022-01-01 18:19] donavanbecker commented on #165
Yes, because you need to set it to match the SwitchBot App. So I would set it to Press mode in the plugin settings.

[2022-01-01 19:02] FranciRoosters commented on #179
It would be a nice feature for those who rent and have intercoms. I’ll set up a Siri shortcut in the meantime.

[2022-01-01 20:51] kylewhirl commented on #150
How do I do this? At first I thought this was just recalibrating the switchbot but I understand it’s not now. Is this in the Homebridge config or switchbot app?

[2022-01-02 00:33] lotfielhafi commented on #151
I have the exact same issue with a fresh install on my Synology NAS DS716+II (Intel Celeron) on DSM 7.0.1-42218 with the Synology Homebridge package (https://github.com/oznu/homebridge-syno-spk#how-to-install) and Node.js v16.13.1 / Npm v6.14.11.

[code]

[2022-01-02 01:13] donavanbecker commented on #151
This is a noble issue, you must install perquisites first

[2022-01-02 02:50] 618116 commented on #165
Press mode still doesn't work as expected. The Home app status still shows status of SwitchBot; when I touch SwitchBot in the Home app, it turns on and off by itself. What I want to suggest is switch mode like on/off status when in the press mode.

Log from HomeBridge plugin and current setting are below.

<img width="690" alt="スクリーンショット 2022-01-02 11 45 00" src="https://user-images.githubusercont

[2022-01-02 02:52] donavanbecker commented on #165
Press will always go on and then off.

[2022-01-02 03:12] lotfielhafi commented on #151
@donavanbecker thank you for your response.

I thought that `noble` was not required if I only wanted to use the OpenAPI.
Since I prefer to avoid installing `noble` directly on my NAS, I will test on a separate Raspberry Pi.

[2022-01-02 03:14] donavanbecker commented on #151
@lotfielhafi I have it as a required dependency, right now.

[2022-01-02 03:17] 618116 commented on #165
I know it is current behavior. I just suggest there is an option.

[2022-01-02 04:15] donavanbecker commented on #165
That is what Switch mode is for.

[2022-01-02 07:44] lotfielhafi commented on #151
I confirm that the installation works on a Raspberry Pi 3 B 4GB using the latest Homebride image (https://github.com/homebridge/homebridge-raspbian-image/wiki/Getting-Started).

[2022-01-02 19:44] donavanbecker commented on #151
okay I am making `node-switchbot` an optionalDependencies which is why `@abandonware/noble` is trying to install, but then BLE will not work if you can't get node-switchbot installed.

[2022-01-02 19:59] oleksiikutuzov commented on #105
@donavanbecker seems to be fixed in v1.5.1-beta.5. Bot keeps its off state.

[2022-01-02 21:49] #105 closed, assigned to donavanbecker

[2022-01-02 21:51] donavanbecker commented on #151
v1.6.1 has been released which will fix this, but will not allow BLE connection, since node-switchbot will not install.

[2022-01-02 22:10] frimar75 commented on #151
Now the update worked, but after restart :

====================
[2.1.2022, 23:07:12] ERROR LOADING PLUGIN @switchbot/homebridge-switchbot:
[2.1.2022, 23:07:12] Error: Cannot find module 'node-switchbot'
Require stack:
- /usr/lib/node_modules/@switchbot/homebridge-switchbot/dist/devices/bots.js
- /usr/lib/node_modules/@switchbot/homebridge-switchbot/dist/platform.js
- /usr/lib/node_modules/@switch

[2022-01-03 02:47] donavanbecker commented on #151
@frimar75, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.6.2-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-01-03 06:00] frimar75 commented on #151
Tried it, updated and homebridge restarted without any issues, so it seems to work. Thumbs up, thank you.

[2022-01-03 15:16] DerTiger1 commented on #151
I can confirm it - it's working here too with 1.6.2 . Many thanks !!!

[2022-01-03 16:17] donavanbecker commented on #151
@frimar75 and @DerTiger1, can you test the latest beta? I have made another change and want to make sure this is still working?

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.6.2-beta.1/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2022-01-03 16:23] frimar75 commented on #151
Just installed it and as far as it belongs to installation and Homebridge restart, everything looks good, no issues, so far. In HomeKit it also seems to be working...

[2022-01-03 16:39] donavanbecker commented on #151
Thanks, when I get time I will push out an update.

[2022-01-03 16:43] donavanbecker commented on #151
@frimar75 Can you try one more thing for me? Set up a device in the SwitchBot config and select the BLE as if you were going to enable BLE for that specific device and see if you get any issues, besides a log that says not able to connect with BLE.

Like any homebridge restarts?

[2022-01-03 16:52] frimar75 commented on #151
![image](https://user-images.githubusercontent.com/66782016/147957245-b5bd95fc-1a22-429f-8eda-ec51f646e397.jpeg)

The only thing that pops up, after the restart, is a short note about a missing "config section"...

[2022-01-03 16:53] frimar75 commented on #151
But besides that, the plug-in starts normal...

[2022-01-03 16:55] donavanbecker commented on #151
You will have to set the device type to Bot then that should got away. Then report back again, please.

[2022-01-03 16:56] frimar75 commented on #151
When removing BLE again the message doesn't show up on restart...

[2022-01-03 16:58] frimar75 commented on #151
Yes I can confirm that, after setting Type to bot the message doesn't show up again...

[2022-01-03 17:01] frimar75 commented on #151
But...

![image](https://user-images.githubusercontent.com/66782016/147958236-48d46c2c-87c1-4f40-8eef-8b7aa60841c3.jpeg)

[2022-01-03 17:02] frimar75 commented on #151
The bridge restarts over and over again...

[2022-01-03 17:58] donavanbecker commented on #151
This is what I needed!! Thanks. I will fix this. Then can you test again?

[2022-01-03 18:09] frimar75 commented on #151
Of course 👍

I'm glad, being able to help you.

[2022-01-03 18:52] donavanbecker commented on #151
okay last test. I just pushed a new beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.6.2-beta.2/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2022-01-03 19:01] frimar75 commented on #151
Okay, just this short message ...
![image](https://user-images.githubusercontent.com/66782016/147968988-d2616c89-01fb-44f0-842f-e2bd8aeac03e.jpeg)

Bridge works👍

[2022-01-03 19:01] donavanbecker commented on #151
This is exactly what I needed to finish this up! Thanks @frimar75!

[2022-01-03 19:04] donavanbecker commented on #151
v1.6.2 has been released.

[2022-01-03 19:04] #151 closed, assigned to donavanbecker

[2022-01-03 22:23] donavanbecker commented on #179
@FranciRoosters, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.6.4-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

I have added the option of deviceType garage door

[2022-01-03 22:28] FranciRoosters commented on #179
Thank you. I appreciate your work. Could you also add the simple door icon? That’s what I’d really need as I don’t own a garage.

[2022-01-03 23:16] donavanbecker commented on #179
@FranciRoosters, ok let's try the next beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.6.4-beta.2/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2022-01-04 07:28] FranciRoosters commented on #179
Sweet. That was fast, thank you. Will report back in a couple of days. 🙂

[2022-01-04 08:17] 618116 commented on #165
As I understand, Switch mode doesn't have on/off cycle of SwitchBot bot device, does it?
My controlled device have simple power button, so I want to use my Bot as press mode; And check controlled device's on/off status in Home app, not status of Bot itself.

[2022-01-04 08:19] 618116 commented on #165
So it seems it is an opposite situation of #132.

[2022-01-04 14:02] FranciRoosters commented on #179
So, after a bit of testing with both door types (Garage Door and Door), the bot responds fine to the Garage Door icon but is unresponsive to the Door icon. I wonder if that’s something that is natively supported by HomeKit since all I’ve ever seen spinning (Opening…) while unlocking are either Garage Doors indeed or actual Locks. Maybe, if it’s not too much of a hassle, you could try fixing things

[2022-01-04 14:31] donavanbecker commented on #179
I am also having issues with the door after testing.

Let's do both, when I get time I will try to fix the door and add the lock.

[2022-01-04 14:32] FranciRoosters commented on #179
Brilliant! Thank you.

[2022-01-04 18:44] GcoGr commented on #166
After updating today to plugin 1.6.3, the 2 bots are responding. One of them still has a password, and I had removed the password from the second one, but none of them worked with the previous version of the plugin I had. Thank you for the fix.
They show up in Homekit as electric outlets, I wonder if they could show up as something like a "button" to press. I guess this is not the right place, so

[2022-01-04 19:42] donavanbecker commented on #166
@GcoGr I didn't chandeliers anything so must be something on the SwitchBot side.

As for displaying it different, HomeKit has stateless buttons that are only really for automations, so would be practical in this situation.

I can potentially do other device types that HomeKit allows though. Like recently I added garage door and door as options in the latest beta.

[2022-01-05 03:41] donavanbecker commented on #179
Just added Lock, I haven't been able to improve door yet.

[2022-01-05 06:18] FranciRoosters commented on #179
Lock works like a charm, thank you so much! It even makes more sense to show as a Lock given my circumstances. This will make a lot of sense for those who, like me, will want to use a SwitchBot to unlock a building’s front door using their apartment’s intercom. Again, thanks a lot for your contribution!

[2022-01-05 13:00] donavanbecker commented on #179
@FranciRoosters would you retest Door again? I pushed a fix.

[2022-01-05 13:02] FranciRoosters commented on #179
Will do and report back.

[2022-01-05 13:07] FranciRoosters commented on #179
Works great. Awesome job! Thank you again!

[2022-01-05 13:25] donavanbecker commented on #179
Perfect! I will post a new release soon.

[2022-01-05 13:26] donavanbecker commented on #179
Might add other device types while I'm at it as well. Ha

[2022-01-05 13:28] donavanbecker commented on #165
@618116 Can you just set it as mode switch in homebridge. And it will work as you are wanting?

I guess I could change the mode from `switch` and `press` to stateless or not? Or just define that press is stateless.

[2022-01-05 22:57] donavanbecker commented on #179
v1.7.0 has been released.

[2022-01-05 22:57] #179 closed, assigned to donavanbecker

[2022-01-06 05:40] yungsters commented on #132
@donavanbecker — I've confirmed that using both v1.6.4-beta.5 and v1.7.0, this bug has been fixed. When I use SwitchBot over BLE in "Press" mode, the HomeKit switch automatically turns off now. Thanks!

[2022-01-06 05:40] #132 closed, assigned to donavanbecker

[2022-01-06 05:45] donavanbecker commented on #132
@yungsters, that is good news!

[2022-01-06 05:48] donavanbecker commented on #174
@prophet42 can you try v1.7.0

[2022-01-06 05:48] #166 closed, assigned to donavanbecker

[2022-01-06 05:49] donavanbecker commented on #166
in v1.7.0, I added multiple different Device Types. If there is something else that you would like me to add let me know by opening another feature request.

[2022-01-06 05:50] donavanbecker commented on #160
@benjaminbogdanovic any changes with the v1.7.0?

[2022-01-06 05:50] donavanbecker commented on #146
@yokouchi86 any changes with v1.7.0?

[2022-01-06 05:57] donavanbecker commented on #12
@smartmatic I have created the [homebridge-tuya-camera](https://github.com/donavanbecker/homebridge-tuya-camera) which will give you the `hls` or `rtsp` url, this could potentially be used in the [homebridge-camera-ffmpeg](https://github.com/Sunoo/homebridge-camera-ffmpeg) plugin.

[2022-01-06 06:04] donavanbecker commented on #124
I have release v1.7.0 with this included.

[2022-01-06 06:57] smartmatic commented on #12
@donavanbecker Really great news and big thank for this development! I will try to start testing the plugin soon. But one question. You mention in the release notes that RTSP is currently not working.
Can you estimate when it will be ready?

[2022-01-06 07:05] Cesco117 commented on #124
Oh, thanks !

I didn’t make tests yet, but I guess that I have to put “2” into the “do you want to simulate a double press ?” ?

If I want to be able to alternate between single and double, the better is to create a switch with single press, and one with double press, right ?

and 3rd question, is it possible to set the time between the 2 press ?

thanks again for your consideration and your work

[2022-01-06 10:19] donavanbecker commented on #12
@smartmatic Both really aren't working, because the link will timeout and then you need a new link.

[2022-01-06 10:30] donavanbecker commented on #124
That is correct.

I want to be able to alternate between the two but wasn't able to the right code needed, I can keep trying.

This also was an issue that I was having. Let me keep trying.

[2022-01-06 11:54] yokouchi86 commented on #146
@donavanbecker sorry, I had purchased another hub and moved away from the ble, will need sometime to move back the raspberry to test it. Thanks a lot!

[2022-01-06 13:38] adamrzanek commented on #179
OMG thanks for this! Now i will buy one more bot for intercom door opener! :D

[2022-01-06 13:43] WaldperlachFabi opened #189 "Bug: Curtain doesn’t response with Bluetooth."
### Describe The Bug

If i try to open/close the curtain with BLE in HomeKit, nothing happens and i gat a error in the console.

### To Reproduce

Open/close curtain in HomeKit

### Expected behavior

The curtain should open/close

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![BBB7A297-49F2-45E9-9353-C618E05EF834](https://user-images.githubusercon

[2022-01-06 13:47] WaldperlachFabi commented on #189
![5E56C987-D594-49B0-B7C0-648274D49724](https://user-images.githubusercontent.com/80318133/148392447-6b814db5-8fb2-42fd-ab9a-0b2da85f23df.jpeg)

[2022-01-06 16:36] donavanbecker commented on #189
@WaldperlachFabi Node-SwitchBot didn't get installed.

[2022-01-06 16:48] WaldperlachFabi commented on #189
How can I install it?

[2022-01-06 17:11] donavanbecker commented on #189
node-switchbot can fail to install because the dependency: `@abandonware/noble` has prerequisites

You will need to follow the prerequisites for [docker](https://github.com/abandonware/noble#docker)

Once done then reinstall plugin.

[2022-01-06 23:43] prophet42 commented on #174
Just did. No luck.

Matt
On Jan 6, 2022, 12:48 AM -0500, Donavan Becker ***@***.***>, wrote:

[2022-01-07 01:30] donavanbecker commented on #174
Can you elaborate?

[2022-01-07 02:08] prophet42 commented on #174
Hey. Sorry I am out of town, so I am doing it remotely. I installed the update and still could not control the bot. But, actually just now I was able to turn it on once (my wife checked for me), but I can't turn it off. I'll paste the logs below. I did wait and try again but no luck controlling it then either. Thanks again for your help.

[1/6/2022, 6:00:28 PM] [SwitchBot] [DEBUG] Bot: Bot BLE Add

[2022-01-07 02:45] donavanbecker commented on #174
@prophet42, is there anyway you can put this right by your homebridge device and see if its working?

[2022-01-07 09:55] GcoGr opened #190 "Support Request: How to change bot device type from electric outlet to press button"
### Describe Your Problem

My bots display as electric outlets instead of press buttons. I'd like them to display as press buttons

### Relevant log output

_No response_

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/96777527/148525759-81ed6c4a-fe4d-4315-b95a-19b0d3e6e85d.png)

### Device & Model

switchbot bot

### Node.js Versio

[2022-01-07 13:27] GcoGr opened #191 "Bug: TV controls for IR hub mini don't show up in iPhone Home App. Also, Speaker ON/OFF button does not work"
### Describe The Bug

The "Accessories" tab of the Homebridge portal shows a square for TV ON/OFF that works OK, and a second button for TV Speaker ON/Silence that does not work. None of them are shown in the iPhone Home App.

### To Reproduce

Don't know.

### Expected behavior

I would expect the TV control buttons to appear in the Homekit App in the iPhone. Also, I would expect the Speaker butt

[2022-01-07 14:39] donavanbecker commented on #191
@GcoGr It is an external device, you must add the device to the home app like you did with homebridge

The logs should say this.

[2022-01-07 15:50] donavanbecker commented on #190
There is a [StatefulProgrammableSwitch](https://developers.homebridge.io/#/service/StatefulProgrammableSwitch) that might work. But I have recently added other device types to the device config that you can look at. What are you using the Bot for?

[2022-01-07 17:35] GcoGr commented on #190
I am using the bot to press a button in the RFID remote of a garage door. The command should always be PRESS. When the door is open, it closes. When it is closed, it opens with the same press. The second bot does the same thing in another door. I want to control them via a Homepod mini by a single command like PRESS DOOR ONE. Currently, I must previously know the status of the “electric outlet” to

[2022-01-07 17:46] GcoGr commented on #191
I’m sorry, I don’t know how to add it. I added Homebridge to the Home app via QR code in the Homebridge home page and the two bots appeared in the iPhone app, but not the TV controls. Where is the QR for them? Thanks

[2022-01-07 17:52] donavanbecker commented on #191
Have you looked at your logs? It gives you a code to type in. It's the same code as homebridge also.

[2022-01-07 17:55] donavanbecker commented on #190
My recommendation would be to use `Device Type` = `Door` and `Garage Door` that I have for options for boys. And use `switch` mode.

All of this is already built into the plugin settings. You just need to set it.

[2022-01-07 19:11] GcoGr commented on #190
The problem is that the device 'remembers' the status. Right now the garage door is closed but the device status is displayed in Home app as 'open'. So, when I say "Hey Siri, open door" it does nothing because it thinks it is already open. Updating this status to match the real world wouldn't work, because often we open/close the door manually using a different RFID remote. It is the same problem

[2022-01-07 23:37] prophet42 commented on #174
Hi. Unfortunately, I am not in town and it is an iMac so it’s too big a job to ask my wife to do. I won’t be back for months. I do have another SwitchBot where I am and I installed the plugin in my Homebridge here to see if it would work here. It doesn’t work either. Here I am using a MacBook Pro (2020) with macOS 12.1. I did the extra prerequisite of allowing Terminal to access bluetooth. I’ve pa

[2022-01-08 00:11] tzwada commented on #105
@donavanbecker Sorry for late. I have updated the plugin to 1.7.0 (not 1.5.1-beta.5). But unsuccessful. When the plugin starts, it became generating an error as below:

[08/01/2022, 09:02:06] [SwitchBot] Total IR Devices Found: 0
[08/01/2022, 09:02:06] [SwitchBot] Bot: Bot 7E Using Bot Mode: switch
[08/01/2022, 09:02:06] [SwitchBot] Bot: Bot 7E Displaying as Switch
[08/01/2022, 09:02:07] [SwitchBo

[2022-01-08 06:26] #178 closed, assigned to donavanbecker

[2022-01-08 06:26] #162 closed, assigned to donavanbecker

[2022-01-08 06:26] #160 closed, assigned to donavanbecker

[2022-01-08 06:26] #130 closed, assigned to donavanbecker

[2022-01-08 20:34] FranciRoosters opened #192 "Bug: Automation triggered by bot showing as door doesn’t work"
### Describe The Bug

A bot showing as door doesn’t trigger an automation whereby the stairwell lights of my building (controlled by a second bot) should turn on. I think if the bot shows as anything but a switch, the automation fails to happen. Can this be fixed?

### To Reproduce

N/A

### Expected behavior

When the bot (showing as door) that opens the building’s front door turns on, the bot th

[2022-01-09 02:13] 618116 commented on #165
Switch mode in HomeBridgh plugin + Press mode in SwitchBot app doing what I want, so I'll close the issue.

[2022-01-09 02:13] #165 closed, assigned to donavanbecker

[2022-01-10 22:25] RobSjaras opened #193 "Feature Request: Want an old "bug" back as a feature"
Hi,

I really appreciate the work you're doing for this plugin and would love it if this could be a possibility for the future, I've had a look in the code myself and from what I can see the functionality (mentioned in addiotional context) broke when caching was introduced I think.

### Problem

I've been using your version 1.3.0 for a very long time, recently updated beyond that version and now t

[2022-01-10 23:44] donavanbecker commented on #193
@RobSjaras What config do you have setup? I don't think it's the caching, but could be wrong.

[2022-01-11 00:55] RobSjaras commented on #193
[code]

So above config works with version 1.3.0.

To go into more specifics of my use case with the bot, then it's for a normal light switch, which gets used physically and through smart systems, so always out of sync in other words

And thank you for the fast response!

[2022-01-11 20:06] mayhew132 opened #194 "Support Request: Hide Light Sensor Capability from Switchbot Curtain"
### Describe Your Problem

I am looking for documentation on the feature that was added into version 1.1.0 which allows hiding of the light sensor from HomeKit on a Switchbot Curtain as I can't see how to configure it in Homebridge

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

Switchbot Curtain

###

[2022-01-11 20:18] donavanbecker commented on #194
Check out the [Configuration](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Configuration#breakdown-of-each-device-config-option) wiki. If you still need help, reach out on discord.

[2022-01-11 20:25] mayhew132 commented on #194
Thanks! Just realised I needed to add the curtain device in 'Settings' which then gives all the config parameters, doh! 👍

<img width="774" alt="image" src="https://user-images.githubusercontent.com/25966969/149015982-a3ca46d6-0863-433e-8a1f-b3c8d91f4000.png">

[2022-01-11 20:25] #194 closed, assigned to donavanbecker

[2022-01-12 19:16] donavanbecker commented on #192
@FranciRoosters I believe this an iOS issue. Can you try iOS 15.2.1 or 15.3 beta 2?

[2022-01-12 20:58] FranciRoosters commented on #192
iOS 15.2.1 didn’t fix it. Like I said, automations triggered by bots showing as switches work fine, but when they show as anything else, they automations fail. Having said this, I’m not sure it’s an iOS bug. 🤷‍♂️

[2022-01-13 21:43] donavanbecker commented on #85
@nyjklein, this has been updated to make it more simple

[2022-01-13 21:43] donavanbecker commented on #123
@gvssr and @sonezu, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.7.1-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-01-14 02:29] hlc1209 opened #195 "Support Request: A few questions during the excellent experience"
### Describe Your Problem

First of all, I would like to thank you for developing such a wonderful extension and maintaining it constantly. In my use of this extension, I have several questions.

General:

1. I am currently using the API and hub to get the status of all my accessories and have homebridge running on a synology NAS (docker). If I want to use BLE instead of API, does that mean I need

[2022-01-14 13:10] Cesco117 commented on #124
👍

It will be awesome to have 2 switches, to be able to make scenes with single, and other scenes with double.

👍

Whatever you succeed to do, thanks A LOT for your effort, your replies and your work 👍

[2022-01-14 18:19] jdefelice commented on #190
I have a similar use case.

I’m using the SwitchBot to turn on my heating. The button turns the heating on for 1 hour and shuts off. When the heating is off the state gets out of sync.

I would like to be able to just say press the button.

[2022-01-14 19:13] donavanbecker commented on #190
@jdefelice Set mode on not to press in the device settings.

[2022-01-15 18:43] FranciRoosters opened #200 "Bug: TV randomly turns on and the state doesn’t update in the Home app"
### Describe The Bug

TV turns on at random and the state doesn’t get updated in the Home app

### To Reproduce

N/A

### Expected behavior

The TV should stay off when off unless turned on.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBit Hub Mini (IR Blaster), plugin version 1.8.1

### Node.js Version

16

[2022-01-15 19:10] donavanbecker commented on #200
@FranciRoosters If you have disable power set to true, then the plugin wouldn't send a power command. So unless you have some logs then it has to be something else, Sorry.

[2022-01-15 22:26] FranciRoosters commented on #200
It is set to true. Apart from the fact that I don’t understand what disable power set to true actually does, there are still two main bugs I’m encountering: 1) I think when the TV should be or turn off in automations, it actually tries the opposite of the state it was in. It’s almost as if the blaster cannot determine when the TV is off or on. Furthermore, the TV doesn’t turn off in the Home app w

[2022-01-15 22:54] donavanbecker commented on #200
@FranciRoosters IR devices will never report the status back.

[2022-01-16 11:53] GcoGr commented on #190
Done! Both switchbots work as expected now! Thank you!
Next step for me will be to get working IR control for TV On/Off and TV Speaker On/Off.
Thanks again!
I will post here my configuration, as it might be useful for other readers:

{
    "name": "SwitchBot",
    "credentials": {
        "openToken": "(my token)",
        "notice": "Keep your token a secret!"
    },
    "options": {
        "devi

[2022-01-16 11:55] #190 closed, assigned to donavanbecker

[2022-01-16 19:57] FranciRoosters commented on #200
The issue persists, even with “disable power” set to true. I have a gaming Shortcut by which if the living room TV turns on, the bedroom TV turns off. Just a few minutes ago, I activated the shortcut, but the bedroom TV turned on instead of staying off. So, what gives?

Here’s what the logs say: TV: TV Sending request to SwitchBot API. command: turnoff, parameter: default, commandtype: Command.

H

[2022-01-16 21:33] donavanbecker commented on #200
If you have disable_power set to true then no commands for that TV will get sent. Also BLE is only available for SwitchBot devices,

[2022-01-16 22:02] FranciRoosters commented on #200
I see, but although it is set to true, the TV still turns on when it should stay off. So, I don’t think the issue is on my end.

[2022-01-16 22:14] donavanbecker commented on #200
[code]

this is the code snippet for that config. Unless disable_power is false will it send and `off` or `on` change.

[2022-01-16 22:31] FranciRoosters commented on #200
This is my current config and the problem persists. I have no clue what to do now.

"irdevices": [
                    {
                        "deviceId": "a848faebcced",
                        "configRemoteType": "TV",
                        "irtv": {
                            "disable_power": false
                        }

[2022-01-16 22:39] donavanbecker commented on #200
@FranciRoosters, `disable_power` set `true` will not send power commands. `disable_power` set `false` will send power commands. IR Devices will never be in sync with the device because IR doesn't communicate that way.

[2022-01-16 22:43] FranciRoosters commented on #200
Hmmm… I’m not sure I’m making myself understood. Regardless of whether “Disable Power Command” is ticked or not, the TV still turns on when it should stay off.

[2022-01-16 22:44] FranciRoosters commented on #200
I used the Broadlink before and had zero issues with it. I switched to Switchbot to streamline hubs and to have a much more user-friendly interface for the configuration.

[2022-01-17 00:14] donavanbecker commented on #200
@FranciRoosters Can you enable debug logging and send me the logs? With disable_power set to true?

[2022-01-17 00:17] FranciRoosters commented on #200
That’s alright. I fixed it by reinstalling the BroadLink.

[2022-01-17 00:36] #200 closed, assigned to donavanbecker

[2022-01-17 00:40] donavanbecker commented on #174
I also added `npm` and `node` to my Bluetooth. This is working for me.

You can find where they are installed by doing terminal: `which node` and `which npm`

[2022-01-17 01:55] prophet42 commented on #174
Hi Donovan. I am note sure what you mean by this. They are located at:
/usr/local/bin/node
/usr/local/bin/npm

Matt
On Jan 16, 2022, 7:40 PM -0500, Donavan Becker ***@***.***>, wrote:

[2022-01-17 01:57] donavanbecker commented on #174
navigate to those folders and drag them into the bluetooth security section like you did Terminal.

[2022-01-17 02:23] prophet42 commented on #174
Oh, I see. Thanks! I dragged them there successfully, but the Bot still can’t connect.

[1/16/2022, 9:04:21 PM] [SwitchBot] Bot: Bot 60 wasn't able to establish BLE Connection

Matt
On Jan 16, 2022, 8:58 PM -0500, Donavan Becker ***@***.***>, wrote:

[2022-01-17 02:55] donavanbecker commented on #174
@prophet42 You have Xcode installed?

[2022-01-17 11:56] prophet42 commented on #174
I do have Xcode.

Matt
On Jan 16, 2022, 9:55 PM -0500, Donavan Becker ***@***.***>, wrote:

[2022-01-17 12:39] donavanbecker commented on #174
And I am guessing you have accepted the terms & Conditions?

[2022-01-17 15:26] prophet42 commented on #174
Of Xcode? Yes. I use Xcode for other things as well.

Matt
On Jan 17, 2022, 7:39 AM -0500, Donavan Becker ***@***.***>, wrote:

[2022-01-17 15:43] donavanbecker commented on #174
@prophet42 I would say then till this [issue](https://github.com/abandonware/noble/issues/225) is resolved, BLE won't work.

[2022-01-17 19:21] GcoGr commented on #191
Hi,
I've been able to add TV to the IR configuration:
        "irdevices": [
            {
                "deviceId": "(Mac address taken from the gear symbol in the TV button of the 'Accessories' tab in Homebridge)",
                "configRemoteType": "TV"
            }
        ]
Then I addedd it to the iPhone Home App using the homebridge code shown in the "Logs" window of the main Homebridge

[2022-01-17 22:58] rolandjaeger commented on #174
Hi Donavan!

I encountered the same problem when trying to configure a switch bot to work with Bluetooth only.
First, it worked without any problems. But after playing around a bit with the config (my Raspi Zero 2 W apparently needs a bit longer scan time than just one second), it suddenly stopped working and I got the following in the log during init:
`Failed to Discover Devices: Unauthorized Req

[2022-01-17 23:05] prophet42 commented on #174
Thanks for the suggestion @rolandjaeger! I gave it a try, but to no avail. It may be the macOS issue that @donavanbecker mentioned mentioned in the previous comment. Thanks for both your help!

[2022-01-18 19:02] Gus-smarthome opened #207 "Bug: Siri doesn’t send turn off/on commands if the status of the bot switch is the same as the turn on/off command"
### Describe The Bug

If the light status is off, you manually turn it on and you ask siri to turn it off via homekit, she check the status (in this case off) and don’t send the request to turn the lights off

### To Reproduce

Lights state = off, manually turn lights on, ask siri to turn it off (trough homekit NOT shortcuts)

### Expected behavior

Homekit request to turn it off (as it happens in

[2022-01-18 21:40] Gus-smarthome commented on #193
I’m having the same issue!
E.g.

1. Start -> light status in Homekit = on / real-life = on
2. I manually turn it off -> light status in Homekit = on / real-life = off
3. I ask Siri via Homekit to turn it on, Siri says: "Lights are on" and don’t send the command to the bot -> light status in Homekit = on / real-life = off

[2022-01-21 09:17] FranciRoosters opened #212 "Remove Light Sensor Without Adding Curtain from Scratch"
### Describe Your Problem

I have added my SwitchBot Curtains through OpenAPI and as such the curtains don't show under Optional SwitchBot Device Settings, but under the Settings tab. I'd like to remove the light sensor as I don't need them, but I don't wanna go through the set-up process again. If possible, how can I do this? Thanks!

### Relevant log output

_No response_

### Config for homebri

[2022-01-21 12:00] donavanbecker commented on #212
@FranciRoosters What do you mean setup process?

If you add a new device to your SwitchBot account, you can always grabs the device ID, from the device info and then populate it in the SwitchBot settings before restarting homebridge to look for the device.

Other then that if a device is added to homebridge, and then you change the settings, I remove the service and not the whole device, so you sh

[2022-01-21 12:14] FranciRoosters commented on #212
Thank you for your clarifications. That helped me sort it out.

[2022-01-21 12:15] #212 closed, assigned to donavanbecker

[2022-01-21 12:15] donavanbecker commented on #212
Awesome!

[2022-01-23 14:17] #146 closed, assigned to donavanbecker

[2022-01-24 18:39] Bortinio opened #221 "Support Request: Bot: wasn't able to establish BLE Connection, ending in endless loop"
### Describe Your Problem

Bot: wasn't able to establish BLE Connection, ending in endless loop

Hi,

Please support me to get my configuration running. I am trying to connect a "Bot" via BLE but it seems the connection cannot be established. See the attached logs for the resulting error. The homebridge keeps on restarting until I e.g. change the "ble" to false. Though I don't have a HUB present,

[2022-01-24 20:44] stripedew commented on #221
Got the exact same issue here - was working fine for weeks, then the new update broke it. It somehow managed to completely brick my entire Homebridge installation and I had to delete and reinstall from backup.

[2022-01-25 01:06] Bortinio commented on #221
Checking the code and the dependencies I understood that node-switchbot needs to be installed manually. Once I did that, the endless loop issue was solved for me and homebridge is running at least. However, the connection issue still persist:

[25.1.2022, 01:56:58] [SwitchBot] Bot: Bot88 wasn't able to establish BLE Connection
[25.1.2022, 01:56:58] [SwitchBot] Bot: Bot88 Using OpenAPI Connection
[

[2022-01-25 02:05] donavanbecker commented on #221
How did you install node-SwitchBot?

did you look at the [prerequisites](https://github.com/abandonware/noble#prerequisites) for noble?

[2022-01-25 09:58] Bortinio commented on #221
I followed the instructions as written by you on node-switchbot#installation and yes I believe that I have exercised the steps/prerequisites correctly for noble installation too. Still no luck.

[2022-01-25 11:02] donavanbecker commented on #221
@Bortinio Node-SwitchBot needs to be installed with the plugin. So you can't just manually install it. Try reinstall homebridge-switchbot, after making sure you have went through all the prerequisites.

If BLE still doesn't work, then I could be something with your pi. Which version is your Pi?

[2022-01-25 11:57] Bortinio commented on #221
@donavanbecker ok, I removed the plugin Node-SwitchBot and reinstalled homebridge-switchbot. The issue is still there though:

[25.1.2022, 12:17:49] [SwitchBot] Bot: Bot88 wasn't able to establish BLE Connection
[25.1.2022, 12:17:49] [SwitchBot] Bot: Bot88 Using OpenAPI Connection

I am running a PI3+ with 4.19.66-v7+.

[2022-01-25 12:41] donavanbecker commented on #221
Did you see it fail to install node-SwitchBot when installing homebridge-SwitchBot?

Are you install with Homebridge UI? Or Terminal?

[2022-01-25 12:46] Bortinio commented on #221
I installed it via Terminal, no issues or failures during installation:

sudo npm -g install @switchbot/homebridge-switchbot
added 70 packages, and audited 71 packages in 1m
6 packages are looking for funding
  run `npm fund` for details
found 0 vulnerabilities

Seems that node-switchbot was installed, because when it was not, if saw the following entry in the log file:
[25.1.2022, 12:14:24] [Swit

[2022-01-25 14:35] donavanbecker commented on #221
@Bortinio Then your raspberryPI for some reason isn't finding your Bot. You could try pushing up the scanDuration. By setting that in the SwitchBot device settings. Try like 10, then you could lower.

[2022-01-25 19:25] Bortinio commented on #221
@donavanbecker thank for your ideas here, but also increasing the scanDuration was not successful on my setup. However, I am now thinking to rather put a Switchbot hub in between in order to get a reliable installation and also to expose the bot to Alexa. So I from my perspective this ticket can be closed as being an unresolved mysterious configuration issue...

Thanks!

[2022-01-25 19:29] donavanbecker commented on #221
Sorry unfortunately if noble can't find the device then it don't work.

[2022-01-25 19:29] #221 closed, assigned to donavanbecker

[2022-01-25 21:36] stripedew commented on #221
I still have the issue as well - I tried reinstalling, changing various settings, nothing works. Rolling back to v1.9.0 makes it work flawlessly, and then upgrading to v1.10.0 completely breaks it.

[2022-01-26 17:47] donavanbecker commented on #207
should be fixed in with v1.10.0

[2022-01-26 18:46] donavanbecker commented on #195
Sorry for the late response.

Yes, but the OpenAPI (Cloud), is more reliable.

That will depend on if the devices are added to the package `node-switchbot`. Once devices are added there, then I can add it to this plugin. I don't have much experience with BLE, so we have to rely on the SwitchBot Employees themselves. (I maintain this plugin for them.)

This isn't in the OpenAPI, so I have no way of

[2022-01-26 18:48] donavanbecker commented on #193
Can you check to verify this is working for you now? I have add a new config `allowPush` that must be set.

[2022-01-26 18:48] donavanbecker commented on #192
iOS 15.3 was released today. Please check to see if this is fixed for you now.

[2022-01-26 20:10] FranciRoosters commented on #192
Seems to be working now. Will test more tomorrow and report back. Thanks!

[2022-01-26 20:18] donavanbecker commented on #192
Please close once you you have verified.

[2022-01-26 21:01] FranciRoosters commented on #192
I’ve verified it and it doesn’t work. Before I tested it with the wrong automation. If my automation says “when the front door opens, turn on the stairwell lights”, the bot commanding the stairwell lights doesn’t activate. Again, could it be because one bot is set as “door”?

[2022-01-26 21:37] donavanbecker commented on #192
I would recommend install [HomeLog](https://apps.apple.com/us/app/homelog-for-homekit/id1584408332) and watching the the logs in HomeLogs while activating the Automation and see if it is triggering. I have no control over an automation. There is no characteristic on a door service that would cause an automation to work.

[2022-01-26 23:01] dnicolson commented on #123
Setting an arbitrary value for the "Set Min Lux" option results in the closed/open status working in the `set_min`/`set_max` range. More investigation is needed.

There appear to be caching issues that may be contributing to the issue though. For example, changing the `Device Name` option does not change the name until the cache is cleared.

[2022-01-27 08:11] FranciRoosters commented on #192
HomeLogs doesn’t see the automation working.

[2022-01-27 10:27] RobSjaras commented on #193
Thanks so much @donavanbecker

I've just tested it with the two SwitchBots I have and if the push changes would work for both states, on and off, and they did!

No issues, delays or anything like that, so it behaves exactly like it should

[2022-01-27 12:28] donavanbecker commented on #192
Then I would report this to Apple. Like I said, I have no control over automation.

[2022-01-27 12:29] donavanbecker commented on #193
@RobSjaras Can this issue be closed then?

[2022-01-27 12:32] #193 closed, assigned to donavanbecker

[2022-01-28 09:35] lkshrk opened #225 "Bug: No BLE connection possible to Switchbot-Bot on OSX"
### Describe The Bug

BLE connection not possible on OSX. Permissions for bluetooth are set in the macOS preferences for both, terminal and current node version.

### To Reproduce

Try to connect Switchbot-Bot via BLE on latest OSX

### Expected behavior

Bot should connect via BLE

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### De

[2022-01-28 10:13] kokono9201 opened #226 "Feature Request: Add Support for SwitchBot Lock"
### Problem

Swithbot lock

### Solution

the switchbot lock is now on sale. Could it be possible adding the support to the lock?

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-28 10:49] lkshrk commented on #225
Doing further investigation, I suppose it's caused by https://github.com/abandonware/noble/issues/225

[2022-01-28 12:36] donavanbecker commented on #226
@a408498672 Yes, I will look at adding it soon.

But I am not seeing it on the SwitchBot website yet.

[2022-01-28 12:43] donavanbecker commented on #225
@lkshrk It is hit or miss. I have a M1 Mac mini and I am able to use BLE connection.

Do you have Xcode Installed? I would recommend also trying to add terminal, npm, and node into security for Bluetooth.

Location for npm and node can by found by doing `which npm` and `which node` in terminal

[2022-01-28 16:35] kokono9201 commented on #226
It already updated on Japan homepage and amazon so I have one. Maybe other region is delayed. If u need any information of the hardware in advance, I may help.

[2022-01-28 19:58] donavanbecker commented on #123
@dnicolson new beta has been published wit your PR #227.

@gvssr @sonezu, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.10.2-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-01-29 03:07] donavanbecker commented on #226
@a408498672 can you install the latest beta? and get me the logs that log in yellow? it should be the `lockstate` and `doorstate` then I will be able to know how to handle this.

Not enough info in the [OpenAPI Document](https://github.com/OpenWonderLabs/SwitchBotAPI) to just impliment.

[2022-01-29 04:01] kokono9201 commented on #226
@donavanbecker
i'm not sure i was doing right. i updated to v1.10.2-beta.4 but i didn't find the information from the homebridge log.

[code]

[2022-01-29 04:06] donavanbecker commented on #226
@a408498672, okay that helps. I have just pushed another beta. Please update and repost all logs for Lock

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.10.2-beta.5/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-01-29 04:13] kokono9201 commented on #226
@donavanbecker

[code]

[2022-01-29 04:15] donavanbecker commented on #226
@a408498672

there should be more logs then that. I just posted a new beta that should have a log that contains

`COPY THIS LOG`

I need that log.

[2022-01-29 04:39] kokono9201 commented on #226
@donavanbecker
sorry, i've already updated to beta7 but i still can't find that log.
https://imgur.com/PX6dP4U
did i search in the wrong place?

[2022-01-29 04:53] donavanbecker commented on #226
can you hide that device using the SwitchBot Device Settings or clear cache using Homebridge Settings? Then restart this will remove the device.

if you do the config, then unhide the device and restart again. see if that triggers anything.

[2022-01-29 05:15] kokono9201 commented on #226
Lock: gate lockState: undefined (COPY THIS LOG)
should be this one?

[2022-01-29 05:44] donavanbecker commented on #226
@a408498672 As I suspected. The API, is not displaying the lock yet. We will have to wait till that doesn't say undefined. Or once they merge the [lock PR](https://github.com/OpenWonderLabs/SwitchBotAPI/pull/85) then it will probably be supported.

[2022-01-29 06:32] donavanbecker commented on #226
Can you do this again? after update to the latest Beta? It won't make the Lock work, but needs to be done because I am guessing currently your lock is showing as a Outlet and will now display as a Lock.

[2022-01-29 06:40] kokono9201 commented on #226
yes. it displays as a lock now.

[2022-01-29 07:54] donavanbecker commented on #123
v1.11.0 has been release with this fix.

[2022-01-29 07:58] donavanbecker commented on #85
v1.111.0 should resolve this.

[2022-01-29 07:58] #207 closed, assigned to donavanbecker

[2022-01-29 07:59] #192 closed, assigned to donavanbecker

[2022-01-29 08:01] #225 closed, assigned to donavanbecker

[2022-01-29 19:54] dieugab commented on #123
@donavanbecker sorry te report this is still as broken as it’s been for me. Stays hanging on “closing” and “opening” and does not report the correct open / close state, even with min/max set.
![DA9AE797-42D9-4113-93FC-11EBF31AC834](https://user-images.githubusercontent.com/61377476/151675566-39fa08ca-957d-45df-be6b-8fe975f8100f.jpeg)
![89B0FDCB-28D6-4BE3-87A2-6D745D35E69E](https://user-images.gith

[2022-01-29 20:18] dieugab commented on #123
@donavanbecker I mentioned this in the other thread, but maybe @dnicolson has some insight. An example:

I start with an open curtain like this:
![2ED91163-CBCB-4A93-A7AD-1092EF079A4E](https://user-images.githubusercontent.com/61377476/151676213-3d930f4a-8432-4ecb-be21-419005332ac4.jpeg)

I then send the command to close, it’ll say “closing” and hang on closing no matter how much time passes. It’s

[2022-01-29 20:18] donavanbecker commented on #123
@gvssr Have you set an updateRate? Also are you doing BLE?

[2022-01-29 20:19] dieugab commented on #123
@donavanbecker no updateRate set (default is 5?) and it’s connected with BLE, but the same thing happens when using the API.

[2022-01-29 20:31] donavanbecker commented on #123
@gvssr i am sorry, I really don't care if the Homebridge UI works or not, I am worried about the home app. So till I see a screenshot of the home app not working, I am marking this as resolved.

[2022-01-29 20:33] donavanbecker commented on #123
Sorry not trying to blow this off but the Homebridge UI is not a priority for me and could be an issue with the Homebridge UI.

[2022-01-29 20:41] dieugab commented on #123
@donavanbecker yeah that was the conclusion from the other thread, which is why I stopped using this plugin 🙂 but I got a @ notification from you asking to try the latest beta to see if it’s fixed so I figured I’d try it.

I don’t think it’s an issue with Homebridge UI exclusively, fwiw. It’s also reported like this in Home Assistant. I think the home app calculates closed and open state based on

[2022-01-29 20:46] dnicolson commented on #123
I don't believe it's a Homebridge UI issue. In the Home app the "Opening..." and "Closing..." states never appear, it always changes immediately to "Open" or "Closed". In Homebridge UI the "Opening..." and "Closing..." states never change to
"Open" or "Closed".

The [homebridge-switchbot-ble](https://www.npmjs.com/package/@switchbot/homebridge-switchbot-ble) works in both the Home app and Homebrid

[2022-01-29 20:51] donavanbecker commented on #123
@dnicolson It is public now.

I am not having any of these issues, so until I get PRs, I don't have anything to test.

[2022-01-29 21:16] dieugab commented on #123
This is exactly what I’m experiencing!

No idea if this helps @dnicolson (I don’t have any programming experience), but 0.1.1 version of this plugin did work using this code (I think): https://github.com/OpenWonderLabs/homebridge-switchbot/issues/85#issuecomment-979228867 But I don’t know what changed when BLE got integrated.

[2022-01-30 23:19] #189 closed, assigned to donavanbecker

[2022-01-31 00:51] zeroecho commented on #195
@SwitchBot-Wonderlabs - we really need this 10,000 limit lifting for contact sensors. I have 8 contact sensors and using IFTTT I can get them just about responsive enough to use with my Hue lights, but given every other device I own works with Homekit, the lack of OpenAPI integration is making me debate returning them as I can't do complex scripting with Shortcuts. We need ENTER and EXIT toggles a

[2022-01-31 08:24] #174 closed, assigned to donavanbecker

[2022-01-31 10:28] nmcc1212 opened #234 "Support Request: SwitchBot not connecting through BLE"
Updated to latest version, having the same issue

@donavanbecker Sorry for late. I have updated the plugin to 1.7.0 (not 1.5.1-beta.5). But unsuccessful. When the plugin starts, it became generating an error as below:

[08/01/2022, 09:02:06] [SwitchBot] Total IR Devices Found: 0
[08/01/2022, 09:02:06] [SwitchBot] Bot: Bot 7E Using Bot Mode: switch
[08/01/2022, 09:02:06] [SwitchBot] Bot: Bot 7E Dis

[2022-02-01 01:47] dnicolson commented on #123
I can confirm that version 0.1.1 does not have the issue (although BLE was not working).

The problem appears to have been introduced in version 0.1.2-beta.1, it's related to the light sensor. Removing the following lines in the latest code appears to resolve the issue:
https://github.com/OpenWonderLabs/homebridge-switchbot/blob/dedabb43754f837c43d1d7ff3fbfc40e00d46877/src/device/curtain.ts#L121-L

[2022-02-01 02:01] donavanbecker commented on #123
Done

[2022-02-01 11:36] grandevice commented on #226
displays as a lock
but unidentified

[2022-02-01 13:40] donavanbecker commented on #226
As stated before we have to wait for the API

[2022-02-01 19:39] WaldperlachFabi opened #236 "Feature Request: Adding Support for SwitchBot Remote"
### Problem

_No response_

### Solution

It would be really great if the plug-in would support the Remote!

### Alternatives

_No response_

### Additional context

_No response_

[2022-02-01 20:13] donavanbecker commented on #236
@WaldperlachFabi I agree, would have to come from the OpenAPI or BLE, which I don't think would ever happen since it would be a command that would be pushing info and we are pulling info from those APIs.

[2022-02-02 08:28] dieugab commented on #123
@dnicolson Fantastic news! I'd love to try it. Should I try and edit the file on my local homebridge instance or are you currently working on a PR?

[2022-02-02 08:34] dnicolson commented on #123
@gvssr I'm not working on a PR at the moment, you may as well modify the `curtain.js` file locally unless someone else makes a PR.

[2022-02-02 09:38] djjlipod commented on #12
Is there a update on this, would love to get more cameras for homekit :) thanks for the great plugin so far

[2022-02-02 10:12] dieugab commented on #123
@dnicolson I sudo edited my local file at `/usr/local/lib/node_modules/@switchbot/homebridge-switchbot/src/device/curtain.ts` and removed cached accessoires, but it's still hanging on closing/opening for me. Did I edit the right file? Is there anything else I need to change?

![image](https://user-images.githubusercontent.com/61377476/152134206-b21d9e7e-4c79-4ebe-9278-3c6efdf9ea94.png)

![image](h

[2022-02-02 10:13] donavanbecker commented on #123
I have a hard time believing that this is the cause.

[2022-02-02 10:14] donavanbecker commented on #12
The API doesn't support cameras yet so not possible.

[2022-02-02 10:17] donavanbecker commented on #123
@gvssr, I pushed a new beta, so you can try this.

[2022-02-02 10:18] donavanbecker commented on #123
no.

[2022-02-02 10:23] #195 closed, assigned to donavanbecker

[2022-02-02 10:23] #191 closed, assigned to donavanbecker

[2022-02-02 10:25] donavanbecker commented on #234
Have you followed the [prerequisites](https://github.com/abandonware/noble#prerequisites) for noble? that is what makes the BLE connection.

[2022-02-02 10:27] dieugab commented on #123
Thank you! I updated to beta 1.12.2-beta 1, cleared accessoires cache en rebooted Homebridge but the issue sadly still persists
![image](https://user-images.githubusercontent.com/61377476/152136514-61559b84-6c52-4531-8bda-3940749e6e4a.png)

[2022-02-02 10:34] nmcc1212 commented on #234
yes, i had this issue with a respberry pi but after reading your comments https://github.com/OpenWonderLabs/homebridge-switchbot/issues/221#issuecomment-1021247208 and here https://github.com/OpenWonderLabs/homebridge-switchbot/issues/221#issuecomment-1021534470i though it may be the fault of the respberry pi, so i installed it on a lenovo thinkpad t480s running ubuntu but still had the same issue

[2022-02-02 10:53] donavanbecker commented on #123
closing till I see a PR,

Sorry without being able to reproduce on my side, I have no way of fixing this.

[2022-02-02 10:54] dnicolson commented on #123
What if you try the Home app @gvssr? With version `1.12.2-beta.1` I see "Opening..." and "Closing..." and not after reverting back to the `1.12.1`.

It appears as though there are other unrelated issues with Homebridge UI, many accessories failed to update but switching to "Config" and back to "Accessories" resulted in several accessories updating.

[2022-02-02 10:58] donavanbecker commented on #234
@nmcc1212 for some reason node-swtichbot didn't install so you will have to find out why for BLE to work.

[2022-02-02 11:10] nmcc1212 commented on #234
I think there is an issue with homebridge-switchbot. Same happened here https://github.com/OpenWonderLabs/homebridge-switchbot/issues/221#issuecomment-1021066627

[2022-02-02 11:21] donavanbecker commented on #234
@nmcc1212 what's that issue?

[2022-02-02 11:23] nmcc1212 commented on #234
in #221 node-switchbot also didn't install properly but it was blamed on the ras pi.

what im saying is it didnt work on my ras pi *or* a lenovo thinkpad. meaning it wasnt the fault of the ras pi

[2022-02-02 11:27] nmcc1212 commented on #234
also why is node-switchbot listed as an optional dependancy if it is needed for BLE?

https://github.com/OpenWonderLabs/homebridge-switchbot/blob/latest/package.json#L77#L78

[2022-02-02 11:29] dieugab commented on #123
@dnicolson I don't use it through the Home app, I use it in Home Asssistant and it's the same thing there:
![image](https://user-images.githubusercontent.com/61377476/152145541-d46c6b93-740e-4da2-ad59-d20d7fecb456.jpeg)

[2022-02-02 11:31] donavanbecker commented on #234
because if node-switchbot fails to install then the plugin will still install successfully. what you need to do is figure out why it is failing to install.

this is not an issue with the plugin.

doesn't mean its an issue with the plugin.

Closing till issue is found.

[2022-02-02 11:31] #234 closed, assigned to nobody

[2022-02-02 11:34] nmcc1212 commented on #234
node-switchbot is installed

[code]

[2022-02-02 11:36] nmcc1212 commented on #234
@donavanbecker here is the error i get *with node-switchbot installed*
[code]

[2022-02-02 12:28] donavanbecker commented on #234
@nmcc1212 Did you install it manually or with homebridge-switchbot?

[2022-02-02 12:30] nmcc1212 commented on #234
manually using `sudo npm install -g node-switchbot` as it didn't install with homebridge-switchbot

[2022-02-02 13:08] tzwada commented on #234
@donavanbecker My problem was fixed. Here is what I've done.

1. Check if node-switchbot is installed.

[code]
No node-switchbot is installed.

2. Install node-switchbot.
[code]

3. Update Homebridge.

Then, the BLE connection error was resolved. Now the Homebridge Switchbot is running. Can't be more excited! Thank you.

[2022-02-02 13:14] tzwada commented on #105
The problem was fixed. See https://github.com/OpenWonderLabs/homebridge-switchbot/issues/234#issuecomment-1027924156

[2022-02-02 13:15] nmcc1212 commented on #234
what do you mean by update homebridge? update the npm package or restart homebridge?

[2022-02-02 13:25] donavanbecker commented on #234
That will not help. SwitchBot has to install it as a dependency. Only other option would be to try to reinstall homebridge-switchbot, if that doesn't work then there is some prerequisite that isn't being fulfilled.

[2022-02-02 13:27] donavanbecker commented on #234
I am guessing that these steps didn't resolve it. But glad it's working for you.

[2022-02-02 13:28] nmcc1212 commented on #234
do i need to remove node-switchbot before reinstalling homebridge-switchbot

[2022-02-02 13:30] donavanbecker commented on #234
Don't have too

[2022-02-02 21:25] dnicolson commented on #123
@gvssr I can confirm your issue is different and it seems that it was introduced with `1.0.3-beta.5`, https://github.com/OpenWonderLabs/homebridge-switchbot/pull/239 should fix it.

[2022-02-02 22:21] donavanbecker commented on #123
Just merged #239 so new beta coming out. Wow! Can't believe I missed that easy bug...

[2022-02-02 22:39] dieugab commented on #123
Latest version works… flawlessly! I just tested it here. @dnicolson thank you so much, you're my hero! And @donavanbecker thank you for being so patient with this issue.