[2022-02-02 22:58] dnicolson commented on #123
@donavanbecker the Home app closing/unclosing issue persists. I think it could actually be related to the light component.

I see only `1` or `6001` lux units at all times. In the SwitchBot app, I see in the "Light Sensing (Beta)" menu a flatline constantly of `2`. Interestingly, if I change to the secondary unit I see a fluctuating graph.

The firmware on both units is `V2.8`.

[2022-02-02 23:35] donavanbecker commented on #123
@dnicolson are you using OpenAPI or BLE?

BLE Sends me info 10 different amounts, if you set the maxLux and minLux then these numbers would divide by 9 and would set the value for each interval.

OpenAPI only sends me 2 either `dim` or `bright`. So it will always be either 1 or 6001 unless you change the maxLux and minLux.

@dnicolson, what do you have set for your config?

[2022-02-02 23:35] donavanbecker commented on #123
good to hear, I will post a new update.

[2022-02-02 23:55] dnicolson commented on #123
Mostly BLE, I only unboxed the Hub Mini a couple of days ago to debug the issue.

Just the defaults with a curtain (now I think the logging may be too verbose, feel free to revert 😅):

[code]

[2022-02-03 00:08] dnicolson commented on #123
Mostly BLE, I only unboxed the Hub Mini a couple of days ago to debug the issue.

Just the defaults with a curtain (now I think the logging may be too verbose, feel free to revert 😅):

[code]

And not to be pedantic, but a typo:
`The devices config section is missing the *Device ID* in the config, Check Your Conifg.`

[2022-02-03 00:10] donavanbecker commented on #123
@dnicolson Thanks any spellcheck are appreciated!!

Can you set min and max to like 10 and 90 and see if that resolves if for you?

[2022-02-03 00:21] dnicolson commented on #123
Yeah, unfortunately still no opening/closing.

[2022-02-03 03:55] donavanbecker commented on #123
Can you try the latest beta

[2022-02-03 07:00] hlc1209 commented on #195
Thank you for your detailed reply.

I recently ran into a problem.
My bot is set to switch mode.
In the past (I remember it was ver. 1.7.0), if I changed the status of the bot via the app or alexa, homebridge could see that the status of the bot has been changed. But recently, when I change the status of the bot using the app or alexa, the status of the bot in homebridge is not synchronized.

I wo

[2022-02-03 11:22] donavanbecker commented on #195
I did introduce a cache like thing around then I believe. You may wanna try enabling `allowPush` config and see if that helps

[2022-02-03 15:40] domeOo opened #242 "Support Request: Bot does not react."
### Describe Your Problem

Bot does not react when i activate over Homekit. I'm using a rpi4 with docker.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot Bot

### Node.js Version

v16.13.2

### NPM Version

v8.1.2

### Homebridge Version

v1.4

### Homebridge SwitchBot Plugin Version

v1.12.2

### Homebrid

[2022-02-03 15:41] domeOo commented on #242
I also find it strange that there is always something about curtains in the logs.
I hope you can help me, thank you!

[2022-02-03 18:39] donavanbecker commented on #242
this is a copy code accident. resolved in the latest beta

[2022-02-03 18:44] donavanbecker commented on #242
@domeOo, looking through the logs it looks like the plugin isn't connecting through BLE to the Bot.

[2022-02-03 19:05] domeOo commented on #242
Thx for the quick reply. I updated to the latest beta and the problem with the logs is gone. But The bot is still not doing anything. I use docker and I let the container run in privileged mode. Am i missing something?

[2022-02-03 19:10] donavanbecker commented on #242
did you look at the [prerequisites](https://github.com/homebridge/noble#prerequisites) for Docker?

[2022-02-04 04:21] hlc1209 commented on #195
Thank you for your reply.

I set the allowPush to True, but the status changes I made in app or on alexa still cannot synchronize to homebridge

[2022-02-04 06:13] polycat33 opened #243 "IR Devices - Others - Device Type Options?"
### Describe Your Problem

I set up some electric candles that are remote controlled in my SwitchBot app as "Other." Upon initial install, the log was telling me I needed to define a device type, so I added it to the config file, used the configRemoteType of "Others" and then tried to make it a "Light." It didn't work. I tried to make it a fan, and it did work, except on and off were backwards. Wh

[2022-02-04 07:20] Aekung opened #244 "Support Request: Since 1.12.X, updating plugin return error."
### Describe Your Problem

Since 1.12.X, updating plugin will always return error as the log output below. The only way that I could update the plugin would be to uninstall with rm -rf command for the whole homebridge-switchbot folder and reinstall the plugin again. Uninstall the plugin with Homebridge UI or normal command is not possible as well. Sometimes, it also crashes my homebridge down if t

[2022-02-04 09:51] molgar commented on #242
I am having this same issue with two Bots, stable and beta versions, installed on RPi non-docker.

[2022-02-04 12:29] donavanbecker commented on #244
Go into terminal and paste this command:

[code]

[2022-02-04 12:39] donavanbecker commented on #195
@hlc1209 I don't get info back from the bot that tells me what state it is. And I implemented cache which keeps a record even on restarts of where the bot was at, which might be causing this, but until the API reports back the state there is not much I can do.

[2022-02-04 14:09] donavanbecker commented on #243
I could add more options, but why didn't you set this up as a light in the SwitchBot app?

[2022-02-04 14:11] donavanbecker commented on #242
@molgar did you look at the [prerequisites](https://github.com/homebridge/noble#prerequisites)?

[2022-02-04 16:11] domeOo commented on #242
Sorry had overlooked that there is an extra section for docker. Now everything works. I can post tonight again what I had to do exactly if it is desired?

Thanks for your help you can close the ticket.

[2022-02-04 16:57] #242 closed, assigned to donavanbecker

[2022-02-04 16:58] donavanbecker commented on #242
That would help for anyone that stumbles upon this issue.

[2022-02-04 17:51] WaldperlachFabi opened #245 "Bug: Strip Light doesn’t work"
### Describe The Bug

If i want add my Strip Light, it throws an Error

### To Reproduce

Add a new Light Strip in the Config

### Expected behavior

Show the Strip Light in HomeKit

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![603AA2BE-9D73-4EB5-B4A4-D5BCFEF667EF](https://user-images.githubusercontent.com/80318133/152577889-09fb0b7c-7558-416e-b4

[2022-02-04 18:10] philippvogel opened #246 "Bug: Closed Curtain after some time always 1% opened state"
### Describe The Bug

After some minutes after closing the curtain via HomeKit the curtain state is changed to open with 1%, but it isn't open, the device has not moved.

### To Reproduce

Close the curtain via HomeKit, wait some minutes -> state changes to 1% open

### Expected behavior

After closing the curtain the opening position in HomeKit should be 0% (closed)

### Relevant log output

[cod

[2022-02-04 18:11] donavanbecker commented on #246
Set min and max to 10 and 90 not a negative.

This is all based off calibration and what the api sends back to the plugin, which is 1. So setting 10 will tell it to show closed if 10 or lower.

[2022-02-04 18:17] philippvogel commented on #246
Ok. Thanks for the explanation, it works.

[2022-02-04 18:17] #246 closed, assigned to donavanbecker

[2022-02-04 18:40] dnicolson commented on #123
I tried version `1.12.3-beta.5` and it hasn't resolved the issue. I'm fairly confident that the state and position are being set correctly from my testing, that doesn't appear to be the issue. Even though you don't see "Opening..." you see the loading spinner.

Maybe it's a bug in the Home app that doesn't show "Opening..." correctly with the addition of the light sensor, but @donavanbecker you do

[2022-02-04 22:49] donavanbecker commented on #245
@WaldperlachFabi, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.12.3-beta.6/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-02-05 12:13] WaldperlachFabi opened #247 "Feature Request: Adding Support for Meter in the Eve App"
### Problem

_No response_

### Solution

It is possible to get Stats of the Temperature and the Humidy in the Eve App. It would be cool if this could be added.

### Alternatives

_No response_

### Additional context

_No response_

[2022-02-05 12:14] WaldperlachFabi commented on #247
![7E6B148E-151F-4584-B922-6630F0F8F875](https://user-images.githubusercontent.com/80318133/152641647-7c919116-e142-475a-a531-22af773cd552.jpeg)

[2022-02-05 14:10] donavanbecker commented on #247
I will look into it.

[2022-02-05 18:27] WaldperlachFabi opened #250 "Bug: Strip Light Adaptive lighting doesn’t work"
### Describe The Bug

If i use the Adaptive Lighting button in HomeKit nothing wont happen

### To Reproduce

Tap on the adaptive lighting button in HomeKit

### Expected behavior

Make Adaptive lighting

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Strip Light

### Node.js Version

//

### NPM Version

//

### Ho

[2022-02-05 20:10] donavanbecker commented on #250
@WaldperlachFabi Since the light strip doesn't have color temperature this may be something that will not be enabled for Light Strips. I will look to see if I can get it to work without it

[2022-02-05 20:10] donavanbecker commented on #245
@WaldperlachFabi This is resolved now?

[2022-02-05 21:22] WaldperlachFabi commented on #245
Yes:)

[2022-02-05 21:43] #245 closed, assigned to donavanbecker

[2022-02-06 14:36] Aekung commented on #244
Did what you suggested and I could update the plugin but the update process goes on for over 10 minutes now stopping at

`reify:rxjs: timing reifyNode:node_modules/@switchbot/homebridge`

This happens every time I tried to update the plugin since 1.12.X and it will end up crashing my Homebridge. Just like now, my Homebridge is unresponsive since the updating process is not done.

I can't access bo

[2022-02-07 11:46] nmcc1212 commented on #221
@Bortinio i think i know what your issue may be
to confirm run `sudo bluetoothctl` on your pi and then try `power on` in the prompt if you get `Changing power on succeeded` then your problem is different, but if you get `No default controller available` i can help

[2022-02-08 19:44] Bortinio commented on #221
@nmcc1212 thanks for the hint here, but in the meantime I moved to a Switchbot hub, so I don't have an issue anymore.

[2022-02-08 22:25] donavanbecker commented on #123
@dnicolson can you try the latest beta?

[2022-02-09 20:13] dnicolson commented on #123
Unfortunately version `1.12.4-beta.1` hasn't resolved the issue.

[2022-02-09 21:18] donavanbecker commented on #123
@dnicolson I think your right that this is a iOS bug

[2022-02-11 20:47] henry2423 opened #259 "Feature Request: Adding Support for MeterPlus"
### Problem

HomeBridge shows the MeterPlus is not supported

### Solution

Add support for MeterPlus(US) in homebridge

### Alternatives

_No response_

### Additional context

Logs: [2/11/2022, 12:45:41 PM] [SwitchBot] Device: Meter with Device Type: MeterPlus, is currently not supported. [2/11/2022, 12:45:41 PM] [SwitchBot] Submit Feature Requests Here: https://git.io/JL14Z

[2022-02-11 21:43] donavanbecker commented on #259
@henry2423 If I push a beta quick, can you test?

[2022-02-11 21:44] henry2423 commented on #259
I can test it later today.

[2022-02-11 21:45] donavanbecker commented on #259
Thanks, try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.12.4-beta.2/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

Once you confirm it works, then I push out a new release.

[2022-02-12 17:16] wonghc1 opened #260 "Support Request: No devices detected after enter the token"
### Describe Your Problem

My curtain and bot cannot be detected, and I cannot find any device ID in Homebridge or Switchbot app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Bot and Curtain

### Node.js Version

16.14

### NPM Version

8.3.1

### Homebridge Version

1.4

### Homebridge SwitchBot Plugin Version

1

[2022-02-12 18:32] donavanbecker commented on #260
Remove your device and irdevice config section and restart. I need to make a change to correct that.

[2022-02-12 20:43] EricSabe opened #261 "Support Request: No devices through OpenAPI"
### Describe Your Problem

SwitchBot devices no longer appear in Homebridge.  Everything works fine through the iOS App.  The SwitchBot plugin was working fine and several Meters and Motion sensors were present up until I started troubleshooting the Motion sensor events last night.  I have removed/reinstalled the plugin, cleared the device cache, and created a new token.  Still nothing in Homebrid

[2022-02-12 20:47] EricSabe commented on #261
On the troubleshooting - Using Nodered to sense occupancy across SwitchBot, Nest Protect, and UniFi motion sensors and control the states of TP-Link Kasa switches.  Noticed the lights were going out where only SwitchBot motion sensors were present.  They were popping notifications in the iOS app, but those events weren't coming through the Homebridge status node in Nodered.  Tried reducing API pol

[2022-02-12 22:52] henry2423 commented on #259
@donavanbecker It works perfectly. Thanks!
![IMG_5748](https://user-images.githubusercontent.com/20208606/153731307-2da4528f-89b2-4601-b417-28688d278d59.PNG)
![IMG_5747](https://user-images.githubusercontent.com/20208606/153731311-0800b275-f302-4f40-8065-f75272a98ff2.PNG)

[2022-02-13 01:46] EricSabe commented on #261
Wondering if I somehow hit the 10k API calls/day limit.

![image](https://user-images.githubusercontent.com/91292218/153734767-2f43abcf-99fb-4114-951c-198f3bd3a091.jpeg)

[2022-02-13 02:52] donavanbecker commented on #261
Remove your device and irdevice config section and restart. I need to make a change to correct that.

[2022-02-13 03:53] EricSabe commented on #261
Seems to be working now.  I installed the beta plugin, but I don't know if that did anything - might have also hit the 24-hour mark on the API request limit.

[2022-02-13 03:53] #261 closed, assigned to donavanbecker

[2022-02-13 04:00] donavanbecker commented on #261
the latest version will not default logging configs:

[code]

[2022-02-13 04:11] donavanbecker commented on #259
@henry2423 awesome! Latest version has it in it.

[2022-02-13 04:11] #259 closed, assigned to donavanbecker

[2022-02-13 04:11] donavanbecker commented on #260
remove your config and start over with the latest version and you should be good.

[2022-02-13 04:11] #260 closed, assigned to donavanbecker

[2022-02-15 13:56] niels-vd opened #263 "Feature Request: 3 speed IR fan support?"
### Describe Your Problem

As soon as I 'enable rotation speed' for my IR fan, the plugin gives a warning that disables my devices. How should I enable speed control for a 3 speed fan, if possible at all? In the config example I used the defaults, but I get the same error with all settings.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response

[2022-02-15 14:37] donavanbecker commented on #263
first set your `"set_min": 0,` to 1 so `"set_min": 1,`.

[2022-02-15 14:43] niels-vd commented on #263
I tried that, but I get the exact same warning and behaviour. I enabled debug logging as well, but nothing strange's logged.

[2022-02-15 14:47] donavanbecker commented on #263
that's what the warning is saying though.

[2022-02-15 14:48] niels-vd commented on #263
Yeah, I thought it'd be that easy as well, but it doesn't matter what values I enter. As long as "rotation_speed": true, I get the same warning.

[2022-02-15 14:50] donavanbecker commented on #263
please change to 1 and repost logs.

[2022-02-15 14:56] niels-vd commented on #263
My config now:

            "options": {
                "irdevices": [
                    {
                        "deviceId": "02-202202081352-74320829",
                        "configRemoteType": "Fan",
                        "irfan": {
                            "swing_mode": false,
                            "rotation_speed": true,
                            "set_minStep": 1,

[2022-02-15 15:25] niels-vd commented on #263
@donavanbecker I think I found something. There seemed to be two conflicting buttons in the switchbot app fan configuration. I got rid of that and now the warning doesn't appear anymore. Now I only have to find out what's the best setting for a fan with 3 speed buttons, since I haven't figured it out yet

[2022-02-15 17:21] donavanbecker commented on #263
I will look to see if I can add these commands to the plugin. but no promise.

[2022-02-15 17:46] niels-vd commented on #263
Thanks! It’s a nice to have of course, but all effort’s appreciated

[2022-02-16 17:20] nyjklein opened #265 "Bug: BLE for curtains not working after firmware upgrade"
### Describe The Bug

Since a firmware upgrade to the hub and the curtains a couple of days ago, BLE seems to have stopped working. Also, batterystatus no longer seems to be returned. New curtain firmware v3.9. New hub firmware V3.6-2.3.

### To Reproduce

Update firmware

### Expected behavior

No errors

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshot

[2022-02-16 17:30] donavanbecker commented on #265
@nyjklein Yeah I am having the same issue

[2022-02-16 19:43] nyjklein commented on #265
BTW, here's another entry that only shows up when "standard" logging is set instead of "debug":

[16/02/2022, 00:05:21] [@switchbot/homebridge-switchbot] This plugin generated a warning from the characteristic 'Battery Level': characteristic value expected valid finite number and received "NaN" (number). See https://git.io/JtMGR for more info.

[2022-02-16 22:45] donavanbecker commented on #265
yes that will happen if bluetooth cannot connect.

[2022-02-19 09:41] donavanbecker commented on #244
sounds like a npm issue.

[2022-02-19 19:11] nyjklein commented on #265
Any prospects here? For now, I turned off BLE for the curtains. That eliminates the delay I was seeing initiating movement (I guess while BLE timed out).

[2022-02-19 19:43] donavanbecker commented on #265
Until node-switchbot is fixed to work with the latest firmware. There is nothing I can do.

[2022-02-20 17:24] dnicolson opened #267 "Bug: Ambient light level calculation"
### Describe The Bug

A light level of 2 results in an ambient light level of 666.6666666666666 and causes a rounding issue in the Homebridge UI. The Home app rounds the value to 667. This is probably unrelated, but in the Home app, the light level only appears when the room is selected and not when "Home" is selected but other switches and readings appear in both areas.

### To Reproduce

Ensure

[2022-02-20 19:29] donavanbecker commented on #267
@dnicolson Change the min and max lux will take care of this.

[2022-02-21 09:56] jey3dayo opened #268 "Feature Request: Added support for separating the power on and power off signals for Sony Bravia."
### Problem

Sony BRAVIA can separate TV ON/OFF signal. Please support it.

### Solution

Using Hidden Commands for BRAVIA.

### Alternatives

_No response_

### Additional context

https://qiita.com/takeshi_ohsawa/items/92ea34dbbeaa1110adbe#4-電源onoffボタンをそれぞれ登録する

[2022-02-21 09:58] jey3dayo commented on #268
Here is a sample of the sending format for nature remo.

Power ON Signal
[code]

Power Off Signal
[code]

[2022-02-21 10:23] #244 closed, assigned to donavanbecker

[2022-02-21 10:23] #243 closed, assigned to donavanbecker

[2022-02-21 18:36] dnicolson commented on #267
I don't think that relates to this issue.

After initially seeing light levels of 1 and 2 corresponding to 1 and 666.6666666666666 ambient light levels, the oscillation between 1 and 666 could be due to the poor accuracy of the sensor. Those light levels are in the normal range for [outdoor light levels](https://www.engineeringtoolbox.com/light-level-rooms-d_708.html).

Rounding the value in Homeb

[2022-02-22 12:37] donavanbecker commented on #104
@smartmatic can you test the latest beta and let me know if it is working for you on BLE? With Motion and contact sensors.

[2022-02-22 13:08] mrbungle64 commented on #104
@donavanbecker

For me it works with homebridge-switchbot v1.12.6-beta.0 👍🏻

But it takes quite a long time until the values are updated and I think the light sensor values are not correct.

![homebridge-switchbot 2022-02-22 14 03 45](https://user-images.githubusercontent.com/37313763/155138560-bc62e6bf-c4e3-45a0-ab8b-e52754b7b7e8.png)

[2022-02-22 14:18] #247 closed, assigned to donavanbecker

[2022-02-22 14:19] donavanbecker commented on #104
@mrbungle64 Thanks, I will look over this BLE code since I haven't touched it in a while since node-switchbot wasn't working.

[2022-02-26 01:28] dampney opened #273 "Constantly “Updating”"
### Describe The Bug

SwitchBots are constantly “Updating” in Homekit.

### To Reproduce

3 SwitchBots on a Hub Mini, with this plugin installed on Hoobs for Homekit support

### Expected behavior

Sometimes it takes a few seconds for “updating” to finish, others it never finishes.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![8CE6B0ED-01F2-464B-

[2022-02-26 01:30] dampney commented on #273
EDIT: The only solution I’ve found that works is rebooting the individual bridge the plugin is installed on - it seems to kick back into gear and works. I’ve tried reinstalling the plug-in numerous times.

[2022-02-26 01:34] donavanbecker commented on #273
FYI, this plugin is developed for homebridge not HOOBs. So really able to reproduce this.

Can you switch to homebridge and see if the same thing happens?

[2022-02-26 21:19] #123 closed, assigned to donavanbecker

[2022-03-04 12:29] HolgerAusB opened #283 "Bug: Can not install/config the plugin"
### Describe The Bug

New install of plugin v1.12.5 and no config available

### To Reproduce

Install Switchbot-plugin the first time from Homebridge UI

### Expected behavior

click on configuration should show dialogs

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

none, but Hub mini, Bot and Thermometer Plus sho

[2022-03-04 13:19] donavanbecker commented on #283
Have you tried reinstalling?

[2022-03-04 13:25] HolgerAusB commented on #283
of course. I tried to reinstall the switchbot-plugin at least three times, with restarts of HB after each install and uninstall. Maybe you can tell me a command line for the console to install an older version first?

[2022-03-04 13:30] donavanbecker commented on #283
You can install older versions from homebridge UI, but I don't know if that will help you

[2022-03-04 13:36] HolgerAusB commented on #283
No, I can't install older versions from the UI, it raises the same 404 error, no matter if I try to downgrade from an installed version or as as new install. My idea was, that this bug is maybe new and only happend when installing it the first time with curent version(s). And hopefully an upgrade from an older version will do better.

[2022-03-04 13:54] HolgerAusB commented on #283
just tried again and did screenshots while installing. There is an ERR for
https://github.com/abandonware/node-bluetooth-hci-socket/releases/download/0.5.3-8/...arm.tar.gz

![switchbot_build_err](https://user-images.githubusercontent.com/3876469/156775669-0ad11203-37e5-4a25-ae4b-456f9a91540b.jpg)

[2022-03-04 13:59] donavanbecker commented on #283
Looks like a network issue.

[2022-03-04 14:09] HolgerAusB commented on #283
Tried to download with firefox https://github.com/abandonware/node-bluetooth-hci-socket/releases/download/0.5.3-8/bluetooth-hci-socket-0.5.3-8-node-v83-linux-arm.tar.gz is not found on github.

abandonware/node-bluetooth-hci-socket/ seem not to have any releases. But I am new to Github, don't know if I am right. So its on there side, or? New version?

[2022-03-04 14:17] HolgerAusB commented on #283
or maybe moved from `/releases/...` to `/archive/refs/tags/v0.5.3-8.tar.gz` ?

[2022-03-04 14:26] donavanbecker commented on #283
please install node-switchbot [prerequisites](https://github.com/homebridge/noble#prerequisites).

[2022-03-04 14:59] HolgerAusB commented on #283
They where allready installed and the newest versions. Only the symlink cant be set because the name allready extist:
[code]
while /etc/alternatives/nodejs redirects to /usr/bin/node which would be the same.

[2022-03-04 17:09] HolgerAusB commented on #283
tried some older versions down to 1.9.0 no changes.

[2022-03-04 19:14] donavanbecker commented on #283
something with your raspbian then.

[2022-03-04 20:07] donavanbecker commented on #265
@nyjklein this is fixed in v1.12.6

[2022-03-04 20:07] #265 closed, assigned to donavanbecker

[2022-03-06 23:21] #273 closed, assigned to donavanbecker

[2022-03-07 20:12] globex182 opened #287 "Home app v1.12.6 not working"
### Describe The Bug

v1.12.6 nothing happens when triggering bot or fan (via hub) in home app

### To Reproduce

Installed today v1.12.6 and nothing happens. I reinstalled v1.12.5 and it works from the home app when triggering the bot(s)

### Expected behavior

v1.12.6 bot should be triggered via home app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screensho

[2022-03-08 04:13] donavanbecker commented on #104
v1.12.7 should resolve this.

[2022-03-08 04:13] #104 closed, assigned to donavanbecker

[2022-03-08 04:14] donavanbecker commented on #250
In v1.12.7, I have removed Adaptive Lighting support from Strip Lights because strip Lights don't have color temperature and that is required for strip lights.

[2022-03-08 04:14] #250 closed, assigned to donavanbecker

[2022-03-08 12:08] harrisonratcliffe opened #290 "Only one curtain opens"
### Describe Your Problem

I've grouped together both my right and left curtain bots. However, one of them opens and the other doesn't. Sometimes it's the right one that fails and other times it's the left.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Curtain Bot V3.9

### Node.js Version

v16.14.0

### NPM Versi

[2022-03-09 18:08] HolgerAusB commented on #283
mhh, might be, but not shure. Just updated npm and nodejs, no differences.
After installing the plugin in HB, I moved the folder
`/usr/lib/node_modules/@wsitchbot/homebridge-switchbot` to `/usr/lib/node_modules/homebridge-switchbot` and replaced the Plugin-name/id in some files from `@wsitchbot/homebridge-switchbot` to `homebridge-switchbot`. **And this works!!!** Of course I will get problems eve

[2022-03-10 12:40] HolgerAusB commented on #283
I am getting closer. It was the reverse proxy in Apache2 which causes the problem with the %2F in the URL. I will need some rewrite-rules, I think.

Now I tried it by accessing HB with the normal http://<ip>:<port> to install the plugin. But now the settings button does not do anything at first, no error and no settings. Installed some older version and then the latest, now it works, finally.

Tha

[2022-03-10 12:40] #283 closed, assigned to donavanbecker

[2022-03-10 13:04] donavanbecker commented on #283
Good to hear

[2022-03-10 20:22] #267 closed, assigned to donavanbecker

[2022-03-11 22:21] #268 closed, assigned to donavanbecker

[2022-03-15 12:49] watakushi-info opened #293 "Bug: IR Devices Lights can not Off Control in Scene"
### Describe The Bug

IR Devices Lights can not Off Control in Scene

### To Reproduce

Home App>Add Scene>Custom>Add Accessories>Select Light>Done>Press and hold Light Button>Off>[Light Accessories Disapear]

### Expected behavior

[Light Accessories Disapear]->[Light Accessories remain Off Status]

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No

[2022-03-19 09:31] danielgruber opened #298 "Bug: failed pushChanges with BLE Connection, Error Message: "Cannot read property 'press' of undefined""
### Describe Your Problem

SwitchBot is not triggered via BLE (No Bridge existing)
Thanks a lot in advance!

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Using iPhone and Home App and SwitchBot Bot

### Node.js Version

15.5.1

### NPM Version

7.3.0

### Homebridge Version

1.4.0

### Homebridge SwitchBot Plugin

[2022-03-24 20:23] #287 closed, assigned to donavanbecker

[2022-03-25 13:08] #290 closed, assigned to donavanbecker

[2022-03-29 00:55] EddieDaYankee commented on #12
Trying to expose SwitchBot Indoor Camera to HomeKit via HomeBridge. Any progress on incorporating this into the SwotchBot API or SwitchBot HomeBridge plugin? If not, can someone step me through adding the camera via the Smart Life app and Tuya?

[2022-03-29 02:10] donavanbecker commented on #12
nope because SwitchBot hasn't added it to the API.

[2022-03-29 04:51] EddieDaYankee commented on #12
I was just looking at your homebridge Tuya camera plugin. I’m not sure I understand your instructions for configuration. It says to fill in the following Tuya, test, test in your Tuya Camera username, password, and host name in the plug-in setting UI. Where exactly does this information go? I have a Tuya IOT platform account where I have other devices linked. I added my SwitchBot indoor cam which

[2022-03-29 11:04] donavanbecker commented on #12
@EddieDaYankee that is a work in progress and we need to wait till camera-ffmpeg can support it.

[2022-03-30 19:47] olikdesign opened #301 "Bug: Light Sensor LUX 6001"
### Describe The Bug

In Apple Home LUX is always 6001. In my config .json file i can add manually the curtain but nothing happens. The data is automatically in Apple Home from SwitchBot.

### To Reproduce

Everytime

### Expected behavior

Show current lux

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry P

[2022-03-30 20:16] donavanbecker commented on #301
First of all, this plugin is designed for homebridge not HOOBs.

Secondly there is a device config setting that you can change these for lux max and min.

[2022-03-30 20:28] olikdesign commented on #301
If i install the plugin it automatically adds all Accessoires from SwitchBot Hub. I cant even configurate these.

[2022-03-30 20:35] olikdesign commented on #301
Got it working.

[2022-03-30 20:57] donavanbecker commented on #301
Yes it will always add all accessories and you must configure the ones that you don't want to display.

[2022-03-30 21:15] olikdesign commented on #301
Ok. In Accessoires it shows my curtain and my DIY IR Speaker. How i can show the speaker in Apple Home? In the SwitchBot App there is no DeviceID shown.

[2022-03-30 21:38] olikdesign commented on #301
Found the DeviceId in Log Terminal but cant add it to Apple Home. Maybe i miss anything.

[2022-03-30 21:49] olikdesign commented on #301
I found out that if i use ble: true the Lux will be correct. If is false it stays 6001.

is this normal?

[2022-03-31 08:36] olikdesign opened #302 "Feature Request: Open Silent Close Performance Mode"
### Problem

I dont know if it is possible to get a option for closing curtain in performance mode and open in silent mode.

### Solution

Option in Config/json eg „open_mode“: silent, „close_mode“: performance

### Alternatives

_No response_

### Additional context

_No response_

[2022-03-31 16:13] donavanbecker commented on #302
@olikdesign, if I did implement this, how would you like me to handle this? just a config in homebridge?

[2022-03-31 16:15] donavanbecker commented on #301
Yes because BLE sees different values for Lux levels then OpenAPI. once again. you are using HOOBs which is different then homebridge, I can really only help with homebridge.

[2022-03-31 17:48] olikdesign commented on #301
All plugins i use are working like homebridge itself. But i can use the ble function.

[2022-03-31 17:48] #301 closed, assigned to donavanbecker

[2022-03-31 17:50] olikdesign commented on #302
i think just a checkbox in config and json text for advanced settings will be great.

[2022-03-31 18:08] donavanbecker commented on #301
The Config UI for homebridge is different then HOOBs which makes it harder to configure the plugin.

[2022-03-31 18:09] donavanbecker commented on #302
Instead of a checkbox, I will probably do two drop downs, one for close and one for open. Asking if you quiet or performance for each.

I will see if I can implement this.

[2022-03-31 18:45] olikdesign commented on #302
@donavanbecker
This sounds great. Because for heavy curtains the silent mode cant move it open but for closing it works. Thats why i think it will be cool to have this feature.

[2022-03-31 22:58] donavanbecker commented on #302
@olikdesign, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=1.12.9-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

you should see the settings in the config.

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-04-01 06:59] olikdesign commented on #302
@donavanbecker installed the beta but there is no option or dropdown under configuration. Is there any config.json code to test it?

[2022-04-01 11:02] donavanbecker commented on #302
<a><img src="https://user-images.githubusercontent.com/9875439/161251174-28dbe2b0-eb38-4eb0-a63d-578d72dfeb82.jpeg" width="250px"></a>

[2022-04-01 13:28] olikdesign commented on #302
Yeah this dropdowns are missing for me. I will reinstall the whole Plugin and test it again.

[2022-04-01 13:34] donavanbecker commented on #302
Homebridge UI is designed to only show it for curtain devices.

[2022-04-01 13:36] #293 closed, assigned to donavanbecker

[2022-04-01 17:45] olikdesign commented on #302
Ok, so i got it working but there are some issues:

When just clicking **closing** it works in silent mode. **(But left curtain stays at 90% closed.)**
When just clicking **opening** left curtain moves in performance mode **but right side in silent**.

When moving the slider for example to 44% opening it also moves in **silent mode** for open and close.

Also when closing the curtain in Home App i

[2022-04-02 04:29] Minsheng commented on #226
I tested it out yesterday and got the lockState: undefined error, too. In Home app, it kept showing "locking...".
The problem has been fixed just now. Please test it out.

[2022-04-02 04:32] donavanbecker commented on #226
@Minsheng Did you fix this on the API side?

[2022-04-02 11:06] donavanbecker commented on #226
@grandevice, should be corrected now.

[2022-04-04 04:50] Aekung opened #303 "Feature Request: Publish value of Temperature from Switchbot Meter to mqtt server."
### Problem

Switchbot Meter can now only be used to display the current temperature of each room, which should be suffice for what it is designed for. However, if we could publish this value to mqtt server, we would be able to use it to control the air conditioner device based on the room temperature.

### Solution

Not really sure if it's possible to publish the temperature value to mqtt broker

[2022-04-04 05:13] donavanbecker commented on #303
If someone would like to make a Pull Request, I would consider merging. I believe there is a mqtt repo out there.

[2022-04-04 05:32] Aekung commented on #303
Thanks for the reply. However, as I'm not a coder, I don't really think I can contribute anything in this project. Though I have found a link to something that might work in combination with this plugin

https://github.com/ronschaeffer/sbm2mqtt

Do you think it would work by following the installation step on Raspberry Pi and then use an IR Blaster Plugin that supports mqtt for air conditioner (li

[2022-04-04 11:46] donavanbecker commented on #303
Search "SwitchBot MQTT", there are a lot that have this support already, like I said.

https://github.com/godely/sbmeter_to_mqtt

[2022-04-05 11:18] #298 closed, assigned to donavanbecker

[2022-04-05 17:23] sy5t3ch opened #306 "Switchbot - Bot : Press-mode sets Switch to On"
### Problem

When you set a bot to "Press-mode" and press it, it goes briefly "On" - when it presses the button, and then goes back to "Off" when it is done pressing the button. However for press-buttons that switch a device on, this then doesn't represent the state of that device.

### Solution

Add an option which enables Press-Mode to set the state of the device. If pressed once, it is set to O

[2022-04-05 17:45] WHITBREADNETWORK opened #307 "Support Request:"
### Describe Your Problem

Motion sensor slow to pick up. I have the poll set the fastest on 30 seconds however when the motion sensor picks up motion it can take around 20 seconds to show motion in home or the HomeBridge ui which is a problem because I want some stair lights to activate as soon as motion seen.

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No respo

[2022-04-05 21:58] jausto commented on #226
@donavanbecker This is not working for me.

If added it to the device section but still getting errors like this.
[SwitchBot] Adding new accessory: Door Bot DeviceID: DD2F23F7A318
[4/5/2022, 5:51:23 PM] [SwitchBot] Bot: Door does not have bot mode set in the Plugin's SwitchBot Device Settings,
[4/5/2022, 5:51:23 PM] [SwitchBot] Bot: Door is defaulting to "switch" mode, you may experience issues.
[

[2022-04-12 07:38] jonzhan opened #310 "Bug: "Other" IR Devices send commandOn and commandOff at reversed times"
### Describe The Bug

When turning on a device, it sends commandOff, and vice versa

### To Reproduce

Set up an IR "Other" device and try toggling state.

### Expected behavior

Turning on a device should use the configured commandOn command, not commandOff

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry

[2022-04-12 07:46] jonzhan commented on #310
I submitted [a PR](https://github.com/OpenWonderLabs/homebridge-switchbot/pull/311) for this but it's my first, so apologies if I did anything wrong.

[2022-04-12 13:53] 1uci3n commented on #226
It keeps showing unlocking for me, I can't operate it from homekit and homebridge.

[2022-04-12 14:52] donavanbecker commented on #226
@1uci3n you won't be able to operate it. API only supports view the state.

[2022-04-12 15:00] 1uci3n commented on #226
Is there any other way for me to control my door lock from homekit ？

[2022-04-12 15:01] donavanbecker commented on #226
no unless you can push a Pull Request with Bluetooth support?

[2022-04-12 15:22] 1uci3n commented on #226
Thank you for your patient answer

[2022-04-15 11:27] jonzhan opened #314 "Bug: "Other" IR Devices send incorrect commands if repeated"
### Describe The Bug

"Other" IR Devices send incorrect commands if repeated

### To Reproduce

Try to turn off an "Other" IR device which is already off. It will turn on.

### Expected behavior

Nothing should happen or the Off command should be retransmitted.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspber

[2022-04-16 06:04] Spy-1 opened #316 "Support Request: scanDuration is less then updateRate, overriding scanDuration with updateRate"
### Describe Your Problem

Hi, how to solve the following  Log-entry: [10:04] "Curtain: Vorhang Garage scanDuration is less then updateRate, overriding scanDuration with updateRate"

### Relevant log output

_No response_

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Curtain

### Node.js Version

16.14.2

### NPM Version

8.6.0

### Homebridge Ve

[2022-04-16 13:33] suketarobei opened #317 "Feature Request:"
### Problem

_No response_

### Solution

If possible, be able to choose a "Night light" for the light,

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-16 16:43] donavanbecker commented on #317
@suketarobei Do you have an example? Not sure what you mean by night light?

[2022-04-17 07:34] suketarobei commented on #317
@donavanbecker
Paste the Switchbot app and a reference image.  Can you understand this?![image](https://user-images.githubusercontent.com/103834957/163705216-906e08cc-1f04-41c2-9764-c652eca3e213.jpeg)![image](https://user-images.githubusercontent.com/103834957/163705225-53f0f781-13dd-4850-8d7b-2733d69e8f19.jpeg)

[2022-04-17 07:51] suketarobei commented on #317
This is an IR light controller. If you don't understand, please let me know.  I'll do my best.

[2022-04-18 22:05] EricSabe opened #318 "Motion Sensor: Does Not Perform as Expected"
### Describe The Bug

Several Motion Sensors deployed alongside SimpliSafe motion sensors, tied together in nodered with TP-Link Kasa switches to enable room occupancy monitoring.  Motion should reset the occupancy timer.  SimpliSafe sensors work as expected.  SwitchBot sensors do not keep the timer running.

### To Reproduce

Turn on light.  Move around.  Find yourself in unexpected darkness afte

[2022-04-19 02:46] EricSabe commented on #318
Adding screenshot of a SwitchBot Motion Sensor Log:

![image](https://user-images.githubusercontent.com/91292218/163910068-202b2ff6-a133-4c9f-99ef-91ab5f95f602.jpeg)

[2022-04-19 02:50] EricSabe commented on #318
To compare with these events I pipe to Syslog:

![image](https://user-images.githubusercontent.com/91292218/163910447-96fd5e7d-50a5-43a7-8c0c-bf7aebfcff79.png)

![image](https://user-images.githubusercontent.com/91292218/163910472-7d301e75-9d5e-4ec8-8678-5375f34ce207.png)

[2022-04-19 21:26] RyderCragie commented on #173
This plugin is also not working for me. The logs are as follows:

![Screenshot 2022-04-19 at 22 30 58](https://user-images.githubusercontent.com/69316364/164105308-31876f30-b0f4-4fbb-baf6-58b2a930e71f.jpg)

[2022-04-19 21:33] donavanbecker commented on #173
@RyderCragie Please open an issue for yourself as your setup is probably different then this one.

[2022-04-19 21:37] RyderCragie opened #322 "Support Request:"
### Describe Your Problem

I am trying to connect my SwitchBot Bot to Homebridge via BLE.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot Bot

### Node.js Version

Latest

### NPM Version

Latest

### Homebridge Version

Latest

### Homebridge SwitchBot Plugin Version

Latest Beta

### Homebridge Config UI

[2022-04-19 21:37] RyderCragie commented on #173
Done.

https://github.com/OpenWonderLabs/homebridge-switchbot/issues/322

[2022-04-21 08:25] RyderCragie commented on #322
Still needing help with this please. 🙂

[2022-04-21 11:25] donavanbecker commented on #322
Remove your custom BLE address, and your token. Then try again. If it is still not working then you need to revisit the [prerequisites](https://github.com/homebridge/noble#prerequisites) for BLE, on what needs to be installed.

[2022-04-21 13:33] #303 closed, assigned to donavanbecker

[2022-04-22 14:00] RyderCragie commented on #322
I completely uninstalled PowerShell a while ago because it was using 100% of my CPU. So unfortunately the command failed in Command Prompt. Looks like I'm buying the proper hub.

![Screenshot 2022-04-22 at 15 00 07](https://user-images.githubusercontent.com/69316364/164729592-cc3321dd-6f47-413b-81f0-f875ac939b57.jpg)

[2022-04-23 00:34] BarnesGH opened #324 "Bug: Projector and TV IR Remotes not added"
### Describe The Bug

Projector and Fan IR Remote not added

### To Reproduce

Install plugin with one bot and either a fan or projector remote setup on the hub mini. When adding the bridge to Homekit they do not show up. I added my projector as if it were a fan and it showed up

### Expected behavior

Projector and Fan are not added as accessories in Homekit. The are added to Hoobs but not Homeki

[2022-04-23 01:02] donavanbecker commented on #324
first of all, this plugin is developed for homebridge, so use HOOBs at your own risk.

TV and projectors are added as external accessories

[2022-04-23 02:15] BarnesGH commented on #324
Understood, but when I set the ir remote for the projector as a fan, rather than a TV or Projector, it gets pulled in with the bots. When I set the projector as a projector it never asks me to add it to the home app when I’m adding the bridge. Perhaps it’s because I’m using Hoobs rather than HomeBridge though.

[2022-04-23 02:16] BarnesGH commented on #324
Nevermind. I just tried to add an accessory by saying I don’t have a code and I see them both.
thanks man!

[2022-04-23 10:51] donavanbecker commented on #324
No problem

[2022-04-23 10:51] #324 closed, assigned to donavanbecker

[2022-04-24 02:42] RyderCragie commented on #322
Ordered. Thanks anyway. :)

[2022-04-24 02:42] #322 closed, assigned to donavanbecker

[2022-04-25 17:15] forester08 opened #328 "Switchbot Meter Plus BLE Connection not refreshing"
### Describe Your Problem

Meter Plus BLE Connectionfailed refresh Status

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot Meter Plus W2301500

### Node.js Version

v16.14.2

### NPM Version

v8.5.0

### Homebridge Version

v1.4.0

### Homebridge SwitchBot Plugin Version

v1.12.8

### Homebridge Config UI X

[2022-05-04 09:24] #317 closed, assigned to donavanbecker

[2022-05-07 13:50] HolgerAusB opened #343 "Meter history for EVE not working"
### Describe Your Problem

New feature doesn't work - or - how to config this?

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

MeterPlus EU

### Node.js Version

v16.15.0

### NPM Version

v8.9.0

### Homebridge Version

v1.4.1

### Homebridge SwitchBot Plugin Version

v1.13.0

### Homebridge Config UI X Plugin Vers

[2022-05-07 13:52] HolgerAusB commented on #343
@banboobee

[2022-05-07 18:26] #314 closed, assigned to donavanbecker

[2022-05-07 23:10] banboobee commented on #343
As described in CHANGELOG, EVE history feature is implemented for meter devices but not for meter-plus devices, since I don't have such devices to confirm the functions. I hope someone who has will implement it.

[2022-05-08 10:52] RyderCragie opened #344 "Support Request:"
### Describe Your Problem

I’m getting an error message.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![0EB05F7E-99DD-477A-8476-B1D861D87482](https://user-images.githubusercontent.com/69316364/167292807-0b28894e-9849-4dc6-887f-95e5dff4261f.jpeg)
![A6B978FC-1361-4F8B-9E4F-4A982AA662BF](https://user-images.githubusercontent.com/69316364/167292809-a7

[2022-05-17 17:15] donavanbecker commented on #344
@RyderCragie can you try taking out colons out of your deviceId? so instead of "E8:DB:84:E1:C4:BA" change to this "E8DB84E1C4BA"

[2022-05-17 17:17] RyderCragie commented on #344
Which issue is this supposed to fix? I’ve lost track as there’s a few I’ve submitted. Kind Regards,Ryder Cragie          ---- On Tue, 17 May 2022 18:16:03 +0100  ***@***.******@***.***> wrote ----
@RyderCragie can you try taking out colons out of your deviceId? so instead of "E8:DB:84:E1:C4:BA" change to this "E8DB84E1C4BA"

—Reply to this email directly, view it on GitHub, or unsubscribe.You are

[2022-05-17 17:22] RyderCragie commented on #344
Just tried that. The issue still persists. I've also tried reinstalling the plugin.

[2022-05-17 17:40] donavanbecker commented on #344
Please repost config

[2022-05-17 17:49] RyderCragie commented on #344
It's the same but with the colons removed.

[2022-05-19 21:01] TristanBrotherton commented on #236
I would love this too!

[2022-05-20 21:26] TristanBrotherton opened #358 "Bug: Performance of contact sensors poor"
### Describe The Bug

Contact sensors state is immediately reflected in Switchbot app but takes a long time, or sometimes never reflected in Homebridge using API. Extremely unreliable performance.

### To Reproduce

Change state of contact sensor

### Expected behavior

Should reflect same speed as switchbot app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Scr

[2022-05-21 20:01] TristanBrotherton commented on #358
I should add, the plugin is running on its dedicated bridge as you can see on a dedicated homebridge server with 32gb RAM and plenty of CPU, so this isn’t host performance based. Its on a gigabit internet connection.

[2022-05-21 20:03] donavanbecker commented on #358
Your refreshRate is at 120 which is 2 mins.

[2022-05-22 13:51] johannes-kk opened #359 "Support Request: unable able to establish BLE Connection"
### Describe Your Problem

SwitchBot Bot not working with BLE on clean HomeBridge Image on Raspberry Pi 4

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

**Additional details**:
- Brand new Raspberry Pi 4 with clean HomeBrdige Raspbian Image v1.0.35 installed. Only plugin installed is this one.
- SwitchBot Bot firmware v4.9, connecting via BLE, no Sw

[2022-05-22 16:24] donavanbecker commented on #359
You may need to install some of these dependencies: https://github.com/oznu/homebridge-syno-spk/wiki/DSM-7:-Enable-Compiling-Of-Native-Modules

[2022-05-23 21:54] johannes-kk commented on #359
Thanks for answering.

I installed everything and hit reboot, but it seems it broke the HomeBridge. It's just stuck on "Starting now..", even when force starting via ssh.

The [guide you linked](https://github.com/Entware/Entware/wiki/Install-on-Synology-NAS) also includes creating an Autostart Task using DSM > Control Panel > Task Scheduler. I'm a noob here, but this seems to be different from a

[2022-05-23 21:56] donavanbecker commented on #359
Sorry meant just the extra tools:

`opkg install make gcc python3 python3-dev `

And Bluetooth stuff:

`opkg install bluez-daemon bluez-libs bluez-utils bluez-utils-extra libudev-zero`

[2022-05-23 22:01] johannes-kk commented on #359
I've set up a fresh HomeBridge image again now, but am running into `opkg command not found`.

Using `sudo su` to get root and `cd ~` to get to the root folder, I use `apt-get install make gcc python3 python3-dev` instead and get that all those packages `... is already the newest version`.

In contrast, the whole `bluez-daemon` set of packages returns:

[code]

If instead I try `apt-get install bl

[2022-05-23 23:44] donavanbecker commented on #359
Not sure

[2022-05-24 23:23] #343 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-05-25 19:31] SherpaMiguel commented on #359
Same issue here. Tried everything suggested and still getting "wasn't able to establish BLE Connection". Also raspberry pi 4 running pi os.

[2022-05-25 19:41] donavanbecker commented on #359
this is definitely a dependency on things needing to be installed.

[2022-05-25 20:06] TristanBrotherton commented on #358
Correct, changing this value to its minimum (35) doesn’t improve the responsiveness or reliability. This is a problem others also seem to have.

[2022-05-25 21:35] donavanbecker commented on #358
@TristanBrotherton I can only pull the info the API gives me. Nothing else I can do to make it more reliable unless you are using BLE connection and looking at the status ever second.

[2022-05-28 01:29] PBXLthrMan opened #364 "Bug: Removed Bot Still Showing In HomeKit"
### Describe The Bug

Removed Bot Is Still Showing In HomeKit

### To Reproduce

Remove the Bot from SwitchBot app, remove the bot from the Homebridge config, reboot SwitchBot Hub, reboot Homebridge

### Expected behavior

Bot should be removed from HomeKit

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![IMG_5071](https://user-images.githubusercont

[2022-05-28 02:25] donavanbecker commented on #364
You will have to clear with Homebridge Settings by clearing accessory cache on that accessory.

[2022-05-28 02:30] PBXLthrMan commented on #364
I’m sorry I’ve never had to do that before. How does one accomplish that?

[2022-05-28 03:06] PBXLthrMan commented on #364
Figured it out. Worked. Thanks.

[2022-05-28 03:17] #364 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-05-30 01:54] dampney commented on #273
Late follow up:

I've switched to Homebridge installed on Mac Mini and it's working reliably now compared to Hoobs. There are times where one or two will go "offline" in the Home app but thats a Homekit issue, besides that it's reliable as HomeKit can be.

Thanks!

[2022-06-01 18:27] HolgerAusB commented on #344
Did you activate the cloud service for the Bot device in your iPhone App? OK, the error log shows something different - just to get shure.

[2022-06-01 18:28] RyderCragie commented on #344
Yes, it is turned on. Hence why it works at all.

[2022-06-03 12:29] johannes-kk commented on #359
I gave up and got a Switchot Hub Mini to trigger it via API calls instead.

[2022-06-03 13:23] donavanbecker commented on #359
Perfect

[2022-06-03 13:23] #359 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-06-03 20:06] RyderCragie opened #371 "Support Request:"
### Describe Your Problem

If my SwitchBot Bot is off and I turn it on via the SwitchBot app, Alexa or Google Home, it doesn't switch to "On" in Apple HomeKit or Homebridge. It is the same if it is on and I turn it off.

### Config for homebridge-switchbot

[code]

### Device & Model

SwitchBot Bot

### Node.js Version

16.15.0

### NPM Version

8.12.1

### Homebridge Version

1.4.1

### Homebridg

[2022-06-03 20:07] RyderCragie commented on #371
Just to clarify, if my SwitchBot is off and I turn it on via the SwitchBot app, Alexa or Google Home, it doesn't switch to "On" in Apple HomeKit or Homebridge.

[2022-06-03 20:42] RyderCragie commented on #344
Moved to a new machine. This particular problem is now solved. With that comes another 3.

https://github.com/homebridge/homebridge/issues/3155
https://github.com/homebridge/homebridge/issues/3156
https://github.com/homebridge/homebridge/issues/3157

[2022-06-03 20:42] #344 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-06-09 14:09] simplytoast1 opened #378 "Bug: Power State Being Resent for On/Off Control"
### Describe The Bug

Despite HomeKit reporting a device is on when I have an automation that calls for a device to be on a duplicative command is sent actually turning the device off

### To Reproduce

Create an automation that calls for a light to be on.  Despite the light being on it sends an IR command turning it off.

### Expected behavior

If a device is in a state that a command calls for s

[2022-06-09 17:55] TristanBrotherton commented on #358
Would moving to the recently launched US site help improve performance?

[2022-06-10 16:59] rayyang8228 opened #380 "Support Request: IR Device Status is Off"
### Describe Your Problem

IR Devices Status is Incorrect

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No response_

### Screenshots

Both "Speaker" and "TV" (IR Devices) are shown as Off in the Home App and HomeBridge when the devices are on. Is there a way to change this?

![Screenshot 2022-06-11 at 12 57 53 AM](https://user-images.githubusercontent.com/10727015

[2022-06-13 02:15] #226 closed, assigned to donavanbecker

[2022-06-16 19:03] Snderr90 opened #397 "Bug: Light sensing doesn't communicate with homebridge and homekit"
### Describe The Bug

Light sensor doesn't register the actual Lux, it's stuck on 6001 Lux

### To Reproduce

No steps necesarry, it's on 6001 Lux all the time

### Expected behavior

Correct register of the amount / level of light that the switchbot curtain registers in the switchbot app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![IMG_9763](ht

[2022-06-16 19:09] Snderr90 commented on #397
Hi,

I'm relatively new to homebridge (,Github) and Raspberry Pi at all.
But this is a description of the problem:

Can somebody please help me with getting my Switchbot light-sensors from the curtain bots to work properly in Apple Homekit.

I've connected the curtain bots to Homekut throughout Homebridge but the light-sensors in Homebridge and Homekit keep on saying the same amount of Lux (6000Lu

[2022-06-17 05:14] donavanbecker commented on #397
This is all based off the API data.

[2022-06-17 16:07] siobhanellis opened #399 "Feature Request: Battery % from Curtains to be shown in Homebridge/HomeKit"
### Problem

Currently, to see how much battery is left I have to go into the SwitchBot app, and go through multiple screens.

### Solution

Pass the Battery % through to homebridge/HomeKit

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-17 16:09] siobhanellis commented on #397
I have this problem as well. Running Homebridge on Mac OS

[2022-06-18 02:35] vladkorotnev opened #400 "Feature Request: ability to use custom IR command for light off"
### Problem

Some lights use separate buttons for Power On/Brightness Toggle and Power Off on the remote control. So turning off the light via Homebridge instead just switches the brightness to low.

### Solution

Allow using a custom command for power off and on separately.

### Alternatives

_No response_

### Additional context

_No response_

[2022-06-20 03:15] Jacksonbm1 commented on #226
Ok, so I see a bunch of features being pulled in, are these ble or based on the hub integration? It's hard for me to tell  – I suspect because this is all beta. Just trying to understand the state of the plugin

[2022-06-20 03:23] donavanbecker commented on #226
OpenAPI

[2022-06-20 13:08] Jacksonbm1 commented on #226
Is the open api hub only?

[2022-06-20 13:25] donavanbecker commented on #226
@Jacksonbm1 Yes

[2022-06-22 21:07] Vreyhoudt commented on #397
Same here. I haven’t found any solution so far (except for hiding the light sensor for HomeKit, although I didn’t succeed in that either).

[2022-06-25 18:36] donavanbecker commented on #380
It isn't incorrect, it gets out of sync since you IR doesn't stay in sync.

[2022-06-25 23:36] Ab4321 opened #408 "Bug: No Device Type Set"
### Describe The Bug

SwtichBot Hub Mini. I have a fireplace connected via IR, works fine in the SwitchBot app. In HomeBrdige, I have the device ID as Master Fireplace, Remote Type as Others IR (I've tried AC too, same error).

### To Reproduce

Anytime I reboot HomeBridge

### Expected behavior

IR power switch to show up in HomeKit

### Relevant log output

[code]

### Config for homebridge-swit

[2022-06-25 23:43] Ab4321 commented on #408
Just updated to HomeBridge 1.5.0 and plugin version 1.14.0, same error. Also tried setting it as Remote Type Fan IR, same error.

[2022-06-26 00:14] donavanbecker commented on #408
Why is your deviceId = Master Fireplace?

Should be = 02-202206181700-83212306

[2022-06-26 01:06] Ab4321 commented on #408
Thanks, that solved the issue so not it shows up in HomeKit. Here is my JSON now. Below that is the new error I'm getting when clicking on it in HomeKit...

        {
            "name": "SwitchBot",
            "credentials": {
                "openToken": [DELETED TO KEEP SECRET],
                "notice": "Keep your token a secret!"
            },
            "options": {
                "irdev

[2022-06-26 01:11] Ab4321 commented on #408
Never mind, figured out how to map the power button to on/off. Is it possible to map other IR buttons to commands too?

[2022-06-26 01:29] donavanbecker commented on #408
Not currently

[2022-06-26 05:09] sekkamoyou opened #409 "Support Request: Custom IR blast not working on Homekit (DIY AC Remote)"
### Describe Your Problem

Custom IR blast not working on Homekit (DIY AC Remote)

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

I'm not native English speaker so sorry for my poor English :(

Just setting up Homebridge and connect with my Switchbots, but one of my AC IR Remote setting not working properly
none of options of switchbot's model option

[2022-06-26 05:50] Guserhkt opened #410 "Support Request:"
### Describe Your Problem

[SwitchBot] Was 'node-switchbot' found: false

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

Can't seem to get my bluetooth working, it was a fresh install

### Device & Model

Raspberry Pi Zero W

### Node.js Version

v16.15.1

### NPM Version

v5.51

### Homebridge Version

v1.5.0

### Homebridge SwitchBot Plugin

[2022-06-26 11:04] donavanbecker commented on #410
Did you follow the prerequisites? On node-SwitchBot that this plugin directs too?

[2022-06-26 19:16] #358 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-06-27 21:21] PandaUnit-TWL opened #412 "Bug: Plugin fails install on new homebridge install."
### Describe The Bug

Plugin fails install on new homebridge install after backup.

### To Reproduce

Attempt to install plugin after restore from backup. Backup has/had verified Govee, switchbot, and wled plugins. Both Govee and switchbot plugins did not install despite the restore going through each plugin install process automatically. Attempted normal gui install from plugin tab only worked fo

[2022-06-29 16:47] grunkyb opened #415 "Bug: 'failed pushChanges with BLE Connection'"
### Describe The Bug

Bot connected to BLE, but does not respond in Homekit

### To Reproduce

Install plugin, enter device MAC and other details, run plugin as child bridge

### Expected behavior

When clicking on switch icon in Home.app, the press function should activate

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & M

[2022-06-30 04:30] danberger opened #416 "Support Request: Unresponsive curtains"
### Describe Your Problem

Plugin finds my curtains but they're unresponsive

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![IMG_0F3527F63F74-1](https://user-images.githubusercontent.com/613302/176592738-67750c52-7723-437b-8693-ce4f053f5a0b.jpeg)

### Device & Model

HOOBS v4.2.5

### Node.js Version

v16.15.1

### NPM Version

unsure

### Homebrid

[2022-06-30 04:50] donavanbecker commented on #416
This plugin is desire for homebridge not HOOBs, I would recommend switching

[2022-06-30 11:51] grunkyb commented on #415
OK, schoolboy error here. It works fine when you enter the API token. I thought that was only needed for connections by the open API rather than just BLE.

[2022-06-30 11:51] #415 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-06-30 15:24] danberger commented on #416
HOOBs is Homebridge in a box though... it's running homebridge and uses the same plugin library

[2022-06-30 16:17] donavanbecker commented on #416
It is not the same. And since I don't have HOOBs and didn't design the plugin for HOOBs, I won't be able to help you with issues on HOOBs.

[2022-07-01 04:51] dampney opened #417 "Feature Request: Combine Two SwitchBots into one Accessory?"
### Describe Your Problem

To open my garage door, I use two SwitchBots. Is it possible to expose the two accessories as one in Homekit? To open my garage door, the first SwitchBot has to turn on the intercom before the second opens the gate. I can easily expose my individual SwitchBots as Garage Doors in Homekit, but need to combine the two accessories into one for it to actually work.

### Relev

[2022-07-01 08:39] AKWillows commented on #399
I would love to have this feature too :-)

[2022-07-01 11:09] donavanbecker commented on #399
Are you using BLE or OpenAPI? Because BLE has this. OpenAPI doesn't supply this info.

[2022-07-01 11:50] siobhanellis commented on #399
Using OpenAPI as going via hub

[2022-07-01 12:55] donavanbecker commented on #399
Not possible with OpenAPI right now

[2022-07-01 13:04] siobhanellis commented on #399
OK. Doesn’t change the feature request though :-D

[2022-07-01 13:14] donavanbecker commented on #399
I would like it too, but until SwitchBot adds support, you won't see it.

[2022-07-01 14:21] siobhanellis commented on #399
Isn’t this plugin supported by SwitchBot?

[2022-07-01 14:58] donavanbecker commented on #399
I mean technically yes.

I created this plugin independently from SwitchBot, They reach out to me and asked me if I would like to merge it with their organization on Github and I said yes. So now I still maintain the plugin, but they are the ones that would have to add support like this to the API, before I can add it to the plugin.

[2022-07-01 15:16] siobhanellis commented on #399
Ah. Thanks.

Guess you have a feature request then :-)

[2022-07-01 19:38] danberger commented on #416
Understood. Thank you for replying and writing this plugin! <3

[2022-07-03 08:39] anasasraf opened #418 "Support Request: Unable to turn ON DIY Air Conditioner"
### Describe Your Problem

Unable to turn ON DIY Air Conditioner using Home app. Previously, there was no issue, maybe up until some plugin update. No issues with turn OFF. Also, no issues turn ON/OFF using SwitchBot app. Please advise. Thank you!!

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

This is the setting.
![D975868B-4F40-46D7-BBB1-9AD297C8

[2022-07-05 15:55] PBXLthrMan opened #419 "Support Request: Unable to Install 1.14.1"
### Describe Your Problem

I keep getting an error when I try to update the plugin from 1.13 to 1.14.1

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

<img width="801" alt="Screen Shot 2022-07-05 at 11 54 45 AM" src="https://user-images.githubusercontent.com/90646855/177368402-54cabb91-7fe4-44cb-8c0b-5da93a358593.png">

### Device & Model

Raspberry

[2022-07-05 16:27] donavanbecker commented on #419
You will have to do a rm of the directory it is display in the install logs.

So
[code]

then try reinstall

[2022-07-05 16:30] PBXLthrMan commented on #419
Aye aye. Trying that now.

[2022-07-05 16:33] PBXLthrMan commented on #419
@donavanbecker that did it. Thank you as always.

[2022-07-05 16:35] #419 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-07-12 00:55] cs-banane commented on #124
I use the v1.14.1 and the double press still doesn't work

[2022-07-12 00:56] cs-banane opened #420 "Feature Request:"
### Problem

No double press possible

### Solution

Can you fix it?

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-15 12:58] taikun114 opened #422 "Support Request: Unable to establish BLE connection"
### Describe Your Problem

Unable to connect SwitchBot Product to Homebridge via BLE

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

**Additional information**
- No other plug-ins are installed.
- Connecting using OpenAPI is not a problem.
- Terminal, Node.js, and NPM Bluetooth are allowed in the system preferences.
![スクリーンショット 2022-07-16 12 52 09](h

[2022-07-15 14:21] nekonora opened #423 "Bug: IR Air Conditioner has different/missing modes between the iOS app and what gets exposed to HomeKit"
### Describe The Bug

IR remote Air Conditioner device added to homebridge is missing modes that are otherwise present in the controls of the iOS App. Specifically `dry` and `fan_only`. Can set only `cool`, `heat` and `auto`.

### To Reproduce

Add and configure a Switchbot account with an Air conditioner remote IR device. Look inside Home.app on iOS or macOS.

### Expected behavior

Air Condition

[2022-07-15 15:28] donavanbecker commented on #423
Not possible to add those other modes.

[2022-07-16 10:17] grunkyb opened #424 "Support Request: Switchbot Curtain Rod 2 only opens/closes from Homekit with debug logging"
### Describe Your Problem

When I try to open or close curtains from Home.app, no action happens and the icon returns to its previous state

### Relevant log output

#### Log file with _no_ debug

[code]

#### Log file _including_ debug
<details>
<summary>Here's the key bit. Full code in next two comments.</summary>
[code]
</details>

### Config for homebridge-switchbot

[code]

### Screenshot

<i

[2022-07-16 10:47] grunkyb commented on #424
<details>
<summary>Here's a longer version of the log file with debug on (part 1 of 2)</summary>
[code]
</summary>

[2022-07-16 10:48] grunkyb commented on #424
<details>
<summary>Here's a longer version of the log file with debug on (part 2 of 2)</summary>
[code]
</summary>

[2022-07-19 09:23] Lazza opened #425 "Support Request: The Bot does not get triggered despite being connected to BLE"
### Describe Your Problem

I am trying to activate a SwitchBot Bot via Homebridge. The device is connected correctly via BLE and shows the battery level (it seems). Nevertheless, when triggering the Bot, nothing is performed.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

## Dockerfile

[code]

### Device & Model

SwitchBot Bot

### Node.js Version

[2022-07-20 09:22] #418 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-07-20 23:24] Lazza commented on #425
# Solution for Raspberry Pi - Raspbian

Finally, after days of trying **I solved the issue.**

This is due to the configuration _of the host system_ (not the Docker container).

According to [this Stack Overflow](https://stackoverflow.com/a/33527434/1101509) answer, one has to disable a plugin called `pnat`. This is done by adding the following line at the bottom of `/etc/bluetooth/main.conf`:

[2022-07-20 23:24] #425 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-07-21 16:06] Lazza commented on #415
In my case it was a problem with Raspbian itself. I am linking the solution here, so that someone arriving from a search engine might find it useful.

https://github.com/OpenWonderLabs/homebridge-switchbot/issues/425#issuecomment-1190864279

[2022-07-21 16:07] Lazza commented on #359
I had a similar issue and it turned out it was a problem with the configuration of Raspbian.

Here is what solved it for me: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/425#issuecomment-1190864279

[2022-07-21 16:26] donavanbecker commented on #415
Thanks @Lazza! Would you create a PR for noble? To add to prerequisites?

[2022-07-21 16:35] Lazza commented on #415
Hi @donavanbecker, do you mean regarding the README / docs of Noble?

I see there are two repos, one is @abandonware/noble and the other is @homebridge/noble.

[2022-07-21 16:53] grunkyb commented on #424
The [solution](https://github.com/OpenWonderLabs/homebridge-switchbot/issues/425#issuecomment-1190864279) in #425 from @Lazza did the trick:

1. Edit the configuration file with `sudo vi /etc/bluetooth/main.conf` or `sudo nano /etc/bluetooth/main.conf`.
2. Add `DisablePlugins=pnat` to the end and save.
3. Restart Bluetooth service with `sudo systemctl restart bluetooth.service`.

[2022-07-21 16:53] #424 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-07-21 16:56] joeyhoer commented on #397
@donavanbecker Said in [another comment](https://github.com/OpenWonderLabs/homebridge-switchbot/issues/301#issuecomment-1084800804):

And then in [another thread](https://github.com/OpenWonderLabs/homebridge-switchbot/issues/301#issuecomment-1084800804):

Would it be possible to update open API to send more than two values? It would be awesome if the light sensor were more accurate with OpenAPI.

[2022-07-21 16:58] donavanbecker commented on #415
Yes, @abandonware/noble is what is being used

[2022-07-21 20:54] mitchplze opened #427 "Feature Request:"
### Problem

_No response_

### Solution

It would be great if we had the ability to control the Switchbot Lock via BLE, as opposed to the API, for those of us who do not have the Switchbot hub.

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-21 21:17] donavanbecker commented on #427
Would have to be added to the BLE repo: node-switchbot

[2022-07-21 21:26] damanveen opened #428 "Support Request:"
### Describe Your Problem

Integration stopped working

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

The plugin was working normally but stopped. I tried resetting the token but i cannot even get it to authorize now. I contacted support and they told me to create a ticket here. I am hoping someone can fix my authorization issue

### Device & Model

[2022-07-23 14:54] andr3a88 opened #429 "Feature Request: Support for Pan-Tilt Camera"
### Problem

_No response_

### Solution

HomeKit support for Pan/Tilt Camera

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-23 15:36] Lazza commented on #415
OK, I asked because the README of this repo links here:

https://github.com/homebridge/noble#prerequisites

I will create a PR for the upstream repo.

---

Edit: here it is. https://github.com/abandonware/noble/pull/263

[2022-07-23 15:50] bwp91 commented on #415
Hey @Lazza out of interest what issues were you facing before you found this solution?

I’m asking because I also have a homebridge plugin which uses noble, and have a few users who have issues with bluetooth connectivity.

Thanks!

[2022-07-23 15:53] Lazza commented on #415
@bwp91 after spending a lot of time investigating what I thought was a plugin defect, I discovered that the board could not connect to BLE at all. Not only via the plugin, but also via a custom Python script that I tried.

After changing the config file I tried again with Python and it worked immediately, then the homebridge-switchbot plugin started to work as well.

So generally speaking BLE was

[2022-07-23 16:49] xhi-nico opened #430 "Bug: "Door" accessory never enters "Open" state in HomeKit"
### Describe The Bug

When Bot is used to open a door, HomeKit only sees "Openning" state, never actually "Open"

### To Reproduce

Using a SwitchBot, show as Door accessory

### Expected behavior

The "Door" accessory in HomeKit should receive a "Open" state at least for a second; otherwise HomeKit automations won't work because it never recognizes the door actually opened. It only see's that it

[2022-07-23 17:02] bwp91 commented on #415
thank you @Lazza your solution may hopefully be useful to users of my plugin as well as switchbot

[2022-07-23 18:28] donavanbecker commented on #415
I will update that. Sorry.

[2022-07-23 20:40] danberger commented on #416
Wondering if you’d be willing to work with me on this this issue so that you’re plugin is compatible with HOOBS too?

[2022-07-23 22:24] donavanbecker commented on #416
@danberger, I have no plan on troubleshooting on HOOBs. I would recommend switching to homebridge.

[2022-07-23 22:24] #416 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-07-23 22:25] donavanbecker commented on #415
updated

[2022-07-23 22:26] donavanbecker commented on #429
OpenAPI would have to support first.

[2022-07-24 14:51] jey3dayo opened #431 "Feature Request: Support for Ceiling light."
### Problem

Ceiling light not recognized.

### Solution

Please support Ceiling light of switchbot. https://www.switchbot.jp/products/switchbot-ceiling-light

### Alternatives

_No response_

### Additional context

_No response_

[2022-07-25 19:57] renfeisong opened #432 "Bug: Curtain does not open close reliably (OpenAPI)"
### Describe The Bug

When setting the curtain to fully open/closed in Home app, they do not always respond

### To Reproduce

Set up curtains with Open API, and open/close them with Home app

### Expected behavior

The curtains open/close every time.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

[failed to close (left curtain) (unknown error).txt]

[2022-07-26 04:55] kapabel opened #433 "Bug: wrong IR signal gets sent out"
### Describe The Bug

When switching the device on, the ON signal gets sent out, when switching the device Off, also the ON signal gets sent out

### To Reproduce

I hit the off button

### Expected behavior

The OFF function should be sent out

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Hub mini and Panasonic P

[2022-07-27 20:00] HolgerAusB opened #434 "Support Request: How am I supposed to use a contact sensor via API's 30sec restriction?"
### Describe Your Problem

**30 Seconds refresh rate is far too long for contact or motion sensor**

As the installation of @abandonware/noble fails on Raspberry 4B I am unfortunately not be able to use BLE for the contact sensor. But the API version don't want me to refresh faster than every 30 seconds, which seems to be because of the maximum of 10,000 API calls per day.

But with this limitatio

[2022-07-30 05:12] Jacksonbm1 opened #435 "Bug: lock stopped working with "Device internal error due to device states not synchronized with server""
### Describe The Bug

The lock won't unlock via homekit/homebridge with error :190

### To Reproduce

Unlock door using homekit tile (generated via homebridge)

### Expected behavior

Door should unlock

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

It's just the lock

### Node.js Version

v16.16.0

### NPM Version

[2022-07-30 05:15] Jacksonbm1 commented on #435
Add details: The lock works with the switchbot app with/without wifi/bluetooth, which means that it's not the cloud integration's fault.

[2022-07-30 05:24] Jacksonbm1 commented on #435
Rebooted the hub as per https://github.com/OpenWonderLabs/SwitchBotAPI/issues/3#issuecomment-751431339 but it did not resolve the issue.

[2022-07-30 05:28] Jacksonbm1 commented on #435
Found related issue: https://github.com/OpenWonderLabs/SwitchBotAPI/issues/121

[2022-08-01 16:35] #423 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-03 07:18] iSteve-O commented on #430
I used to have my coffee maker bot set to "press" mode in Homebridge config and it was annoying because as soon as it would turn on it would go back off ("stateless").

I changed the mode from press to "switch," and the HomeKit tile went from stateless to normal staying on until turned off, and now matches my coffee maker. On the rare occasion something funky happens it may get out of sync at you'

[2022-08-03 07:27] iSteve-O commented on #434
Check out this page to enable BT on your pi4b. I have a pi4b and use BT for Homebridge devices. I had to do this first though, and you may need to install plugins again after to get BT depends, but I don't remember. I just remeber it was easy & worked the first time (I don't have my bot configured to use BT, but maybe I should, who knows). Good luck!

https://github.com/bwp91/homebridge-govee/wiki

[2022-08-03 13:43] #422 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-03 15:21] HolgerAusB commented on #434
Thanks Steve, I tried the BLE things with all help- or howto-pages I found. Switchbot itself installs, but fails for noble. On two Raspi 4B I got errors, even when I install by hand.

`npm install @abandonware/noble`

The logfile is while using this on the browser-console of the homebridge-UI. Homebridge was installed with apt from repo.homebridge.io

[2022-08-03T15_06_28_053Z-debug-0.log](https:/

[2022-08-04 12:50] guptaramm commented on #435
Can we connect with the dev team and ask the status ?

[2022-08-04 12:54] Jacksonbm1 commented on #435
https://twitter.com/richardmou63/ is one of the devs and is very responsive to twitter/reddit dms. Also their facebook group. I would also follow the related issue that I commented in: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/435#issuecomment-1200094783

[2022-08-07 22:21] #427 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-07 23:21] #428 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-10 06:20] TheToLoveRuDarkness opened #438 "Support Request: No IR Devices After Homebridge Uppdate"
### Describe Your Problem

After the Update to the newest Homebridge UI the IR Device stop working

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![5D400BF5-15DE-4FEC-A207-C9BADBA57190](https://user-images.githubusercontent.com/94400178/183827879-2d196bee-cb68-47a1-b780-b525e5ccea61.jpeg)

### Device & Model

Raspberry Pi 3 Model B

### Node.js Vers

[2022-08-10 13:15] donavanbecker commented on #438
Have you tried reinstalling plugin?

[2022-08-10 13:16] TheToLoveRuDarkness commented on #438
Yes I have

[2022-08-10 13:36] donavanbecker commented on #438
This is something to do with the mqtt client. Which I did not implement.

[2022-08-10 13:48] drosenberg-gh commented on #435
I purchased a SwitchBot lock because of the API and specifically this plug-in. I was really disappointed to hear that SwitchBot disabled the ability to control the lock via the API (OpenWonderLabs/SwitchBotAPI#121). At the very least can you please enable the ability to lock the SwitchBot lock using the API/Homebridge plug-in.

[2022-08-10 17:48] TheToLoveRuDarkness commented on #438
And how can I fix it?

[2022-08-10 18:40] kapabel commented on #433
This bug is still occurring. The log says "command: turnOff" but its the turnON signal thats getting sent out.

[2022-08-11 02:16] donavanbecker commented on #438
Only suggestion I can suggest would be to completely uninstall and remove plugin and then reinstall then reset it up

[2022-08-11 19:14] TheToLoveRuDarkness commented on #438
The Error is in the Switchbot Plugin. I tried several installations an 2 complete refreshed Homebridges but im always get this in the Switchbot Plugin Installation.

node-pre-gyp ERR! install response status 404 Not Found on https://github.com/abandonware/node-bluetooth-hci-socket/releases/download/0.5.3-8/bluetooth_hci_socket-0.5.3-8-node-v93-linux-arm.tar.gz

[2022-08-11 19:24] TheToLoveRuDarkness commented on #438
I now get it somehow fixed but ask me not how.

[2022-08-11 19:24] #438 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-11 21:20] #432 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-12 17:44] tgibs97 commented on #435
Are there any updates on this?

[2022-08-12 17:46] Jacksonbm1 commented on #435
This isn't really an issue with the plugin. It's an issue with the api that the plugin uses. This is the link to that bug: https://github.com/OpenWonderLabs/SwitchBotAPI/issues/121

You should follow it there.

Edited: corrected link

[2022-08-12 17:50] tgibs97 commented on #435
Ohhhh I see now, yeah looks like Switchbot turned off API access for their lock, that sucks, thanks for the clarification

[2022-08-13 21:19] #420 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-14 21:24] bradenpecora opened #439 "Support Request: Bot not working over BLE"
### Describe Your Problem

Bot not working over BLE

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/70350053/184555413-0ee568a1-a801-4856-a29d-706e248c3529.png)

### Device & Model

SwitchBot Bot V5.0

### Node.js Version

v16.16.0

### NPM Version

v8.17.0

### Homebridge Version

v1.5.0

### Homebr

[2022-08-15 06:30] minipli commented on #328
I think you need to remove the double dots from the `deviceId` setting, like changing this:
[code]
to this:
[code]
(obviously replacing "xxxx" with the correct values).

[2022-08-17 09:16] afmklk commented on #417
I have a similar request. I use two bots to control my window blind controller (one bot presses the "UP" button, the other the "DOWN" button). It would be great if these could be combined into a single switch (or even better: window cover) device in Homekit.

[2022-08-18 14:32] kyow41ca opened #441 "Feature Request：Switchbot Lock"
### Problem

_No response_

### Solution

I want you to support Switchbot Lock. There is also an API. Thank you.

### Alternatives

_No response_

### Additional context

_No response_

[2022-08-18 14:53] kyow41ca commented on #441
It's already supported. I'm sorry for the lack of confirmation.

[2022-08-18 14:53] #441 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-18 14:53] kyow41ca commented on #441
It's already supported. I'm sorry for the lack of confirmation.

[2022-08-18 21:13] LittleJ commented on #434
I agree with @HolgerAusB. As the motion detection for contact sensors is not supported by webhook using the API, the refresh rate should be wayyy shorter. (cf: https://github.com/OpenWonderLabs/SwitchBotAPI/issues/94)

I was surprised to see that it takes 30sec for my HUE light to turn on using Homekit automation. I just can’t use it…

I have the same issue with Home Assistant. Probably because of

[2022-08-18 21:34] iSteve-O commented on #434
I use the extremely cheap Aqara zigbee contact sensors with native HomeKit (& Google & Alexa) support and they're super fast and work every time (& did I mention super cheap?).

I highly recommend you don't buy anymore SB sensors unless they implement native HomeKit  & you have tested it meets your expectations.

Zigbee or thread is what you want with contact & motion sensors for automation. I've

[2022-08-18 21:52] LittleJ commented on #397
Same issue here

[2022-08-18 22:12] LittleJ opened #442 "Support Request: Switchbot lightstrip latency"
### Describe Your Problem

Turning on the light strip is fast. But when I want to change brightness or turn it off it takes up to 15 seconds. The issue happens when I use the Home app on iOS and when I use the switch directly in Homebridge too.

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

Strip Light (v1.2

[2022-08-20 08:28] #430 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-20 09:57] PvdGulik opened #444 "After update to latest version 1.14.2 errors"
### Describe The Bug

repeating TypeError message: processLeAdvertisingReport: Caught illegal packet (buffer overflow): TypeError: Cannot read properties of undefined (reading 'slice')

Stopping de Hombridge Switcht plugin stops the errors in the logging.

### To Reproduce

Update from 1.14.1  ->> 1.14.2

### Expected behavior

no TypeError

### Relevant log output

[code]

### Screenshots

_No re

[2022-08-21 00:41] dampney opened #445 "Feature Request: Delay Off"
### Solution

Is there a way to DelayOff a Bot so the ‘on’ state turns ‘off’ after a select period of time?

### Problem

I have a Bot on my Coffee Machine, and when it turns on by my SwitchBot, the Machine stays ‘on’ for 9 minutes, and I’d like to keep it on so when someone activates it in Homekit or via Siri, the Coffee Machine stays ‘on’ instead of accidentally getting turned off.

[2022-08-21 11:28] grunkyb commented on #444
I have this error too and it persists when returning to 1.14.0

[2022-08-21 12:03] donavanbecker commented on #444
None of those errors look like they are coming from SwitchBot

[2022-08-21 12:13] PvdGulik commented on #444
Hello Donavan,

That is a little fast concluded. After upgrading to the latest plugin it started with this error.
And when you dis-enable the Switcht plugin, the error disappears. so how can you tell "None of those errors look like they are coming from SwitchBot.

Thanks!

greet Pieter

[2022-08-21 12:27] zaki-hanafiah commented on #444
Can confirm as well, got the same after updating to 1.14.2, but it seems to persist even if rolling back to the older version.
Disabling the plugin stops the log from spamming.

![image](https://user-images.githubusercontent.com/31648832/185790829-6fb10de3-dc53-423c-a2bd-a1364b21044c.png)

[2022-08-21 12:34] PvdGulik commented on #444
Hello Donavan,

Please reopen this issue, there are more people having this issue.

Thanks

vriendelijke groet,

Pieter

[2022-08-21 12:42] grunkyb commented on #444
SwitchBot are the only BLE devices I’m running from Homebridge

[2022-08-21 12:48] zaki-hanafiah commented on #444
Same with @grunkyb  here.

[2022-08-21 13:12] PvdGulik commented on #444
Same as @zaki and @grunkyb Switchbot is my only ble device in Homebridge....

[2022-08-21 13:59] donavanbecker commented on #444
@PvdGulik I am not experiencing this and that is why it is closed as cannot reproduce.

[2022-08-21 23:33] TommyGKiwi commented on #444
I am also experiencing this as well after update, seems it might be an API you use as even rolling back, or switching to the other Verified Switchbot plug-in that is Bluetooth only has the same error. Only disabling the plug-in the issue goes away.

[2022-08-22 00:59] teh-hippo opened #446 "Bug: v1.14.2 throws exceptions"
### Describe The Bug

After upgrading large amounts of the below log output appear and repeat frequently.  Downgrading to v1.14.1 fixes the issue.

### To Reproduce

Upgraded to v1.14.2

### Expected behavior

Log output doesn't appear

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

2 x Switchbot Curtains 2

### Nod

[2022-08-22 01:13] teh-hippo commented on #446
Playing around with this a bit more, I think it has something to do with dependencies and/or on node-switchbot.  When I downgrade the version, I think that is removed - and installing it manually upgrades back to v1.14.2.  Not entirely sure if that's what is happening.  Let me know what output is missing to try and help resolve this.

[2022-08-22 03:24] zaki-hanafiah commented on #446
Had the same problem and I agree that it's a dependency issue, but even after downgrading it persists for me, tried both using homebridge ui and manually downgrading as well, no dice. I previously reported it in this issue #444

[2022-08-22 03:26] teh-hippo commented on #446
This does look like a duplicate of #444 .

[2022-08-22 03:26] teh-hippo commented on #444
I'm having the same issue, and v1.14.2 seems to be the cause.

[2022-08-22 14:10] LittleJ commented on #434
For now I am globally happy with Switchbot's products. The only thing is that issue with motion detection on contact sensors, which is impacting the homebrige plugin too. For now, I use the IFTTT integration which is doing the job. I don't get why IFTTT gets information that we don't have access to using the API... There must be something wrong with the documentation (or the API).

[2022-08-22 16:18] galaxydpw commented on #446
same issue here.
had to rollback to previous release to avoid the error, 1.14.1.
waiting for a next release to have a fix.

[2022-08-22 16:23] galaxydpw commented on #444
same issue here.
rollback to 1.14.1 makes the error disappear for me.

[2022-08-22 17:07] grunkyb commented on #444
Here's how it looks with my debug logs turned on for SwitchBot

[code]

<details>
<summary>Show more of the log</summary>

[code]
</details>

This repeats itself a few times with varying numbers of repeats of the TypeError then this
[code]
<details>
<summary>
Show more of the log
</summary>

[code]
</details>

[2022-08-23 18:58] PvdGulik commented on #444
Hello Donavan, Please reopen this issue, as you can see there are more and more people having this issue. Thanks

[2022-08-23 21:42] grunkyb commented on #444
I'm able to connect to the device through the OpenAPI, e.g.,` curl -X GET -k -H 'Authorization: xxxx' -i 'https://api.switch-bot.com/v1.0/devices/0123456789AB/status'`

What's everyone using here? I'm on a Raspberry Pi 4B running 64-bit Bullseye.

I'm wondering if it's a Pi + BLE thing but need others to confirm.

[2022-08-23 23:25] TommyGKiwi commented on #444
For me at least, you can still activate the Switchbot, but there is a lot of spam in the log.
I have pi 3B and using BLE
I also noticed there were some build errors In the post upgrade process with a 404 error for abandonware, but that might be a red herring

[2022-08-24 03:15] zaki-hanafiah commented on #444
Like @TommyGKiwi  mentioned, I can also still use my Switchbot and the existing automations all work fine, it's just the issue with the errors that are spamming the homebridge logs.

[2022-08-24 05:55] PvdGulik commented on #444
Thanks for reopening.

For me the SwitchBot works, just the spam in the log. I’m using a Raspberry Pi 3B+

Thanks

Pieter

[2022-08-24 11:58] renatz76 commented on #417
Similar request here. I end up using some dummy window cover plugin that trigger the bot switches. Works ok, but it is a quite dirty solution

[2022-08-24 13:33] donavanbecker commented on #417
I will take any pull requests on this

[2022-08-25 16:56] afmklk commented on #417
Which plugin do use? I found that Dummy Garage works quite well for this, although it shows up as a garage door, of course.

[2022-08-25 18:54] CyberMrProper commented on #444
I'm having the same issue in version 1.14.2

[2022-08-25 19:10] galaxydpw commented on #444
I reported the error in my lab env, a pi zero 2, with raspbian homebridge and nothing else.

However, I did the installation of the plugin in my prod env, pi4, with many other plugins, and I don't have the error.

[2022-08-26 17:26] kapabel commented on #433
I think the plugin sends out the big red button in the middle of the switchbot app and not the specific ON or OFF function too the left and right of of it.

[2022-08-26 20:05] renatz76 commented on #417
I am using homebridge-window-cover to create dummy window shutters. Just install it, no need to config anything.

[2022-08-26 22:40] bradenpecora commented on #439
Bought a hub and now everything works

[2022-08-26 22:40] #439 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-26 22:43] bradenpecora commented on #306
@donavanbecker Any update on this? This would be a useful feature.

[2022-08-26 22:53] bradenpecora opened #447 "Feature Request: Use IR Sensor For Input"
### Problem

It would be nice to be able to use the IR sensor on the hub for input to control my home. I don't know if IR input data goes through the SwitchBot API though...

### Solution

Using a button on a physical remote makes changes in the home

### Alternatives

_No response_

### Additional context

I'd like to be able to control my sound system with just one physical remote. A potential w

[2022-08-27 11:42] donavanbecker commented on #447
API doesn't have this.

[2022-08-27 11:42] #447 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-27 11:43] donavanbecker commented on #306
unless you are using BLE, the API doesn't contain the state of the device.

[2022-08-27 13:56] donavanbecker commented on #446
Seems to only be a raspberryPi [noisily](https://github.com/OpenWonderLabs/node-switchbot/pull/142#issuecomment-1229187369) log issue.

[2022-08-27 13:58] donavanbecker commented on #444
Seems to only be a raspberryPi [noisily](https://github.com/OpenWonderLabs/node-switchbot/pull/142#issuecomment-1229187369) log issue.

[2022-08-27 19:10] RemuxZaph commented on #328
I've got a similar issue via my install. The device does show up in the Home app, but the humidity and temperature are wrong. Connection via BLE.

Here's the error log

[code]

And here's the config:

[code]

**Device & Model**: Switchbot Meter Plus W2301500

**Node.js Version**: v16.16.0

**Homebridge Version**: v1.5.0

**Homebridge SwitchBot Plugin Version:** v1.14.2

**Homebridge Config UI X Pl

[2022-08-27 19:48] bradenpecora commented on #306
A good alternative solution is to create a "dummy" bulb using [HTTP Webhooks](https://github.com/benzman81/homebridge-http-webhooks). Then, set up automations that turn the SwitchBot Bot on when the light is turned on or off.

A few drawbacks are:
- Dummy light and bot must be manually synced and could get out of sync
- Potential issues when turning the light on and of rapidly.

[2022-08-28 03:19] iSteve-O opened #450 "Bug: Unable To Update Plugin To Latest Release v1.15.0"
### Describe The Bug

I am getting an error about a directory not being empty. Never had this issue before & bot is working fine.

### To Reproduce

Try to update from 1.14.2 to 1.15

### Expected behavior

Update success

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry Pi 4 model B

### Node.js Version

v1

[2022-08-28 03:28] iSteve-O commented on #445
try changing your bot's "mode" from "press" to "switch" in the homebridge config. The default behavior is a "momentary" stateless switch that turns itself off after a few minutes without working the bot, but when I changed this mode in hombridge I was able to have it stay in sync with my coffee maker and then I could also make an auto-off automation (and say off to Siri and have it work), now that

[2022-08-28 03:50] donavanbecker commented on #450
You will have to do sudo rm -R and then the folders in the log, reinstall plugin, finally restart homebridge.

[2022-08-28 04:13] iSteve-O commented on #450
Thank you I will do this. Before I do, will it delete my bot or anything? It would suck to have to redo my automations and all, but I will if I have to.

Thanks!

EDIT: Thanks that worked. I need to stop being such a ***** LOL

[2022-08-28 08:03] #450 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-08-30 17:21] PvdGulik commented on #444
I found that during the installation I get the following error:

node-pre-gyp ERR! install response status 404 Not Found on https://github.com/abandonware/node-bluetooth-hci-socket/releases/download/0.5.3-8/bluetooth_hci_socket-0.5.3-8-node-v93-linux-arm.tar.gz

When I browse following that link, there's nothing in [https://github.com/abandonware/node-bluetooth-hci-socket/releases/](https://github

[2022-08-30 17:32] donavanbecker commented on #444
This is a node-SwitchBot/noble issue. It will have to resolve at those repos before it can be resolved here.

[2022-08-30 18:59] martindinicolino opened #454 "Feature Request: SwitchBot Lock integration"
### Problem

I can't currently integrate the SwitchBot Lock into HomeKit via Homebridge

### Solution

Please add support for the SwitchBot Lock

### Alternatives

_No response_

### Additional context

Homebridge running on M1 Mac mini with Xcode installed, currently no SwitchBot Hub in this household

[2022-08-31 13:17] donavanbecker commented on #446
Has anyone tried this: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/425#issuecomment-1190864279

[2022-08-31 13:17] donavanbecker commented on #444
Has anyone tried this: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/425#issuecomment-1190864279

[2022-08-31 13:32] grunkyb commented on #444
Yes, I had to use that to connect Pi to BLE.

[2022-08-31 13:36] grunkyb commented on #444
Can anyone spot anything in [this function](https://github.com/abandonware/noble/blob/master/lib/hci-socket/hci.js#L1109) in noble? You can see that this could be throwing it.

[code]

[2022-08-31 13:56] Dexwell commented on #446
Unfortunately, this didn't work for me.

[2022-09-01 00:59] csyee commented on #444
I have the same error too.

[2022-09-02 17:51] ivanx00 opened #457 "Bug:"
### Describe The Bug

Meter didn't appear in Home app

### To Reproduce

Added in Homebridge, buy can't sei in Home app (or Eve app)

### Expected behavior

To see the meter in the app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

<img width="1097" alt="Schermata 2022-09-02 alle 19 50 08" src="https://user-images.githubusercontent.com/88212307/1882

[2022-09-02 18:20] donavanbecker commented on #457
Please fill out details correctly

[2022-09-02 21:34] ivanx00 commented on #457
done

[2022-09-02 22:29] donavanbecker commented on #457
I will close. When if you can open a new issue with config, etc. I can review.

[2022-09-02 22:29] #457 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-09-04 02:55] jamesalmeida commented on #454
Yeah support for the Switchbot Lock would be awesome. My Switchbot Lock is showing up in the Home app but gets an error when I try to lock/unlock it.

<img width="1263" alt="Screen Shot 2022-09-03 at 8 54 04 PM" src="https://user-images.githubusercontent.com/703253/188296577-c514e025-9577-4504-afeb-65ad2b9c97d8.png">

[2022-09-04 04:10] jamesalmeida commented on #441
It gives me an error `not support device type` when I try to use the lock:

<img width="1263" alt="Screen Shot 2022-09-03 at 8 54 04 PM" src="https://user-images.githubusercontent.com/703253/188296942-af6632c6-73ae-4e1b-9eb7-d30c38a9ae84.png">

[2022-09-04 04:54] martindinicolino commented on #454
@jamesalmeida are you using a switchbot hub?

i found more information in regards to this issue here https://github.com/OpenWonderLabs/SwitchBotAPI/issues/121
it seems like the Switchbot developers are indeed working on a much needed solution, but some have found a temporary fix by exposing the lock to the smartthings app via the official switchbot integration and then installing the smartthings p

[2022-09-04 21:15] mattradford commented on #328
I have the same issue - shows up in Homebridge and Home but with 0.0 temp and 0% hydro. With this config:

[code]

Device & Model: Switchbot Meter (firmware v2.6)

Node.js Version: v16.17.0

Homebridge Version: v1.5.0

Homebridge SwitchBot Plugin Version: v1.15.0

Homebridge Config UI X Plugin Version: v4.50.1

Operating System: Ubuntu 18.04

[2022-09-05 05:18] PvdGulik commented on #444
Yes, but did not resolve the issue..
Still continues errors in the logging

[2022-09-05 21:24] Niklas31 commented on #444
I have the same issue. It switches from local BLE to mini hub, therefore, no operation problem, but log are full of this error.

[2022-09-06 20:21] xhi-nico opened #462 "Bug: Smart Lock not allowing lock/unlock though status works correctly"
### Describe The Bug

Smart lock lock/unlock functionality in HomeKit not working

### To Reproduce

add smart lock and attempt to lock/unlock

### Expected behavior

lock/unlock successfully

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot Smart Lock

### Node.js Version

latest

### NPM Version

latest

#

[2022-09-07 15:59] jamesalmeida commented on #462
Having same issue

[2022-09-08 13:40] HolgerAusB commented on #434
customer support said, I should use webhooks instead, they don't count against API calls. But this need to open a port for incoming messages. So I think I will wait for native HomeKit support, which was [promised in June 2022 "as comming soon"](https://twitter.com/SwitchBot/status/1541406051924426752)

[2022-09-08 13:43] donavanbecker commented on #434
@HolgerAusB If you want I can lower the minimum to be lower then 30sec but then you may use up all your api rate

[2022-09-08 14:05] HolgerAusB commented on #434
I allready tried that myself, thank you. One can override the 30 Seconds and set 1 sec. But after 2 hours you get errors then.

[2022-09-08 20:21] jwolkenhauer commented on #462
@GeorgeeNico @jamesalmeida   I was having this issue too.  Found the current workaround of using the SmartThings app and plugin works.  Check out this thread for more info.  (https://github.com/OpenWonderLabs/SwitchBotAPI/issues/121

[2022-09-10 13:30] nyjklein commented on #446
I'll chime in. I have the same issue (Raspberry Pi). I suspected SwitchBot since it started after I upgraded to 1.14.2 but when I rolled back the issue persisted. So I wasn't sure. Then I was away on vacation for two weeks. Came back to the issue still happening and I see others have reported the issue here.

[2022-09-10 13:33] nyjklein commented on #444
Not sure why there seems to be two bug reports for the same issue, but I'll chime in. I have the same issue (Raspberry Pi). I suspected SwitchBot since it started after I upgraded to 1.14.2 but when I rolled back the issue persisted. So I wasn't sure. Then I was away on vacation for two weeks. Came back to the issue still happening and I see others have reported the issue here.

[2022-09-11 13:59] halk1982 commented on #446
Same issue here, running Homebridge on a Raspberry PI. Disabled the plugin and errors are gone. As I understand this is not resolved to the current latest 1.15 version...let's hope next release will have a fix.

[2022-09-12 18:31] #433 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-09-17 02:43] Jacksonbm1 commented on #435
Hello, this issue should be reopened now that the integration has been fixed: https://github.com/OpenWonderLabs/SwitchBotAPI/issues/121

[2022-09-17 02:44] Jacksonbm1 commented on #462
This is basically a duplicate of this issue I filed: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/435

The issue has finally been fixed at the api level and hopefully gets fixed here: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/435

[2022-09-17 10:27] donavanbecker commented on #435
if you can help https://github.com/OpenWonderLabs/homebridge-switchbot/pull/474

[2022-09-17 10:31] donavanbecker commented on #454
if anyone can help with #474

[2022-09-17 14:37] jamesalmeida commented on #435
I hope this can be fixed now!

[2022-09-17 15:11] donavanbecker commented on #435
@jamesalmeida If I get time today. It should be done soon

[2022-09-17 20:23] donavanbecker commented on #435
@jamesalmeida are you able to help at all? stuck with implementing the new API Auth for v1.1

[2022-09-17 21:14] jamesalmeida commented on #435
I would if I could, but I'm not experienced enough to implement it. I'm trying to learn more about how these plugins work though.

[2022-09-17 21:22] donavanbecker commented on #435
@jamesalmeida getting an Unauthorized Request: [here](https://github.com/OpenWonderLabs/homebridge-switchbot/blob/36985c34074c34af45b944d27fea5f799c4714cb/src/platform.ts#L79-L86)

If you can help with that at all.

[2022-09-18 06:47] Gandalf8266 opened #475 "Bug:"
### Describe The Bug

Homebridge SwitchBot doesn't work anymore

### To Reproduce

Push the button in the home app

### Expected behavior

switch bot switch should react

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switch Bot Hub, Firmware V3.8-2.4

### Node.js Version

v14.18.1

### NPM Version

6.14.15

### Hom

[2022-09-19 22:33] donavanbecker opened #476 "v2.0.0 - Beta Testers Needed"
With the move from v1.0 to v1.1 SwitchBot API, there will be a lot of changes.

Please install the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.37/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

Report Beta

[2022-09-19 23:24] donavanbecker commented on #462
See https://github.com/OpenWonderLabs/homebridge-switchbot/issues/476

[2022-09-19 23:24] donavanbecker commented on #454
Will be resolved with See https://github.com/OpenWonderLabs/homebridge-switchbot/issues/476

[2022-09-19 23:25] donavanbecker commented on #435
See https://github.com/OpenWonderLabs/homebridge-switchbot/issues/476

[2022-09-20 05:12] donavanbecker commented on #476
Made progress on push changes. Should be able to get a good working beta out soon.

[2022-09-20 10:51] chinedu40 commented on #476
I'm having a problem with the switchbot lock. Error message below:

[9/20/2022, 11:16:32 AM] [SwitchBot] Lock: Kitchen Set LockTargetState: 0
[9/20/2022, 11:16:32 AM] [SwitchBot] Lock: Kitchen Sending request to SwitchBot API. command: unlock, parameter: default, commandType: command
[9/20/2022, 11:16:32 AM] [SwitchBot] Lock: Kitchen sign: 0N95IZItNe5guBuxnVcAG/SqBMZn4rplPBix/3oPheI=
[9/20/2022, 1

[2022-09-20 11:49] martindinicolino commented on #476
I'm seeing the same error messages

additionally the lock's contact sensor always shows as being open (although the lock registers the change and shows its blue/green light every time the door is opened/closed)

[2022-09-20 13:04] guptaramm commented on #476
Same here
using beta I am getting this error "Lock: Door lock failed pushChanges"

Lock: Door lock failed pushChanges, Error Message: "The first argument must be of type string or an instance of Buffer or Uint8Array. Received an instance of Object"

[2022-09-20 13:32] donavanbecker commented on #476
I am going to lock this issue till I get push changes completed. If you read ⬆️ above, that is still an issue I am working on.

[2022-09-20 19:55] donavanbecker commented on #476
Push Change support implemented for SwitchBot Devices, May still have issues with IR Devices. Please let me know.

@guptaramm @martindinicolino @chinedu40

[2022-09-20 20:44] chinedu40 commented on #476
Locking and unlock work well! -  FYI There is a slight delay in updating the status of the lock in the home app when either action is completed, whereas the switchbot app picks it up much faster.

My curtains and lightstrip also work now.

Unfortunately i do not have an IR devices to test

[2022-09-20 21:16] donavanbecker commented on #476
@chinedu40, the SwitchBot app is using BLE, where as this plugin is sending a command to the API (Cloud) to make the change.

I will add BLE support to the plugin, once node-switchbot supports it.

[2022-09-20 21:27] grunkyb commented on #444
I've done an error stack trace on this and found a workaround.

I changed lines 78–80 in `OpenWonderLabs/node-switchbot/blob/latest/lib/switchbot-advertising.js` from
[code]
to
[code]

If you look at the blame for the code, you can see that the `&& manufacturerDataIsInvalid` was added on 18 August, right about when this problem started showing up.

On my RPi, the path to the file to change is `/va

[2022-09-20 22:18] donavanbecker commented on #444
@grunkyb, I will make this change and then push it out to a beta. can you test it then? it will be part of Issue #476 & Pull Request #474

[2022-09-20 23:25] donavanbecker commented on #444
@grunkyb latest be there has these changes.

[2022-09-21 00:15] oliveralonzo commented on #476
Thanks for all your work on this @donavanbecker! The beta is working for the most part for me, including the lock, which was really exciting after waiting since support for the lock was removed. I say for the most part because I got this error a few times "Lock: Front Door failed pushChanges," but it worked in between and after.

And just a piece of feedback, consider making those error messages a

[2022-09-21 05:13] donavanbecker commented on #476
@oliveralonzo, you may feel that way, but it was an actual question because clearly it states that push changes were support resolved at the time. Either way, it is done now. Thanks for testing.

FYI: I don't work for SwitchBot, I manage this plugin for them on my own free time.

[2022-09-21 08:29] grunkyb commented on #476
API 1.1 works for me: humidifier (WiFi), bot (BLE), curtains x 2 (BLE).

[2022-09-21 08:32] grunkyb commented on #444
Installed v1.15.1-beta.11  early this morning and no more error logs. API 1.1 working well too.

[2022-09-21 08:53] zaki-hanafiah commented on #444
Same here, `1.15.1-beta.11` has resolved the noisy logs for me. Everything works accordingly as well. No regressions to report.

[2022-09-21 11:13] donavanbecker commented on #444
Perfect! I will get 2.0.0 all packaged up and publish it soon.

[2022-09-21 12:42] martindinicolino commented on #476
Hi @donavanbecker, thank you very much for your efforts, this is great progress, the lock is working perfectly when connected via the bridge now.
The lock does not work over BLE, although I am unsure whether that is due to the plugin or rather the SwitchBot BLE API.

I just added an IR device and will be testing it during the next few days and come back with some feedback then.

One more thing: I

[2022-09-21 12:43] martindinicolino commented on #454
Thank you for implementing this!

I noticed that other locks in HomeKit give you the possibility to change the notification preferences (for example only receiving notifications when nobody is at home) - would it be possible to add that functionality to this lock through this plugin?

Please let me know if you would like me to close this issue and start a new one.
Again, your work is much apprecia

[2022-09-22 11:41] crouchingtiger commented on #476
Getting this in my logs, not on all command pushes though.

[code]

[2022-09-22 13:41] donavanbecker commented on #476
I will look into this.

[2022-09-22 15:37] donavanbecker commented on #476
@crouchingtiger this is only happening on your curtains right?

If so, can you test the latest beta?

[2022-09-22 16:18] crouchingtiger commented on #476
@donavanbecker Yes, I only have curtains (18 of them) and a Hub Mini. Updated to ``v2.0.0-beta.4``, so far no errors on parsing that I can see 👍

Thanks for the plugin, it's what made me take the plunge and order so many...

[2022-09-22 17:40] donavanbecker commented on #476
Wow! 18 of them, glad that I can help. Looks like a pause command might have been added to the API, so might try to implement that.

[2022-09-23 13:09] Jacksonbm1 commented on #476
Just wanted to double check, the beta doesn't support ble direct connections yet right? Thanks for your help!

[2022-09-23 13:28] nyjklein commented on #476
I tried installing the beta (beta4) but the conversion to the new API seems to have gone wrong for me:

[23/09/2022, 09:22:41] [SwitchBot] Failed to Discover Devices, Error Message: "The \"key\" argument must be of type string or an instance of ArrayBuffer, Buffer, TypedArray, DataView, KeyObject, or CryptoKey. Received undefined"

Did i miss a step? How can I correct this?

Jeff

[2022-09-23 13:34] donavanbecker commented on #476
@nyjklein can you create a separate issue and fill out all info so I have more info?

[2022-09-23 13:35] donavanbecker commented on #476
BLE support has been in this plugin for a while for certain devices. Which device are you wondering about?

[2022-09-23 13:36] Jacksonbm1 commented on #476
Oops. I meant for the lock

[2022-09-23 13:42] donavanbecker commented on #476
Unfortunately that API isn't available yet. Once it is, I will implement.

[2022-09-23 13:46] nyjklein commented on #476
I noticed in the account config that the new "secret" was blank. Looks like it didn't get "translated" in my case. I used the SwitchBot app developer instructions and saw that it now generates the secret as well as the token. Pasted the secret into the Homebridge swicthbot account settings and I'm up and running!

Jeff

[2022-09-23 14:05] donavanbecker commented on #476
Awesome!

Yes the openToken should have also been moved to the token parameter automatically for you also. I am guessing you saw a log that said restart homebridge/child bridge?

[2022-09-23 14:28] nyjklein commented on #476
![Screenshot 2022-09-23 093755](https://user-images.githubusercontent.com/76184316/191984144-82c083ba-843c-4109-8137-75d165c4a10b.png)

Yes. And I had read the notes above that said a second restart would "migrate" the secret key. Not sure why it didn't for me.

[2022-09-23 15:02] donavanbecker commented on #476
where did you see that note?

[2022-09-23 15:37] nyjklein commented on #476
Duh! Sorry. I misinterpreted the notes above thinking it would "migrate" the token to the secret.

[2022-09-24 10:56] crouchingtiger commented on #476
I just switched over this morning from OpenAPI to BLE on my Pi, just to remove the latency and additional point of failure as I don't require any of the other Switchbot cloud services. Seems to run fairly smoothly, hard to tell but there's definitely a few ms of speed gained by interacting via the Pi rather than the Hub Mini.

Off-topic: Have you run any long-term battery tests of BLE from the Hub

[2022-09-25 15:26] #434 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-09-28 18:38] apascual commented on #410
Hi @donavanbecker, I followed the instructions, including the noble prerequisites but also got the same issue.

[code]

[2022-09-30 15:37] Niklas31 opened #490 "This plugin has been updated to use OpenAPI v1.1, config is set with openToken"
### Current Situation

After updating to 2.0.0 beta-5, i can't run the plugin. It is stating that "openToken" has been moved to 'token'and I must restart. I restar the plugin and the same WARNING occurs.

I was reading the API 1.1 and saw that there is now a secret key and token for authentication improvement, but I don't now where to put them.

Assume I have no ideia what I am doing. Raspberry Pi

[2022-10-02 11:21] donavanbecker commented on #454
That is a feature of the home app. You should be able to do that with this lock also.

[2022-10-02 11:42] Dexwell commented on #446
Still very much an issue, not stale.

[2022-10-02 11:43] teh-hippo commented on #446
Agree

On Sun, 2 Oct 2022 at 22:42, Doney den Ouden ***@***.***>
wrote:

--
Michael

[2022-10-02 12:26] martindinicolino commented on #454
Thank you, I checked again, and for some reason the only way of getting this option to show for this particular lock is under Home settings > Locks > NameOfThisLock; my bad for not checking this particular method
(when exposing this lock to HomeKit via the Smarthings integration, or with other HomeKit locks as far as I can tell, it also appears when opening this locks settings from the favourites

[2022-10-02 14:32] donavanbecker commented on #454
Could be because this lock is in bridge mode. I am going to add an option to enable it as an external device, but then you will have to re-pair.

Till then I am going to leave this open as a reminder.

[2022-10-02 15:18] donavanbecker commented on #476
I have added an option to allow for making devices, external accessories. Please test this out.

You will see this option under device settings.
You will need to get the device id and set external accessory parameter to true.

[2022-10-02 15:19] donavanbecker commented on #454
@martindinicolino, I have added an option to allow for making devices, external accessories. Please test this out.

You will see this option under device settings.
You will need to get the device id and set external accessory parameter to true.

This should then show you the setting you are expecting.

[2022-10-02 15:50] nyjklein commented on #476
Could you clarify what making a device an "external accessory" means?

Jeff

[2022-10-02 16:44] martindinicolino commented on #454
I‘ll try it out and report back in case i run into any issues, thank you for implementing this

like a different [commenter](https://github.com/OpenWonderLabs/homebridge-switchbot/issues/476#issuecomment-1264673878), i wonder what the difference is (other than adding this ability of course), i‘ll follow the discussion over there

[2022-10-02 21:27] donavanbecker commented on #476
you have your own pairing code so won't automatically show up in the home app when its connected to homebridge/child bridge.

Like the TV does if you have an IR TV accessory.

[2022-10-02 21:29] donavanbecker commented on #476
@martindinicolino @nyjklein, also if the single accessory is taking a long time to load it doesn't hold up the rest of the device on homebridge.

Only downfall is you loose cache which would only matter in the case of IR Devices.

[2022-10-03 04:04] martindinicolino commented on #476
thank you for the information

[2022-10-03 23:52] RemuxZaph commented on #328
@mattradford any luck? I'm still stuck too.

And it may be due to our Node.js versions...I'm on v16.16.0. The plug-in keeps disabling itself looking for:

`The plugin "homebridge-switchbot" requires Node.js version of ^14.20.0 || ^16.17.0 || ^18.8.0 which does not satisfy the current Node.js version of v16.16.0. You may need to upgrade your installation of Node.js - see https://homebridge.io/w/JTK

[2022-10-04 08:09] mattradford commented on #328
I don't get that Node error. My console shows the following. Tries BLE and fails, tries API and succeeds but gets undefined fromt the device itself :(
[code]

[2022-10-04 14:25] RemuxZaph commented on #328
I tried the 2.0 beta version yesterday...same error on my end.

[2022-10-04 19:19] forester08 commented on #328
Thanks, updated deviceID with your input but no improvement

[2022-10-05 07:37] #475 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-05 14:09] Niklas31 commented on #476
Hi! I opened the issue #490, but I believe now that it belong to this topic. Could you help me?

[2022-10-05 14:16] donavanbecker commented on #490
You need to add your secret in from the switchbot app.

[2022-10-05 14:21] donavanbecker commented on #476
@Niklas31, You need to add your secret in from the SwitchBot app. See the Notes section of this Issue.

[2022-10-05 14:28] Niklas31 commented on #490
Worked like a charm. I was only changing from “openToken” to “token” and not adding “secret” on the configuration. Thanks a lot

[2022-10-05 14:28] #490 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-05 14:34] donavanbecker commented on #490
@Niklas31, the plugin automatically moves openToken to token so you don't need to do that, but will have to add the secret. I will add that to the logs.

[2022-10-05 15:37] Niklas31 commented on #476
Awesome! Worked like a charm. Now the only warning I have is `WARNING Curtain: Curtain scanDuration is less then updateRate, overriding scanDuration with updateRate `

I could not find scandurantion in settings to change it

[2022-10-05 15:55] donavanbecker commented on #476
<img width="727" alt="Screenshot 2022-10-05 at 10 55 07 AM" src="https://user-images.githubusercontent.com/9875439/194106040-59aed8f4-6d70-4f98-aa11-1b7c7d11bdc1.png">
BLE Scan Duration

[2022-10-05 17:45] Niklas31 commented on #476
There is no Scan Duration on mine:
![image](https://user-images.githubusercontent.com/64484669/194117697-6c560612-cfcf-4412-8ebe-881f51e23dda.png)

But I added it manually in.

Only one more question:

I have only two Switchbot accessories, but it is finding 2 more from CACHE. How can I clean my cache?
Here is my LOG:
`BridgeSwitchBotTotal SwitchBot Devices Found: 4`
`Switchbot BridgeSwitchBotRest

[2022-10-05 18:05] donavanbecker commented on #476
@Niklas31 you are using HOOBs right? Switch to homebridge.

This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-05 18:27] Niklas31 commented on #476
OK, I will check on that. Thanks for the support. Everything is working perfect now (it is not passing the 2 extra accessories to HomeKit).

[2022-10-06 11:51] PvdGulik commented on #444
I don't know how to test, but I see it is solved in 2.0.0. When will 2.0.0 be released?

[2022-10-06 11:52] donavanbecker commented on #444
still have a few changes to make but beta is available: #476

[2022-10-06 15:48] PvdGulik commented on #444
Oke, I installed 2.0.0 but found I only can select Bot, no Curtain. Is that supposed to be so?

Thanks!

[2022-10-06 16:47] donavanbecker commented on #444
Do you have a screenshot?

[2022-10-06 20:50] PvdGulik commented on #444
![image](https://user-images.githubusercontent.com/9421474/194415961-ad45483a-7078-4adc-b0a5-9927190bfc00.jpeg)

[2022-10-06 22:45] donavanbecker commented on #444
that isn't this plugin.

[2022-10-07 11:40] PvdGulik commented on #444
Sorry, you're right. I installed the wrong one. Now the right-one, version 2.0.0-beta.19

And I can confirm problem solved!👌

[2022-10-08 12:22] martindinicolino commented on #454
i turned this setting on and paired the lock again, but the setting never showed up;
honestly, I am happy with changing this under home settings
thank you for your help

[2022-10-08 12:22] #454 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-08 13:06] donavanbecker commented on #454
If you click into the subtypes of the device which would show the lock and contact sensor then click into the lock it will. Or you turn the contact sensor off, then it would.

[2022-10-09 00:06] jonathan-catt commented on #476
Hey @donavanbecker I am testing out the beta but am having a hard time with setting up a new IR device. It looks like the plugin is recognizing an IR device in the logs, but it never prints the DeviceID such that it can be setup in the config.

Here is what my logs look like after a child bridge restart:
`
[10/8/2022, 7:58:14 PM] Registering platform '@switchbot/homebridge-switchbot.SwitchBot'
[10

[2022-10-09 13:59] chinedu40 commented on #476
Beta version 21 has removed all my switchbot and IR devices.

[2022-10-09 14:14] donavanbecker commented on #476
@chinedu40, you need to set your connectionType. Also I will fix it so there is a default.

[2022-10-09 14:56] chinedu40 commented on #476
How do i set my connectionType?

[2022-10-09 15:55] donavanbecker commented on #476
@chinedu40, set your device, in the device config with its device id, then assign connection type.

[2022-10-09 16:49] donavanbecker commented on #476
Also beta.21 shouldn't have deleted the devices. Only beta.20 had that problem.

[2022-10-10 21:34] hassounet opened #501 "Bug: Curtain Light Sensor Always at 6001 Lumens"
### Describe The Bug

Light sensors not reporting reality but staled at 6001 lumens

### To Reproduce

Last bêta on open api

### Expected behavior

To Get the Good measures  for Curtain light sensors. Works fine with ble and ble/api However over ble commands are not sent to curtains so i préfet open api but Want light sensors true measures back. Thanks

### Relevant log output

[code]

### Config

[2022-10-10 22:16] donavanbecker commented on #501
I need logs to be able to see that it is truly not updating.

[2022-10-11 00:00] donavanbecker commented on #501
@hassounet It sets it to that based off the level of the device that is sent form either BLE API or OpenAPI, that is the log I need to see.

[2022-10-11 07:27] EddieDaYankee commented on #12
Thank you for your reply. I’ll reach out to some of my contacts at SwitchBot and see if I can help nudge them. Thank you for all the work you’ve done helping the GitHub/HomeBridge community.
On Mar 28, 2022, 10:10 PM -0400, Donavan Becker ***@***.***>, wrote:

[2022-10-11 13:42] hassounet commented on #501
Same issue apparently already reported here :

https://lightrun.com/answers/openwonderlabs-homebridge-switchbot-bug-light-sensing-doesnt-communicate-with-homebridge-and-homekit

[2022-10-12 04:43] donavanbecker commented on #501
not much info I can go off of here. that log is from Matt which isn't even set. I have added code to the latest beta that will verify that the mqtt url is defined before showing this logs so we shouldn't see those unless mqtt url is defined. Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.35/orange)](https://www.npmjs.com/package/@switc

[2022-10-12 04:46] donavanbecker commented on #462
Fixed with v2.0.0, Once released.

[2022-10-12 04:46] #462 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 04:46] donavanbecker commented on #446
Fixed with v2.0.0, Once released.

[2022-10-12 04:46] #446 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 04:46] #445 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 04:47] donavanbecker commented on #444
Fixed with v2.0.0, Once released.

[2022-10-12 04:47] #444 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 04:50] donavanbecker commented on #442
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.35/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-12 04:51] donavanbecker commented on #435
Fixed with v2.0.0, Once released.

[2022-10-12 04:51] #435 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 04:52] donavanbecker commented on #431
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.36/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-12 05:10] donavanbecker commented on #412
looks like a potential python issue since noble uses that.

[2022-10-12 05:11] donavanbecker commented on #410
it is your operating system for some reason it is not able to connect with BLE, sorry not much I can do. If you can figure it out and can add something to like a helpful hints I can create a wiki for it.

[2022-10-12 05:12] donavanbecker commented on #409
I would need more details on what would need to happen here. I don't use IR devices.

[2022-10-12 05:13] donavanbecker commented on #400
I will take Pull Requests, but since I don't use the IR function can't really add this support.

[2022-10-12 05:14] donavanbecker commented on #397
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.37/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-12 05:16] donavanbecker commented on #378
what kind of device? Is it an IR device?

[2022-10-12 05:17] donavanbecker commented on #371
I will never be able to handle this as the OpenAPI doesn't show the Bot's Status.

[2022-10-12 05:17] donavanbecker commented on #328
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.37/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-12 05:19] donavanbecker commented on #318
not sure what you want me to do here? doesn't seem to be a plugin issue, more of an API? or what?

[2022-10-12 05:19] donavanbecker commented on #316
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.0.0-beta.37/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-12 05:56] Spy-1 commented on #316
Hi. i installed the beta.
Now i have the following Log-Entry in red:
"[10/12/2022, 7:51:40 AM] [SwitchBot] "secret" config is not populated, you must populate then please restart Homebridge."

[2022-10-12 05:59] donavanbecker commented on #316
did you do what it says?

[2022-10-12 06:14] donavanbecker commented on #476
V2.0.0 has been released. If you have any issues please open a new issue with info needed to research.

[2022-10-12 06:14] #476 closed, assigned to donavanbecker

[2022-10-12 06:15] donavanbecker commented on #431
Added in v2.0.0

[2022-10-12 06:15] #431 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 06:15] #397 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-12 06:17] donavanbecker commented on #302
Still having issues?

[2022-10-12 06:41] sekkamoyou commented on #409
For example? What kind of details do you need?

[2022-10-12 07:13] Spy-1 commented on #316
sorry, I overlooked that I have to re-enter the token and secret.
That is done.
Now I get the following message in red:
[code]
These 2 curtains are also no longer visible in Homekit!

[2022-10-12 09:29] yjeanrenaud opened #507 "Bug: API Request: TypeError"
### Describe The Bug

error shows up in log

### To Reproduce

just updated to V2.0. It might be because the Curtains are not grouped?

### Expected behavior

no error

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

na

### Node.js Version

v16.17.1

### NPM Version

8.15.0

### Homebridge Version

v1.5.0

### Homeb

[2022-10-12 10:13] GcoGr commented on #507
Same error for me after updating to v2.0.0:
[code]

[2022-10-12 11:06] donavanbecker commented on #316
Do you have any other logs? Also did you set your connectionType?

[2022-10-12 11:10] donavanbecker commented on #507
@yjeanrenaud Can you get me debug logs?

[2022-10-12 11:46] Spy-1 opened #508 "2 from 3 Curtain Devices are not exposed to Homekit"
### Describe The Bug

2 from 3 Curtain Devices are not exposed to Homekit.Balkon is exposed, Terrase and Garage are not.

### To Reproduce

-

### Expected behavior

-

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

-

### Device & Model

-

### Node.js Version

v16.17.1

### NPM Version

aktuell

### Homebridge Version

v1.5.0

### Homebridge Switch

[2022-10-12 12:11] Spy-1 commented on #316
if connection type is set to openapi (as with the Plugin v1.5) i have the behavior
if setting connection type to BLE/openapi the two missing devices are shown in homekit , but with bluetooth errors in the homebridge log.
[code]

What other logs do you mean?

[2022-10-12 12:36] donavanbecker commented on #508
So you have only 2 of your 3 curtains showing? Can you turn on debug mode for the plugin and get me more logs.

[2022-10-12 12:47] yjeanrenaud commented on #507
sure:
[code]

[2022-10-12 12:53] donavanbecker commented on #409
I guess I don't use Ir devices, so are you wanting an option that you could set a custom On or custom Off Command?

[2022-10-12 12:57] Spy-1 commented on #508
No, 1 of my 3 is showing. Rerrasse and Garage are not showing and are ere
ased from cache in the log.
This one is showing (Wohnzimmer) are two, grouped as one in the switchbot app.
Debug log is:
[code]

[2022-10-12 13:38] donavanbecker commented on #508
Okay thanks for the logs. I will look though and see if I can see why this happened. Sorry about this.

[2022-10-12 14:57] iu3564 commented on #508
got same issue , in logs found

[code]

[2022-10-12 16:21] donavanbecker commented on #409
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

I have added a config option into the IR Device settings section.

[2022-10-12 17:37] jimmyfisher opened #509 "Support Request: Plugin waiting 15 seconds before sending command to Switch-Bot App/API"
### Describe Your Problem

I just updated to 2.0.0 from 1.15.0. Reconfigured the openToken to token as well as adding the secret. All of my devices show up as they did before, but now when I turn something on/off in the Home app, I can see in my logs that there is a 15 second delay (exactly, every time) between when the plugin sees the command and when the command is sent to Switch-bot. Can't figu

[2022-10-12 18:02] jimmyfisher commented on #442
Was just poking around trying to see if anyone else had a similar issue - is this possibly the same 15 second delay I just wrote about in #509? Or this could just be some other issue.

[2022-10-12 18:33] frimar75 opened #510 "Curtains don´t work after update"
### Describe The Bug

The curtains are shown in homekit but don´t work

### To Reproduce

upgrade, try to close/ open the curtains

### Expected behavior

they open/ close

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

curtains

### Node.js Version

16.17.1

### NPM Version

8.19.2

### Homebridge Version

1.5.0

#

[2022-10-12 18:36] att11 commented on #510
Exact same problem with my devices, also raspbian. Rolled back to 1.15, but did not help.

[2022-10-12 18:58] mattradford commented on #328
Thanks @donavanbecker. I updated node to 16.7.1 and have added new OpenAPI credentials. I now get the following log entries:

[code]

[2022-10-12 19:00] jimmyfisher commented on #510
From the main page:

Click Bottom Profile Tab
Click Preference
Click App version 10 Times, this will enable Developer Options
Click Developer Options
Click Copy secret to Clipboard
Input your secret into the config parameter

I'm on HOOBS and when I updated, the configuration didn't show any new field for 'secret', but if you go to Advanced, under the credentials section, you change 'openToken' to

[2022-10-12 19:01] xhi-nico commented on #509
I am having the same issue; I am noticing that while the plugin receives the request immediately, it takes a while before sending the actual request to OpenAPI:

[12/10/2022, 14:54:33] [SwitchBot] Bot: Door Buzzer Set On: true --REQUEST RECEIVED
[12/10/2022, 14:54:48] [SwitchBot] Bot: Door Buzzer Sending request to SwitchBot API. body: {"command":"press","parameter":"default","commandType":"comman

[2022-10-12 19:04] xhi-nico opened #511 "Support Request: Bluetooth HCI socket failing to download"
### Describe Your Problem

Every time I try to install the plugin, the Bluetooth HCI socket repository fails to download

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

Raspberry Pi 3+

### Node.js Version

LATEST

### NPM Version

LATEST

### Homebridge Version

LATEST

### Homebridge SwitchBot Plugin Versio

[2022-10-12 19:05] xhi-nico commented on #511
I understand this may not be related to your plugin though I wanted to see if I am doing something wrong here?

[2022-10-12 19:28] donavanbecker commented on #316
please set Logging Setting to `Debug Logging` and post more logs here. Also upgrade to the latest beta.

<img width="753" alt="Screenshot 2022-10-12 at 2 27 32 PM" src="https://user-images.githubusercontent.com/9875439/195430825-229832d0-9422-4d4e-a695-7363bded5e40.png">

[2022-10-12 19:34] Gus-smarthome commented on #509
Same issue here!

[2022-10-12 19:50] donavanbecker commented on #507
@yjeanrenaud, this looks like it has to do with the ir device you have in the config. Does that match up with the devices you have? because your switchbot devices are coming in.

[2022-10-12 19:51] donavanbecker commented on #507
@GcoGr, you would need to provide more logs and your config.

[2022-10-12 20:16] jimmyfisher commented on #509
Totally guessing here, but in the bot.ts source files, there's this line that has 15000 (is that 15 seconds?)

<img width="1215" alt="image" src="https://user-images.githubusercontent.com/35467099/195439289-8d02d976-18df-4bf4-82e1-5cf83c80402f.png">

Have no idea, but trying to see if I could find something involving the bot, 15 seconds, and refreshing/syncing info

[2022-10-12 20:45] yjeanrenaud commented on #507
@donavanbecker
the IR device seems to be configured right. I got it in the switchbot app and it works so far. I will try to delete and re-add it.

[2022-10-12 20:49] jimmyfisher commented on #509
No, that didn't do anything. I changed the code on my end to do a temporary test and same 15 second delay between Home app press and the API call.

That said, I can't find anything else in the code that has 15000 listed out as milliseconds. So maybe it is this, but something is getting hung up elsewhere?

[2022-10-12 21:34] jimmyfisher commented on #509
OK further exploration in hopes of solving...

If I enter any number, including the placeholder '1', in the 'Push Rate' field, it's adding to 15 seconds. So here:

<img width="440" alt="image" src="https://user-images.githubusercontent.com/35467099/195450847-34bb4a8d-deb9-421a-9bce-e1e468b54d03.png">

Ends up with this in the logs:

You'll see the timestamps are 18 seconds apart (the 'default' 15

[2022-10-12 21:59] CooperCGN commented on #509
Same problem, good to know it’s nothing specific on my side.

[2022-10-12 22:38] donavanbecker commented on #508
@Spy-1 @iu3564

Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-12 22:40] donavanbecker commented on #442
@jimmyfisher, potentially but not much I can do. if someone else can improve I will take a pull request. Sorry.

[2022-10-12 22:42] donavanbecker commented on #509
is this only happening with Bot devices?

[2022-10-12 22:46] jimmyfisher commented on #509
I only have bots to test - however, was going to open another ticket tonight or tomorrow re: motion sensors showing immediate 'motion detected' alerts in the Switchbot app but not coming through most times to the Home app when 'cloud services' is turned on.

Attempted to do BLE on 1.15.0 - did the config info properly, and the motion sensor showed up, but there was an error saying 'couldn't connec

[2022-10-12 22:51] jimmyfisher commented on #509
Actually, I do have a strip light that I forgot about.

Just plugged it in, refreshed the bridge for the app, and when I turn on off, this is what the logs show:

And it turns on/off immediately. By that I mean within 2-3 seconds from the Home app press.

It is kinda weird - if I tap on/off too quickly in the Home app, it shows this:

And it shows 'off' in the Home app momentarily, then shows 'on'

[2022-10-12 23:01] donavanbecker commented on #509
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.4/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

- Added `pushRatePress` config to set how many seconds inbetween doublePresses.
  - Also if `do

[2022-10-12 23:05] jimmyfisher commented on #509
Is there a way to get that beta to show up in the 'versions'?

I'm on HOOBS and it appears that the only way to do the 'different version' test is via this tab (unless I'm mistaken... still kinda new to all of this)

<img width="391" alt="image" src="https://user-images.githubusercontent.com/35467099/195463803-4e329db8-3033-4bf1-b13c-f9becbd37b2e.png">

[2022-10-12 23:09] donavanbecker commented on #509
@jimmyfisher

This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-12 23:11] jimmyfisher commented on #509
Thanks - I know and saw that as a reply to a diff thread. But want to see if I can help - is there a way for me to get the beta installed? I can theoretically manually make the changes that you've done in there, but figured this may be possible.

[2022-10-12 23:11] donavanbecker commented on #510
@frimar75, did you populate the secret from the app?

@att11, Would need more info on your setup.

@jimmyfisher, This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-12 23:13] jimmyfisher commented on #509
Also, I'm on HOOBs v4 - seems like that link specifically says that it doesn't work beyond v3. So I'm a bit stuck.

[2022-10-12 23:14] donavanbecker commented on #511
@GeorgeeNico did you follow the noble [prerequisites](https://github.com/abandonware/noble#prerequisites)?

[2022-10-12 23:23] jimmyfisher commented on #509
FWIW - I manually did those changes from the beta that were pertinent to this, and still the 15 second delay.

Downgraded back to 1.15.0 and, while I had to paste the token in the configuration field, once I did that, everything is functioning normally.

[2022-10-13 00:13] donavanbecker commented on #509
Doesn't really help this issue if you weren't able to test my changes. Please switch to homebridge if you would like to test.

[2022-10-13 00:29] jimmyfisher commented on #509
As I was saying, I did test the changes - I made them manually to the specific files (matched your change log). Those didn't work and I figured after the day of troubleshooting and trying to figure out what was going on, I would temporarily revert back until I heard back.

@CooperCGN @Gus-smarthome @GeorgeeNico - are you able to test the beta and see if it fixes it? I'm curious.

@donavanbecker -

[2022-10-13 00:55] GeorgeeNico commented on #511
Fixed on latest beta! No delay at all.

[12/10/2022, 20:55:08] [SwitchBot] Bot: Door Buzzer Set On: true
[12/10/2022, 20:55:08] [SwitchBot] Bot: Door Buzzer Sending request to SwitchBot API. body: {"command":"press","parameter":"default","commandType":"command"}

[2022-10-13 00:59] xhi-nico commented on #509
Fixed on latest beta! No delay at all.

[code]

[2022-10-13 01:02] donavanbecker commented on #509
HOOBs is not based off homebridge. Also Homebridge has a completely different UI which is what I design my plugin around and HOOBs doesn't support. just because homebridge-______ plugins can be installed doesn't mean it is designed for it.

[2022-10-13 01:03] donavanbecker commented on #509
@GeorgeeNico thanks for confirming!!!

[2022-10-13 01:05] jimmyfisher commented on #509
Thanks - didn't know all that. Makes sense. Glad that beta worked for others.

[2022-10-13 01:11] xhi-nico commented on #511
Followed the prerequisites and this is the error I get when trying to install noble:

[code]

I got around it by using the command "**_pi@homebridge:/var/lib/homebridge $ npm install @abandonware/noble_**" instead, seemed to install the packages correctly.

Unfortunately, I am still getting an error when I try to reinstall the plugin:
node-pre-gyp ERR! install response status 404 Not Found on http

[2022-10-13 01:11] xhi-nico commented on #511
Thanks for your support on this. If it's not something obvious, no need to waste time on it. Happy to use the OpenAPI that now works without the delay.

[2022-10-13 01:21] donavanbecker commented on #509
@jimmyfisher sorry if I come off strong, but just stating my thoughts. Also feel homebridge has a better UI.

[2022-10-13 01:34] donavanbecker commented on #511
Sorry, it is definitely something with the OS. I will close this issue.

[2022-10-13 01:34] #511 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-13 01:36] donavanbecker commented on #328
@mattradford Have you updated your config? Can you post it?

[2022-10-13 02:44] CooperCGN commented on #509
@donavanbecker can confirm too, latest beta working as expected. Bot is turned on without the long delay.

[2022-10-13 05:45] Spy-1 commented on #508
I installed beta 5. No change with the curtains. Debug output is:

[code]

[2022-10-13 05:50] jey3dayo commented on #431
@donavanbecker
Thank you for support!
I tried v2.0.0, but it is not working.

[code]

[2022-10-13 07:01] iu3564 commented on #508
@donavanbecker

nothing changed , but in logs issue with reading 'toUpperCase' still exists

[10/13/2022, 9:46:28 AM] [SwitchBot] API Request: TypeError: Cannot read properties of undefined (reading 'toUpperCase'), Submit Bugs Here: https://tinyurl.com/SwitchBotBug

[2022-10-13 07:17] GcoGr commented on #507
@donavanbecker, Sorry, I',m back to v1.15.
I have 2 garage doors and an IR device (LG TV).
FYI, back in 1.15 my garage doors have duplicated, I've got two with IDs that are MAC addresses without any colons and two with the same names and same IDs but containing colons.
Only two doors work, so I've renamed and hidden in Homekit the nonworking doors in order to restore functionality. I don't know wh

[2022-10-13 08:18] siobhanellis opened #512 "Support Request: Secret"
### Describe Your Problem

Config now asks for Secret

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

![Screen Shot 2022-10-13 at 09 11 50](https://user-images.githubusercontent.com/33163141/195540553-f7c9b039-a62e-43d2-b42e-7fd0c70ac2fd.png)

### Device & Model

Config

### Node.js Version

v16.14.0

### NPM Version

8.3.1

### Homebridge Ver

[2022-10-13 09:20] att11 commented on #510
hi @donavanbecker, thanks, in my case the line with the secret was missing from the config completely - not sure if it was there before when it worked (can't remember) and disappeared after the upgrade? Anyway, entered a line with it and put a code in, now works fine.

[2022-10-13 09:35] donavanbecker commented on #431
@jey3dayo sorry about that.

Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.7/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-13 09:37] donavanbecker commented on #510
@att11, secret is a new credential config that you need, so probably wasn't there. Glad its working.

[2022-10-13 09:39] donavanbecker commented on #512
@siobhanellis sorry about that. This is part of the [API Change](https://github.com/OpenWonderLabs/homebridge-switchbot/blob/latest/CHANGELOG.md#whats-changed) from v1.0 to v1.1. Once you input that from the app you will be good to go.

[2022-10-13 09:45] donavanbecker commented on #507
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.6/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-13 09:56] donavanbecker commented on #508
@Spy-1 okay made another change try next beta.

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.7/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2022-10-13 09:58] donavanbecker commented on #508
@iu3564 I would need to know more about your setup with that TypeError

[2022-10-13 10:03] iu3564 commented on #508
[code]

[2022-10-13 10:07] jey3dayo commented on #431
@donavanbecker
It worked perfectly with 2.1.0-beta.6.
Thank for fixing it!:smile:

[2022-10-13 10:09] siobhanellis commented on #512
Where do I find this in the app?

Siobhan

[2022-10-13 10:15] donavanbecker commented on #508
@iu3564, thanks. Can I also get more logs around that type error to see if I can see where that is coming from.

[2022-10-13 10:16] donavanbecker commented on #512
same place you found the token, in Developer Options.

[2022-10-13 10:24] Spy-1 commented on #508
Witht beta 7 the missing curtains appear in Homekit!

but, the control in Homekit is not yet correct. For example, when I open the curtain garage fully (and it is fully opened) I see in Homekit only 83% opening.
The update of the tiles in Homekit still takes a long time.

In the screenshot, the balcony curtain is actually open, but it is displayed as closed.
<a><img src="https://user-images.github

[2022-10-13 10:27] iu3564 commented on #508
[code]

[2022-10-13 11:16] norb-HB commented on #507
First of all: Thanks for your work!

Same issue (Type Error) with my single Bot. Tried latest Beta 7. Still same issue.

This is my config:

[code]

and extract of the relevant lines from my log:

—SNIP—
[code]
—SNIP—
[code]
—SNIP—
[code]
—SNIP—

[2022-10-13 14:29] siobhanellis commented on #512
All good. Working now.

Siobhan

IOT: Practical HomeKit: ( https://practicalhomekit.blogspot.com )
Charity Fundraising: Lammie Drive: ( lammiedrive.blogspot.com<http://lammiedrive.blogspot.com/> )

From: Donavan Becker ***@***.***>
Date: Thursday, 13 October 2022 at 11:16
To: OpenWonderLabs/homebridge-switchbot ***@***.***>
Cc: siobhanellis ***@***.***>, Mention ***@***.***>
Subject: Re: [OpenWond

[2022-10-13 14:43] #512 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-13 15:06] donavanbecker commented on #510
perfect closing as I will release v2.1.0 soon with this fix.

[2022-10-13 15:06] #510 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-13 15:17] jimmyfisher commented on #509
@donavanbecker should I open a diff issue re: the motion sensors not updating in the Home app? I'm currently using Switchbot's automations to do what I was trying to do in the Home app yesterday.

I cannot get the BLE thing to work where the motion sensor is talking directly to the RPi. I did confirm that my hardware has BLE and is able to show me a scan using BlueZ and sees the MAC address of the

[2022-10-13 16:42] donavanbecker commented on #509
@jimmyfisher, unfortunately motion sensors will never be good with the OpenAPI because of the daily refresh limit.

[2022-10-13 16:45] jimmyfisher commented on #509
That's why I'd use the BLE right?

I guess I'm lost as to the configuration. If I add the device ID, the name, choose 'motion sensor', and check 'Enable BLE', when I restart the bridge, it scans and identifies the motion sensor, but then doesn't update. 1.15.0 was showing the sensor while 2.0.0 (when I had the config the same way) didn't show it at all.

I followed all of the install steps with BL

[2022-10-13 17:58] thommyg commented on #507
I‘m really new here. Not sure if I can contribute, since this is actually my first post here…

But i stumbled over this thread while having issues setting up my new Switchbot and I had the same issue popping up in my homebridge (“toUpperCase”).

I have solved the issue be re-installing the Switchbot app and re-enabling the cloud-services within the Switchbot app itself. Seems like that crashed and

[2022-10-13 18:20] donavanbecker commented on #509
Let's open a new issue for this. I haven't messed around with motion sensors and BLE for a while.

[2022-10-13 18:22] donavanbecker commented on #509
v2.1.0 will be released soon which resolves this issue.

[2022-10-13 18:22] #509 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-13 18:30] donavanbecker commented on #508
Seems like a calibration issue to me... but could be wrong. Als you could try setting max close/open:
<a><img src="https://user-images.githubusercontent.com/9875439/195677574-5ccee81d-369d-40e1-b7e1-b282ea251f07.png" width="500px"></a>

[2022-10-13 19:22] mattradford commented on #328
Sorry, here's my updated config:

[code]

[2022-10-13 19:36] iu3564 commented on #508
@donavanbecker I successfully registered curtains when I set external  param as false ,so in beta7 all works. Last thing what should to be fixed this is message "API Request: TypeError: Cannot read properties of undefined (reading 'toUpperCase'), Submit Bugs Here: https://tinyurl.com/SwitchBotBug" it shown after discovering devises when I restart homebridge

[2022-10-13 19:39] Spy-1 commented on #508
first step for me was deleting all curtains and readding them to the switchbot App.
After this all curtains were calibrated again.
I'll try the new setting tomorrow morning.

[2022-10-13 19:45] Kohle81 opened #513 "Bug: TV IR Device does not work in Homekit - no answer"
### Describe The Bug

The IR Device does work with version 1.15.0, with version v2.1.0-beta.7 it does not work

### To Reproduce

After update no function

### Expected behavior

I only updated plugin and token + secret

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspi 4

### Node.js Version

16.17.1

### NPM Ve

[2022-10-13 19:46] jimmyfisher opened #514 "Support Request: Getting Motion Sensors to Connect Over BLE and Update the Home App Quickly"
### Describe Your Problem

The goal is to add the motion sensor to the Home app to allow for automations (like you can do in the Switchbot app) where if motion is detected, something else happens.

Right now, when connecting over OpenAPI, the device shows up in the Home app, but only has responded to the 'motion detected' trigger (visible in the Switchbot app) on rare occasion. I believe this has

[2022-10-13 19:53] Kohle81 commented on #513
I have updated node to v16.18.0, but it does not work

[2022-10-13 20:04] donavanbecker commented on #513
@Kohle81, I will have to add a IR TV device and test this out. Sorry.

[2022-10-13 20:53] donavanbecker commented on #513
I am able to reproduce. I will push out a beta as soon as I can figure out what is causing this.

[2022-10-13 22:38] donavanbecker commented on #513
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.9/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-13 22:38] donavanbecker commented on #508
@iu3564 @Spy-1, Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.9/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-13 22:39] donavanbecker commented on #507
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.9/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-13 22:42] iu3564 commented on #508
ok for me

[2022-10-13 22:43] donavanbecker commented on #508
@iu3564 so that fixes your issue?

[2022-10-13 22:45] donavanbecker commented on #328
has nothing to do with this issue. just a warning.

[2022-10-13 22:46] donavanbecker commented on #328
@mattradford Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.0-beta.9/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-13 22:47] iu3564 commented on #508
yes. message "API Request: TypeError: Cannot read properties of undefined (reading 'toUpperCase')" is gone , I see in logs all discovered devices , all exposed to HomeKit and works

[2022-10-13 22:47] donavanbecker commented on #508
awesome!

[2022-10-13 22:49] donavanbecker commented on #508
Closing as it will be resolved with v2.1.0 which I will release right now.

[2022-10-13 22:49] donavanbecker commented on #513
Closing as it will be resolved with v2.1.0 which I will release right now.

[2022-10-13 22:49] #508 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-13 22:49] donavanbecker commented on #507
Closing as it will be resolved with v2.1.0 which I will release right now.

[2022-10-14 00:21] sekkamoyou commented on #409
Ok, I installed 2.1.0 release and check some new options for IR devices but still can't turn on my AC.
Is there something manual about IR devices' commands? If so, I want to read it.

[2022-10-14 01:06] donavanbecker commented on #409
@designsforall  what is your config?

[2022-10-14 03:43] sekkamoyou commented on #409
[code]

as for now, just type in On and Off for custom commands

[code]

and log from Homebridge, First one (as ON ir blast) is not working, but second one (as OFF) is working.

[2022-10-14 03:50] Spy-1 commented on #508
Thanks for your support!

[2022-10-14 03:55] donavanbecker commented on #409
Thanks first command shouldn’t have sent it that way with customize on. Let me look at the code. Thanks for the logs

[2022-10-14 03:55] donavanbecker commented on #508
No problem

[2022-10-14 04:18] Kohle81 commented on #513
Hi,the button of the TV IR in Homekit as device works. But if I activate the device, Switchbot Mini is not sending any signal.

[2022-10-14 04:21] donavanbecker commented on #513
Would need logs.

[2022-10-14 04:43] Kohle81 commented on #513
Here are the log:

[code]

[2022-10-14 05:11] Spy-1 commented on #508
There is still a small problem with the status of the curtains in Homekit.
When I press the slider in the HomeApp and open the curtain completely it does that.
However, the percentage display then slowly jumps from 20%, 60%, 80% only after it is completely open.
After about a minute, the status is then updated and displayed correctly.

[2022-10-14 07:28] donavanbecker commented on #513
Please come on Github and post the logs and not send through email because it doesn't format right.

[2022-10-14 07:30] donavanbecker commented on #513
Also open a new issue as this is different.

[2022-10-14 07:30] #513 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:36] donavanbecker opened #517 "There is still a small problem with the status of the curtains in Homekit."
There is still a small problem with the status of the curtains in Homekit.
When I press the slider in the HomeApp and open the curtain completely it does that.
However, the percentage display then slowly jumps from 20%, 60%, 80% only after it is completely open.
After about a minute, the status is then updated and displayed correctly.

_Originally posted by @Spy-1 in https://github.com/OpenWonderL

[2022-10-14 07:36] donavanbecker commented on #517
@Spy-1 are you using OpenAPI or BLE? or it doesn't matter?

[2022-10-14 07:38] donavanbecker commented on #442
believe this should have improved in v2.1.0

[2022-10-14 07:38] #442 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:38] Spy-1 commented on #517
i´m using OpenAPI

[2022-10-14 07:41] #408 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:43] #306 closed, assigned to donavanbecker

[2022-10-14 07:44] donavanbecker commented on #307
#514

[2022-10-14 07:44] #307 closed, assigned to donavanbecker

[2022-10-14 07:44] donavanbecker commented on #310
should be resolved from PR

[2022-10-14 07:44] #310 closed, assigned to donavanbecker

[2022-10-14 07:45] #316 closed, assigned to donavanbecker

[2022-10-14 07:45] #318 closed, assigned to donavanbecker

[2022-10-14 07:46] #371 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:46] #378 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:47] #380 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:48] donavanbecker commented on #400
available in v2.1.0

[2022-10-14 07:48] #400 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:48] #302 closed

[2022-10-14 07:48] #410 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:49] #412 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 07:50] donavanbecker commented on #328
Going to Close this. If this is still an issue for someone then please open a new issue and please get me good logs that show that it is off. I am not having issues with my Meter Plus but I only use OpenAPI

[2022-10-14 07:50] #328 closed, assigned to donavanbecker

[2022-10-14 07:58] donavanbecker commented on #409
@designsforall

Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.1-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-14 08:09] sekkamoyou commented on #409
Ummm, nope. Now I cant turn off with Homebridge 😂

[2022-10-14 08:14] donavanbecker commented on #409
@designsforall let me add some logging and then see if I can reproduce.

[2022-10-14 08:21] yjeanrenaud opened #518 "Bug: characteristic 'Brightness': characteristic value expected valid finite number and received "NaN""
### Describe The Bug

homebridge log shows error

### To Reproduce

Just updated to v.2.0.1

### Expected behavior

no error

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

rPI 3 1 GB

### Node.js Version

v16.17.1

### NPM Version

8.15.0

### Homebridge Version

v1.5.0

### Homebridge Switchbot Plugin Version

v2.

[2022-10-14 08:23] yjeanrenaud commented on #518
I just browsed the code quickly and I guess this is something that should be fixed on API level?

[2022-10-14 08:24] donavanbecker commented on #518
@yjeanrenaud What deviceType?

[2022-10-14 08:31] hassounet commented on #501
Thank you so much Mr donovan ! it works ! last question : is there a way to add support or information for solar batteries on curtain i.e at least get the info it is charging or not with solar panel as it is an info that exists within Switchbot app? Thanks for what you do.

[2022-10-14 08:33] yjeanrenaud commented on #518
not sure. the log is quite generic. But I guess it comes from a curtain that is currently offline

[2022-10-14 08:37] idanyc commented on #412
I have the same issue... can't install any version...

Pi Zero WH
Node.js v16.17.1
homebridge@1.5.0
└── npm@8.19.2
[code]

Config:
[code]

[2022-10-14 09:31] idanyc commented on #412
managed to install from terminal with
sudo -E -n npm install -g @switchbot/homebridge-switchbot@latest

got a warn i need node.js 16.18.0 but it succeeded anyways

[2022-10-14 10:09] idanyc opened #519 "Bug: API Request: TypeError: Cannot read properties of undefined (reading 'deviceList')"
### Describe The Bug

Device list is empty although configured

### To Reproduce

install plugin v2.1.0, configure your devices

### Expected behavior

devices should show and be exposed to homekit

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/47157828/195821279-1e0fb818-b618-4062-864b-0cb54a1550a0

[2022-10-14 10:55] donavanbecker commented on #518
@yjeanrenaud You have no other devices?

That characteristic isn't in a curtain, so pretty much impossible.

[2022-10-14 10:57] donavanbecker commented on #501
Not until the OpenAPI supports it. #399

[2022-10-14 10:57] #501 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 11:03] jonzhan opened #520 "Bug: IR Devices do not send signals"
### Describe The Bug

The associated command should be sent when an IR device is turned on or off, but it is not. There is also no log message for the IR device in the Switchbot App Log

### To Reproduce

Declare device as indicated in config section below, then try turning on/off

### Expected behavior

IR commands should be sent, and the API call should be noted in the Switchbot App Log

### Rel

[2022-10-14 11:09] Kohle81 commented on #520
Same here. IR SIGNAL TV does not run through Switchbot Hub mini when enabled through Homekit.

Here the log:
[code]

[2022-10-14 11:19] jonzhan commented on #520
@donavanbecker FYI, interestingly, I never see log messages from any of the paths in [pushChanges](https://github.com/OpenWonderLabs/homebridge-switchbot/blob/96352948841ac242f9ab0cda9924852ed2983919/src/irdevice/other.ts#L120) , even with logging elevated to Debug level.

[2022-10-14 11:26] jonzhan commented on #520
@donavanbecker Ohhhh I think I've got it, actually it's similar to the issue for #310 - I'll cook up a PR now

[2022-10-14 11:48] jonzhan commented on #520
@donavanbecker Should be fixed [here](https://github.com/OpenWonderLabs/homebridge-switchbot/pull/521). 😀

[2022-10-14 12:10] donavanbecker commented on #520
@jonzhan Thanks! I think I messed this up on all it devices, so will have fix it on others.

I have merged this into the beta branch, so a new beta should be published shortly.

[2022-10-14 12:17] jonzhan commented on #520
I'll try the beta and let you know how it goes! Thanks for the quick merge.

I haven't looked at all the other devices, but it may be okay in other places because:

- Some pushXXX functions don't check for the state of the accessory, so there is no problem
- some invocations of the pushXXX functions send "this.Active" instead of "value" as the argument, and aren't subject to this bug.

[2022-10-14 12:25] donavanbecker commented on #520
@jonzhan I believe all work the same as your change because they are IR devices and I don't want to send the command twice.

[2022-10-14 12:26] donavanbecker commented on #520
@jonzhan Also you can remove your commandOn and CommandOff under other Array, in your config.

[2022-10-14 12:58] donavanbecker commented on #520
just pushed a change to fix this for all other IR Devices.

[2022-10-14 12:59] donavanbecker commented on #520
I will release v2.1.1 one you give m the thumbs up.

[2022-10-14 13:02] donavanbecker commented on #519
@idanyc

it is your irdevice config section. remove that manually.

[code]

[2022-10-14 13:06] donavanbecker commented on #409
@designsforall

I think you need to set the Push On Changes Config.

<img width="241" alt="Screenshot 2022-10-14 at 8 07 02 AM" src="https://user-images.githubusercontent.com/9875439/195854455-98d1f5d3-7d0c-4a4b-867c-dafea9ebe41c.png">

[2022-10-14 13:16] donavanbecker commented on #517
@Spy-1

Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.1.1-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-14 13:55] idanyc commented on #519
Didn’t help

[2022-10-14 13:56] #409 closed, assigned to Minsheng, donavanbecker, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 14:05] donavanbecker commented on #519
update your config to this:

[code]

[2022-10-14 14:05] donavanbecker commented on #519
then after restarting homebridge if that works reconfigure

[2022-10-14 14:24] Spy-1 commented on #517
With V 2.1.1
Same behavior as before.
No change.

[2022-10-14 14:25] donavanbecker commented on #517
@Spy-1

Did you set the min and max close?

[2022-10-14 15:41] Spy-1 commented on #517
Yes set to 10 and 90.
However, the percentage display then stays on 20% and after about a minute, the status is then updated and displayed correctly.

[2022-10-14 15:46] donavanbecker commented on #517
@Spy-1 How about updateRate? Try adjusting that and see if you can get it to display correctly when making changes.

It's hard, because it has to request a status refresh to get that state to make sure it is actually closed.

[2022-10-14 16:10] justinyco opened #525 "Bug: No devices loaded after update plugin from v1.15.0 to v2.1.1 with SwitchBot API v1.1"
### Describe The Bug

Breaking change update

### To Reproduce

update plugin from v1.15.0 to v2.1.1

### Expected behavior

All switchbot device status should be remained unchanged

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/71521148/195891053-6ce6ddeb-10f8-47c6-aefd-11b8f8b7bc04.png)

### Devic

[2022-10-14 16:18] justinyco commented on #525
When i changed config for "token" to "openToken" it will produce different log but still no device loaded.

![image](https://user-images.githubusercontent.com/71521148/195894110-ddb55736-c376-45cf-ab1e-5bc1d9ff1af2.png)

[2022-10-14 16:19] Spy-1 commented on #517
Different update rates between 0 and 15 seconds do not bring any changes.
In the home app, I sometimes have to press the slider 2-3 times to make the curtain move.
The curtain always opens and closes completely, but the percentage now stops at 20 and then goes to the open or closed status message after a minute.

Let's see how tonight the automations run.
![Zwischenablagebild](https://user-images.

[2022-10-14 16:35] donavanbecker commented on #525
Not a plugin issue.

[2022-10-14 17:02] #525 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-14 18:02] jonzhan commented on #520
@donavanbecker Oh yeah thanks for reminding me about the commandOn and CommandOff - I tried filling in EVERY field while troubleshooting. :)

Sorry for the slow confirmation, I stepped away from this for a bit! I see 2.1.1 is already out - I've updated it and I can confirm that "Other IR" devices send commands now!

@Kohle81 Is it working for your case too?

[2022-10-14 18:23] Kohle81 commented on #520
@jonzhan

I am on v2.1.2-beta.5 and the IR Signal through homekit doesn‘t work.

If I am testing through Switchbot all is fine.

[2022-10-14 18:26] donavanbecker commented on #520
@Kohle81, can you post logs of commands you send and what it looks like?

[2022-10-14 18:28] donavanbecker commented on #517
maybe it is the silent mode for the closing mode? can you try changing that to performance?

[2022-10-14 18:33] Kohle81 commented on #520
@donavanbecker

 I am on beta.6 now
On command:

14/10/2022, 20:30:32] [SwitchBot] [DEBUG] TV: LG Active: 0
[14/10/2022, 20:30:32] [SwitchBot] TV: LG Connection Type: undefined, commands will not be sent to OpenAPI

Off command:

14/10/2022, 20:32:25] [SwitchBot] [DEBUG] TV: LG Active: 0
[14/10/2022, 20:32:25] [SwitchBot] TV: LG Connection Type: undefined, commands will not be sent to OpenAPI

[2022-10-14 18:34] donavanbecker commented on #520
@Kohle81 Go into your IR Device Config and set the connection type to OpenAPI for your TV then try.

That should be defined by default so I will fix that.

[2022-10-14 18:40] Kohle81 commented on #520
I can't find a way to adjust the config because the device isn't offered with?  Or am I missing something?

![B883A886-E1E6-41FB-B6A3-F92611EA96A0](https://user-images.githubusercontent.com/33038709/195918032-a034ebde-9dcd-41f3-8d03-903029a74c25.jpeg)

[2022-10-14 18:40] Spy-1 commented on #517
No, it is not. I have already tried that.

[2022-10-14 18:54] yjeanrenaud commented on #518
I have 21 devices. but the curtains have a brightness sensor, don't they? I will look at the debug log if it helps to figure out which device

[2022-10-14 18:56] whatUwant opened #526 "Bug: missing `enableCloudService` for curtain bot"
### Describe The Bug

`enableCloudService` is missing in API response

### To Reproduce

Not sure how this could be reproduced

### Expected behavior

The device should be handled even when `enableCloudService` is missing

### Relevant log output

Curtain bots `A1` & `A2` are grouped together. `B1` & `B2` are grouped together. They are all paired with hub `HHH`.

The plugin complains about `enable

[2022-10-14 19:01] yjeanrenaud commented on #518
ok I can't. "Requests reached the daily limit"

[2022-10-14 19:02] Kohle81 commented on #520
Is this the correct ID from IR Device?

a55e1476-3bb4-44a8-bbaf-e6508a33baa5

[2022-10-14 19:13] Kohle81 commented on #520
In the meantime I have found the correct ID.  The off command works, the ON command does not.

I am on beta.8 now

[2022-10-14 19:54] donavanbecker commented on #520
Can you post debug mode logs?

[2022-10-14 19:56] donavanbecker commented on #518
Light sensor. The Brightness Characteristic is only used for lights.

[2022-10-14 19:59] donavanbecker commented on #526
If `enableCloudService` isn't defined, then you can send commands. Also it is not the master curtain. Do you even want to display this curtain? If you have it grouped you don't want to display it in the home app....

[2022-10-14 20:11] Kohle81 commented on #520
[code]

[2022-10-15 00:27] lilywucreative opened #527 "Migrating to 2.x causes IR device (air purifier) not to work"
### Describe The Bug

Updating to 2x causes IR devices to stop working with error "connection type: undefined"

### To Reproduce

Update existing setup from 1.x to 2.x, put in new token and secret, try to turn IR devices on and off

### Expected behavior

Devices continue to work

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

I updated from 1.15 to

[2022-10-15 03:22] donavanbecker commented on #527
This is a know issue, set your connectionType for your deviceIDs

[2022-10-15 03:40] donavanbecker commented on #520
to me that looks like it worked.

[2022-10-15 03:50] donavanbecker commented on #527
v2.1.2 will resolve this issue.

[2022-10-15 03:50] #527 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-15 06:06] Kohle81 commented on #520
The On Command dosn‘t work, the Off Command works.

If I only press the On Command this is the log:

15/10/2022, 08:05:55] [SwitchBot] [DEBUG] TV: LG Active: 1

[2022-10-15 06:25] Kohle81 commented on #520
I have updated to v 2.1.2 and the IR TV device shows „no answer“ again in Homekit.

Here the log:

[code]

[2022-10-15 08:01] LeClerc66 commented on #517
Noob question from a rookie here: have 10 curtains (grouped in 5 sets of 2). Would love to tweak the settings as described above in this thread (the white-on-black config screen) but have no idea how to get there. Could anyone enlighten me?

[2022-10-15 09:05] idanyc commented on #519
works now, what did the trick eventually was deleting the plugin json config and configuring only from UI

[2022-10-15 10:13] donavanbecker commented on #520
The isn't any debug logs?

[2022-10-15 10:16] donavanbecker commented on #519
Good! Glad it is working.

[2022-10-15 10:16] #519 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-15 10:59] Kohle81 commented on #520
If I push On device, this is all of log I see…Am 15.10.2022 um 12:13 schrieb Donavan Becker ***@***.***>:﻿

The On Command dosn‘t work, the Off Command works.
If I only press the On Command this is the log:
15/10/2022, 08:05:55] [SwitchBot] [DEBUG] TV: LG Active: 1

The isn't an debug logs?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were me

[2022-10-15 12:00] jonzhan commented on #520
@donavanbecker Just eyeballing this, but I think maybe the issue @Kohle81 is facing is caused by [this line](https://github.com/OpenWonderLabs/homebridge-switchbot/blob/19842e0468cadfe83a178fd4d01d618ca1a6d92a/src/irdevice/airconditioner.ts#L337)

I think

`if (value === this.platform.Characteristic.Active.INACTIVE) { // pushOffChanges`

should be

`if (value === this.platform.Characteristic.Activ

[2022-10-15 13:57] Spy-1 commented on #517
It works for me!
V2.1.2

[2022-10-15 14:23] donavanbecker commented on #517
v2.1.2 fixed it?

[2022-10-15 14:29] Spy-1 commented on #517
Yes, i did the update this morning.
After first tests it‘s now fine for me.
🥳

[2022-10-15 14:38] donavanbecker commented on #517
Awesome!

[2022-10-15 14:38] #517 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-15 17:17] Kohle81 commented on #520
Hi,

I am on v2.1.3-beta.2 an the IR device in Homekit is „no answer“.

[2022-10-15 17:40] donavanbecker commented on #520
@Kohle81 Changes haven't been merged as there was an issue with the PR.

[2022-10-15 19:38] donavanbecker commented on #520
Okay, beta should be out.

There is a new config in the UI for this. `AllowPush`

[2022-10-15 19:53] jonzhan commented on #520
@donavanbecker please note that I haven't implemented this in the PR - does the suggested fix look right to you?

(Also getting to bed here so I won't be able to respond right away.🥱)

[2022-10-15 19:57] Kohle81 commented on #520
I am on beta v2.1.4.0 an IR device no answer.
I have changed in ui „allowpush“

here the log:

[code]

[2022-10-15 20:07] yjeanrenaud commented on #518
I see. Then it must be the striplight

[2022-10-15 20:17] donavanbecker commented on #520
I will have to look over this. Sorry don't have time today.

[2022-10-15 20:23] heroash88 opened #534 "Feature Request: Keypad Touch support"
### Problem

There is no support for the Keypad Touch device.

### Solution

Support the device. Integrating it as switch maybe? Thank you.

### Alternatives

_No response_

### Additional context

_No response_

[2022-10-15 22:28] donavanbecker commented on #534
What would you like it to do?

[2022-10-16 07:47] LeClerc66 opened #535 "Support Request: How to hide curtain light sensors in HomeKit & setting other parameters"
### Describe Your Problem

How can I hide the curtain light sensors from Homekit? In some posted issues I can see people accessing a settings-pane in the HomeBridge UI, but when I look at mine all those options are missing/non-configurable (see screenshots). Also I would like to set the min- and max positions, in order to let HomeKit determine my curtains are closed, even if the are 1% open as it

[2022-10-16 08:58] weitheng opened #536 "Feature Request: Home Key Support for Switchbot Lock"
### Problem

_No response_

### Solution

Are there any plans for Switchbot lock to support Apple Home Key? So that it can be unlocked with just a tap of the phone?

### Alternatives

_No response_

### Additional context

_No response_

[2022-10-16 11:39] jonzhan commented on #520
I looked again and this suggestion is obviously wrong. Sorry about that!

[2022-10-16 11:54] donavanbecker commented on #535
Did you try looking at the SwitchBot device settings?

Type in the deviceid and the device type.

[2022-10-16 14:47] donavanbecker commented on #536
@weitheng Don't think this will be ever possible, but will leave this open just incase.

Not sure how we would be able to get the signal quick enough to make the door unlocked with OpenAPI, potentially with BLE, but not sure HomeKey supports that.

[2022-10-16 14:50] donavanbecker commented on #520
@jonzhan Your good. Sorry have been busy this weekend. I will look over the logs and try to fix this in the next release.

[2022-10-16 14:59] Gus-smarthome opened #537 "Support Request: Requests reached the daily limit"
### Describe The Bug

Homebridge conneciton is not working

### To Reproduce

As soon as you restart you can get this error in the in panel (I have updated to the latest version and add the token and secret key)

### Expected behavior

Normal connection

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

All products

#

[2022-10-16 15:35] donavanbecker commented on #537
@Gus-smarthome Please turn on debug mode and get me the logs before and after this error.

[2022-10-16 15:46] Gus-smarthome commented on #537
@donavanbecker The error is exactly when it restarts, so I can't send the before

[code]

[2022-10-16 15:48] weitheng commented on #536
In this case, for this feature to be a reality is it safe to assume that Switchbot would have to implement this somehow in their backend instead?

[2022-10-16 17:44] donavanbecker commented on #537
Your refreshRate is set to 30 seconds, that will use up your 10000 pulls a day quick.

[2022-10-16 18:43] HolgerAusB opened #538 "Support Request: Where to get Node.js 16.18?"
### Describe Your Problem

SwitchBot-App gives a warning in log that my node.js is too old

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

-

### Device & Model

Bot, Meter, MeterPlus, Contact

### Node.js Version

16.17.1

### NPM Version

8.15.0

### Homebridge Version

1.5.0

### Homebridge SwitchBot Plugin Version

2.1.2

### Homebridge Co

[2022-10-16 19:43] donavanbecker commented on #538
Run the following command if you are using the image or if your running the hb-service.
`sudo hb-service update-node`

[2022-10-16 20:34] LeClerc66 commented on #535
That did the trick, sometimes it’s so easy…. Thanks Donovan!

[2022-10-16 20:34] #535 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-17 07:07] HolgerAusB commented on #538
As I wrote. No hb-service here. I did not install Homebridge via `deb repo.homebridge.io`. This service was not available or recommended when I installed my homebridge.

nodejs 16.18.0 seems to be kinda beta or release candidate? It is not in the official nodesource repo yet. Latest version there is 16.17.1

[2022-10-17 08:34] whatUwant commented on #526
I would like to control each curtain individually

[2022-10-17 11:32] donavanbecker commented on #526
@whatUwant Then why do you have them grouped in the SwitchBot app? I don't believe it would let you control them individually when they are grouped together.

[2022-10-17 11:36] donavanbecker commented on #538
![image](https://user-images.githubusercontent.com/9875439/196167241-b1f6000f-0134-4030-8437-43b2c27804ee.jpeg)

Does your system information say service mode like this?

Deb repo isn't the only thing with service mode.

[2022-10-17 11:43] whatUwant commented on #526
IIRC it was possible but I could be wrong...

[2022-10-17 12:53] donavanbecker commented on #526
Not seeing it in the app.

[2022-10-17 18:20] PBXLthrMan opened #539 "Bug: Bots stopped working after last update"
### Describe The Bug

Bots are no longer executing manually or in automations

### To Reproduce

Click switch, or try running a test automation

### Expected behavior

Bot executes

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![IMG_324433D0B23D-1](https://user-images.githubusercontent.com/90646855/196251567-e7fe9e21-3561-41a7-9fe7-115058ab0015.jpe

[2022-10-17 20:04] donavanbecker commented on #539
do you have your secret inputted? I would guess there is a log that says you don't have a secret. you need to input that from the SwitchBot App.

[2022-10-17 20:06] PBXLthrMan commented on #539
LOL. I guess I missed that, how do I get the secret?

[2022-10-17 20:38] PBXLthrMan commented on #539
@donavanbecker Nevermind, figured it out. It's now working again. Thanks.

[2022-10-17 20:38] #539 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-17 23:24] #537 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-18 12:21] donavanbecker commented on #520
@Kohle81

Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.0-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-18 12:22] donavanbecker commented on #518
@yjeanrenaud

Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.0-beta.3/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-18 12:44] Kohle81 commented on #520
On beta3 „no answer“ in Homekit for IR device TV.

Log:
[code]

[2022-10-18 13:19] donavanbecker commented on #520
@Kohle81 Config?

Also I am not even seeing you send the command? There are logs that would show it, so there hasn't to be something you don't have set.

Post config and we can go from there.

[2022-10-18 13:34] gregpa opened #541 "Bug: Not sure how to fix this error message"
### Describe The Bug

"SwitchBot ERROR"secret" config is not populated, you must populate then please restart Bridge."

### To Reproduce

error log

### Expected behavior

unsure

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

unknown

### Node.js Version

unknown

### NPM Version

unknown

### Homebridge Version

u

[2022-10-18 13:38] donavanbecker commented on #541
Can't tell what your config looks like since you didn't post it, but my guess is that you don't have the new Secret config set. You will have to get that from the SwitchBot app, same way you go the token, and paste in the config.

[2022-10-18 13:50] Kohle81 commented on #520
Hi,
here the config:
[code]

[2022-10-18 13:55] gregpa commented on #541
Thanks for your help and effort on this . Truly.
I see where to put the token, but not the Secret?  it wasn't very clear, sorry. I'm using the plugin within HOOBS
![Screenshot 2022-10-18 085513](https://user-images.githubusercontent.com/13455955/196450062-fdbcd358-a05d-4792-8cd3-4f982fb66cad.png)

[2022-10-18 14:17] donavanbecker commented on #541
This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-18 14:24] gregpa commented on #541
![image](https://user-images.githubusercontent.com/13455955/196457911-2db21c02-2d45-4b04-a69b-ce6be410f9a5.png)
 Damn, it shows as certified,   that's too much work to switch as everything works fine right now except this. .. :)  thanks anyway

[2022-10-18 15:30] donavanbecker commented on #520
@Kohle81, I should see this Code fire off:

[code]

and I am not.

If you could try the latest beta. Please get more debug logs for TV please, maybe turn logging off for other devices while collecting for this one.

[2022-10-18 15:32] donavanbecker commented on #541
@gregpa, HOOBs puts that on there, I have no control over that.

It would be better to switch now then wait.

[2022-10-18 15:55] Kohle81 commented on #520
Here the logs with newest beta:

[code]

[2022-10-18 17:20] donavanbecker commented on #520
@Kohle81, can you check the external config? and see if that fixes this?

[2022-10-18 17:31] Kohle81 commented on #520
What exactly do you mean by external config and what to check?  I don't know exactly what you mean...

[2022-10-18 17:33] donavanbecker commented on #520
There is a config in the UI, named external. Check that box.

[2022-10-18 17:44] Kohle81 commented on #520
That it is! Now it works!!

Thanks for fixing an help!!!

[2022-10-18 18:48] donavanbecker commented on #520
@Kohle81, if you remove that config and then try again with the latest beta. It should send it external automatically if external config isn't set.

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.0-beta.7/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[2022-10-18 18:58] Kohle81 commented on #520
With beta 6 the old device IR TV ist on „no answer“ and I got I new device „TV“ through Homekit. New device is working.

![D27CDD89-139C-4C37-AAB8-C7B771E749A1](https://user-images.githubusercontent.com/33038709/196519867-5c901ec6-54df-4585-9c3a-93d90e891d1a.jpeg)

How could I delete the old device?

[2022-10-18 19:10] donavanbecker commented on #520
@Kohle81 Try beta 7.

[2022-10-18 19:18] Kohle81 commented on #520
I am on beta 7, no change. Two devices, the old one with „no answer“.

Do you need log or config?

[2022-10-18 19:20] donavanbecker commented on #520
Nope your good, go to Homebridge Settings:
<img width="173" alt="Screenshot 2022-10-18 at 2 18 35 PM" src="https://user-images.githubusercontent.com/9875439/196523865-9bb2d1bf-302d-40c3-8abe-dd86a0f5baea.png">
Then Remove Single Cached Accessory:
<img width="559" alt="Screenshot 2022-10-18 at 2 19 33 PM" src="https://user-images.githubusercontent.com/9875439/196523954-ec3b6392-418b-4d6f-b7bc-2c6a7

[2022-10-18 19:29] Kohle81 commented on #520
I have deleted the old device. New device is working.

[2022-10-18 20:09] #541 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-18 20:09] #538 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-18 20:11] #526 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-18 20:13] #518 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-18 20:21] #520 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-19 04:22] HolgerAusB commented on #538
What does service mode mean? It is a 'Yes' here.

Meanwhile the 16.18.0 has arrived in the official nodesource repo, so I could `apt upgrade` it. But you should consider not to push higher version dependencies too early.

[2022-10-19 06:58] yjeanrenaud commented on #518
sorry, wasn't that quick. beta did not help, v2.2.1, neither, I thought. I needed a restart of the whole homebridge.
even thought he update produced some build errors it works. And I checked nodejs and updated to v16.18.0.

[2022-10-19 07:08] yjeanrenaud commented on #507
I just checked with v.2.2.1 and an updated nodejs v16.18.0 and it still persists

[2022-10-19 08:23] donavanbecker commented on #538
since you have service, just run this command:
[code]

[2022-10-19 08:32] donavanbecker commented on #507
@yjeanrenaud

[2022-10-19 08:33] donavanbecker commented on #507
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.2-beta.0/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

Please get me the logs from this

[2022-10-19 08:51] yjeanrenaud commented on #507
done that:
[code]

beta keeps crashing homebridge

[2022-10-19 08:59] yjeanrenaud commented on #511
I have the same issue. also on a RPI3. are you using a x64 kernel?

[2022-10-19 11:39] donavanbecker commented on #507
yeah figured it would, just trying to see where this is coming from. Lets try the latest beta.

[2022-10-19 11:54] donavanbecker commented on #511
have all of you looked at: https://github.com/nodejs/node-gyp? and its requirements?
or
https://github.com/abandonware/node-bluetooth-hci-socket? and its [prerequisites](https://github.com/abandonware/node-bluetooth-hci-socket#prerequisites)

[2022-10-19 12:17] HolgerAusB commented on #538
shame on me! I thought hb-service was available only when installed via repo.homebridge.io but you are right, it is there.

Thank you so much!

[2022-10-19 12:25] donavanbecker commented on #511
you could also try install:

[code]

then trying to install the plugin

[2022-10-19 12:42] gielk commented on #501
Hi @donavanbecker
I'm running v2.2.1, but the bug with the sensor stays for me.

[code]

[2022-10-19 13:15] donavanbecker commented on #501
[code]

From the API on your devices. Have you changed max lux in the config?

[2022-10-19 13:53] gielk commented on #501
@donavanbecker This is my config;

[code]

I didnt change any config of the lux.

[2022-10-19 14:09] donavanbecker commented on #501
then I would change your config for the max Lux and min Lux. 6001 is the default for `bright` and 1 is default for `dark`.
<img width="589" alt="Screenshot 2022-10-19 at 9 07 28 AM" src="https://user-images.githubusercontent.com/9875439/196714439-fcaed97e-921a-4088-b59e-4cb5c1b6996a.png">

[2022-10-19 14:16] gielk commented on #501
I can't find that setting or is it just me?
![image](https://user-images.githubusercontent.com/24224715/196715466-7ccc77f1-eead-4fb0-87a0-868f6efd53c8.png)
![image](https://user-images.githubusercontent.com/24224715/196716809-77c612d2-644d-4f90-a693-4d833d6a7029.png)

[2022-10-19 14:18] donavanbecker commented on #501
you need to type in your deviceID into the Switchbot Device settings, select your device type and then you will get settings. This is so you can set specific settings for each device and not an overall setting.

[2022-10-19 14:38] yjeanrenaud commented on #511
did both. node-gyp is running, build-essentials are on latest.

[2022-10-19 14:43] yjeanrenaud commented on #507
no crashing, but still
[code]

the curtains are now grouped, at least two of them. the thirds still is ungrouped but not throwing any errors anymore.
however I get no devices after clearing cache now due to the TypeError. I checked, token and secret are correct.

[2022-10-19 15:15] donavanbecker commented on #511
@yjeanrenaud Nothing I can do than.

[2022-10-19 15:15] donavanbecker commented on #507
@yjeanrenaud Please get me all debug logs.

[2022-10-19 18:25] jey3dayo opened #545 "Bug: Type Undefined to DIY IPTV"
### Describe The Bug

can't support DIY IPTV. It was working in v1.x.x.

### To Reproduce

push TV button.

### Expected behavior

The TV turns on.

### Relevant log output

[code]
[code]

### Screenshots

device info
![image](https://user-images.githubusercontent.com/16203828/196774616-5f7590d1-b64c-46d1-845d-224e95cda3ba.png)

### Device & Model

switch bot hub mini

### Node.js Version

v16.14.

[2022-10-19 18:30] jey3dayo commented on #545
Might be related.
https://github.com/OpenWonderLabs/homebridge-switchbot/issues/507

[2022-10-19 18:32] yjeanrenaud commented on #507
[code]

[2022-10-19 18:37] jey3dayo commented on #545
Maybe something is wrong with the IR devices.
Air conditioner doesn't work.

[code]

[2022-10-19 19:43] donavanbecker commented on #507
[code]

[2022-10-19 20:49] #507 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-19 21:52] donavanbecker commented on #545
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.2-beta.7/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-19 22:49] ddanetidwell opened #546 "Bug: HOOBs not supported"
### Describe The Bug

Plug-in doesn’t work in Hoobs

### To Reproduce

Install plug-in, enter token

### Expected behavior

SwitchBot items should show up in Home app

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Na

### Node.js Version

16.18.0

### NPM Version

Current

### Homebridge Version

1.5.0

### Homebri

[2022-10-20 02:16] donavanbecker commented on #546
This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-20 04:09] jey3dayo commented on #545
@donavanbecker I tried it. It didn't work in v2.2.2-beta.9.

## debug log
### DIY IPTV
[code]

### TV
[code]

## Device Info

### DIY IPTV
![image](https://user-images.githubusercontent.com/16203828/196853880-bcc3626d-2a80-4f71-9f41-4a0bfc7220a1.png)

### TV
![image](https://user-images.githubusercontent.com/16203828/196853718-63826db0-7a01-4c0e-a054-d0ce57ee9ccd.png)