[2022-10-20 06:48] yjeanrenaud commented on #507
so I set the poll time back to 360. But I am curious how this may even happen. the minimum of 30 seconds should not run out of that limit, no?

[2022-10-20 08:47] gielk commented on #501
Oke I get it now, thanks.

[2022-10-20 12:37] donavanbecker commented on #507
We'll take your 14 devices by 24 (hours in a day) by 60 (minutes in an hour) by 2 (number of 30 seconds in a minute)

14*24*60*2=40,320

Rate limit is 10,000 pre day.

If you are setting it to 30 for a specific device like motion sensors. My recommendation would be to set that one device with a refreshRate of 30 in the SwitchBot device settings with its device id, and then I would set your default

[2022-10-20 12:40] donavanbecker commented on #501
@gielk We're you about to set it to something you like?

[2022-10-20 13:37] PBXLthrMan opened #547 "Bug: After Latest Update - Looping & Crashing"
### Describe The Bug

After the latest update, my HomeBridge is continuously looping and crashing.

### To Reproduce

Install latest update, restart HomeBridge. Tried to restore from a older back up and reinstalled, same issue.

### Expected behavior

Homebridge works and does not continuously crash

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

<im

[2022-10-20 13:43] donavanbecker commented on #547
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.2-beta.10/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-20 13:49] PBXLthrMan commented on #547
In process. :-)

[2022-10-20 13:52] PBXLthrMan commented on #547
@donavanbecker Same, looping, crashing, same output.

[code]

[2022-10-20 13:56] PBXLthrMan commented on #547
<img width="467" alt="Screen Shot 2022-10-20 at 9 55 37 AM" src="https://user-images.githubusercontent.com/90646855/196968563-8c0d06fc-af52-4f9c-bab8-a4b4e7215b88.png">
Also, I am not seeing a beta 8, only a beta 10, which is what I used. :-)

[2022-10-20 14:12] donavanbecker commented on #547
okay I pushed another beta.

[2022-10-20 14:19] PBXLthrMan commented on #547
@donavanbecker Unfortunately, the same.

[2022-10-20 14:34] tjridge commented on #546
I'm getting the same error on HOOBS.

[2022-10-20 14:53] donavanbecker commented on #547
can I get logs please?

[2022-10-20 14:54] PBXLthrMan commented on #547
@donavanbecker
[20/10/2022, 10:54:27] TypeError: Cannot read properties of undefined (reading 'stopScan')
    at Bot.stopScanning (/var/lib/homebridge/node_modules/@switchbot/homebridge-switchbot/src/device/bot.ts:1068:23)
    at Switchbot.switchbot.onadvertisement (/var/lib/homebridge/node_modules/@switchbot/homebridge-switchbot/src/device/bot.ts:475:26)
    at Noble.<anonymous> (/var/lib/homebri

[2022-10-20 15:56] donavanbecker commented on #546
I can help if you post the config, but I would recommend switching to homebridge.

[2022-10-20 17:04] donavanbecker commented on #547
Can switch connectionType to OpenAPI, till I get a fix out for this?

[2022-10-20 17:07] PBXLthrMan commented on #547
@donavanbecker absolutely! That addressed the looping/crashing. :-) Look forward to the next update.

[2022-10-20 17:11] PBXLthrMan commented on #547
@donavanbecker Not sure if this is to be expected or not:

[20/10/2022, 13:06:34] [SwitchBot] Total SwitchBot Devices Found: 3
[20/10/2022, 13:06:34] [SwitchBot] Restoring existing accessory from cache: Exhaust Fan DeviceID: D84B5A4DA639
[20/10/2022, 13:06:34] [SwitchBot] Restoring existing accessory from cache: Bathroom Nightlight DeviceID: ED0BA396296A
[20/10/2022, 13:06:34] [SwitchBot] Bot: Exh

[2022-10-20 17:15] tjridge opened #548 "Bug: Device not responding (only in home app)"
### Describe The Bug

smart plug no longer responding

### To Reproduce

get error code mentioned below

### Expected behavior

toggle outlet on an off

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

N/A

### Node.js Version

16.18

### NPM Version

N/A

### Homebridge Version

1.5

### Homebridge Switchbot Plugin V

[2022-10-20 17:20] donavanbecker commented on #547
If you are still on the beta, can you move back to latest? And see if that resolves it?

[2022-10-20 17:21] PBXLthrMan commented on #547
@donavanbecker in process. :-)

[2022-10-20 17:24] donavanbecker commented on #548
Same as #546

[2022-10-20 17:26] bwp91 commented on #546
the error would suggest you don’t have the “secret” config setting filled in the plugin settings

[2022-10-20 18:52] PBXLthrMan commented on #547
That's restored everything (except I had to rebuild automations and set the rooms back correctly)... LOL.

[2022-10-20 19:11] donavanbecker commented on #547
weird... that shouldn't have happened. Okay I pushed out another beta, willing to give that a try?

[2022-10-20 19:11] donavanbecker commented on #546
yes, but issues is with HOOBs UI not displaying correct. Switching to Homebridge would help.

[2022-10-20 19:12] #548 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-20 19:46] donavanbecker commented on #545
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-switchbot@beta/>=2.2.2-beta.13/orange)](https://www.npmjs.com/package/@switchbot/homebridge-switchbot)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2022-10-20 20:06] PBXLthrMan commented on #547
Absolutely.

[2022-10-20 20:08] donavanbecker commented on #547
beta16

[2022-10-20 20:09] PBXLthrMan commented on #547
Installed beta14. Give me a moment, but this is looking promising:

[20/10/2022, 16:08:22] [SwitchBot] Total SwitchBot Devices Found: 3
[20/10/2022, 16:08:22] [SwitchBot] Restoring existing accessory from cache: Exhaust Fan DeviceID: D84B5A4DA639
[20/10/2022, 16:08:22] [SwitchBot] Restoring existing accessory from cache: Bathroom Nightlight DeviceID: ED0BA396296A
[20/10/2022, 16:08:22] [SwitchBot]

[2022-10-20 20:09] PBXLthrMan commented on #547
@donavanbecker I'm only seeing beta 15 available, at the moment. I'll check again in a few minutes.

[2022-10-20 20:12] PBXLthrMan commented on #547
@donavanbecker seeing it now, installing.

[2022-10-20 20:13] PBXLthrMan commented on #547
Ok, still looking promising @donavanbecker:

[20/10/2022, 16:12:45] [SwitchBot] Total SwitchBot Devices Found: 3
[20/10/2022, 16:12:45] [SwitchBot] Restoring existing accessory from cache: Exhaust Fan DeviceID: D84B5A4DA639
[20/10/2022, 16:12:45] [SwitchBot] Restoring existing accessory from cache: Bathroom Nightlight DeviceID: ED0BA396296A
[20/10/2022, 16:12:45] [SwitchBot] Bot: Exhaust Fan Confi

[2022-10-20 20:21] tjridge commented on #546
Unfortunately, switching to homebridge isn’t an option for me.

[2022-10-20 20:24] bwp91 commented on #546
@tjridge

trying to help here as i am more familiar with hoobs.

re my message above, if you are getting the same error, it means you haven’t filled in the “secret” config item?

[2022-10-20 20:29] RemuxZaph opened #550 "Bug: Can't Connect to MeterPlus (US) Over BLE"
### Describe The Bug

Homebridge cannot connect to the MeterPlus

### To Reproduce

Enter the device's BLE ID number and device name. Reboot HB instance.

### Expected behavior

I'd expect no errors in the logs and for the device to appear in HK.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

MeterPlus (US)

### No

[2022-10-20 20:43] RemuxZaph commented on #550
I ran "npm install @abandonware/noble" in the HomeBridge terminal, rebooted, and got the same output in the log.

[2022-10-20 21:24] donavanbecker commented on #547
What about latest beta?

[2022-10-20 21:25] donavanbecker commented on #550
Installing that wouldn't help. Have you went through all perquisites for noble?

[2022-10-20 21:26] donavanbecker commented on #546
Why not?

[2022-10-20 21:46] PBXLthrMan commented on #547
Installing 19 right now, @donavanbecker

[2022-10-20 21:48] PBXLthrMan commented on #547
Looks good, @donavanbecker except that first message:

**[20/10/2022, 17:46:52] The plugin "homebridge-switchbot" requires Node.js version of ^14.20.1 || ^16.18.0 || ^18.10.0 which does not satisfy the current Node.js version of v16.16.0. You may need to upgrade your installation of Node.js - see https://homebridge.io/w/JTKEF**
[20/10/2022, 17:46:55] [SwitchBot] Total SwitchBot Devices Found: 3
[2

[2022-10-20 22:10] donavanbecker commented on #547
that is just a suggestion to update to the latest nodejs

[2022-10-20 22:13] PBXLthrMan commented on #547
Done. I didn't even realize that was an option. LOL

[2022-10-20 22:43] RemuxZaph commented on #550
I looked through them...but couldn't get what to do next for my docker instance of Homebridge running on unRAID.

[2022-10-20 23:02] donavanbecker commented on #550
yeah unfortunately with docker, not sure this will ever work.

[2022-10-20 23:23] askovi commented on #546
Got pinged about this issue. It has now been fixed. Please update the plugin to the latest version. If you're still experiencing the issue after update, make sure to click Clear Cache from the hub settings in the top right menu.

[2022-10-21 00:20] RemuxZaph commented on #550
Thanks @donavanbecker. I'll consider the hub to access via API then. Appreciate the communication. Please close this issue.

[2022-10-21 01:22] #550 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-21 01:30] #546 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-21 04:19] deflao opened #551 "Bug: IR Device Commands not being sent"
### Describe The Bug

Light IR and DIY Light IR don't send signal. I have 2 IR device and it seems to work fine until I updated to the latest version (v2.2.1)
The Fan IR seems to works fine but I'm having trouble with Light IR. If I disable allow on/off change to be pushed, then it doesn't work at all. And when I enable allow off change to be pushed then I can turn on the device but can't turn it

[2022-10-21 08:02] jey3dayo commented on #545
@donavanbecker It didn't work in v2.2.2-beta.19.

[code]

[2022-10-21 09:34] 350d opened #552 "Support Request: SwitchBot auto toggle off"
### Describe Your Problem

I've added SwitchBot via OpenAPI and it works in HomeKit as a switch, so I need to move it On or OFF to trigger SwitchBot to click on button. Is there any way to auto toggle to OFF position like Garage door works?

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

SwitchBot

###

[2022-10-21 11:05] donavanbecker commented on #552
@350d are you using press mode or switch mode for the Bot? Sounds like switch?

If you do press it should auto revert back to off.

[2022-10-21 11:53] 350d commented on #552
I have it in Press mode for sureOn

[2022-10-21 13:06] donavanbecker commented on #552
Please post your homebridge config and screenshot of SwitchBot app.

[2022-10-21 13:25] 350d commented on #552
[code]

![IMG_7740](https://user-images.githubusercontent.com/429208/197206643-cd4ab18f-c7db-427b-9551-4124b4487427.PNG)

[2022-10-21 13:28] 350d commented on #552
<img width="458" alt="Screenshot 2022-10-21 at 16 27 16" src="https://user-images.githubusercontent.com/429208/197207229-e19599ca-3ca3-47f2-98b4-892bc7f472b9.png">

[2022-10-21 13:39] donavanbecker commented on #552
You need to set your config in homebridge to be press mode. Take your device id from the device tab, go to SwitchBot device settings, input deviceID, select Bot for device type and then your mode as press

API doesn't tell me what mode your bot is in, so plugin just defaults to Switch.

[2022-10-21 15:06] robberburn commented on #551
Same here, last working 1.15.0

[2022-10-21 16:09] 350d commented on #552
Now it make sense! Thanks!

[2022-10-21 16:09] #552 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-21 20:03] ddanetidwell opened #553 "Bug: Not sending IR TV commands from plugin"
### Describe The Bug

Plugin is not sending IR commands to custom TV configuration

### To Reproduce

Press button for TV power on/off

### Expected behavior

TV turns on/off

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

NA

### Node.js Version

16.18.0

### NPM Version

Unk

### Homebridge Version

1.5.0

### Hom

[2022-10-21 20:59] donavanbecker commented on #553
If you don't post config, I can't help

[2022-10-22 05:31] donavanbecker commented on #553
Fixed in v2.2.2

[2022-10-22 05:31] #553 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-22 05:32] donavanbecker commented on #551
Fixed in v2.2.2

[2022-10-22 05:32] #551 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-22 05:33] donavanbecker commented on #547
Fixed in v2.2.2

[2022-10-22 05:33] #547 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-22 05:34] donavanbecker commented on #545
Fixed in v2.2.2

[2022-10-22 05:34] #545 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-22 05:35] donavanbecker commented on #514
can you give v2.2.2 a try?

[2022-10-22 08:46] shyguy81 opened #555 "Bug: IR Device Air conditionner no temperature changes"
### Describe The Bug

Temperature doesn't change and still at 24

### To Reproduce

change the temperature to 20 (Celsius)

### Expected behavior

temperature set to 20 (Celsius)

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

NA

### Node.js Version

v14.18.0

### NPM Version

v8.19.2

### Homebridge Version

v1.5.

[2022-10-22 10:33] donavanbecker commented on #555
You can turn on the air conditioner right?

[2022-10-22 10:35] shyguy81 commented on #555
yes i can turn it on

[2022-10-22 17:17] xhi-nico opened #556 "Bug: API Request: TypeError: Cannot read properties of undefined (reading 'map')"
### Describe The Bug

Doesn't seem to connect to the API

### To Reproduce

Occurs on startup

### Expected behavior

Connect to API and bring accessories in

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Raspberry Pi 3 B+

### Node.js Version

LATEST

### NPM Version

LATEST

### Homebridge Version

LATEST

### Ho

[2022-10-22 18:03] donavanbecker commented on #556
Need more logs please turn debug mode on and post those logs

[2022-10-22 18:23] xhi-nico commented on #556
[code]

I had my refresh rate at 1second.. whoops. What's the daily limit for refreshing status? Any idea?

[2022-10-22 20:00] donavanbecker commented on #556
Here is your issue.

[2022-10-22 20:01] donavanbecker commented on #556
10,000 a day.

[2022-10-22 20:01] #556 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-23 01:16] weber267 opened #557 "Bug:"
### Describe The Bug

Unable control the switch bot curtain

### To Reproduce

n

### Expected behavior

n

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

n

### Node.js Version

n

### NPM Version

n

### Homebridge Version

n

### Homebridge Switchbot Plugin Version

newest

### Homebridge Config UI X Plugin Versi

[2022-10-23 01:50] donavanbecker commented on #557
This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-23 01:50] donavanbecker commented on #557
Also I would need more logs to troubleshoot.

[2022-10-23 01:54] weber267 commented on #557
That is what I have

[2022-10-23 02:04] donavanbecker commented on #557
then I would recommend switching to homebridge since I don't design this plugin for HOOBs and won't be able to support it. Last issue someone had with HOOBs was a HOOBs UI issue.

[2022-10-23 02:04] #557 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-23 02:06] donavanbecker commented on #557
Maybe try going to an older version?

Also please feel out issue more specific. `Newest` Or `n` doesn't give me a version number.

[2022-10-23 18:55] AtTimesChris opened #558 "Bug: Daily Limit"
### Describe The Bug

Unresponsive

### To Reproduce

Restarting homebridge

### Expected behavior

Response swiftly and correctly

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/9095643/197405232-73ec9eda-817c-4626-b4cf-c6d81a08f73f.png)

### Device & Model

Switchbot bot x2, Switchbot Curtains, Swi

[2022-10-23 19:38] donavanbecker commented on #558
Please post debug logs.

[2022-10-23 23:57] hellowit opened #559 "Bug: Daily Limit"
### Describe The Bug

API error

### To Reproduce

After updating to v2.2.1 but as i recalled same error, but "... (reading something)" not 'map'

### Expected behavior

Be able to control my accessories

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Rasberry pi, Docker

### Node.js Version

v16.18.0

### NPM Versi

[2022-10-24 00:06] donavanbecker commented on #559
You have hit your daily limit. I bet if you get debug logs for me, one of those logs will say that you hit your daily limit.

[2022-10-24 01:46] hellowit commented on #559
I'm not sure why I would hit my limit, since I didn't change any settings before this error occurred and everything works fine for over a year. I recently updated to v2.2.1 and I got a similar error, but somehow I can control my accessories again. Then today similar error, and I saw there is an update to v.2.2.2. So, I did update. The issue persists.

However, before replying to you. I restarted m

[2022-10-24 02:26] donavanbecker commented on #559
your refreshRate is set to 60 seconds. that means every min the plugin is going to do a refresh for an accessory. Looks like you have 10 SwitchBot Devices which means 14,400 connections at least, the limit is 10,000. And this isn't including IR devices and sending changes.

I would setting refreshRates for each devices if you need it to refresh that quick.

[2022-10-24 02:26] #559 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-24 02:27] donavanbecker commented on #558
see #559

[2022-10-24 02:27] #558 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-24 15:28] SSutherland94 commented on #519
I'm having the same issue and wiping the config and recreating everything didn't resolve. Any assistance would be definitely appreciated!

[2022-10-24 16:21] donavanbecker commented on #519
Open new issue and fill out all the info

[2022-10-24 16:22] SSutherland94 commented on #519
Will do, thanks!

[2022-10-24 16:41] SSutherland94 opened #560 "Bug: Cannot Read Properties of Undefined (reading 'deviceList')"
### Describe The Bug

SwitchBot Bots do not populate in Home App

### To Reproduce

Removed entire switchbot config.json code and recreated all through HomeBridge GUI

### Expected behavior

Expected SwitchBot Bots to appear in Home App

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot Bot

### Node.js Versi

[2022-10-24 16:46] donavanbecker commented on #560
please turn on debug mode and get me more logs

[2022-10-24 17:09] SSutherland94 commented on #560
I turned on debug mode, and this was the only additional output:
`[24/10/2022, 13:06:50] [SwitchBot] [DEBUG] statusCode: 401
[24/10/2022, 13:06:50] [SwitchBot] [DEBUG] headers: {"date":"Mon, 24 Oct 2022 17:06:50 GMT","content-type":"application/json","content-length":"26","connection":"close","x-amzn-requestid":"8dae4dea-2a06-4062-9fe5-abb484509490","x-amzn-errortype":"UnauthorizedException","x-am

[2022-10-24 17:13] donavanbecker commented on #560
Can you try regenerating your token and secret in the SwitchBot app?
![image](https://user-images.githubusercontent.com/9875439/197586530-51a26fa3-d387-495c-b25a-997eb8990181.jpeg)

[2022-10-24 17:14] SSutherland94 commented on #560
If I am still using BLE, as I do not have a SwitchBot hub, should I wait until I am within range of the SwitchBot units before trying to regenerate the token and secret?

[2022-10-24 17:18] donavanbecker commented on #560
No just remove token and secret

[2022-10-24 17:22] SSutherland94 commented on #560
Looks like that fixed it! I could've sworn I re-entered all of that when it told me the "secret" was missing, but we seem okay now, thanks!!

[2022-10-24 17:26] #560 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-24 17:31] AtTimesChris commented on #558
I dont understand i didnt used to have any issues and haven't changed any settings to cause such, it was working last night but now same thing not responding.
I have been able to get debug logs
[homebridge.log](https://github.com/OpenWonderLabs/homebridge-switchbot/files/9853913/homebridge.log)

but I dont understand is refreshRate not meant to be how responsive it is so how long it takes from pre

[2022-10-24 17:36] donavanbecker commented on #560
@SSutherland94 If your doing BLE only, OpenAPI credentials aren't needed.

Once you get the hub then I would input your secret and token. Then change connectionType to `BLE/OpenAPI` so you can use OpenAPI as a backup.

[2022-10-24 17:37] donavanbecker commented on #558
Refresh means pulling or getting or updating info on the device.

The pushRate would be what you are talking about.

[2022-10-24 17:41] AtTimesChris commented on #558
Right okay so if i increase my refresh rate while keeping my pushRate low that will fix this issue

[2022-10-24 18:52] donavanbecker commented on #558
Yes. Also you can set you refreshRate per device, if you need one devices status to be updated sooner then others, Like a motion or contact sensor

[2022-10-24 21:37] AtTimesChris commented on #558
Ohhh right that would make sense then ha, how would you go about doing that, is it within the hombridge plugin settings or on switchbot itself

[2022-10-24 23:04] qoodanny opened #561 "Bug: Devices Name Does Not Updates with Mobile App"
### Describe The Bug

Device Name in Homebridge is using old name set previously

### To Reproduce

I changed a new name on mobile app, and OPEN API does not changes

### Expected behavior

It should showing new name set on switchbot

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot

### Node.js Version

16.

[2022-10-25 00:17] donavanbecker commented on #558
Homebridge plug-in settings

[2022-10-25 01:14] donavanbecker commented on #561
And it won't.

[2022-10-26 18:30] krukje commented on #124
I have an Optoma projector which requires a double press of the off button to turn it off. I don't see where I can add this in the config file or the plugin configuration?

Also I'd be very happy if you can have separate switches for on/off.

[2022-10-26 18:59] gregpa opened #564 "Bug: API request type error"
### Describe The Bug

API request type error: Cannot read properties of undefined (reading 'deviceList')

### To Reproduce

During plugin startup

### Expected behavior

Steps needed to clear error message

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

HOOBS recent update

### Node.js Version

unknown

### NPM Vers

[2022-10-26 19:37] donavanbecker commented on #564
First of all, This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-26 19:37] donavanbecker commented on #564
Second, I need your confit to be able to tell what is the issue.

[2022-10-27 00:17] xhi-nico commented on #511
This was driving me insane and I couldn't let it go. Finally solved it, here's how:

1. Upgrade your NodeJS to the latest version
`sudo su`
`curl -fsSL https://deb.nodesource.com/setup_18.x | bash -`
`sudo apt-get install -y nodejs`

2. Check your version and make sure NPM is installed correctly to the latest version
`nodejs -v`
`npm -v`

3. Install Noble
`npm install noble`

4. Install bluetooth-

[2022-10-27 01:32] donavanbecker commented on #511
I have created a wiki that can help users in the future: https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Bluetooth-Issue

[2022-10-27 10:29] henkyfoo opened #565 "Feature Request: Switchbot Lock"
### Problem

just wanna confirm if this plugin support the lock

### Solution

answer

### Alternatives

_No response_

### Additional context

_No response_

[2022-10-27 11:08] donavanbecker commented on #565
Yes, next update will have this on the readme.

[2022-10-27 11:08] #565 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-28 14:51] nyjklein opened #566 "Bug: Was 'node-switchbot' found: false"
### Describe The Bug

Upgraded to node.js V18.12.0. Now getting this error whenever curtain status is queried: Was 'node-switchbot' found: false

### To Reproduce

Upgrade to node.js 18:12.0

### Expected behavior

No error

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Curtains

### Node.js Version

v18.12.0

###

[2022-10-28 21:22] alexandercaley opened #567 "Bug: switchbot fails to connect after restarting machine"
### Describe The Bug

Switchbot fails to connect every time I restart my machine

### To Reproduce

Homebridge installed on Mac mini running via node, restart machine and notice failure in logs, restart home bridge from UI to fix

### Expected behavior

Connection is properly established with switchbot

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

[2022-10-28 21:52] donavanbecker commented on #566
revert back to node 16 till this is figured out.

[2022-10-28 22:00] nyjklein commented on #566
For now, I just changed the curtains to OpenAPI only since everything else seems to be functioning fine.

[2022-10-28 22:55] donavanbecker commented on #566
Try this:

Step 1:
[code]
so that this folder is in focus. may want to send me a screenshot of your output on this.

Step 2:
[code]

Step 3:
[code]

Step 4:
[code]

Step 5:
[code]

[2022-10-28 22:56] donavanbecker commented on #567
Haven't seen this before.

[2022-10-29 14:07] nyjklein commented on #566
I had trouble with your instructions.

Originally in the e-mail with instructions you wrote: **cd @switchbot/homebridge-switchbot**

I took this to mean: **/var/lib/homebridge/@switchbot/homebridge-switchbot**

But that directory didn't exist. There is this:  **/var/lib/homebridge/@switchbot/homebridge-switchbot-ble**

In your edited post above, you now have: **cd /var/lib/homebridge/node_modules/

[2022-10-29 14:37] nyjklein commented on #566
I re-installed the plugin and the error went away.

Noticed some errors during the install including this:

(##################) ⠏ reify:googleapis: http fetch GET 200 https://registry.npmjs.org/g

node-pre-gyp ERR! install response status 404 Not Found on https://github.com/abandonware/node-bluetooth-hci-socket/releases/download/0.5.3-8/bluetooth_hci_socket-0.5.3-8-node-v108-linux-arm.tar.gz

And

[2022-10-29 18:42] PaperMashe commented on #566
I am using a switchbot meter and had similar issues (same software versions but different accessory) , and after doing the above commands I am at the stage where humidity is fine but the temperature is -0.1° and the log says:

[29/10/2022, 19:41:30] [@switchbot/homebridge-switchbot] This plugin generated a warning from the characteristic 'Current Temperature': characteristic value expected valid f

[2022-10-30 01:02] asc6 opened #568 "Bug: Plugin errors on subsequent bluetooth connections "Cannot read properties of undefined (reading 'runToPos')""
### Describe The Bug

When accessing curtains over bluetooth, gives an error after the first curtain. This happens both on standard refresh of bots as well as executing a command

### To Reproduce

Send multiple HomeKit updates (like with a scene) for BLE devices

### Expected behavior

Bluetooth connectivity with no error.

### Relevant log output

[code]

### Config for homebridge-switchbot

[co

[2022-10-30 01:03] asc6 commented on #568
This appears to be a new issue in version 2.X and this error didn't exist before in the 1.x versions.

[2022-10-30 02:26] donavanbecker commented on #568
@asc6 It is not an issue with v2.0

This happens when Bluetooth connection cannot be established.

[2022-10-30 02:40] asc6 commented on #568
Interesting, I don't recall seeing that error before so maybe it's just now logging or something. I also get `[SwitchBot] Curtain: G Office Curtain wasn't able to establish BLE Connection, node-switchbot: [object Object]` which I assume is related. The extra info at the end of both messages is what made me thing it was a bug.
I'll see if I can fix the root issue around bluetooth connectivity then.

[2022-10-30 11:37] MSDaytona opened #569 "Bug: API Request: TypeError: Cannot read properties of undefined (reading 'map'),"
### Describe The Bug

API Request: TypeError: Cannot read properties of undefined (reading 'map'),

### To Reproduce

Upon each start of the plug-in

### Expected behavior

..

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Hoops

### Node.js Version

v16.18.0

### NPM Version

??

### Homebridge Version

v1.5.0

##

[2022-10-30 12:01] donavanbecker commented on #569
Your refreshrate is at 31, my guess is that if you turn on debug mode you will find a log that say you hit your rate limit.

[2022-10-30 12:32] MSDaytona commented on #569
Lowered it down to 5 and switched debug mode on: still the same

[2022-10-30 16:24] donavanbecker commented on #569
Post your logs, lowering will make it worse.

Also, This plugin isn't developed for HOOBs.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2022-10-31 17:45] MSDaytona commented on #569
I waited two days, doing nothing ( no change of config etc ) and now it works, even under Hoobs. Seems certain things have to settle down first.  BTW: The plugin is certified by Hoobs to work under Hoops !!

[2022-10-31 17:45] #569 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-10-31 19:05] donavanbecker commented on #569
I didn't certify it. That is HOOBs putting that on there with out my okay.

[2022-11-01 16:48] martindinicolino opened #570 "Support Request: getaddrinfo ENOTFOUND api.switch-bot.com"
### Describe Your Problem

I have noticed that our SwitchBot SmartLock doesn't always react to our HomeKit automations, resulting in the door sometimes staying unlocked, without us noticing.

Upon inspection of the HomeBridge logs, I am seeing the SwitchBot plugin throw ENOTFOUND errors; as far as I am aware this does not affect my other HomeBridge plugins.

Has anybody else seen something like th

[2022-11-01 22:24] henrulin opened #571 "Bug: SwitchBot Meter not parsing Temperature"
### Describe The Bug

SwitchBot Meter not parsing Temperature but is able to parse Humidity

### To Reproduce

Add Meter config and enable

### Expected behavior

Be able to parse both Temperature and Humidity values. Be able to display values.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot Meter (Firmwar

[2022-11-02 08:36] Kohle81 opened #572 "Feature Request: Two actions are possible by Switch Bot"
### Problem

In beta version of Switchbot there are 2 actions for one Bot

### Solution

can you implement this option?

### Alternatives

_No response_

### Additional context

_No response_

[2022-11-02 08:37] Kohle81 commented on #572
![052AF14D-840F-4768-A4CD-95909503BC69](https://user-images.githubusercontent.com/33038709/199440039-883048fa-37b5-4f45-88e6-a7e16233d7da.png)

[2022-11-02 10:00] AtTimesChris commented on #11
Apologies for necro but have been having this issue and came across this, been using my tv and found turning the volume up turned off the tv, able to get this to work as intended by enabling the disable sending on command option but now this has ruined my automations, is there an option to disabled the turn on command on the first input I've missed from this thanks

[2022-11-02 10:24] taglia commented on #555
Hi, same issue here. I can switch all my AC units on and off, but regardless of what temperature I set in the Home app, the plugin always sends the same command.

Log here, I was trying to change the temperature every time that those commands were sent, but on the home app it just snaps back to 30ºC.

[code]

Here is what I see on the Home app.

![CleanShot 2022-11-02 at 18 20 27](https://user-ima

[2022-11-03 05:46] grandevice opened #573 "Support Request:"
### Describe Your Problem

It seems that ceiling light pro is supported, but there is no setting in config.schema.json, so could you update it?  I am always grateful for your help.

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No response_

### Screenshots

![4FE73F91-5D0A-423D-A3B3-4272978D3E8D](https://user-images.githubusercontent.com/76737843/199654748-0cba56a9

[2022-11-03 05:54] grandevice opened #574 "Feature Request:"
### Problem

_No response_

### Solution

Is it possible to operate the night light of ceiling light pro by recognizing it as a different lamp?  I am always grateful for your help.

### Alternatives

_No response_

### Additional context

_No response_

[2022-11-06 01:18] swsoyee commented on #566
@nyjklein I have the same issue, but I can solve it now. Please try the steps as follow:

1. Since you are using Raspbian, you may not find `@switchbot` in `/var/lib/homebridge/node_modules`, the path maybe
[code]
    (See: https://github.com/homebridge/homebridge/issues/1009#issuecomment-269628600)
2. `package-lock.json` maybe not exist in the directory, so just install all the dependecies and ad

[2022-11-06 10:39] produdegr commented on #567
Mine worked ok for two weeks. Then all of a suden after upgrading something (Homebridge to 1.5.1 or Node to latest version), switchbot devices in Homekit stopped working. After removing them re-creating the plugin and settings, no devices appear (either in BLE or API mode). Ended up tr-installing whole raspberry from scratch using Oznu 's Homebridge image. The result this plugin does not install a

[2022-11-07 10:15] kwip5 opened #575 "Support Request: plugin stop working"
### Describe Your Problem

Switchbot plugin stop working overnight. Homekit not able to control the devices, no log entry generated, device statue not updating in Home app, cannot add new devices to HomeKit. I tried downgrade homebridge to v1.5.0, tried upgrade plugin to latest beta version, tried set the pull interval to 10000, tried install all version of Node.jp available on Synology (v12/14/16

[2022-11-07 14:34] donavanbecker commented on #575
[11/7/2022, 5:56:17 PM] [SwitchBot] [DEBUG] devicesAPI: {}`

Here is your issue.

[2022-11-07 14:34] #575 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-07 15:27] kwip5 commented on #575
Yes, I noticed that error, read your reply in #507, and tried different refresh rates (e.g. 3600 / 10000, even 36000), but it is still not working.

Thanks

[2022-11-07 16:51] donavanbecker commented on #575
you have to wait 24 hours for your rate limit to be reset.

[2022-11-07 17:19] themabrennan opened #576 "Support Request: Plugin Stopped Working..."
### Describe Your Problem

I made NO changes and the Plugin has stopped responding?!?

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

<img width="805" alt="Screen Shot 2022-11-07 at 10 18 27" src="https://user-images.githubusercontent.com/92501259/200371677-6c1bd128-4734-4722-ba9f-58793c8c7bd7.png">

### Device & Model

Curtains stopped respon

[2022-11-07 18:14] donavanbecker commented on #576
Not sure I follow. Did you do an update or install the plugin? you said you haven't made any changes so I am assuming an update?

You may need to check on node-switchbot or noble prerequisites.

Also you can look over [BLE Issues](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Bluetooth-Issue) as this is tied to the install of BLE dependencies.

[2022-11-07 21:05] themabrennan commented on #576
My apologies for not making much sense. Let me try again.

I woke up this morning, and the HomeKit automation for the curtain did not trigger. I went into Homebridge to troubleshoot the issue. First, I downgraded the plugin with no luck. Then, I uninstalled and reinstalled the plugin and had switchbot regenerate new codes from the app.

Unfortunately, I had the same issue where the curtains would

[2022-11-07 21:52] beatpaul commented on #576
I do have the same issue.
Switchbot curtains stopped working without doing any changes on my homebridge system on my Raspberry pi

[2022-11-07 22:47] themabrennan commented on #576
I am getting an error in my Switchbot Bridge Logs (Screenshot attached). I happened to be browsing through the app and noticed it.

![Screen_Shot](https://user-images.githubusercontent.com/92501259/200431661-05d40f0c-ce66-4272-9328-142c1f1b2026.jpg)

[2022-11-08 06:18] beatpaul commented on #576
… and again same error for me in the sb app
May there be something wrong with the api?

thx for your help!

[2022-11-08 06:32] WaldperlachFabi opened #577 "Plugin doesn’t add any devices any more"
### Describe Your Problem

Since I updated my Homebridge, the SwitchBot devices got removed from the home app and I am not able to re-add them.

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

![DE2E1853-D035-41ED-A943-0E74C8C5AC83](https://user-images.githubusercontent.com/80318133/200491169-ba2cecc7-23a7-48f0-aa77-6f772e058ded.png)
![0CA89B05

[2022-11-08 10:25] chinedu40 opened #578 "Bug: Curtains do not open or close via OpenAPI"
### Describe The Bug

Curtain control does not work

### To Reproduce

When pressing open or close curtain nothing happens

### Expected behavior

Curtains to open and close

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot hub mini is running beta firmware V5.2-3.2

### Node.js Version

v16.8

### NPM Versi

[2022-11-08 16:51] themabrennan commented on #576
Looks like a one day bug!

Sorry for being a pest! Everything is back working.

[2022-11-08 16:51] #576 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-08 22:00] chinedu40 commented on #578
This has been fixed. Likely a server-side bug

[2022-11-08 22:00] #578 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-09 15:55] drlkp commented on #555
Same here I temporary solve fixing scene with fixed temp. Eg Hot, 20° fan speed low. Anyway should be fixed

[2022-11-10 02:41] jie-lyu opened #579 "Bug: homebridge stops responding after adding a ceiling light pro"
### Describe The Bug

homebridge stops responding both in web ui and Home.app after adding a ceiling light

### To Reproduce

add a ceiling light pro to switchbot app

### Expected behavior

homebridge responds normally

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Linux Docker

### Node.js Version

v18.12.1

###

[2022-11-11 17:51] lukeskywlkr commented on #571
Hi everyone I have the same problem. It seems that the temperature field is an object that contains both Celsius and Fahrenheit values as you can see from this log extract:

[code]

[2022-11-13 05:56] tzwada opened #582 "Bug: The devices config section is missing the *Device ID* in the config. Please check your config."
### Describe The Bug

Device ID is in my config but the log says missing

### To Reproduce

every time when Homebridge starts

### Expected behavior

The error log should not be displayed.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![スクリーンショット 2022-11-13 14 53 18](https://user-images.githubusercontent.com/7919609/201507987-ef961134-6486-4d17-a71

[2022-11-13 12:36] donavanbecker commented on #582
Look at your Config, for some reason you have a config in the `irdevices` section.

[2022-11-13 19:38] nowheremanx commented on #571
I am facing the same issue, please fix it

[2022-11-14 00:14] jonpeng opened #583 "Bug: No update to curtain status"
### Describe The Bug

Curtain status stuck at Open all the time.

### To Reproduce

When you set a curtain close at a percentage (1~100%), the curtain does move correctly. But the home app status changes back to 100% open right after.

### Expected behavior

Can not open the curtains by home app. Because it stuck at Open status all the them.

### Relevant log output

[code]

### Config for homebri

[2022-11-14 04:02] SCOTTS948 opened #584 "Devices won't load after installing and configuring app"
### Describe Your Problem

I installed and configured the plug in, but no devices show up. Just an FYI for the json, i have tried the device ID's with and without the colons.

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Windows PC

### Node.js Version

v16.18.1

### NPM Version

Unknown

### Homebridge Version

v

[2022-11-14 04:56] jonpeng commented on #583
Also the SwitchBot light level sensor always return at 6001 lux

[2022-11-14 07:44] tzwada commented on #582
Thanks Donovan. I trashed Switchbot config in my homebridge UI. Then recreate it by going to config screen. Then reboot the homebridge. Now the error disappeared. I'll close this issue.

Now I have different issue (Switchbot doesn't show up in accessories in homebridge UI) but this is different issue, then.

[2022-11-14 07:44] #582 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-14 08:35] tzwada opened #585 "Bug: SwitchBot doesn't show up on Homebridge Accessories"
### Describe The Bug

SwitchBot doesn't show up on Homebridge Accessories screen

### To Reproduce

Always (if Connection Type is "BLE")

### Expected behavior

SwitchBot accessory should appear in Homebridge UI Accessories screen

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![Notification_Center](https://user-images.githubusercontent.com/7919609/

[2022-11-14 12:28] donavanbecker commented on #585
I don't believe external accessories will not show in Homebridge UI.

[2022-11-14 13:44] tzwada commented on #585
@donavanbecker It is true. As I wrote, SwitchBot never be displayed if Connection Type is "BLE". It will if the Connection Type is "BLE/Open API".

[2022-11-14 14:50] lukeskywlkr commented on #571
I think that I have found the culprit: on line 215 of [meter.ts](https://github.com/OpenWonderLabs/homebridge-switchbot/blob/latest/src/device/meter.ts#L215) when parsing data from BLE connection the `this.CurrentTemperature` variable is being updated with the whole `this.temperature` object that contains both Celsius and Fahrenheit values. The content of `CurrentTemperature` is then passed to Hom

[2022-11-14 15:46] martijnverheij commented on #583
I have the same issue, I can close my curtains but not open them.
In home app the curtains are open.

[2022-11-14 16:00] jonpeng commented on #583
Just noticed that SwitchBot app cannot connect to the curtains over cloud. It can be used over Bluretooth while at home. I am thinking this should be related to the hub firmware update.

[2022-11-15 07:35] AKWillows commented on #583
Hi. I’m experiencing the same since updating my Switchbot Hub Mini to firmware V5.2-3.3. Curtains constantly show as Open in the app. It’s not possible to open the curtains using Home app or Siri (I assume because Home thinks they are already open)

[2022-11-16 00:21] PaperMashe commented on #571
same issue

[2022-11-16 02:41] ThatGirl0903 commented on #583
Wanted to chime in that I am having the same issue as this and the comment from AKWillows.

[2022-11-16 17:02] PvdGulik opened #586 "Bug: Curtain closed in SwitchBot app, appears open in Homekit"
### Describe The Bug

Curtain closed in SwitchBot app, appears open in Homekit

### To Reproduce

Calibrate curtain, close, check homekit

### Expected behavior

Closed in Switch app is closed in Homekit

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

<a><img src="https://user-images.githubusercontent.com/9421474/202243417-2e05e66f-6bfe-41c4-a310-3bd

[2022-11-16 18:57] jonpeng commented on #583
I contacted SwitchBot, and they just solved this issue on the server end. Now my Home app status can be updated properly. As you know it's 3:00 am local time in China. SwitchBot really care about their customers. I am not sure if the server end fix will apply to all users or not. If not please don't hesitate to contact them.

[2022-11-16 18:59] #583 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-16 20:02] donavanbecker commented on #586
See [#583](https://github.com/OpenWonderLabs/homebridge-switchbot/issues/583#issuecomment-1317518789)

[2022-11-17 07:55] AKWillows commented on #583
@jonpeng  Hi… after reading this, i checked my setup and it wasn’t fixed - even after rebooting the bridge.  So, it appears it was only fixed for you - unless I’m missing something? I emailed their support but I’ve been asked to complete feedback via the app so that they can “investigate’. Are you able to share the detail of who you contacted and what you actually asked please? Thank you!

[2022-11-17 09:03] martijnverheij commented on #583
For me the is this also not solved.

[2022-11-17 15:36] jonpeng commented on #583
@AKWillows I was using the SwitchBot app->Profile->Feedback...

[2022-11-17 16:15] jonpeng commented on #583
@AKWillows @Minsheng @SwitchBot With this firmware update issue, SwichBot app home page should not show the correct curtain status via cloud/Internet.

[2022-11-17 16:32] AKWillows commented on #583
@jonpeng My Switchbot app is showing the correct status of the curtains and also showing that they are connected via cloud. The Apple Home app is still showing them permanently open.

Although I initially used the Support form at the @SwitchBot @SwitchBot-Wonderlabs website, the request is showing as a ticket in the Feedback section of the app. The latest response is “we will forward your problem

[2022-11-17 18:48] PBXLthrMan opened #588 "Bug: Bots Stopped Responding"
### Describe The Bug

Out of nowhere, bots stopped responding

### To Reproduce

Try to execute a bot, via automation or manual

### Expected behavior

Bot triggers

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Switchbot Bot Firmware 4.9

### Node.js Version

v16.18.0

### NPM Version

v.8.19.2

### Homebridge Ver

[2022-11-17 18:52] jonpeng commented on #583
@AKWillows You can't trust the little cloud icon on the SwitchBot app, and determine the connection is over internet. To do the test correctly, you need to away from SwitchBot hub and other SwitchBot products. And only the home page of SwitchBot app doesn't update the status. Once you click into the individual curtain, the status shows correct.

[2022-11-17 18:56] AKWillows commented on #583
@jonpeng Yes… it shows the cloud in the app when I’m away from home. I’ve had no issues with the Switchbot app…. Just Apple Home app via this homebridge plugin. I thought that was what Switchbot were able to fix for you?

[2022-11-17 19:07] jonpeng commented on #583
@AKWillows Then mine was different. The following screen shots was my issues before they did the server end fix.
![image](https://user-images.githubusercontent.com/48269361/202535733-56ce8788-00ba-487b-b4ae-7c51aef7fe95.png)
![image](https://user-images.githubusercontent.com/48269361/202535833-84d1a0cd-9635-424a-aa00-5c4e35eb2532.png)

[2022-11-17 20:20] AKWillows commented on #583
@jonpeng …oh, but this thread is about the switchbot plugin for homebridge … and that was what your initial post shows the log for. And you refer to the Home app and the log and config screenshots are for the Homebridge plugin. So it would appear that the action switchbot took has fixed the SWITCHBOT app for you. the homebridge issue is NOT fixed then?

[2022-11-17 20:40] jonpeng commented on #583
@AKWillows I noticed the Home app status issue first. So I posted this thread here. I thought it was the plugin issue. Later on, I noticed the SwichBot app has this status issue as well when I away home. I was thinking that should be the same issue from the recent hub firmware update. So I contacted SwitchBot support. After they fixed the SwitchBot app issue, Home app backed to normal.

[2022-11-17 20:58] AKWillows commented on #583
@jonpeng ah ok. I’ll open a new ticket here tomorrow for my problem then as this one is closed now and,unless Switchbot come back to me with anything I don’t think it will get resolved

[2022-11-17 23:04] PvdGulik commented on #586
Sorry, but stil not fixed. Curtain is closed, but Homekit and Homebridge say its open...

Please re-open

[2022-11-18 00:31] donavanbecker commented on #586
the logs you provided don't show anything that would help me dignose why this is happening. I can't reproduce, I will reopen if you can provide logs that show that the curtains are closed but the plugin is displaying it as open in the Home App.

[2022-11-18 07:20] FranciRoosters opened #589 "Bots unresponsive in the Home app"
### Describe The Bug

Starting this morning, my bots have become unresponsive in the Home app. They work just fine from the SwitchBot app, but nothing happens from the Home app. One curtain is currently stuck on an "opening" loop.

### To Reproduce

Sending commands through the Home app to see if the bots are unresponsive on your end as well

### Expected behavior

Bots should be working fine when

[2022-11-18 08:22] AKWillows opened #590 "Bug: Curtains show as “Open” in HomeKit regardless of their current state"
### Describe The Bug

This sounds similar to a previously closed Bug. However, the OP of that one had a different experience to me in the Switchbot app. For me, the current state of the curtains shows correctly in the Switchbot app but never updates from Open in Homebridge/Home app. This occurred after updating the Hub Mini firmware to version 5.2-3.3. Everything was working fine before that.

###

[2022-11-18 12:54] donavanbecker commented on #590
Closing till logs are provided that show that the curtains show as closed from the API and the Home app shows different.

If logs show closed and Home app shows closed then it is an API issue just like the other issues.

[2022-11-18 12:54] #590 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-18 12:54] donavanbecker commented on #589
Logs?

[2022-11-18 12:57] FranciRoosters commented on #589
As I mentioned in the ticket submitted, the logs don’t show anything. Whatever I do in the Home app doesn’t not get registered in the logs.

[2022-11-18 13:24] AKWillows commented on #590
@donavanbecker Thanks for the reply. I understand what you mean. I have turned on the debug log for this plug-in and can see that the API appears to be passing back the incorrect value. I will raise a support ticket with Switchbot.

[2022-11-18 13:34] donavanbecker commented on #590
@AKWillows Thanks

[2022-11-18 13:35] donavanbecker commented on #589
@FranciRoosters If you turn on debug logs I would guess that you would get some kind of log.

[2022-11-18 13:42] FranciRoosters commented on #589
I’m sorry, but I have no idea how to do this.

[2022-11-18 14:03] donavanbecker commented on #589
There is a config option in the plugin settings, you will the have to restart you child bridge if you have one of Homebridge.

[2022-11-18 14:10] FranciRoosters commented on #589
Nothing shows, either with Debug logging turned on under advanced settings or any of the device settings.

[2022-11-18 14:12] FranciRoosters commented on #589
I’ve noticed there’s a new Secret field under SwitchBot account info and it’s blank. I’ve never seen it before. What is it?

[2022-11-18 14:29] donavanbecker commented on #589
v2.0.0 release.

[2022-11-18 14:30] FranciRoosters commented on #589
Could be this the reason why?

[2022-11-18 14:50] donavanbecker commented on #589
Definitely, since this was introduced in v2.0.0

[2022-11-18 14:51] FranciRoosters commented on #589
Ok, what is the secret and how do I retrieve it?

[2022-11-18 14:57] donavanbecker commented on #589
SwitchBot app.

Check the v2.0.0 release notes.

[2022-11-18 14:57] #589 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-18 19:03] PvdGulik commented on #586
Added the logging above ;-)

Status was open in IRL, Homekit, Homebridge en SwitchBotApp. I close the curtains in Homekit around 19:45, and the curtain closes, which is great. But as you see in the attached screenshot's in Homekit & Homebridge, it's still open. In IRL en Switchbot it's closed ;-)

<a><img src="https://user-images.githubusercontent.com/9421474/202781731-164c69a2-40d6-4991-8651-9b53

[2022-11-19 08:49] PvdGulik commented on #586
Thanks for re-opening.

Effect of this bug is also that you cannot open the curtains in HomeKit because the already have the status open. You need to is the Switchbot app.

[2022-11-19 10:55] donavanbecker commented on #586
No problem, not much I can do about it though. I can't reproduce.

[2022-11-19 15:41] ChainsLunatic commented on #571
Same for MeterPlus

[2022-11-19 17:40] napo-leon opened #591 "Support Request: Noble object: unautorized"
### Describe Your Problem

I try to add my curtain rod 2 to use with BLE connection but I get noble not authorized object error. Thanks for your help

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

Curtain rod 2

### Node.js Version

v18.12.1

### NPM Version

V8.19.2

### Homebridge Version

v1.5.1

### Homebridge

[2022-11-19 19:23] Dominashaun opened #592 "Support Request: SwitchBot curtain status incorrect"
### Describe Your Problem

I have been using the SwitchBot plugin successfully for months with four SwitchBot curtains, but after updating the Homebridge plugin to version 2.2.2 and the firmware on the SwitchBot hub to version 5.2-3.3, the status of my curtains is no longer updating correctly in the Home app. It always shows my curtains as closed, even though the SwitchBot app shows that they are

[2022-11-20 00:01] donavanbecker commented on #592
#586

[2022-11-20 00:01] #592 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-20 04:19] tony-brookes commented on #586
This is happening to me too as of the latest update.  In my case the curtains always show as closed.  Even if I persuade them to open, a few seconds later their status will revert to closed.  I've tried this from within the HomeKit UI to remove Home.app from the equation and it's the exact same problem.  The thing is I also upgraded my curtain firmware in the last week too so I'm not sure if it's

[2022-11-20 21:02] giuliomagnifico opened #593 "Unable to retrieve the values from BLE "Meter Plus: [name] wasn't able to establish BLE Connection, node-switchbot: [object Object]""
### Describe The Bug

Switchbot is unable to establish a BLE connection with the Meter Plus

### To Reproduce

I don't know since when it started becase the temperature was locked to on the same value for days, I noticed only now. The Meter Plus was still visible, but the value was always the same

### Expected behavior

Get the values temperature/humidity

### Relevant log output

[code]

### Con

[2022-11-21 00:11] teh-hippo commented on #593
I'm also having this issue.  I feel like I've been able to resolve it in the past, but I can't tell how or what is wrong.  Seems like it is configured correctly.

[2022-11-21 06:12] Dominashaun commented on #586
My situation is exactly the same as @tony-brookes with the curtains always defaulting back to a closed state in the Home app. AKWillows raised a similar issue this past week in bug #590 and was told it is likely an issue with the API stemming from SwitchBot. They were told to reach out to SwitchBot directly to resolve the API issues. I have also contacted SwitchBot and this was their response:

“T

[2022-11-21 06:17] Dominashaun commented on #590
@AKWillows please let us know if you hear back from SwitchBot or if you find any potential fix/work around. I’m experiencing the same issue, as is @tony-brookes. All of our problems seem to be stemming from the recent firmware update pushed by SwitchBot. I’ve reached out to SwitchBot and they say they’ve forwarded the issue to their tech department.

[2022-11-21 06:37] AKWillows commented on #590
@Dominashaun I will. I received the same message from Switchbot…

[2022-11-21 07:12] giuliomagnifico commented on #593
Yes I'm trying to figure out what is wrong since 2 days, and if I use the OpenAPI I also get an error (before this test I was using BLE/OpenAPI).

My phone can discover it and get the values but the RaspberryPI no.

I tried to install the beta, update node, reinstall node-switchbot, updated the .bashrc to point the correct path for the node executable, etc...

Looks like something related to bluet

[2022-11-21 14:03] FranciRoosters opened #594 "Display Bot as Switch and not Light"
### Describe Your Problem

I'd like to set up my two Bots to that they can be displayed as Switches and not Lights or Outlets in the Home app. Is it possible?

### Relevant log output

_No response_

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

SwitchBot Bots

### Node.js Version

18.12.1

### NPM Version

N/A

### Homebridge Version

1.5.

[2022-11-21 14:49] AKWillows commented on #590
@Dominashaun I have just received an update from @SwitchBot. They said "According to the reply from our developers, we have analysed and debugged the system. Please try it again and check the state synchronization.". Unfortunately is hasn't fixed the issue. I turned on debug logging in the Homebridge Switchbot config and I can see that the close command is sent, but even though the curtain has clo

[2022-11-21 16:03] donavanbecker commented on #590
thanks @AKWillows

[2022-11-21 16:05] donavanbecker commented on #594
Yes you can set bots as a lot of different device types, but currently you can't display two bots as 1 device.

[2022-11-21 16:08] FranciRoosters commented on #594
I don't see Switch in Device Type. It’s just a Bot but I can only set it to display as a fan, an outlet or a light. Why?

[2022-11-21 17:50] jonpeng commented on #590
@AKWillows Just a reference, my SwitchBot ticket ID was 230759, which they used to fixed my issues.

[2022-11-21 17:57] AKWillows commented on #590
Thanks @jonpeng

[2022-11-21 20:28] donavanbecker commented on #594
@FranciRoosters You have to set the device type in the plugin config.

[2022-11-21 20:40] FranciRoosters commented on #594
It’s set. But there’s no switch option. Do you have a screenshot?

[2022-11-21 20:49] donavanbecker commented on #594
You didn't post your config...

[2022-11-21 21:08] mistermakc opened #595 "Bug:"
### Describe The Bug

API Request: TypeError: Cannot read properties of undefined (reading 'map'),

### To Reproduce

API Request: TypeError: Cannot read properties of undefined (reading 'map'),

### Expected behavior

API Request: TypeError: Cannot read properties of undefined (reading 'map'),

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No resp

[2022-11-21 21:34] CyberMrProper opened #596 "Bug: After a power outage (or after router reboot), the switchbot does not work"
### Describe The Bug

After a power outage (or after router reboot), the switchbot does not work. The button is responsive in homekit, but does not do anything and no log in homebridge is shown.

### To Reproduce

The plugin needs to start before the network router is fully connected. Also happened to me if the wifi goes down for any reason.

### Expected behavior

Button in homekit is functional

[2022-11-21 23:39] donavanbecker commented on #594
[code]

[2022-11-21 23:41] donavanbecker commented on #594
you don't have your mode set:

<img width="739" alt="Screenshot 2022-11-21 at 5 41 35 PM" src="https://user-images.githubusercontent.com/9875439/203180016-b1cab669-37a2-45fb-8b47-22cc7f8c6bbf.png">

[2022-11-21 23:57] FranciRoosters commented on #594
Thank you. That solved it. On 22 Nov 2022, at 00:42, Donavan Becker ***@***.***> wrote:﻿
you don't have your mode set:

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-22 13:37] mhunt407 opened #597 "Support Request: Bot switch status not updating in home app when changed in switchbot app"
### Describe Your Problem

When switching a bot to on/off in the switchbot app, it doesn't update the status in the home app on iphone. but if I update in home, it updates in switchbot app.

### Relevant log output

[code]

### Config for homebridge-switchbot

_No response_

### Screenshots

_No response_

### Device & Model

switchbot bot

### Node.js Version

v18.12.1

### NPM Version

8.19.2

#

[2022-11-23 21:01] claudiomorabito commented on #555
Same issue here with 2.2.2, actually I'm using 2.3.0-beta.4 which works fine for me. Beta-5 seems to have this feature broken once again.

2.3.0 BETA-4 (working: 24, 21...)
[code]
2.3.0 BETA-5 (not working: 30, 30, 30...)
[code]

I hope this will be addressed in the next update.

[2022-11-23 21:26] donavanbecker commented on #555
Never changed anything with this in beta5....

[2022-11-24 04:54] Dominashaun commented on #590
Thanks for the update @AKWillows

[2022-11-24 08:39] claudiomorabito commented on #555
so that's a bit weird... tried again beta5 and experienced same behavior while beta4 works... I'm using hoobs, is there something I can specifically check to provide you some more useful data?

[2022-11-24 10:43] giuliomagnifico commented on #571
Just fixed it by using an [old commit from 12 October](https://github.com/OpenWonderLabs/homebridge-switchbot/blob/20811cf3df2cfc11dbe8aac1f1059c5caedff29c/src/device/meterplus.ts).

I replaced the `meterplus.ts` file and recompiled the plugin. Now it works again also the temperature, and yes as @lukeskywlkr pointed, it's something with the Current Temperature

[code]

I haven't digged into the is

[2022-11-24 10:46] giuliomagnifico commented on #593
Fixed this by I replacing the meterplus.ts file and recompiling the plugin. Now it works again also the temperature. I wrote the details here: https://github.com/OpenWonderLabs/homebridge-switchbot/issues/571#issuecomment-1326271214

[2022-11-24 10:46] #593 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-24 12:49] donavanbecker commented on #571
@giuliomagnifico Open a PR, and I can merge it into beta.

[2022-11-24 13:04] giuliomagnifico commented on #571
@donavanbecker done, hope it's correct: https://github.com/OpenWonderLabs/homebridge-switchbot/pull/598 (edit: I've made the PR already on the beta)

[2022-11-24 15:16] donavanbecker commented on #571
Thanks! I have merged it. Should Build a new beta.

[2022-11-24 15:16] donavanbecker commented on #571
Looks like the build errored. I will have to look into it.

[2022-11-24 15:24] giuliomagnifico commented on #571
Uh, weird, maybe on the beta branch there are other changes?

I’ve compiled it on the latest not beta (v2.2.2 IIRC), try in locale to change only the file _meterplus.ts_ and build the SwitchBot plug-in-. For me it’s working well (finally).

But now I’m out home and I can’t test with the beta.

[2022-11-24 16:34] donavanbecker commented on #571
@giuliomagnifico Not sure how it would build for you as you used temperate which can't be a number and an object.

I have fixed that and now push it to the latest beta.

[2022-11-24 16:44] giuliomagnifico commented on #571
@donavanbecker Assuming that I know nothing about node, I simply entered into my local SwitchBot folder, changed those lines of code and ran `npm run build`.

Anyway thanks for fixing it!

[2022-11-26 18:02] Stetocasa opened #599 "Support Request:"
### Describe Your Problem

Change Type

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

![F9C38B0D-8533-46FB-BF00-30580AB8AC3D](https://user-images.githubusercontent.com/70729310/204102584-2f645c7d-63c5-4fbb-a399-0f3c2739d5b2.jpeg)

### Device & Model

Switch bot

### Node.js Version

18.12.1

### NPM Version

Nd

### Homebridge Version

1.6.0.

### H

[2022-11-26 18:27] donavanbecker commented on #599
`configDeviceType` is only used to bring the configs in correctly. You have to set the bot mode first, either switch or press. Then a setting for a Bot deviceType will show up.

[2022-11-27 16:54] niqbert89 commented on #566
I have the same bug after upgrade to node 18.12.1
[SwitchBot] Was 'node-switchbot' found: false

What can I do? The above commands didn't work. I use a Raspberry for Homebridge.

[2022-11-27 17:02] donavanbecker commented on #566
this is not a bug of the plugin but of `@abandonware/bluetooth-hci-socket`

[2022-11-27 17:04] niqbert89 commented on #566
Ok, thank you. So I should downgrade back to 16.x or wait for a update?

[2022-11-27 19:19] nyjklein commented on #566
FWIW, I resolved this issue by deleting and then re-installing the plugin (don't forget to backup your configuration).

Jeff

[2022-11-27 19:56] niqbert89 commented on #566
For me it did not helped :(

[2022-11-28 02:30] Shiro-meshi commented on #555
Same Issue Here. Tried v2.3.0 beta6 with no luck...

[2022-11-28 06:25] siketyan commented on #555
Same issue here with v2.2.2 and v2.3.0-beta6.
The status updating behaviour seems to result 30 degree celcius always:

[code]

[2022-11-29 16:39] AKWillows commented on #597
This sounds like the same issue I’m facing with the Switchbot curtain. If so, it’s an issue with the Switchbot API. I have a case open with them… I think others do too

[2022-11-29 16:43] AKWillows commented on #586
Yes, same as my issue. When I looked at the debug log for the Switchbot plug in, it clearly shows that the API is returning the wrong value. As @Dominashaun mentioned, I’ve had a case open with Switchbot since the firmware update for my Hub Mini. They have been quite good responding up until last Friday when they suggested “unplug the hub for ten seconds” - this didn’t fix the problem, I could sti

[2022-11-29 17:01] Cesco117 opened #600 "Support Request: No Double Press when powering off"
### Describe Your Problem

No Double press when powering off

### Relevant log output

[code]

### Config for homebridge-switchbot

[code]

### Screenshots

_No response_

### Device & Model

SwitchBot with Hub

### Node.js Version

v16.16.0

### NPM Version

v8.11.0

### Homebridge Version

v1.6.0

### Homebridge SwitchBot Plugin Version

v2.2.2

### Homebridge Config UI X Plugin Version

_No res

[2022-11-29 18:59] PvdGulik commented on #586
Oké I can confirm this,

 https://github.com/OpenWonderLabs/homebridge-switchbot/issues/586#issuecomment-1330942852

Tried the suggested solution also, but after reconnecting the mini-hub after 10 minutes the problem still excist.

[2022-11-29 19:45] JeeAre70 commented on #597
Same here. Curtains not properly updating in home app. Switchbot app showing right situation.

[2022-11-29 21:05] AKWillows commented on #597
@JeeAre70 Worth opening a case with Switchbot… the more of us that do that, the more likely they will fix it!

[2022-11-30 05:48] Dominashaun commented on #590
@AKWillows  I received a message from SwitchBot simply stating that "their tech department has checked the issue and they suggest trying again after one hour." They didn't offer any further explanation or require anything else from me, but sure enough, the curtains are now displaying the correct open/close status in the Home app and are operating exactly as expected. They did say that if the probl

[2022-11-30 08:01] AKWillows commented on #590
Hi @Dominashaun could you let me have your ticket number please? Just so I can say “whatever you did for him, please do for me!”

[2022-11-30 11:32] JeeAre70 commented on #597
Ticket opened!

[2022-11-30 11:46] #561 closed, assigned to Minsheng, donavanbecker, chenliuyun, SwitchBot, SwitchBot-Wonderlabs

[2022-11-30 14:12] Dominashaun commented on #590
@AKWillows Of course. Ticket ID: 233878